{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block content %}


<section class="module bg-light">
    <div class="wp-st">
        <section itemscope itemtype="http://schema.org/Product">
            <header class="shead">
                <h2 class="tt-2" itemprop="name">
                    <span>Site En maintenance</span>
                </h2>
            </header>
        </section>
        <div class="error-page">
            <p>En maintenance</p>
            <div class="media">
                <img src="{{ asset('assets/front/media/dyn/404-1024.jpg') }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="">
            </div>
            <button onclick="location.href='{{ url('homepage') }}'" class="bt-01">Retourner à l'accueil</button>
        </div>
    </div>
</section>

{% endblock %}
