{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_table %}

    {#<div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                    Gestion abonnement
                </h4>
            </div>
            <div class="box-body">

                {% if not admin.billingAddress %}
                    <p style="color: red"><strong> Vous devez renseigner votre adresse de facturation, ensuite valider votre abonnement.</strong></p>
                    <a class="btn btn-info" href="{{ url('billing-address_list') }}">Ajouter votre adresse de facturation</a>
                    <hr />
                {% endif %}

                {% if not admin.currentSubscription or (admin.currentSubscription and not admin.currentSubscription.isStatusAccepted()) %}

                    {% set disabled = false %}
                    {% if not admin.billingAddress %}
                        {% set disabled = true %}
                    {% endif %}

                    <div {% if disabled  %} class="disabledPayment" {% endif %} >
                        <p>Vous devez renouveller votre abonnement tarif: 150 € pour la periode .</p>
                        <a class="btn btn-success" {% if not disabled %} href="{{ url('payment_payment') }}" {% endif %}>Abonnement</a>
                    </div>

                {% endif %}

            </div>
        </div>
    </div>#}

    {{ parent() }}

{% endblock %}
