{% if object.isStatusAccepted  %}
    {#<a class="btn btn-sm" href="{{ path('subscription_bill', {'id': object.id }) }}"><i class="fa fa-download" aria-hidden="true"></i> Facture</a>#}
{% else %}
    <a href="{{ path('subscription_list') }}">Régler</a>
{% endif %}
