{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@HondaCommon/Block/block_base.html.twig' %}

{% block block %}
    {% if elements|length > 0 %}
    <div class="carousel-container cinquo">
        <div class="custom-button prev"></div>
        <div class="swiper-container carousel-cinquo" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
            <div class="swiper-wrapper">
                {% for element in elements %}
                    {{ block('element_display') }}
                {% endfor %}
            </div>
        </div>
        <div class="custom-button next"></div>
    </div>
    {% endif %}

{% endblock %}

{% block element_display %}
    <div class="swiper-slide o-fit">
        <img src="{% path element.media, 'reference' %}" srcset="{% path element.media, 'reference' %} 1829w, {% path element.media, 'big' %} 1220w, {% path element.media, 'medium' %} 915w" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="">
    </div>
{% endblock element_display %}
