{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
{% if block.enabled %}
<div class="edito label-foot">
    <a class="bt-01" href="{{ settings.link }}"{% if settings.target %} target="_blank"{% endif %}>{{ settings.label }}</a>
</div>
{% endif %}
{% endblock %}