{% extends sonata_block.templates.block_base %}

{% block block %}
	{% if block.enabled %}
    <div class="visual">
        <img class="label-logo" src="{% path media, 'big' %}" alt="{{ settings.tag }}" >
        <div class="label-sideblock">
            {% if settings.content %}
            {{ settings.content|raw }}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
