{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block title %}
{{ page.title|capitalize|default(page.pageBlock.title) }}
{% endblock %}

{% block metas %}
{{ parent() }}
<meta name="description" content="{{ page.metaDescription|striptags }}" />
<meta name="keywords" content="{{ page.metaKeywords|striptags }}">
{% endblock %}

{% block content %}
    <section class="module">
        <div class="wp-st">
            <section itemscope="" itemtype="http://schema.org/Product">
                <header class="shead">
                    <h2 class="tt-2" itemprop="name"><span>{{ page.title|capitalize|default(page.pageBlock.title) }}</span></h2>
                </header>
            </section>
            <div class="mts-lgl">
                {{ page.content|raw }}
            </div>
        </div>
    </section>
{% endblock %}
