{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block metas %}
{{ parent() }}
<meta name="description" content="{{ page.metaDescription|striptags }}" />
<meta name="keywords" content="{{ page.metaKeywords|striptags }}">
{% endblock %}

{% block content %}
   <section class="label-container module">
      <div class="wp-st">

        <header class="shead">
          <h2 class="tt-2"><span>{{ page.title|capitalize|default(page.pageBlock.title) }}</span></h2>
        </header>

        <div class="edito label-main">
           {{ page.content|raw }}
        </div>
        
        {% if page.hondaLabelSlides|length > 0 %}
        <div class="carousel-container cinquo">
          <div class="custom-button prev"></div>
          <div class="swiper-container carousel-cinquo swiper-container-horizontal" data-sliderconfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
             <div class="swiper-wrapper" style="transform: translate3d(-1127px, 0px, 0px); transition-duration: 0ms;">
                 {% for hondaLabelSlide in page.hondaLabelSlides %}
                    <div class="swiper-slide o-fit" data-swiper-slide-index="2" style="width: 1127px;">
                       <img src="{% path hondaLabelSlide.image, 'medium' %}" srcset="{% path hondaLabelSlide.image, 'small' %}, {% path hondaLabelSlide.image, 'medium' %}, {% path hondaLabelSlide.image, 'big' %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="">
                    </div>
                 {% endfor %}
             </div>
          </div>
          <div class="custom-button next"></div>
        </div>
        {% endif %}
        
        {% if page.btnLabel %}
        <div class="edito label-foot">
          <a class="bt-01" href="{{ page.btnLink }}">{{ page.btnLabel }}</a>
        </div>
        {% endif %}

      </div>
   </section>
{% endblock %}
