{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block metas %}
{% endblock %}

{% block meta_robots %}
   <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
   <section class="module bg-light">
      <div class="wp-st">
         <section itemscope="" itemtype="http://schema.org/Product">
            <header class="shead">
               <h2 class="tt-2" itemprop="name"><span>{{ page.title|capitalize|default(page.pageBlock.title) }}</span></h2>
            </header>
         </section>
         <div class="mts-lgl">
            {{ page.content|raw }}
         </div>
      </div>
   </section>
{% endblock %}
