{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
{{ page.title }}
{% endblock %}

{% block metas %}
{% endblock %}


{% block meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

    {% set cookiesAgrement = null %}
    {% if app.request.cookies.has('cookies_agrement')  %}
        {% set cookiesAgrement = app.request.cookies.get('cookies_agrement') %}
    {% endif %}

   <section id="cookies-page" class="module cookies-page">
      <div class="wp-st">

         <div class="head wp-st tt_alt">
            <header class="shead">
               <h2 class="tt-2"><span>{{ page.title|capitalize|default(page.pageBlock.title) }}</span></h2>
            </header>
         </div>

         <form action="#" method="post">
            <div class="agreement-form">
               <p>Si vous autorisez, vous pourrez à tout moment revenir sur votre consentement en cliquant sur le lien en bas de page «&nbsp;Vie privée et cookies&nbsp;».</p>
               <div class="form">
                  <div class="std-field">
                     <span class="custom-radio">
                        <input type="radio" id="agreed" value="1" name="agreement" class="agreement" {% if cookiesAgrement == 1 %} checked {% endif %} >
                        <label for="agreed">Accepter</label>
                     </span>
                  </div>
                  <div class="std-field">
                     <span class="custom-radio">
                        <input type="radio" id="refused" value="0" name="agreement" class="agreement" {% if cookiesAgrement == 0 %} checked {% endif %} >
                        <label for="refused">Interdire</label>
                     </span>
                  </div>
               </div>
            </div>
         </form>

         <div class="info" id="vie-prive">
            <div class="tt-2">{{ page.content.title }}</div>
            {{ page.content.viePriveeIntro|raw }}
            {% for question in page.content.questions %}
               {% if question.isCookieQuestion %}
               <div class="block-info">
                     <div class="expandable">
                        <div class="bt-serv" data-toggle aria-expanded="false" aria-controls="content-{{ loop.index0}}">
                           <span class="title">{{ question.question }}</span>
                           <div class="arrow"></div>
                        </div>
                     </div>
                     <div class="content" aria-hidden="true" id="content-{{ loop.index0}}">
                        <span class="innercontent">{{  question.answer }}</span>
                     </div>
               </div>
               {% endif %}
            {% endfor %}
         </div>

         <div class="info">
            <div class="tt-2">Cookies</div>
            {{ page.content.cookiesIntro|raw }}
            {% for question in page.content.questions %}
               {% if not question.isCookieQuestion %}
                  <div class="block-info">
                        <div class="expandable">
                           <div class="bt-serv" data-toggle aria-expanded="false" aria-controls="content-{{ loop.index0}}">
                              <span class="title">{{ question.question }}</span>
                              <div class="arrow"></div>
                           </div>
                        </div>
                        <div class="content" aria-hidden="true" id="content-{{ loop.index0}}">
                           <span class="innercontent">{{  question.answer }}</span>
                        </div>
                  </div>
               {% endif %}
            {% endfor %}
         </div>

      </div>
   </section>

{% endblock %}
