{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
{{ page.title }}
{% endblock %}

{% block metas %}
{% endblock %}


{% block meta_robots %}
   <meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}

   <section class="module">
      <div class="wp-st">
         <section itemscope="" itemtype="http://schema.org/Product">
            <header class="shead">
               <h2 class="tt-2"><span>{{ page.title|capitalize|default(page.pageBlock.title) }}</span></h2>
            </header>
         </section>
         <div class="site-map">

            {{ page.content|raw }}

            <ul>
               {% for item in sitemap %}
                  <li>
                     <a href="{{ item.url }}" {% if item.url matches '/redirect-to/' %} target="_blank" {% endif %}>{{ item.name }}</a>
                     {% if item.sitemap_children is defined and item.sitemap_children|length %}
                        <ul>
                         {% for child in item.sitemap_children %}
                           <li>
                              <a href="{{ child.url }}" {% if child.url matches '/redirect-to/' %} target="_blank" {% endif %}>{{ child.name }}</a>
                              {% if child.sitemap_children is defined and child.sitemap_children|length %}
                                 <ul>
                                    {% for xchild in child.sitemap_children %}
                                       <li>
                                          <a href="{{ xchild.url }}" {% if xchild.url matches '/redirect-to/' %} target="_blank" {% endif %}>{{ xchild.name }}</a>
                                       </li>
                                    {% endfor %}
                                 </ul>
                              {% endif %}
                           </li>
                         {% endfor %}
                        </ul>
                     {% endif %}
                  </li>
               {% endfor %}
            </ul>

         </div>
      </div>
   </section>

{% endblock %}
