{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block title %}
  Actualité - {{ article.title }}
{% endblock %}


{% block links %}
    {% if  origin == constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_PORTAIL') %}
      {{ parent() }}
      <link rel="canonical" href="{{ portail_domain }}/actualites/{{ slug }}" />
    {% endif %}
{% endblock %}



{% block content %}

  {% set POST_ORIGIN_CONCESSION = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_CONCESSION') %}
  {% set POST_ORIGIN_PORTAIL = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_PORTAIL') %}


  <section class="module bg-grey">
    <div class="wp-st bg-white">

      <section itemscope itemtype="http://schema.org/Product">
        <header class="shead">
          <h2 class="tt-2" itemprop="name">
            <span>{{ article.title }}</span>
          </h2>
        </header>
      </section>

      <div class="product bg-white">

        <article class="img-content">
          <div class="media o-fit">
            {% if origin == POST_ORIGIN_CONCESSION %}
              <img src="{% path article.image, 'big' %}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="{{ article.title }}">
            {% elseif origin == POST_ORIGIN_PORTAIL %}
              <img src="{{ article.image }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="{{ article.title }}">
            {% endif %}
          </div>
          <div class="paragraph edito">
            <p class="date">  {{ article.startDate|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</p>
            {{ article.description1|raw }}
          </div>
        </article>

        <!-- Content before slideshow  -->

        {% if article.description2 %}
        <article class="content edito">
            {{ article.description2|raw }}
            {% if article.moreInfo.link %}
              <a class="bt-01" href="{{ article.moreInfo.link }}" target="{{ article.moreInfo.openInNewWindow ? '_blank':'_self' }}">{{ article.moreInfo.label|default('Tout savoir sur ' ~ article.title)|capitalize }}</a>
            {% endif %}
        </article>
        {% endif %}

        <!-- End Content before slideshow  -->

        <!-- Slideshow  -->

        {% set len = article.slides|length %}
        {% if len > 0 %}
        <div class="carousel-container cinquo">
          {% if len > 1 %}
          <div class="custom-button prev"></div>
          {% endif %}
          <div class="swiper-container carousel-cinquo" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
            <div class="swiper-wrapper">
              {% for slide in article.slides %}
              <div class="swiper-slide o-fit">
                <figure>
                  {% if origin == POST_ORIGIN_CONCESSION %}
                  <img src="{% path slide.image, 'big' %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ slide.title }}">
                  <figcaption>{{ loop.index }}/{{ len }} {% if slide.title %}- {{ slide.title }}{% endif %}</figcaption>
                  {% elseif origin == POST_ORIGIN_PORTAIL %}
                  {% if slide.image_big is not null %}
                  <img src="{{ slide.image_big }}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ slide.title }}">
                  <figcaption>{{ loop.index }}/{{ len }} {% if slide.title %}- {{ slide.title }}{% endif %}</figcaption>
                  {% endif %}
                  {% endif %}
                </figure>
              </div>
              {% endfor %}
            </div>
          </div>
          {% if len > 1 %}
          <div class="custom-button next"></div>
          {% endif %}
        </div>
        {% endif %}

        <!-- End Slideshow  -->


        <!-- Content after slideshow   -->

        {% if article.description3 %}
        <article class="content-list edito">
          {{ article.description3|raw }}
        </article>
        {% endif %}

        <!--End  Content after slideshow   -->


        <div class="cat-tools">

          <a class="bt-ui" href="mailto:">Envoyer à un ami
            <svg data-name="Calque 1" viewBox="0 0 126 119" aria-hidden="true" class="ui ui--paper-plane">
              <title>Envoyer-AMI</title>
              <path d="M126 0L54 73v44l18-27 54 29V0zM0 45l44 23 82-68L0 45z" />
            </svg>
          </a>

          <a href="#section-contact" data-scroll>Contacter
            <svg data-name="Calque 1" viewBox="0 0 88 60.1" aria-hidden="true" class="ui ui--contact">
              <defs/>
              <title>contact</title>
              <path class="cls-1" d="M78.7 51.2a2 2 0 0 1 1.1.3 29.15 29.15 0 0 1 14.2 25 11.48 11.48 0 0 1-.1 1.8 2 2 0 0 1-2 1.8H37.8a2 2 0 0 1-2-1.9v-1.7a29.15 29.15 0 0 1 14.2-25 2.13 2.13 0 0 1 2.4.2A18.78 18.78 0 0 0 65 56.5a19 19 0 0 0 12.6-4.8 1.43 1.43 0 0 1 1.1-.5zm.3 4.4a23.11 23.11 0 0 1-28.2 0 24.78 24.78 0 0 0-11 20.4H90a25.18 25.18 0 0 0-11-20.4z"
                    transform="translate(-6 -20)" />
              <path class="cls-1" d="M65 21.3a15.2 15.2 0 1 1-15.2 15.2A15.19 15.19 0 0 1 65 21.3zm0 4a11.2 11.2 0 1 0 11.2 11.2A11.18 11.18 0 0 0 65 25.3zM42.8 45.5a2 2 0 0 1 1.1.3 22 22 0 0 1 2.5 1.7 10.59 10.59 0 0 1 1.2 1 2 2 0 1 1-2.6 3 6.47 6.47 0 0 1-.9-.8c-.3-.2-.6-.5-.9-.7a19.82 19.82 0 0 1-11.9 4 19.6 19.6 0 0 1-11.9-4 21 21 0 0 0-9.1 16.6h23.6a2 2 0 0 1 0 4H8a1.92 1.92 0 0 1-2-1.9v-1.4a25.12 25.12 0 0 1 12.2-21.5 2.13 2.13 0 0 1 2.4.2 15.55 15.55 0 0 0 10.5 4 15.74 15.74 0 0 0 10.5-4 1.5 1.5 0 0 1 1.2-.5z"
                    transform="translate(-6 -20)" />
              <path class="cls-1" d="M31.1 20a13.2 13.2 0 1 1-13.2 13.2A13.19 13.19 0 0 1 31.1 20zm0 4a9.2 9.2 0 1 0 9.2 9.2 9.18 9.18 0 0 0-9.2-9.2z" transform="translate(-6 -20)" />
              <ellipse class="cls-1" cx="64.42" cy="36.97" rx="12.3" ry="13.5" transform="rotate(-85.94 50.684 30.191)" />
              <path class="cls-1" d="M38.3 36.5h39.3v22H38.3z" />
              <path class="cls-1" d="M70.5 34.6h6v11h-6zM40.8 34.6h6v11h-6z" />
              <path class="cls-1" transform="rotate(-77.16 27.628 63.506)" d="M34.81 66.7h16.7v6.1h-16.7z" />
              <path class="cls-1" transform="rotate(-12.84 -7.042 85.38)" d="M80.16 59.26h9.4v18.9h-9.4z" />
            </svg>
          </a>


          <div class="social">
            <span>Partager</span>
            <div class="social">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode }}" target="_blank">
                <svg viewBox="0 0 128 128" aria-hidden="true" class="ui ui--facebook">
                  <path d="M128 112c0 8.8-7.2 16-16 16H16c-8.8 0-16-7.2-16-16V16C0 7.2 7.2 0 16 0h96c8.8 0 16 7.2 16 16v96z" />
                  <path class="f" d="M68.877 128V78.188h-17.78V60.425h17.784V44.029c0-16.537 9.764-26.279 24.514-26.279 7.068 0 12.834.756 14.605.991v18.573l-11.874-.005c-8.022 0-9.523 3.979-9.523 9.572v13.544h20.556l-2.904 17.763H86.603V128H68.877z"
                  />
                </svg>
              </a>
              <a href="https://twitter.com/share?url={{ app.request.uri|url_encode }}" target="_blank">
                <svg data-name="Layer 1" viewBox="0 0 95.77 77.83" aria-hidden="true" class="ui ui--twitter">
                  <title>Twitter</title>
                  <path d="M95.77 9.21a39.23 39.23 0 0 1-11.29 3.09 19.69 19.69 0 0 0 8.65-10.91 39.27 39.27 0 0 1-12.47 4.77 19.67 19.67 0 0 0-33.49 17.92A55.76 55.76 0 0 1 6.67 3.55a19.68 19.68 0 0 0 6.08 26.23 19.53 19.53 0 0 1-8.9-2.46v.25a19.66 19.66 0 0 0 15.76 19.27 19.52 19.52 0 0 1-8.87.34 19.67 19.67 0 0 0 18.35 13.65 39.42 39.42 0 0 1-24.4 8.41 40.32 40.32 0 0 1-4.68-.28 55.66 55.66 0 0 0 30.12 8.82c36.14 0 55.9-29.94 55.9-55.9 0-.85 0-1.7-.05-2.54a40 40 0 0 0 9.79-10.13z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  {% if newsCollection|length > 0 %}
    {% include '@HondaMain/Front/Block/block_news-events.html.twig' with {
      'blockTitle': 'À lire également',
      'homepageNews': newsCollection,
      'news': article
    } %}
  {% endif %}

{% endblock %}
