{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
    Espace Actualités -  {{ getDistributorInfo(distributor, 'name' ) }} - {{ distributor.town }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Retrouvez toutes les actualités et évènements de la concession {{ getDistributorInfo(distributor, 'name' ) }} et de Honda Moto ! Envie de suivre notre actualité ? Abonnez-vous à notre newsletter pour ne rater aucune information !" />
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('news') }}" />
{% endblock %}



{% block content %}
    <section class="module bg-light actualite">
        <div class="wp-st">
            <section itemscope itemtype="http://schema.org/Product">
                <header class="shead">
                    <div class="sh-container">
                        <form class="sort" action="/ajax/article.json" method="GET">
                            <div class="std-field">
                                <label class="label main" for="select">Afficher par</label>
                                <span class="custom-select">
                                <select class="condensed" id="select" name="select" data-load='{"target":"article"}'>
                                    <option value="">Sélectionner</option>
                                    {% for cat in newsCategories %}
                                        {# Display disponible category #}
                                        {% if cat.id in dispoCats %}
                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="select">{{ app.request.get('filter', 'Sélectionner')|trans }}</label>
                              </span>
                            </div>
                        </form>
                    </div>
                    <div class="sh-container tt">
                        <h2 class="tt-2">
                            <span>{{ title }}</span>
                        </h2>
                    </div>
                    <div class="sh-container"></div>
                </header>
            </section>

            <div class="actu-subhead">
                {% set distributorInfos = distributor.infos %}
                <h1>Toutes les actualités de notre concession  {{ distributorInfos.name }} et de Honda Moto !</h1>
                {{ description|raw }}
            </div>

            <div class="product" data-load-content="article">

                {% include '@HondaMain/Front/Block/block_list_article.html.twig' with {'article': article, 'newsCollection': newsCollection, 'counter': counter} %}

            </div>
        </div>
    </section>


{% endblock %}
