/*
 *  HONDA MOTO OCCASION | BASE STYLES
 */

.wp-st
   padding-left: rem( 20 )
   padding-right: @padding-left

.tablet-content
   display: block

.desktop
   display:block !important

.mobile
   display:none !important
