/*
 *  HONDA MOTO OCCASION | TEXT STYLES
 */

.shead
   .sh-container
      &:not(.tt)
         display: block

   .sh-container
   &:before
   &:after
      background: inherit
      flex-grow: 0
      flex-shrink: 0
      max-width: rem( 295 )
      width: pct( 1 / 4 )

   .tt-2
      font-size: em(25 / $fz)

   .custom-select
      .condensed + label
         max-width: rem( 120 )
         overflow: hidden
         text-overflow: ellipsis

.edito h1
   font-size: 32px

.edito h2
.tt-2
   font-size: 28px

.edito h3
.tt-3
   font-size: 25px


.actualite
   .shead
      flex-direction: inherit;
      &:not(.left-elem):not(.right-elem)
         &:after
            top:50%
      .tt-2
         &:before
            top:50%      
   .sh-container
      &:not(.tt)
         display: block
         order:initial
      &.tt
         margin-bottom: initial
         &.tt-2
            &:after
               top: 13%;
      form
         width:auto
         .custom-select
            width:auto
         .std-field
            label
               &.main
                  width:auto  
    


