include /tools/mixins

block vars

- var form = form || {}
- var header = header || {}
- var rendered = true
- var url = Object.assign({}, urls)

- pageType = pageType ? pageType : ''
- pageType += ( included && spec ? ' ' + spec : '' )
- pageType += portail ? " portail" : ''

doctype
html( class="no-js" lang=lang data-locale='FR-fr' moznomarginboxes mozdisallowselectionprint)
  head
    meta( charset="utf-8" )

    title= title

    //- Mobile
    meta( name="viewport" content=meta.viewport.join() )
    meta( name="format-detection" content="telephone=no" )

    include /includes/metas

    block stylesheets

    //- Stylesheets
    link( rel="stylesheet" href=url.css+"styles.css" )
    link( rel="stylesheet" href="https://use.typekit.net/hcn6znr.css" )

  body( class=pageType )

    block hero

    if portail
      //- include /includes/header-portail
    else
      include /includes/header

    // content
    block content
    // /content

    include /includes/footer

    a.bt-contact( href="#form" data-scroll aria-label="Etre contacté(e)")
      span.i i
      span.t Être contacté(e)

    a.bt-top( href="#" aria-label="Remonter en haut de la page" data-scroll='{"top": 0}' ): span

    block scripts
      include /includes/scripts
