include /tools/mixins

block vars

- var form = form || {}
- var header = header || {}
- var url = {}

- for( var key in urls )
  - url[key] = '/'+urls[key]

if !rendered
  - rendered = true
  - pageType = pageType ? pageType : ''
  - pageType += spec ? ' ' + spec : ''
  - pageType += portail ? " portail" : ''
  - pageType += ' module-vizu'

  doctype
  html( class="no-js" lang=lang data-locale='FR-fr' moznomarginboxes mozdisallowselectionprint )
    head
      meta( charset="utf-8" )

      title= title

      //- Mobile
      meta( name="viewport" content=meta.viewport.join() )
      meta( name="format-detection" content="telephone=no" )

      include /includes/metas

      block stylesheets

      //- Stylesheets
      link( rel="stylesheet" href=url.css+"styles.css" )
      link( rel="stylesheet" href="https://use.typekit.net/hcn6znr.css" )

      style.
        body{ padding: 2rem; }
        .module-vizu .custom-range{ max-width: 80vw; }

    body( class=pageType )

      // content
      block content
      // /content

      block scripts
        include /includes/scripts

else
  block content
