/*
 *  HONDA MOTO OCCASION | ACCESSORY STYLES
 */

.accessory

   .tt
      font-size: rem( 36 )

   .head-block
      flex-direction: row

      .text
         padding: rem( 30 )
         width: pct( 792 / 1220 )

         .desc
            margin: 10px 0 25px;

         .buttons
            flex-direction: row
            justify-content: space-between

            .bt-01
               width: 47.5%
               font-size: rem( 13 )
               text-align: center

      .media
         width: pct( 428 / 1220 )
         height: 100%

   .block
      padding: rem( 40 )

      .tt
         text-align: center
         display:-ms-flexbox
         -ms-flex-pack:center
         -ms-flex-align:center

         svg
            width: rem( 40 )
            margin-right: rem( 20 )
         
         img
            width: rem( 40 )
            margin-right: rem( 20 )

         span
            font-size: rem( 36 )

      p
             margin: 30px auto;

      .pictos

         .logo
            width: auto
            height: rem( 40 )
            margin-right: rem( 40 )

            img
               height: 100%
