/*
 *  HONDA MOTO OCCASION | ARTICLE STYLES
 */

article.img-content
   display: flex
   flex-wrap: wrap
   .media
      flex: 1 0 50%
      width: 100%
      height: auto
      margin: 0
      img
         width: 100%
         object-fit: cover
         display: block

   .paragraph
      flex: 1 0 50%
      display: flex
      flex-direction: column
