/*
 *  HONDA MOTO OCCASION | ASIDE STYLES
 */

.aside

   .wp-st
      display: flex
      flex-direction: row

   .avisual
      width: 50%
      padding: 0

      img
         width: 100%

   .ablock
      width: pct( 694 / 1160 )

      .logo
         width: rem( 115 )
         margin-bottom: rem( 16 )

      .tt
         font-size: rem( 30 )

      p
      a
         font-size: rem( 18 )
