/*
 *  HONDA MOTO OCCASION | BLOCKS STYLES
 */
.block
   &.media-1
      &
      a
         display: flex
         flex-direction: row

      .media
         flex-shrink: 0
         width: pct( 352 / 600 )
         height:auto

      .text
         width: pct( 230 / 600 )

         & > a
            display: inline-flex

.block-product
   & + .block-product
      .media
         border-left: 1px solid $grey6

.click-me
   .swiper-slide &
      &:before
         height: rem( 47 )

   &:before
      height: rem( 44 )

.paragraphe
   p
      margin: rem( 36 ) rem( 30 )