/*
 *  HONDA MOTO OCCASION | BRAND MODULE STYLES
 */

.brand
   $fsize = 21

   td
   th
      & > a:not([class])
      & > div
         font-size: em( $fsize / $fz )

         &.wp
            & > div
               span
                  font-size: em( 19 / $fsize)

         img + span:not([class])
            font-size: em( 16 / $fsize )

      .bt-01
         font-size: rem( 18 )
