/*
 *  HONDA MOTO OCCASION | COOKIES BANNER STYLES
 */

#cookies
   font-size: em( 16 / $fz )
   padding: rem( 30 ) rem( 50 ) rem( 30 ) rem( 20 )

   .bt-close
      right: rem( 20 )

.cookies-page

   .agreement-form
      font-weight: $fw-bold
      .form
         display: flex

         .std-field
            margin: rem( 40 ) 0
            margin-right: rem( 55 )
            text-transform: uppercase

   .info
      margin: rem( 25 ) 0
