.block-info

   .expandable

      .bt-serv

         .title
            padding: rem( 20 ) rem( 20 ) rem( 20 ) rem( 17 )
            font-size: rem( 26 )

         .arrow
            @extends .bt-slider
            right: 0
            height: 100%
            width: pct( 67 / 1225 )

   .content
      padding: rem( 20 )  rem( 100 )
      .innercontent
         font-size: rem( 14 )
