/*
 *  HONDA MOTO OCCASION | GRID STYLES
 */

.grid
   .grid-wrapper
      .big-box
         &:first-child + .big-box
            .block
               &:first-child
                  &
                  & + .block
                     padding-top: 0

      .block
         width: 25%

         .media
            .tag
            .flag
               font-size: em( 12 / $fz )
         .text
            .tt
            .sub
            .infos-line
               font-size: em( 14 / $fz )
