.label-container
   .visual
      flex-direction: row
      align-items: flex-start

      .label-logo
         margin: 0
         padding: rem( 20 ) rem( 60 )
         width: 50%

      .label-sideblock
         max-width: 50%
