/*
 *  HONDA MOTO OCCASION | PRODUCT PAGE STYLES
 */

.products
   .cols
      flex-wrap: nowrap

      .block-product
         width: 25%
         p
            padding:0 0.5rem

.product-tech
   padding-top: rem( 36 )
