.carousel-container
   .controls
      display: flex
      width: 100%
      margin: auto
      justify-content: center
      margin-top: rem(60)

.swiper-pagination
   position: static
   align-self: center
   margin: 0 rem(10)
   display: block
   width: auto

.swiper-pagination-bullet-active
   background-color: $red1
   color: $light
   font-weight: $fw-reg

.slider-with-thumbs
   .gallery-thumbs
      bottom: rem(80)
.swiper-wrapper
   &.three-blocks
      justify-content: center