.topSearch
   overflow: hidden

   .avisual
      width: pct( 460 / 1280 )
      padding: 0
      text-align: center
      display: block

      img
         width: 100%
         height: 100%
         object-fit: cover

   .ablock
      width: pct( 820 / 1280 )

      .tt
         text-align: left
         margin-left: 15%

      .lists
         margin-top: rem( 30 )
         width: 100%
         display: flex
         text-align: left
         justify-content: space-around

      &:after
         height: 100%
         width: 100%
