{% set image = null %}
{% set block = render_block_html('banniere-page-label-honda.html.twig') %}

{% if block %}
    {% set image = block.image %}
{% endif %}


{% if image %}
    <aside class="aside">
        <div class="wp-st">
            {% set picture %}
                <picture>
                    <img src="{% path image, 'reference' %}" alt="Label Honda">
                </picture>
            {% endset %}

            {% if block.ficheBanniereLink %}
                <a title="label Honda" href="{{ url('page_show', {'path': 'label-honda'}) }}" {% if block.ficheBanniereExternalLink %}target="_blank" {% endif %}>{{ picture }}</a>
            {% else %}
                {{ picture }}
            {% endif %}
        </div>
    </aside>
{% endif %}
