Bonjour%2c %0A%0AJ'ai vu ce véhicule d'occasion sur le portail des occasions Honda et je pense qu'il peut t'intéresser : {{ url('vehicule_occasion_voir', {'slug': vehicleAd.slug}) }}
%0A%0ASi tu veux voir d'autres occasions, tu peux aller sur le site Honda Occasions : {{ app.request.getSchemeAndHttpHost() }}
