{% if context is not defined %}
    {% set context = 'small' %}
{% endif %}


{% if vehiclesAd %}

    {% set seo_img %}{{ vehiclesAd.title }} - {{ getDistributorInfo(distributor, 'name' ) }} - {{ distributor.town }}{% endset %}

    <div class="block media-2">
        {% set url = url('vehicule_occasion_voir', {'slug': vehiclesAd.slug }) %}
        {% if vehiclesAd.hasRedirection %}
            {% set url = path('redirect_to', {'url': vehiclesAd.redirectionUrl|url_encode}) %}
        {% endif %}
        <a title="{{ vehiclesAd.title }}" href="{{ url }}">

            <div class="media o-fit">

                {% if vehiclesAd.vehicleAdGalleries|length %}
                    <img class="desktop" src="{% path vehiclesAd.vehicleAdGalleries[0].image, context %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }} ">
                    <img class="mobile" src="{% path vehiclesAd.vehicleAdGalleries[0].image, context %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }} ">
                {% else %}
                    <p>Pas d'image.</p>
                {% endif %}


                {% if vehiclesAd.getInfosComplementaires() %}
                    <span class="tag">
                        <span>{{ vehiclesAd.getInfosComplementaires() }}</span>
                    </span>
                {% endif %}

                {% if vehiclesAd.warrant matches '/^\\d+$/' %}
                    {% if vehiclesAd.warrant %}
                        <span class="flag">
                            <svg class="curved-text" viewBox="0 0 107.9 23.5">
                            <path id="curve" d="M3.8,26.5c1.1-0.9,18.6-14.3,50.7-14.1c31.6,0.2,48.5,13.3,49.7,14.3"></path>
                            <text>
                            <textPath xlink:href="#curve" startOffset="50%" text-anchor="middle" alignment-baseline="baseline">Garantie</textPath>
                            </text>
                            </svg>
                            {% if vehiclesAd.warrant  % 12 == 0 %}
                                <span>{{ vehiclesAd.warrant/12 }} <span>{{ (vehiclesAd.warrant/12 == 1) ? 'an' : 'ans' }}</span></span>
                            {% else %}
                                <span>{{ vehiclesAd.warrant }} <span>mois</span></span>
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </div>

            <div class="text">
                <span class="click-me"></span>
                <h2 class="tt">{{ vehiclesAd.title }}</h2>
                {% if vehiclesAd.distributor.town %}
                    <span class="sub ui-locate">{{ vehiclesAd.distributor.town }}</span>
                {% endif %}
                <span class="infos-line">
                    {% if vehiclesAd.releaseDate  %}
                        <span class="year"> {{ vehiclesAd.releaseDate|date('Y') }} </span>
                    {% endif %}
                    {% if vehiclesAd.km  %}
                        <span class="km"> / {{ vehiclesAd.km|localizednumber }} Km / </span>
                    {% endif %}
                    <span class="price">{{  vehiclesAd.price|localizednumber }} € </span>
                </span>
            </div>

        </a>

    </div>
{% endif %}
