<section id="fiche" itemscope itemtype="http://schema.org/Product">

    <header class="shead">
        <h2 class="tt-2">
            <span>{{ vehicleAd.title|capitalize }}</span>
        </h2>
    </header>

    <!-- module gallery-->
    <nav class="product-gallery-nav">

        <a href="{{ url('vehicule_occasion') }}" title="Liste des véhicules d'occasion du concessionnaire">Liste des véhicules d'occasion du concessionnaire</a>
        <h2 class="tt">
            <span>{{ vehicleAd.title|capitalize }}</span>
            <span id="print-title">{{ vehicleAd.title }} d’occasion {{ vehicleAd.cylinder }} cm³ {{ vehicleAd.km }} km  année {{ vehicleAd.modelYear }}</span>
            <b>{{ vehicleAd.price|localizednumber }} €</b>
        </h2>
        <div class="controls">

            {% if prev is defined and prev %}
                <a class="prev" href="{{ url('vehicule_occasion_voir', {'slug': prev.slug}) }}#fiche" title="Précédente">Précédente</a>
            {% endif %}

            {% if next is defined and next %}
                <a class="next" href="{{ url('vehicule_occasion_voir', {'slug': next.slug}) }}#fiche" title="Suivante">Suivante</a>
            {% endif %}
        </div>
    </nav>

    <section  class="product-gallery" data-gallery>
        <header class="cat-tools">
            <a class="bt-ui" href="mailto:{{ getContentMailto(vehicleAd) }}" title="Envoyer à un ami">Envoyer à un ami
                <svg viewBox="0 0 60.1 40" aria-hidden="true" class="ui ui--paper-plane">
                <path d="M60 1.2c0-.1.1-.1 0 0V.9.8c0-.1-.1-.2-.1-.3-.1-.1-.1-.2-.2-.2h-.1c-.1 0-.2-.1-.2-.1H59.1 59h-.1l-58 12c-.4.1-.7.4-.8.8s.2.8.5 1l16.6 8.8L20.1 39V39.3c0 .1.1.2.1.3v.2c0 .1.1.1.2.2.1 0 .1.1.2.1h.5c.3 0 .5-.1.7-.3l11.1-7.4 11.6 7.5c.2.1.4.2.5.2.1 0 .2 0 .3-.1.3-.1.5-.3.6-.6l14-38c.1-.1.1-.1.1-.2zM48.5 7.5l-24 17.6-.1.1-.1.1v.1c0 .1-.1.1-.1.2l-2.8 8.9-2.2-12.1L48.5 7.5zM22.9 36.6l2.7-9 4.2 2.8 1.2.8-4 2.7-4.1 2.7zM52 3.5L18 20.9 3.9 13.4 52 3.5zm-7.4 34l-15.4-10-2.3-1.5L57 3.8 44.6 37.5z"
                      />
                </svg>
            </a>
            <a href="#section-contact" data-scroll="" aria-label="Contact" title="Contacter">Contacter
                <svg viewBox="0 0 88 60.1" aria-hidden="true" class="ui ui--contact">
                <path d="M72.7 31.2c.4 0 .8.1 1.1.3 8.5 5.1 14.2 14.4 14.2 25 0 .6 0 1.1-.1 1.8-.1 1-.9 1.8-2 1.8H31.8c-1.1 0-1.9-.8-2-1.9v-1.7c0-10.6 5.7-19.9 14.2-25 .7-.4 1.7-.4 2.4.2 3.4 3 7.7 4.8 12.6 4.8 4.8 0 9.2-1.8 12.6-4.8.2-.3.7-.5 1.1-.5zm.3 4.4c-3.9 3-8.8 4.8-14.1 4.8s-10.2-1.8-14.1-4.8C38.2 40 33.9 47.5 33.8 56H84c-.1-8.5-4.5-15.9-11-20.4z"
                      />
                <path d="M59 1.3c8.4 0 15.2 6.8 15.2 15.2S67.4 31.7 59 31.7s-15.2-6.8-15.2-15.2S50.6 1.3 59 1.3zm0 4c-6.2 0-11.2 5-11.2 11.2s5 11.2 11.2 11.2 11.2-5 11.2-11.2S65.2 5.3 59 5.3zM36.8 25.5c.4 0 .8.1 1.1.3.9.5 1.7 1.1 2.5 1.7.4.3.8.6 1.2 1 .8.7.9 2 .2 2.8s-2 .9-2.8.2c-.3-.2-.6-.5-.9-.8-.3-.2-.6-.5-.9-.7-3.3 2.5-7.5 4-11.9 4-4.5 0-8.6-1.5-11.9-4-5.3 3.7-8.9 9.7-9.1 16.6h23.6c1.1 0 2 .9 2 2s-.9 2-2 2H2c-1.1 0-2-.8-2-1.9v-1.4c0-9.1 4.9-17.1 12.2-21.5.7-.4 1.7-.4 2.4.2 2.8 2.5 6.4 4 10.5 4 4 0 7.7-1.5 10.5-4 .2-.3.7-.5 1.2-.5z"
                      />
                <path d="M25.1 0c7.3 0 13.2 5.9 13.2 13.2s-5.9 13.2-13.2 13.2-13.2-5.9-13.2-13.2S17.8 0 25.1 0zm0 4c-5.1 0-9.2 4.1-9.2 9.2s4.1 9.2 9.2 9.2 9.2-4.1 9.2-9.2S30.2 4 25.1 4z" />
                <ellipse transform="rotate(-85.94 58.421 16.97) scale(1.00001)" cx="58.4" cy="17" rx="12.3" ry="13.5" />
                <path d="M38.3 36.5h39.3v22H38.3z" />
                <path d="M70.5 34.6h6v11h-6zM40.8 34.6h6v11h-6z" />
                <path d="M32.333 57.222l3.71-16.283 5.948 1.355-3.71 16.283zM72.225 40.571l9.165-2.088 4.2 18.427L76.423 59z" />
                </svg>
            </a>
            <div class="social">
                <span>Partager</span>
                <div class="social">
                    <a target="_blank" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url('vehicule_occasion_voir', {'slug': vehicleAd.slug})|url_encode }}">
                        <svg width="49.652" height="49.652" viewBox="0 0 49.652 49.652" aria-hidden="true" class="ui ui--facebook">
                        <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z"
                              />
                        </svg>
                    </a>
                    <a target="_blank"  title="twitter" href="https://twitter.com/intent/tweet/?url={{ url('vehicule_occasion_voir', {'slug': vehicleAd.slug})|url_encode }}">
                        <svg viewBox="0 0 612 612" aria-hidden="true" class="ui ui--twitter">
                        <path d="M612 116.258a250.714 250.714 0 0 1-72.088 19.772c25.929-15.527 45.777-40.155 55.184-69.411-24.322 14.379-51.169 24.82-79.775 30.48-22.907-24.437-55.49-39.658-91.63-39.658-69.334 0-125.551 56.217-125.551 125.513 0 9.828 1.109 19.427 3.251 28.606-104.326-5.24-196.835-55.223-258.75-131.174-10.823 18.51-16.98 40.078-16.98 63.101 0 43.559 22.181 81.993 55.835 104.479a125.556 125.556 0 0 1-56.867-15.756v1.568c0 60.806 43.291 111.554 100.693 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.199 117.253 87.194-42.947 33.654-97.099 53.655-155.916 53.655-10.134 0-20.116-.612-29.944-1.721 55.567 35.681 121.536 56.485 192.438 56.485 230.948 0 357.188-191.291 357.188-357.188l-.421-16.253c24.666-17.593 46.005-39.697 62.794-64.861z"
                              />
                        </svg>
                    </a>
                </div>
            </div>
        </header>
        <div class="view">

            <div class="media o-fit-exception">
                {% if preview is defined and preview %}
                    <div>
                        <img class="print-bg black-bg" src="{{ asset('/assets/front/media/dyn/black_bg.png') }}">
                    </div>
                {% endif %}
                <div class="gallery-buttons">
                    <button class="bt-prev" data-controls="prev"></button>
                    <button class="bt-next" data-controls="next"></button>
                </div>

                {% set seo_img %}{{ vehicleAd.title }} - {{ getDistributorInfo(distributor, 'name' ) }} - {{ distributor.town }}{% endset %}

                {% if vehicleAd.vehicleAdGalleries[0] is defined and vehicleAd.vehicleAdGalleries[0].image %}
                    <img title="{{ seo_img }}"  alt="{{ seo_img }}" data-viewer src="{% path vehicleAd.vehicleAdGalleries[0].image, 'big' %}"
                        sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" class="main-img">
                {% endif %}

                {% if vehicleAd.warrant %}
                    <span class="flag">
                        {% if preview is defined and preview %}
                            <img class="print-bg garanti-bg" src="{{ asset('/assets/front/media/dyn/white_bg.png') }}">
                        {% endif %}
                        <svg class="curved-text" viewBox="0 0 107.9 23.5">
                        <path id="curve" d="M3.8,26.5c1.1-0.9,18.6-14.3,50.7-14.1c31.6,0.2,48.5,13.3,49.7,14.3"></path>
                        <text>
                        <textPath xlink:href="#curve" startOffset="50%" text-anchor="middle" alignment-baseline="baseline">Garantie</textPath>
                        </text>
                        </svg>
                        {% if vehicleAd.warrant  % 12 == 0 %}
                            <span>{{ vehicleAd.warrant/12 }} <span>{{ (vehicleAd.warrant/12 == 1) ? 'an' : 'ans' }}</span></span>
                        {% else %}
                            <span>{{ vehicleAd.warrant }} <span>mois</span></span>
                        {% endif %}
                    </span>
                {% endif %}

                {% if vehicleAd.getInfosComplementaires() %}
                    <span class="flag em">
                        {% if preview is defined and preview %}
                            <img class="print-bg main-bg" src="{{ asset('/assets/front/media/dyn/red_bg.png') }}">
                        {% endif %}
                        <span>{{ vehicleAd.getInfosComplementaires()|capitalize }}</span>
                    </span>
                {% endif %}

            </div>

            <div class="thumbnails">
                <ul>
                    {% for image in vehicleAd.vehicleAdGalleries %}
                        {% if image.image is not null %}
                            <li>
                                {% if image.image.providerName == 'sonata.media.provider.image' %}
                                    <button class="{% if loop.index == 1 %}active{% endif %} o-fit" data-thumb>
                                        <img title="{{ seo_img }}"  alt="{{ seo_img }}" class="" src="{% path image.image, 'big' %}" srcset="{% path image.image, 'small' %}, {% path image.image, 'medium' %}, {% path image.image, 'big' %}" sizes="(min-width: 48em) 116px, (min-width: 64em) 156px">
                                    </button>
                                {% elseif image.image.providerName == 'sonata.media.provider.youtube' %}
                                    <button class="{% if loop.index == 1 %}active{% endif %} bt-play o-fit" data-thumb data-video="https://www.youtube.com/embed/{{ image.image.providerReference }}">
                                        <img title="{{ seo_img }}" alt="{{ seo_img }}" class="" src="{% path image.image, 'small' %}">
                                    </button>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </section>

    {% if vehicleAd.distributorDescription or vehicleAd.getPlusProduits|length  %}
        <section class="product-quote">
            {% if preview is defined and preview %}
                <img class="print-bg quote-bg" src="{{ asset('/assets/front/media/dyn/red_bg.png') }}">
            {% endif %}
            {% if vehicleAd.distributorDescription %}
                <h3 class="tt">Le mot du concessionnaire</h3>
                <blockquote class="edito">
                    <p>{{ vehicleAd.distributorDescription }}</p>
                </blockquote>
            {% endif %}

            {% if vehicleAd.getPlusProduits|length %}
                <div class="quote-flags">

                    {% for key, getPlusProduit in vehicleAd.getPlusProduits %}
                        <span>{{ getPlusProduit }}</span>
                    {% endfor %}

                </div>
            {% endif %}
        </section>
    {% endif %}

    <section class="product-specs" data-specification='{"modele": "{{ vehicleAd.title }}", "annnee": {{ vehicleAd.modelYear }}, "cylindree": "{{ vehicleAd.cylinder }}", "prix_ttc": {{ vehicleAd.price }}, "date_circulation": "{{ vehicleAd.releaseDate|localizeddate('none', 'none', null, null, 'Y-MM-dd') }}", "kilometrage": "{{ vehicleAd.km }}", "spec_energie": "{{ vehicleAd.specEnergie }}", "id_materiel": "{{ vehicleAd.idMateriel }}", "spec_boite_vitesse": "{{ vehicleAd.specBoiteVitesse }}" }'>
        <div class="cols">
            <div class="col">
                <h3 class="tt">Caractéristiques</h3>
                <ul>
                    {% if vehicleAd.cylinder %}
                        <li>
                            <strong>Cylindrée : </strong>&nbsp;{{ vehicleAd.cylinder }} cm <sup>3</sup>
                        </li>
                    {% endif %}

                    {% if vehicleAd.km %}
                        <li>
                            <strong>Kilométrage : </strong>&nbsp;{{ vehicleAd.km|localizednumber }} km
                        </li>
                    {% endif %}

                    {% if vehicleAd.modelYear %}
                        <li>
                            <strong>Année : </strong>&nbsp;{{ vehicleAd.modelYear }}
                        </li>
                    {% endif %}

                    {% if vehicleAd.km %}
                        <li>
                            <strong>Mise en circulation : </strong>&nbsp;{{ vehicleAd.releaseDate|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}
                        </li>
                    {% endif %}
                </ul>

                {% if vehicleAd.options %}
                    <h3 class="tt">Équipements</h3>
                    <p><strong>Options : </strong>&nbsp;{{ vehicleAd.options }}</p>
                {% endif %}

            </div>
            <div class="col">
                <h3 class="tt">Descriptif</h3>
                {{ vehicleAd.vehicleAdDesc|raw }}
            </div>
        </div>
    </section>
    <!-- /module gallery-->

    {% if not preview is defined %}

        {{ include('@HondaMain/Front/VehicleAd/_label_honda.html.twig') }}

    {% endif %}

</section>

<div class="wp-st" style="margin-top: 20px">
    <section>
        {% if distributor.seoContent.descriptionPageFicheVo %}
            <div class="edito">
                {{ distributor.seoContent.descriptionPageFicheVo | replace({
                    '[Nom du concessionnaire]': distributor.infos.name,
                    '[Ville]': distributor.infos.town,
                    '[Département]': distributor.infos.department
                }) | raw }}
            </div>
        {% endif %}
    </section>
</div>
