{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
    Moto d’Occasion {{ distributor.town }} - {{ getDistributorInfo(distributor, 'name' ) }} Honda
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Parcourez les offres de moto d'occasion disponibles à notre concession {{ getDistributorInfo(distributor, 'name' ) }} à {{ distributor.town }} et retrouvez le modèle qui vous convient !" />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content=" moto occasion {{ distributor.town }}  moto occasion {{ getDistributorInfo(distributor, 'name' ) }}" />
{% endblock %}


{% block links %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('vehicule_occasion') }}" />
{% endblock %}


{% block content %}


    {% if banner|length and banner.banner is defined and banner.banner %}
        <div class="wp-st">
            <aside class="aside">
                <div class="wp-st">

                    {% set picture %}
                        <picture>
                            <img src="{{ banner.banner }}" alt="Label Honda" title="Label Honda">
                        </picture>
                    {% endset %}

                    {% if banner.link is defined and banner.link %}
                        {% set target = banner.externalLink is defined and banner.externalLink %}
                        <a title="Label Honda" href="{{ banner.link }}" {% if target %}target="_blank" {% endif %}>
                            {{ picture }}
                        </a>
                    {% else %}
                        {{ picture }}
                    {% endif %}

                </div>
            </aside>
        </div>
    {% endif %}


    <section class="module">
        <div class="wp-st">

            <div class=" desktop-content">
                <header class="shead">
                    <div class="sh-container">
                        <form class="sort" action="/ajax/retailers.json" method="get">
                            <div class="std-field">
                                <label class="label main" for="header-select">Trier par</label>
                                <span class="custom-select">
                                    <select class="condensed" id="header-select" name="header-select" data-load='{"target":"grid-retailers"}'>
                                        <option class="disabled" value="" selected >Type</option>
                                        <option value="ASC">Prix croissants </option>
                                        <option value="DESC">Prix décroissants</option>
                                    </select>
                                    <label for="header-select">Type</label>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="sh-container tt">
                        <h2 class="tt-2">
                            <span>{{ title }}</span>
                        </h2>
                    </div>
                    <div class="sh-container desktop-content">
                        <form class="sort" action="/ajax/retailers.json" method="get">
                            <div class="std-field">
                                <label class="label main" for="header-select-2">Afficher par</label>
                                <span class="custom-select">
                                    <select class="condensed" id="header-select-2" name="header-select-2" data-load='{"target":"grid-retailers"}'>
                                        <option class="disabled" value="" selected >Catégorie</option>
                                        {% for category in portailCategories %}
                                            <option value="{{ category.category }}">{{ category.category|capitalize }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="header-select-2">Catégorie</label>
                                </span>
                            </div>
                        </form>
                    </div>
                </header>
            </div>
            <div class="mobile-content occasions">
                <header class="shead">
                    <div class="sh-container tt">
                        <h2 class="tt-2">
                            <span>{{ title }}</span>
                        </h2>
                    </div>
                </header>
                <div class="sh-container">
                    <form class="sort" action="/ajax/retailers.json" method="get">
                        <div class="std-field">
                            <label class="label" for="header-select-4">Trier par</label>
                            <span class="custom-select">
                                <select class="condensed" id="header-select-4" name="header-select" data-load='{"target":"grid-retailers"}'>
                                    <option class="disabled" value="" selected >Type</option>
                                    <option value="ASC">Prix croissants </option>
                                    <option value="DESC">Prix décroissants</option>
                                </select>
                                <label for="header-select-4">Type</label>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="sh-container">
                    <form class="sort" action="/ajax/retailers.json" method="get">
                        <div class="std-field">
                            <label class="label" for="select">Afficher par</label>
                            <span class="custom-select">
                                <select class="condensed" id="header-select-3" name="header-select-2" data-load='{"target":"grid-retailers"}'>
                                    <option class="disabled" value="" selected >Catégorie</option>
                                    {% for category in portailCategories %}
                                        <option value="{{ category.category }}">{{ category.category|capitalize }}</option>
                                    {% endfor %}
                                </select>
                                <label for="header-select-2">Catégorie</label>
                            </span>
                        </div>
                    </form>
                </div>
            </div>


            {% include '@HondaMain/Front/Block/block_list_vehicleAd.html.twig' with {'vehiclesAd': vehiclesAd, 'bigBoxVehiclesAdCollection': bigBoxVehiclesAdCollection, 'vehiclesAdCollection': vehiclesAdCollection} %}

        </div>
    </section>


    <div class="wp-st">
        <section>
            {% set distributorInfos = distributor.infos %}
            {% if distributorInfos.name is defined and distributorInfos.name and distributor.town  %}
                {% if distributor.seoContent.descriptionPageVO  %}
                    <div class="edito">
                        {{ distributor.seoContent.descriptionPageVO | replace({
                            '[Nom du concessionnaire]': distributor.infos.name,
                            '[Ville]': distributor.infos.town,
                            '[Département]': distributor.infos.department
                        }) | raw }}
                    </div>
                {% endif %}
            {% endif %}
        </section>
    </div>


{% endblock %}
