{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% block metas %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Honda Occasions">
    <meta name="twitter:creator" content="@Honda">
    <meta name="twitter:title" content="{{ vehicleAd.title }}">
    <meta name="twitter:description" content="{{ vehicleAd.description|truncate(200) }}">
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() }}{% path vehicleAd.vehicleAdGalleries[0].image, 'small' %}">
    <meta property="og:title" content="{{ vehicleAd.title }}">
    <meta property="og:description" content="{{ vehicleAd.description|truncate(200) }}">
    {%if (vehicleAd.vehicleAdGalleries[0].image.providerName == 'sonata.media.provider.youtube')%}
        <meta property="og:video" content="{{ vehicleAd.vehicleAdGalleries[0].image.providerMetadata['provider_url'] ~ 'watch?v=' ~ vehicleAd.vehicleAdGalleries[0].image.providerReference}}" />
    {% endif %}
    <meta property="og:site_name" content="Honda occasions">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{% path vehicleAd.vehicleAdGalleries[0].image, 'small' %}">
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:local" content="fr">
    <meta property="og:url" content="{{ url('vehicule_occasion_voir', {'slug': vehicleAd.slug}) }}">
{% endblock %}


{% block links %}
    {% spaceless %}

        {% if prev is defined and prev %}
            <link rel="prev" href="{{ url('vehicule_occasion_voir', {'slug': prev.slug}) }}" title="precedent" />
        {% endif %}

        {% if next is defined and next  %}
            <link rel="next" href="{{ url('vehicule_occasion_voir', {'slug': next.slug}) }}" title="suivant" />
        {% endif %}

        <link rel="canonical" href="{{ url('vehicule_occasion_voir', {'slug': vehicleAd.slug}) }}" />
    {% endspaceless %}
{% endblock %}


{% block title %}
    {{ vehicleAd.title }} d’occasion {{ vehicleAd.cylinder }} cm³ {{ vehicleAd.km }} km  année {{ vehicleAd.modelYear }} -  {{ getDistributorInfo(distributor, 'name' ) }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Retrouvez la moto d'occasion {{ vehicleAd.title }} {{ vehicleAd.cylinder }} cm³ {{ vehicleAd.km }} km  année {{ vehicleAd.modelYear }} chez votre concessionnaire  {{ getDistributorInfo(distributor, 'name' ) }}. Contactez-nous pour plus d’informations ou planifier un essai !" />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ vehicleAd.title }} d’occasion {{ vehicleAd.cylinder }} cm³, {{ vehicleAd.km }} km, année {{ vehicleAd.modelYear }}  {% if vehicleAd.specBoiteVitesse  %} {{ vehicleAd.specBoiteVitesse }} {% endif %} " />
{% endblock %}



{% block content %}

    <div class="wp-st">
        {% include '@HondaMain/Front/VehicleAd/_vehicleAd_fiche.html.twig' %}
    </div>

{% endblock %}


{% block javascripts_inline %}

    {{ parent() }}

   <script type="text/javascript">

        var vo = {
            'id_materiel': "{{ vehicleAd.id }}",
            'marque': "{{ vehicleAd.markPortail }}",
            'modele': "{{ vehicleAd.modelPortail }}",
            'annnee': "{{ vehicleAd.modelYear }}",
            'cylindree': "{{ vehicleAd.cylinder }}",
            'spec_energie': "{{ vehicleAd.specEnergie }}",
            'kilometrage': "{{ vehicleAd.km }}",
            'date_circulation': "{{ vehicleAd.releaseDate|date('d/m/Y') }}",
            'spec_boite_vitesse': "{{ vehicleAd.specBoiteVitesse }}",
            'prix_ttc': "{{ vehicleAd.price }}",
        };

        console.log('Mise à jour vo');

        if ((appHondaVue !== undefined) && (appHondaVue !== null)) {
            appHondaVue.SetCurrentOccasion(vo);
        }

    </script>
{% endblock %}
