
<div class="head">
    <a class="bt-01 large" target="_blank" href="{{ category.tarif_link }}" download>Télécharger les tarifs officiels</a>
</div>

<!-- table-->
<div id="brand-4">
    <section class="brand">
        <header class="brand-header">
            <div class="text">
                <h2 class="tt">{{ category.category|capitalize }}</h2>
                <p class="txt">{{ category.description|capitalize }}</p>
                {% if category.brochure_link %}
                    <a class="bt-01 large" href="{{ category.brochure_link }}" target="_blank" download>Télécharger la brochure de la gamme</a>
                {% endif %}
            </div>
            {% if category.image_category   %}
                <div class="media">
                    <img src="{{ category.image_category }}" alt="{{ category.category }}">
                </div>
            {% endif %}
        </header>
        <table>
            <thead>
                <tr>
                    <th>
                        <div>Disponible à la Vente</div>
                    </th>
                    <th>
                        <div>Modèle</div>
                    </th>
                    <th>
                        <div>Cylindrée (cm³)</div>
                    </th>
                    <th>
                        <div>Permis</div>
                    </th>
                    <th>
                        <div>Couleur(s)</div>
                    </th>
                    <th>
                        <div>Prix public conseillé
                            <sup data-tooltip tabindex="0">(1)
                                <span class="tooltip">
                                    <span>(1) {{ gammeTarifs.price_description }}.</span>
                                </span>
                            </sup>
                        </div>
                    </th>
                    <th>
                        <div>Prix promotion conseillé
                            <sup data-tooltip tabindex="0">(2)
                                <span class="tooltip">
                                    <span>(2) {{ gammeTarifs.reduced_price_description }}.</span>
                                </span>
                            </sup>
                        </div>
                    </th>
                    <th>
                        <div>Disponibilités</div>
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for model in category.models  %}
                    {% for submodel in model.submodels  %}
                        <tr>
                            <td>
                                {% set url = url('new_vehicle_show', {'categorySlug': category.category_slug, 'modelSlug': model.slug, 'vehicleSlug': submodel.vehicle_slug}) %}
                                {% if submodel.hasRedirection %}
                                    {% set url = path('redirect_to', {'url': submodel.redirectionUrl|url_encode}) %}
                                {% endif %}
                                <a href="{{ url }}" {{ submodel.hasRedirection ? 'target="_blank"' }}>
                                    <img src="{{ submodel.image.url }}" alt="{{ submodel.submodel_name }}">
                                    <span>Réf. : {{ submodel.reference }}</span>
                                </a>
                            </td>
                            <td class="f-align">
                                <div class="wp">
                                    <a href="#">{{ submodel.submodel_name }}</a>
                                    <a class="bt-01" href="{{ url }}" {{ submodel.hasRedirection ? 'target="_blank"' }}>Voir la fiche détaillée</a>
                                </div>
                            </td>
                            <td>
                                <div>{{ submodel.cylinder }}</div>
                            </td>
                            <td>
                                <div>
                                    {{ submodel.driving_licence }}
                                </div>
                            </td>
                            <td>
                                <div class="thumbs">

                                    {% for dispo_color in submodel.dispo_colors %}
                                        <span data-tooltip tabindex="0">
                                            <img src="{{ dispo_color.icon }}" alt="{{ dispo_color.color }}">
                                            <span class="tooltip">
                                                <span>{{ dispo_color.color }}</span>
                                            </span>
                                        </span>
                                    {% endfor %}

                                </div>
                            </td>
                            <td>
                                <div>
                                    {% if submodel.price %}
                                        {{ submodel.price }} €
                                        {% if gammeTarifs.price_description %}
                                            <sup data-tooltip tabindex="0">(1)
                                                <span class="tooltip">
                                                    <span>(1) {{ gammeTarifs.price_description }}.</span>
                                                </span>
                                            </sup>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </td>
                            <td>
                                <div class="promo">
                                    {% if submodel.reduced_price %}
                                        {{ submodel.reduced_price }} €
                                        {% if gammeTarifs.reduced_price_description %}
                                            <sup data-tooltip tabindex="0">(2)
                                                <span class="tooltip">
                                                    <span>(2) {{ gammeTarifs.reduced_price_description }}.</span>
                                                </span>
                                            </sup>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="f-align">
                                <div class="wp promo">

                                    {% set inventoryVehicles = checkInventory(submodel.vehicles_ids, inventoryKeys) %}

                                    {% if inventoryVehicles|length  %}
                                        <div>
                                            <span class="tx-label">  EN STOCK

                                                <sup data-tooltip tabindex="0">(3)
                                                    <span class="tooltip">
                                                        <span>(3) {{ gammeTarifs.stock_description }}.</span>
                                                    </span>
                                                </sup>

                                                <br>Couleur(s) :</span>
                                            <span class="items">
                                                {% for inventoryVehicle in inventoryVehicles %}
                                                    <span data-tooltip tabindex="0">
                                                        <img src="{{ inventoryVehicle.icon }}" alt="{{ inventoryVehicle.color }}">
                                                        <span class="tooltip">
                                                            <span>{{ inventoryVehicle.color }}</span>
                                                        </span>
                                                    </span>
                                                {% endfor %}
                                            </span>

                                        </div>
                                    {% endif %}
                                    {% if checkSubModelOnTest(submodel.sub_model_id, subModelTestKeys)  %}
                                        <a class="bt-01 dispo-essai" data-provenance="{{ provenance }}" href="#form" data-scroll data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.sub_model_id}) }}">Disponible à l'essai</a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

            </tbody>
        </table>
    </section>
</div>

<!-- /table-->


