<section class="brand-products">

    <h2 class="title">
        <button class="bt-toggle" data-toggle="{&quot;keep&quot;:true}" aria-expanded="false" aria-controls="content-{{ index }}" id="brand{{ index }}">{{ category.category|capitalize }}</button>
    </h2>

    <div class="content" aria-hidden="true" id="content-{{ index }}">

        <header class="brand-header">
            <div class="text">
                <h2 class="tt">{{ category.category|capitalize }}</h2>
                <p class="txt">{{ category.description|capitalize }}.</p>
                <a class="bt-01 large" href="{{ category.brochure_link }}" target="_blank" download>Télécharger la brochure de la gamme</a>
            </div>
            <div class="media">
                <img src="{{ category.image_category }}" alt="">
            </div>
        </header>

        {% if category.models|length %}
            <ul>
                {% for model in category.models  %}
                    {% for submodel in model.submodels  %}
                        <li class="block-product" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                            {% if checkSubModelOnTest(submodel.sub_model_id, subModelTestKeys)  %}
                                <a class="bt-01 mobile bt-dispo-vn-list" data-provenance="{{ provenance }}" href="#form" data-scroll data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.sub_model_id}) }}">Disponible à l'essai</a>
                            {% endif %}
                            <div class="media">
                                <img src="{{ submodel.image.url }}" alt="{{ submodel.submodel_name }}" itemprop="image">
                            </div>
                            <div class="text">
                                <div>
                                    <h4 class="tt" itemprop="name">{{ submodel.submodel_name|capitalize }}</h4>
                                    <div class="promo-wrap">
                                        {% set url = url('new_vehicle_show', {'categorySlug': category.category_slug, 'modelSlug': model.slug, 'vehicleSlug': submodel.vehicle_slug}) %}
                                        {% if submodel.hasRedirection %}
                                            {% set url = path('redirect_to', {'url': submodel.redirectionUrl|url_encode}) %}
                                        {% endif %}
                                        <a class="bt-01" href="{{ url }}" {{ submodel.hasRedirection ? 'target="_blank"' }}>En savoir plus</a>
                                        <div class="wp promo">

                                            {% set inventoryVehicles = checkInventory(submodel.vehicles_ids, inventoryKeys) %}

                                            {% if inventoryVehicles|length  %}
                                                <div>
                                                    <span class="tx-label">  EN STOCK
                                                        {#<sup data-tooltip tabindex="0">(3)
                                                            <span class="tooltip">
                                                                <span>(3) {{ gammeTarifs.stock_description }}.</span>
                                                            </span>
                                                        </sup>#}
                                                    </span>
                                                    <span class="items">
                                                        {% for inventoryVehicle in inventoryVehicles %}
                                                            <span data-tooltip tabindex="0">
                                                                <img src="{{ inventoryVehicle.icon }}" alt="{{ inventoryVehicle.color }}">
                                                                <span class="tooltip">
                                                                    <span>{{ inventoryVehicle.color }}</span>
                                                                </span>
                                                            </span>
                                                        {% endfor %}
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if submodel.price %}
                                    <p>À partir de
                                        <sup data-tooltip tabindex="0">(1)
                                            <span class="tooltip">{{ gammeTarifs.price_description }}.</span>
                                        </sup> :
                                        <span itemprop="price" content="EUR">{{ submodel.price }}</span>
                                        <span itemprop="priceCurrency" content="EUR">€</span>
                                    </p>
                                {% endif %}
                                {% if submodel.reduced_price %}
                                    <p class="promo">Promotion
                                        <sup data-tooltip tabindex="0">(2)
                                            <span class="tooltip">{{ gammeTarifs.reduced_price_description }}.</span>
                                        </sup> :
                                        <span itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre">{{ submodel.reduced_price }}</span>
                                        <span itemprop="priceCurrency" content="EUR">€</span>
                                    </p>
                                {% endif %}
                            </div>
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>
