
{% set inStock = vehicle.id is defined and inventoryKeys[vehicle.id] is defined  %}

{% set JsUrlReplace = url('new_vehicle_show', {'categorySlug': model.category_slug, 'modelSlug': model.model_slug, 'vehicleSlug': vehicle.slug})  %}

{% set vehicleSlectionnerUrl = url('ajax_moto_selectionnee', {'vehicleId': vehicle.id})  %}

<li data-jsUrlReplace="{{ JsUrlReplace }}"  data-vehicleSlectionnerUrl="{{ vehicleSlectionnerUrl }}"  {% if inStock  %}data-provenance="VN_STOCK"{% else %}data-provenance="VN_HORS_STOCK"{% endif %}  class="block-product provenance {% if vehicle.selected %}active{% endif %} {% if display == 'mobile' %}swiper-slide o-fit{% endif %} {% if vehicle.color.name is defined and vehicle.color.name %}{{ vehicle.color.name|replace({' ': null}) }}{% endif %}"   itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
    <h4 class="tt mobile" itemprop="name">{{ vehicle.name|capitalize }}</h4>
    {% if vehicle.price is defined and vehicle.price %}
        <p>À partir de
            {% if vehicle.price_description is defined and vehicle.price_description %}
            <sup data-tooltip tabindex="0">(1)
                <span class="tooltip">(1) {{ vehicle.price_description|capitalize }}</span>
            </sup> {% endif %}:
            <span itemprop="price" content="EUR">{{ vehicle.price }}</span>
            <span itemprop="priceCurrency" content="EUR">€</span>
        </p>
    {% endif %}

    {% if vehicle.reduced_price is defined and vehicle.reduced_price %}
        <p class="promo">Promotion
            {% if vehicle.price_description is defined and vehicle.price_description %}
            <sup data-tooltip tabindex="0">(2)
                <span class="tooltip">(2) {{ vehicle.reduced_price_description|capitalize }}.</span>
            </sup>{% endif %} :
            <span itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre">{{ vehicle.reduced_price }}</span>
            <span itemprop="priceCurrency" content="EUR">€</span>
        </p>
    {% endif %}
    <a class="desktop" href="{{ url('ajax_product', {'vehicleId': vehicle.id}) }}" data-load='{"target":"product", "scroll": true}'>
        <div class="media">
            {% if vehicle.image is defined and vehicle.image %}
                <img src="{{ vehicle.image }}" alt="{{ vehicle.name }}" itemprop="image">
            {% endif %}
            <div class="flags">
                {% if inStock %}
                    <span class="stock">En Stock</span>
                {% endif %}
                {% if vehicle.new is defined and vehicle.new  %}
                    <span>Nouveau</span>
                {% endif %}

            </div>
        </div>
        <div class="text">
            <div>
                {% if vehicle.name is defined and vehicle.name %}
                    <h4 class="tt" itemprop="name"> {{ vehicle.name|capitalize }}</h4>
                {% endif %}

                {% if vehicle.color is defined and vehicle.color.icon is defined %}
                    <span data-tooltip tabindex="0">
                        {% if vehicle.color.icon %}
                            <img src="{{ vehicle.color.icon }}" alt="Color name" itemprop="color">
                        {% endif %}
                        {% if vehicle.color.name is defined and vehicle.color.name %}
                            <span>{{ vehicle.color.name }}</span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </div>
    </a>
    <a class="mobile">
        <div class="media">
            <img src="{{ vehicle.image }}" alt="{{ vehicle.name }}" itemprop="image">
            <div class="flags">
                {% if inStock %}
                    <span class="stock">En Stock</span>
                {% endif %}
                {% if vehicle.new is defined and vehicle.new  %}
                    <span>Nouveau</span>
                {% endif %}
            </div>
        </div>
    </a>
</li>
