<div class="mobile">

    <ul class="cols">

        <div class="mobile-product-carousel carousel-container cinquo">

            <div class="swiper-container carousel-cinquo" data-sliderConfig="{&quot;loop&quot; : false, &quot;slidesPerView&quot;: 1, &quot;navigation-mob&quot; : true, &quot;pagination&quot;: true, &quot;id&quot;: {{ key }}, &quot;pagination-mob&quot;: true }">

                <div class="swiper-wrapper">

                    {% for vehicle in submodel.vehicles %}
                        {% include "@HondaMain/Front/Vehicles/_fiche_vn_li.html.twig" with {'vehicle': vehicle, 'display': 'mobile'} %}
                    {% endfor %}

                </div>
                <div class="color-icons">
                    <ul data-slide_id="{{ key }}">
                        {% for vehicle in submodel.vehicles|filter(v => v.color is defined and v.color.name) %}
                            <li>
                                <a href="#" data-product_slide="{{ vehicle.color.name|replace({' ': null}) }}">
                                    {% if vehicle.color.icon %}
                                        <img src="{{ vehicle.color.icon }}" alt="{{ vehicle.color.name }}" itemprop="color">
                                    {% endif %}
                                </a>
                                <span>{{ vehicle.color.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </ul>
</div>
