<div class="desktop">

    <ul class="cols">

        {% for vehicle in submodel.vehicles %}
            {% include "@HondaMain/Front/Vehicles/_fiche_vn_li.html.twig" with {'vehicle': vehicle, 'display': 'desktop'} %}
        {% endfor %}

    </ul>

</div>
