<div class="wp" data-provenance="{{ provenance }}">
    <div class="media">
        <img src="{{ vehicle.image }}" alt="{{ vehicle.name }}" itemprop="image">
    </div>
    <div class="text">
        <div class="wp">
            <p class="tt-tx">
                <span data-tooltip>
                    <img src="{{ vehicle.color.icon }}" alt="{{ vehicle.color.name }}" itemprop="color">
                    <span class="tooltip">{{ vehicle.color.name }}</span>
                </span>

                {% if vehicle.id is defined and inventoryKeys[vehicle.id] is defined %}
                    <strong>En Stock</strong>
                {% endif %}

            </p>

            {% if vehicle.price %}
                <p>À partir de
                    <sup data-tooltip tabindex="0">(1)
                        <span class="tooltip">(1) {{ vehicle.price_description }}</span>
                    </sup> :
                    <span itemprop="price" content="EUR">{{ vehicle.price }}</span>
                    <span itemprop="priceCurrency" content="EUR">€</span>
                </p>
            {% endif %}

            {% if vehicle.reduced_price %}
                <p class="promo">Promotion
                    <sup data-tooltip tabindex="0">(2)
                        <span class="tooltip">(2) {{ vehicle.reduced_price_description }}</span>
                    </sup> :
                    <span itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre">{{ vehicle.reduced_price }}</span>
                    <span itemprop="priceCurrency" content="EUR">€</span>
                </p>
            {% endif %}

            {% if vehicle.garantie %}

                {% set submodel_apartirde = null %}
                {% if vehicle.submodel_apartirde is defined %}
                    {% set submodel_apartirde = vehicle.submodel_apartirde %}
                {% endif %}

                <p>Extension de garantie
                    <sup data-tooltip tabindex="0"> (4)
                        <span class="tooltip">(4) {{ vehicle.garantie }}</span>
                    </sup>
                    {% if submodel_apartirde %}
                        <br>
                        <span>{{ vehicle.submodel_apartirde }}</span>
                    {% endif %}
                </p>
            {% endif %}

        </div>


        {% if vehicle.pdf is defined and vehicle.pdf %}

            <a class="bt-01" href="{{ vehicle.pdf }}" download>{{ pdf_label|default('Autres documents') }}</a>

        {% elseif vehicle.pdf_lien is defined and vehicle.pdf_lien %}

            {% set target = false %}

            {% if vehicle.pdf_lien_externe is defined and vehicle.pdf_lien_externe %}
                {% set target = vehicle.pdf_lien_externe %}
            {% endif %}

            <a class="bt-01" {% if target %} target="_blank" {% endif %} href="{{ vehicle.pdf_lien }}" download>{{ vehicle.pdf_label|default('Autres documents') }}</a>

        {% endif %}


        {% if vehicle.fiche_technique_pdf is defined and vehicle.fiche_technique_pdf %}

            <a class="bt-01" href="{{ vehicle.fiche_technique_pdf }}" download>{{ vehicle.fiche_technique_pdf_label|default('Fiche technique') }}</a>

        {% elseif vehicle.fiche_technique_lien is defined and vehicle.fiche_technique_lien %}

            {% set target = false %}

            {% if vehicle.fiche_technique_lien_externe is defined and vehicle.fiche_technique_lien_externe %}
                {% set target = vehicle.fiche_technique_lien_externe %}
            {% endif %}

            <a class="bt-01" {% if target %} target="_blank" {% endif %} href="{{ vehicle.fiche_technique_lien }}">{{ vehicle.fiche_technique_pdf_label|default('Fiche technique') }}</a>

        {% endif %}


    </div>
</div>

{% if vehicle.description %}
    <div class="txt desktop" itemprop="description">{{ vehicle.description|raw }}</div>
{% endif %}
