{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block content %}

    <section class="module">
        <div class="wp-st">
            <header class="shead">
                <h1 class="tt-2">
                    <span>{{ title }}</span>
                </h1>
            </header>
            <div class="paragraphe">
                {% if gammeTarifs.page_description is defined  %} {{ gammeTarifs.page_description|raw }}{% endif %}
            </div>
            <div class="mobile-content">
                {% if gammeTarifs.categories is defined %}
                    {% for category in gammeTarifs.categories %}
                        {% include '@HondaMain/Front/Vehicles/_category-mobil-content.html.twig' with {'category': category , 'index': loop.index} %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="desktop-content">
                <a id="top"></a>

                {% if gammeTarifs.categories is defined %}

                    <div class="module-options tablet-content">
                        <div class="std-field">
                            <label class="label main" for="select">Catégorie</label>
                            <span class="custom-select">
                                <select id="select" name="select" data-link="">
                                    <option value=""  data-link="{{ url('new_vehicle_list') }}">Toutes les catégories</option>
                                    {% for categoriesChoice in categoriesChoices %}
                                        {% set url = url('new_vehicle_list', {'categorySlug': categoriesChoice.category_slug}) ~ "#top" %}
                                        {% if categoriesChoice.hasRedirection %}
                                            {% set url = path('redirect_to', {'url': categoriesChoice.redirectionUrl|url_encode}) %}
                                        {% endif %}
                                        <option {% if app.request.get('categorySlug') == categoriesChoice.category_slug %} selected {% endif %}  value="{{ categoriesChoice.category_slug }}"  data-link="{{ url }}">{{ categoriesChoice.category }}</option>
                                    {% endfor %}
                                </select>
                                <label for="select">{{ categoriesSlugToName(app.request.get('categorySlug'), categoriesSlugToName)|default('Toutes les catégories') }}</label>
                            </span>
                        </div>
                    </div>

                    {% for category in gammeTarifs.categories %}
                        {%  include '@HondaMain/Front/Vehicles/_category-desktop-content.html.twig' with {'category': category} %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
