{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block content %}

{% if model.slides is defined and  model.slides|length %}
    <div class="wp-st">
        <div class="carousel-container cinquo">
            <div class="custom-button prev"></div>
            <div class="swiper-container carousel-cinquo" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
                <div class="swiper-wrapper">

                    {% for slider in model.slides  %}

                        {% if slider.type == 'image' %}

                            {% if slider.url %}
                                <div class="swiper-slide o-fit {{ slider.type }}">
                                    <img src="{{ slider.url }}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ slider.name }}">
                                </div>
                            {% endif %}

                        {% elseif slider.type == 'video' %}

                            <div class="swiper-slide o-fit {{ slider.type }}">
                                <button class="bt-play" data-video="https://www.youtube.com/embed/{{ slider.providerReference }}">
                                    <img src="{{ slider.url }}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ slider.name }}">
                                </button>
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>
            </div>
            <div class="custom-button next"></div>
        </div>
    </div>
{% endif %}

<!-- module fiche-->
<section class="module bg-light">
    <div class="wp-st">
        <div class="buttons"><a class="bt-01 btn-retour mobile" href="{{ url('new_vehicle_list') }}">retour catégories </a></div>
        <section itemscope itemtype="http://schema.org/Product" class="desktop">
            <header class="shead">
                <h1 class="tt-2" itemprop="name">
                    <span> {% if model.model_name is defined %} {{ model.model_name }} {% endif %}</span>
                </h1>
            </header>
            <div class="product">
                <div class="header" id="product" data-load-content="product">
                    {% include '@HondaMain/Front/Vehicles/_product.html.twig' with {'vehicle': model.vehicle} %}
                </div>
            </div>
        </section>

        {% if model.submodels is defined and model.submodels|length %}
            <div class="product-category-wrap mobile">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    {% for submodel in model.submodels %}

                        {% if submodel.vehicles|length %}

                        <section class="products swiper-slide" itemscope itemtype="http://schema.org/ItemList">
                            <header class="tt-list">
                                <h3 class="tt-l"> {% if submodel.name is defined %} {{ submodel.name }} {% endif %}</h3>
                                {% if checkSubModelOnTest(submodel.id, subModelTestKeys) %}
                                    <a class="bt-01 dispo-essai desktop" data-provenance="{{ provenance }}"  data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.id}) }}" href="#form" data-scroll>Réserver un essai</a>
                                {% endif %}
                            </header>

                            {% if submodel.vehicles is defined and submodel.vehicles|length %}

                                {% include "@HondaMain/Front/Vehicles/_fiche_vn_mobil.html.twig" with { 'key': loop.index } %}

                            {% endif %}
                            {% if model.vehicle.description %}
                                <div class="txt mobile" itemprop="description">{{ model.vehicle.description|raw }}</div>
                            {% endif %}
                            {% if checkSubModelOnTest(submodel.id, subModelTestKeys) %}
                                <a class="bt-01 dispo-essai mobile" data-provenance="{{ provenance }}"  data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.id}) }}" href="#form" data-scroll>Réserver un essai</a>
                            {% endif %}

                        </section>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
            <div class="desktop">
                {% for submodel in model.submodels %}

                    {% if submodel.vehicles|length %}

                    <section class="products" itemscope itemtype="http://schema.org/ItemList">
                        <header class="tt-list">
                            <h3 class="tt-l"> {% if submodel.name is defined %} {{ submodel.name }} {% endif %}</h3>
                            {% if checkSubModelOnTest(submodel.id, subModelTestKeys) %}
                                <a class="bt-01 dispo-essai desktop" data-provenance="{{ provenance }}"  data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.id}) }}" href="#form" data-scroll>Réserver un essai</a>
                            {% endif %}
                        </header>

                        {% if submodel.vehicles is defined and submodel.vehicles|length %}

                            {% include "@HondaMain/Front/Vehicles/_fiche_vn_desktop.html.twig" %}

                        {% endif %}
                        {% if model.vehicle.description %}
                            <div class="txt mobile" itemprop="description">{{ model.vehicle.description|raw }}</div>
                        {% endif %}
                        {% if checkSubModelOnTest(submodel.id, subModelTestKeys) %}
                            <a class="bt-01 dispo-essai mobile" data-provenance="{{ provenance }}"  data-url="{{ url('ajax_modele_selectionne', {'subModelId': submodel.id}) }}" href="#form" data-scroll>Réserver un essai</a>
                        {% endif %}

                    </section>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}

            {% if submodels is defined and submodels|length %}

                <section class="module bg-light product-tech desktop-content">
                    <div>
                        <h2 class="tt-3">Caractéristiques principales</h2>
                        <p>{{ model.additional_text }}</p>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for submodel in submodels %}
                                        <th>{{ submodel.name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% if submodels is not empty %}
                                    {% for property in properties %}
                                        <tr>
                                            <th>{{ property.name }}</th>
                                            {% for submodel in submodels %}
                                                <td>
                                                    {% for propertyVal in submodel.properties %}
                                                        {% if property.name == propertyVal.name %}
                                                            {{ propertyVal.value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </section>

            {% endif %}

            </div>
        </section>

    {% if modelPresentation.technologie is defined or modelPresentation.edito is defined  %}

        <section class="module bg-light product-tech desktop-content">

            <div class="wp-st">

                {% if modelPresentation.technologie.slides is defined and modelPresentation.technologie.slides|length %}

                    <h2 class="tt-3">Technologie</h2>

                    <div class="carousel-container cinquo">

                        <div class="custom-button prev"></div>

                            <div class="swiper-container carousel-cinquo" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
                                <div class="swiper-wrapper">

                                    {% for slider in modelPresentation.technologie.slides  %}

                                        {% if slider.type == 'image' %}

                                            {% if slider.url %}
                                                <div class="swiper-slide o-fit {{ slider.type }}">
                                                    <img src="{{ slider.url }}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="">
                                                </div>
                                            {% endif %}

                                        {% elseif slider.type == 'video' %}

                                            <div class="swiper-slide o-fit {{ slider.type }}">
                                                <button class="bt-play" data-video="https://www.youtube.com/embed/{{ slider.providerReference }}">
                                                    <img src="{{ slider.url }}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="">
                                                </button>
                                            </div>
                                        {% endif %}

                                    {% endfor %}

                                </div>
                            </div>

                        <div class="custom-button next"></div>

                    </div>

                {% endif %}

                {% if modelPresentation.technologie.features is defined and modelPresentation.technologie.features|length %}
                    <ul class="features cols sb">
                        {% for feature in modelPresentation.technologie.features %}
                            <li>
                                <span data-tooltip tabindex="0">
                                    <span class="tooltip">{{ feature.titre }}</span>
                                    <img src="{{ feature.icon }}" alt="abs">
                                </span>
                                <span>{{ feature.abr|capitalize }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if modelPresentation.edito is defined or modelPresentation.edito.title is defined %}
                    <div class="edito">

                        {% if  modelPresentation.edito.title  %}
                            <h2 class="tt-3">{{ modelPresentation.edito.title }}</h2>
                        {% endif %}

                        {% if modelPresentation.edito.description %}
                            {{ modelPresentation.edito.description|raw }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if modelPresentation.btn_link is defined and modelPresentation.btn_label is defined and modelPresentation.btn_link and modelPresentation.btn_label %}
                    <div class="buttons">
                        <a class="bt-01" target="_blank" href="{{ modelPresentation.btn_link }}">{{ modelPresentation.btn_label }}</a>
                    </div>
                {% endif %}

            </div>
        </section>

    {% endif %}

    <!-- /module fiche-->

{% endblock %}
