$formMacroSearch
   position: relative
   z-index: 5

   .ct
      max-width: none

      .std-field
         padding-top: rem( 10 )

         &:first-child
            padding-top: rem( 20 )

   .custom-select
   .custom-text
      display: block
      width: 100%

   .std-field
      padding-top: rem( 30 )

      .main + [class*="custom"]
         margin-top: 0

      [class*="custom"]
         margin-top: rem( 18 )

   .buttons

      transform: translateY(50%)
      position: relative
      text-align: center
      z-index: 16

      button
         min-width: 250px
      .std-field
         text-align:left

   [type="submit"]
      @extends .bt-01
      padding: rem( 10 ) rem( 38 )

.macro-search
   @extends $formMacroSearch
   background: $light
   box-shadow: 0 0 10px rgba($dark,.2)
   margin: 0 auto rem( 80 )

   form.loading
      position: static

      [type="submit"]
         background: lighten( $red1, 70% )
         cursor: not-allowed
         position: relative

         &:hover
            background: lighten( $red1, 70% )
            border-color: transparent
            color: $light

            &:before
               border-color: $light


.search-contents
   padding: rem( 26 ) rem( 14 ) 0
   transition: all .17s linear

   [aria-hidden="true"]
      display: none

   .custom-range
      padding-left: rem( 20 )
      padding-right: @padding-left

   #search-tab-1 .steps
      .col
         position: relative

         & + .col
            padding-top: rem( 20 )

            &:before
               border-right: 2px solid $grey9
               border-top: 2px solid $grey9
               bottom: rem( 16 )
               content: ""
               display block
               height: rem( 16 )
               left: 50%
               margin-left: rem( -17 )
               transform: rotate(135deg)
               top: rem( 15 )
               position: absolute
               transition: border-color .17s ease-in-out
               width: @height

   .no-results
      @extends .macro-search form.loading [type="submit"]

      & > span
         display: none

      &:after
         content: attr(data-no-result)

      &:before
         content: none

.tabs
   display: flex

   button
      background: $red1
      color: $light
      font-weight: bold
      font-size: em( 14 / $fz )
      padding: rem( 12 ) rem( 4 )
      position: relative
      outline: none
      text-transform: uppercase
      transition: all .17s linear
      width: 50%

      &:before
         @extends .bt-01:before

      &:after
         content: ""
         height: rem( 5 )
         left: 0
         position: absolute
         top: rem( -3 )
         transition: all .17s linear
         width: 100%

      &[aria-expanded="true"]
      &:focus
      &:hover
         background: $light
         box-shadow: 1px -1px 1px rgba(0,0,0,.1) inset
         color: $red1

         &:before
            border-color: $red1

         &:after
            background: $light

      &[aria-expanded="true"]
         box-shadow: 1px -2px 2px rgba(0,0,0,.3)
         position: relative
         z-index: 2

.macro-search-results
   margin-top: rem( 50 )


@media(max-width:767px)
   .macro-search #search-tab-2 .buttons
      transform: translateY(73%);

@media(max-width:600px)
   .macro-search .buttons
      transform: translateY(77%);

   .macro-search #search-tab-2 .buttons
      height:90px   

   .macro-search 
      margin: 0 auto 8rem;
      .buttons
         .std-field
            padding-top: 8px;

            .txt-cocher
               display:inline-block
               width:85%
               vertical-align: middle


