/*
 *  HONDA MOTO OCCASION | ACCESSORY STYLES
 */

.accessory
   background: $light
   margin-bottom: rem( 20 )
   width: 100%

   .tt
      font-size: rem( 18 )
      color: $red1

      span
         font-weight: 300 !important

   .head-block
      display: flex
      flex-direction: column-reverse

      .text
         padding: rem( 15 )
         width: 100%

         .tt
            text-transform: uppercase
            font-family: "proxima-nova-condensed","proxima-nova",sans-serif;

         .desc
            margin: rem( 20 ) 0

         .buttons
            display: flex
            flex-direction: column

            .bt-01
               width: 100%
               text-align: center
               margin: rem( 5 ) auto

      .media
         width: 100%

         img
            display: block
            width: 100%

   .content-block
      .tt
         font-family: "proxima-nova-condensed","proxima-nova",sans-serif;

   .block
      padding: rem( 20 )

      .tt
         text-align: center

         svg
            width: rem( 40 )
            margin-right: rem( 10 )

         span
            font-size: rem( 23 )
            text-transform: uppercase
            display: inline

      p
         margin: rem( 45 ) auto
         font-size: rem( 16 )

      .pictos
         display: flex
         flex-wrap: wrap
         justify-content: normal
         text-align: center

         &:after
            content: ""
            flex: auto

         .logo
            margin: rem( 20 ) rem( 15 ) rem( 20 ) 0
            height: rem( 40 )


            img
               height: 100%
