/*
 *  HONDA MOTO OCCASION | ARTICLE STYLES
 */

article.img-content
   display: flex
   flex-wrap: wrap
   .tt-2
      padding: rem(15)
   .media
      flex: 1 0 50%
      margin-bottom: rem(15)
      img
         display: block
         width: 100%
         height: 100%
         object-fit: cover
   .paragraph
      display: flex
      flex-direction: column
      p
         margin: 0
         &.date
            padding: rem(5) 0 0 rem(15)
            text-transform: uppercase
            color: $red1
            font-size: em(15 / $fz)
            font-family: "proxima-nova-condensed","proxima-nova",sans-serif;
         &:nth-of-type(2)
            padding: rem(15)
            font-size: em(15 / $fz)
            line-height: 1.4
      .edito
         p
            padding: rem(15)
            font-size: em(15 / $fz)
            line-height: 1.4
            .bt-01
               display: block
               width: 100%
               margin: rem(25) auto


article.content
   padding: rem(15) rem(15) rem(30) rem(15)
   p
      margin: 0
      margin-top: rem(10)
      font-size: em(15 / $fz)
      line-height: 1.4
      padding-bottom: rem(30)
   .bt-01
      width: 100%
      font-size: em(22 / $fz)
      font-weight: $fw-reg
      font-family: $ff-c

article.content-list
   padding: rem(15)

.actu-subhead
   p
      margin: 0
      padding-bottom: rem(15)
      font-size: em(15 / $fz)
      font-weight: $fw-bold

.article-list
   margin-top: rem(15)
   .block
      margin-bottom: rem(15)
      &:last-child
         margin-bottom: 0

