/*
 *  HONDA MOTO OCCASION | ASIDE STYLES
 */

.aside
   background: $red4
   margin: 0
   position: relative

   &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      background: $red4
      z-index: -1

   .wp-st
      display: flex
      flex-direction: column-reverse
      padding:0

      & > a
      img
         display: block
         width: 100%

   .avisual
      width: 100%
      padding: rem( 28 )
      text-align: center

      img
         width: 100%

   .ablock
      width: 100%
      text-align: center
      color: $light
      padding: rem( 35 )

      .logo
         width: rem( 67.5 )
         margin-bottom: rem( 15 )

      .tt
         font-size: rem( 25 )
         font-weight: $fw-bold
         text-transform: uppercase
         margin-bottom: rem( 25 )

      p
      a
         font-size: rem( 16 )
         color: $light


.services
   .aside
      .wp-st
         padding:0

#fiche
   .aside
      .wp-st
         margin:10px 0
