/*
 *  HONDA MOTO OCCASION | BLOCKS STYLES
 */

li[class*="block-"]
   display: block

.block
   position: relative

   &:hover
      .click-me
         background: $red1

         &:before
            color: $light

      .media img
         transform: scale( 1.05 )

      .text [class*="bt"]
         background: $light
         border-color: $red1
         color: $red1

         &:before
            border-bottom-color: $red1
            border-left-color: $red1

   &.media-1
      .sub
         text-transform: uppercase
         opacity: 0.76

      .media
         height:200px
      .text
         .inner-text
            min-height: 150px
            padding: 0 5px
            margin-bottom: 20px;

      p
         margin:10px 0      


   &.media-2
   &[class*="media-3"]
      .text
         padding-bottom: rem( 12 )
         padding-top: @padding-bottom

   &.media-2
      font-size: em( 18 / $fz )

      .sub
      .tt
      .price
      .tag
         font-size: 1em

      .tt
         color: $red1
         font-family: $ff
         font-weight: bold
         text-transform: uppercase
         

      .sub
         color: $grey5

      .ui-locate
         position:relative
         padding-left: 15px
         &:before
            content:""
            background:url('../media/img/icon_ville.png')
            width:10px
            height:16px
            position:absolute
            left:0
            top:0

      .media
          height:210px


   &[class*="media-3"]
      .tt
         font-size: em( 24 / $fz )
         font-weight: bold
         text-transform: uppercase
         text-align:center
         min-height: 75px;

      .buttons
         margin-top: rem( 8 )

      .media
         height: 270px  

   &.media-3b
      box-shadow: none

      // &:hover
      //    box-shadow: $box

      .text
         background: $grey3
         padding-bottom: rem( 22 )
         padding-top: @padding-bottom

      .tt
         text-align: center

      .buttons
         margin-top: rem( 14 )

   .media
      position: relative
      overflow: hidden
      width: 100%
      background-color: #000

      button
         display: block
         height: 100%
         width: 100%

      img
         height: 100%
         display: block
         transition: transform .8s linear
         object-fit: cover
         width: 100%

   .text
      background: $light
      font-family: $ff-c
      flex-grow: 1
      flex-shrink: 0
      padding: rem( 20 ) rem( 10 ) rem( 37 )
      position: relative
      

      & > a
         display: inline-flex

   .tt
      font-size: em( 30 / $fz )
      font-weight: 400
      margin: 0;

      & + *
         margin-top: rem( 5 )

   .sub
      color: $grey4
      font-size: em( 20 / $fz )

      & + *
         margin-top: rem( 5 )

   .infos
   .price
      font-size: em( 23 / $fz )
      font-weight: 700

   .infos
      text-transform: uppercase

      & + *
         margin-top: rem( 14 )

   .price
      color: $red1

      & + *
         margin-top: rem( 10 )

   .year
      color: $grey5
      font-weight: bold

   .km
      font-weight: bold

   .infos-line
      display: flex

   .buttons
      text-align: center

   a
      display: inline-block

   & > a
      color: inherit
      display: flex
      flex-direction: column
      justify-content: stretch
      align-items: stretch
      height: 100%
      text-decoration: none
      width: 100%

   span:not([class*="bt"]):not(.infos-line)
      display: block

.block-product
   position: relative

   &:before
      border: 1px solid transparent
      content: ""
      left: 0
      height: 100%
      pointer-events: none
      position: absolute
      top: 0
      transition: all .17s linear
      width: 100%
      z-index: 3

   & > a
      color: inherit
      display: block
      text-decoration: none

   &.active
   &:hover
   &:focus
      &:before
         border-color: $red1

      .media img
         transform: scale( 1.03 )

   .media
      margin-top: rem( 6 )
      padding: rem( 10 ) rem( 24 )
      overflow: hidden
      position: relative
      width: 100%

      img
         display: block
         max-width: 100%
         margin: 0 auto
         transition: transform .8s linear

   .text
      font-size: em( 21 / $fz )
      padding: 0 rem( 24 ) rem( 10 )
      text-align: center

      & > div:not([class])
         display: flex
         justify-content: center

      p
         margin: 0

         & + p
            margin-top: rem( 6 )

         .tooltip
            min-width: rem( 240 )

      sup
         font-size: em( 11 / 21 )

   .tt
      font-family: $ff-c
      font-weight: normal
      text-transform: uppercase
      &.mobile
         font-size: 1.5em
         text-align: center
         margin-bottom: 25px

   .brand-products &
      background: $light
      padding: rem( 18 ) rem( 40 )

      & + .block-product
         border-top: 1px solid $grey6

      .text
         font-size: em( 14 / $fz )

         .tt
            font-family: $ff
            margin-bottom: rem( 8 )
            width: 100%

         div
            flex-wrap: wrap
            @media(max-width:768px)
               display: block
               padding: 0
               a
                  width:240px
                  &.bt-dispo
                     margin-bottom:20px
         @media(max-width:768px)
            padding: 0
      @media(max-width:768px)
         padding: 1.125rem 1.5rem;

         a
            font-size: em( 18 / 14 )
            margin-bottom: rem( 8 )
            min-width: 50%

         p[data-tooltip]
            text-decoration: underline

         .promo
            color: $red1

.tag
   background: $red1
   bottom: rem( 13 )
   color: $light
   font-size: em( 18 / $fz )
   margin: 0 rem( -2 )
   padding: rem( 8 ) 0 rem( 8 ) rem( 20 )
   position: absolute
   text-align: center
   text-transform: uppercase
   width: "calc( 100% - %s)"% rem( 68 )

   .carousel-container &
      width: "calc( 100% - %s)"% rem( 88 )

   span
      position: relative
      z-index: 2

   &:after
      background: inherit
      bottom: 0
      content: ""
      height: 100%
      position: absolute
      right: 0
      transform: skew($degree*-1deg)
      transform-origin: 0% 100%
      width: 100%

.click-me
   background: $light
   bottom: 100%
   display: block
   position: absolute
   right: 0
   transition: all .17s linear
   text-align: center
   width: rem( 44 )
   z-index: 5

   .swiper-slide &
      width: rem( 44 )

      &:before
         font-size: rem( 34 )
         height: rem( 47 )

   &:before
      content: "+"
      display: inline-block
      font-size: rem( 34 )
      line-height: 1.3
      font-weight: bold
      height: rem( 46 )
      margin-right: rem( 8 )
      position: relative
      transition: all .17s linear
      text-align: center
      vertical-align: middle
      z-index: 2

   &:after
      background: inherit
      bottom: 0
      content: ""
      height: 100%
      position: absolute
      left: 0
      transform: skew($degree*-1deg)
      transform-origin: 0% 0%
      width: 100%
      z-index: 1

   .block &:hover
      .text:before
         background: $red1
         color: $light

      .text:after
         border-bottom-color: $red1

.flag
   background: $dark
   color: $light
   font-size: rem( 11 )
   padding: rem( 8 ) rem( 2 ) rem( 8 )rem( 8 )
   position: absolute
   text-align: center
   text-transform: uppercase
   top: 0

   &.em
      background: $red1

   span
      position: relative
      z-index: 2

   &:after
      background: inherit
      content: ""
      display: inline-block
      position: absolute
      height: 100%
      right: 0
      top: 0
      transform: skew(-25deg)
      transform-origin: 50% 100%
      width: 100%

   .curved-text
      height: rem( 20 )
      margin-top: rem( 3 )
      margin-bottom: rem( -5 )
      position: relative
      width: rem( 70 )
      z-index: 2

      & + span
         border-width: 0 rem( 4 )

   text
      font-size: em( 18 / $fz )
      fill: $light

   strong
      display: block
      font-size: em( 16 / 11 )

.flags
   color: $red1
   display: flex
   justify-content: space-between
   left: 0
   position: absolute
   padding: 0 rem( 8 )
   top: 0
   width: 100%

   span:not([class]):only-child
      text-align: right
      width: 100%

   .stock
      text-transform: uppercase

   .media:hover &
      font-weight: bold

.curved-text
   path
      fill: transparent

   text
      font-size: rem( 20 )
      font-weight: bold
      text-transform: uppercase

   & + span
      border: 0 solid transparent
      border-width: 0 rem( 6 )
      display: block
      font-size: rem( 24 )
      font-weight: bold
      position: relative

      span
         display: block
         font-size: rem( 14 )

      &:before
      &:after
         background: $light
         content: ""
         display: block
         height: rem( 2 )
         position: absolute
         top: rem( 12 )
         width: rem( 8 )

      &:before
         left: 0

      &:after
         right: 0


@media(max-width:1023px)

   .block.media-1
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
      justify-content: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      height: 100%;
      text-decoration: none;
      width: 100%;

@media(max-width:600px)
   .block-product .text
      font-size: 18px

.promo-wrap
   display:flex !important
   justify-content:center
   margin-bottom: 15px
   align-items: center
   a
      width: auto !important;
      max-width: 240px !important
      min-width: auto !important

   .promo
      margin-left:15px
      span
         display: inline-block;
         vertical-align: middle;
