.block-retailer
   position: relative
   .logo
      height: rem(40)
      background-color: $dark

   .block-head
      position: relative
      background-color: $light

      .infos
         display: flex
         align-items: center
         justify-content: space-between
         background: $light
         padding: rem(10)
         .tt-3
            margin: 0
            font-weight: $fw-bold
            transform: translateY(10%)

         .phone
            display: flex
            justify-content: space-around
            align-items: center
            flex-shrink: 0
            white-space: nowrap
            a
               font-size: em(22/$fz)
               font-weight: $fw-reg
               margin: 0
               margin-left: rem(10)
               color: inherit
      .address-container
         position: relative
         &:hover
            .address
               background-color: $light
               color: $dark
            .bt-01
               background: $light
               border-color: $dark
               color: $dark
               &:before
                  border-color: $dark

         .address
            font-weight: $fw-bold
            font-size: em(20/$fz)
            color: $dark
            padding: rem(10) rem(10) rem(30) rem(10)
            line-height: 1.4
            border-top: 2px solid $dark
            border-bottom: 2px solid $dark
            transition: all .17s ease-in-out
            p
               margin: 0
         .bt-01
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%, 60%)
            border: 2px solid $dark
            background-color: $dark
            z-index: 1

   .block-content
      background-color: $light
      position: relative
      .schedule
         padding: rem(40) rem(10) rem(10) rem(10)
         p
            margin: 0
            font-size: em(16/$fz)
            line-height: 1.2
            color: $grey1

         p:first-child
            margin-bottom: rem(20)
      .retailer-container
         position: relative
         a
            display: block
            overflow: hidden
            &:hover
               img
                  transform: scale(1.03)
               .bt-01
                  background: $light
                  border-color: $dark
                  color: $dark
                  &:before
                     border-color: $dark
                     color: $dark

         img
            width: 100%
            height: 100%
            object-fit: cover
            display: block
            transition: transform .8s linear
            overflow: hidden

      .bt-01
         position: absolute
         bottom: 0
         left: 50%
         transform: translate(-50%, 70%)
         border: 2px solid $dark
         background-color: $dark
         z-index: 1

a
   text-decoration: none

.block-retailer
   &.frame
      border: 7px solid $red1
      .logo
         height: rem(40)
         position: relative
         background-color: $red1
         img
            display: block
            position: absolute
            z-index: 5
            top: 0
            left: 0
            transform: translate(10%, 10%)
      .block-head
         position: relative
         background-color: $light

         .infos
            display: flex
            align-items: center
            justify-content: space-between
            background: $light
            padding: rem(10)
            .tt-3
               margin: 0
               font-weight: $fw-bold
               transform: translateY(10%)

            .phone
               display: flex
               justify-content: space-around
               align-items: center
               white-space: nowrap
               a
                  font-size: em(22/$fz)
                  font-weight: $fw-reg
                  margin: 0
                  margin-left: rem(10)
                  color: inherit
         .address-container
            position: relative
            &:hover
               .address
                  background-color: $light
                  color: $red1
               .bt-01
                  background: $light
                  border-color: $red1
                  color: $red1
                  &:before
                     border-color: $red1

         .address
            font-weight: $fw-bold
            font-size: em(20/$fz)
            color: $light
            padding: rem(10) rem(10) rem(30) rem(10)
            line-height: 1.4
            background-color: $red1
            border-top: 2px solid $red1
            border-bottom: 2px solid $red1
            transition: all .17s ease-in-out
            p
               margin: 0
         .bt-01
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%, 60%)
            border: 2px solid $light
            background-color: $red1
            z-index: 1

      .retailer-container
         position: relative
         a
            display: block
            overflow: hidden
            &:hover
               .bt-01
                  background: $light
                  border-color: $red1
                  color: $red1
                  &:before
                     border-color: $red1
                     color: $red1

         img
            width: 100%
            height: 100%
            object-fit: cover
            display: block
            transition: transform .8s linear
            overflow: hidden

      .bt-01
         position: absolute
         bottom: 0
         left: 50%
         transform: translate(-50%, 70%)
         border: 2px solid $light
         background-color: $red1
         z-index: 1
