/*
 *  HONDA MOTO OCCASION | BRAND MODULE STYLES
 */

.brand
   $fsize = 16

   tr
      height: 100%

   table
      border-collapse: collapse
      table-layout: fixed
      width: 100%

   .f-align
      vertical-align: bottom

   th
   td
      border: 1px solid $grey5
      // height: rem( 30 )
      height: 100%
      padding: 0
      text-align: center
      vertical-align: middle

      .promo
         color: $red1
         text-align: center

         .tx-label
            width: 100%

         .items
            [data-tooltip]
               margin: 0 3px


      [data-tooltip]
         font-size: rem( 11 )

         &:hover
         &:focus
            color: rgba($dark, .5)

      .tooltip
      {
         min-width: 15em;
      }      

      .thumbs
         align-items: center
         display: flex
         height: 100%
         flex-direction: column
         justify-content: center

         img
            display: block
            margin: 0 auto 10px

      &:nth-child(2)
         .wp a:not([class])
            text-align: left

      & > a:not([class])
      & > div
         display: block
         font-family: $ff-c
         font-size: em( $fsize / $fz )
         padding: rem( 10 ) rem( 12 )
         position: relative

         &.wp
            justify-content: space-between
            height: 100%
            display: flex
            flex-direction: column
            padding: 0

            & > a:not([class])
            & > div
               align-items: center
               display: flex
               flex-grow: 1
               padding: rem( 10 ) rem( 18 )

            & > div
               flex-wrap: wrap

               span:not(.tooltip)
                  font-size: em( 15 / $fsize)

               span.tooltip > span
                  font-size: rem( 16 )

         img + span:not([class])
            color: $grey5
            font-size: em( 19 / $fsize )
            font-weight: normal

      .bt-01
         font-size: rem( 14 )
         font-weight: normal
         // white-space: nowrap
         padding-bottom: rem( 3 )
         padding-top: rem( 5 )
         width: 100%

      .items
         display: flex
         flex-wrap: wrap
         justify-content: center
         margin: rem( 10 ) 0 0
         width: 100%

      a:not([class])
         color: inherit
         text-decoration: none

         &:hover
            & + .bt-01
               @extends .bt-01:hover

   th
      background: $dark
      color: $light
      border-top: 0 none

      [data-tooltip]
         &:hover
         &:focus
            color: rgba($light, .5)

   td
      background: $light

      img
         max-width: 100%

.brand-products
   & + .brand-products
      margin-top: rem( 2 )

   [aria-hidden="true"]
      display: none

   .bt-toggle
      align-items: center
      background: $red1
      color: $light
      display: flex
      justify-content: space-between
      font-weight: normal
      outline: none
      padding: rem( 8 ) rem( 12 )
      text-transform: uppercase
      transition: color .17s ease-out
      width: 100%

      &:focus
         box-shadow: 0 0 3px rgba($dark, .4) inset

      &:after
         @extends .bt-01:before
         margin-right: 0
         transform-origin: 50% 50%
         transform: rotate( -135deg )

      &[aria-expanded="true"]
         background: $dark
         &:after
            transform: rotate(-45deg)

.brand-header
   display: none
