/*
 *  HONDA MOTO OCCASION | COMMON MODULES STYLES
 */

.module
   padding: 2em 0 1.875rem;

   &:not([class*="bg-"])
      background: inherit

   // .std
   //    max-width: rem(1280)
   //    margin: rem(40) auto 0 auto

   &.std
      .shead
         margin-bottom: rem(20)

   .wp-st
      &
      & > section
         background: inherit

   .head
      padding: rem( 40 ) 0

      &:first-child
         padding-top: 0

      &:last-child
         padding-bottom: rem( 20 )

      p
         font-size: em( 16 / $fz )

      .bt-01
         font-size: rem( 18 )

   .bt-01
      // padding-bottom: rem( 10 )         

.mod-buttons
   padding: rem( 30 ) 0 0
   text-align: center

.module-options
   margin-top: rem( 50 )

   [class*="custom"]
      min-width: rem( 370 )

   * + .bt-01
      margin-top: rem( 40 )

.bcrumb
   display: flex
   flex-flow: row
   flex-wrap: wrap
   font-size: em( 16 / $fz )
   padding-top: rem( 30 )

   & + .module

   li
      margin: rem( 2 )

      & + li
         &:before
            content: " / "

      a
         text-decoration: none
         span:not([class*="bt-"])
            color: $dark
            font-weight: $fw-light

            &:hover
               text-decoration: underline

      span:not([class*="bt-"])
         font-weight: $fw-bold


.cat-tools
   background: $dark
   align-items: center
   display: flex
   font-size: em( 17 / $fz )
   justify-content: space-between
   padding: rem( 16 ) rem( 26 )

   svg
      max-width: 2rem

   & > *
      & + *
         margin-left: rem( 14 )

   .social
      display: flex

   a
   span
      align-items: center
      color: $light
      display: inline-flex
      flex-direction: column
      text-decoration: none

   svg
   .social svg
      fill: $light
      height: rem( 32 )
      order: -1
      margin-bottom: rem( 12 )
      width: @height

   & > .social
      justify-content: center
      flex-direction: column

      a + a
         margin-left: rem( 14 )

      span
         order: 1
         // width: 100%

   .ui--paper-plane
      width: rem( 38 )

   .ui--contact
      width: rem( 40 )
