.contact-form
   @extends $formMacroSearch
   background: none
   box-shadow: none
   p
      &:first-child
         font-weight: $fw-bold
      span
         font-weight: $fw-bold
         color: $red1
   .cols-radios
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      & + .cols:not(.ct)
         margin-top: rem( 30 )

.form-contents
   padding: 0
   @extends .search-contents
   fieldset
      margin: 0
      padding: 0
      border: none
   .contact
      margin-top: rem(30)
   .medium
      width: 100%
   .g-recaptcha
      transform: scale(0.94)
   .buttons
      transform: none
      margin-bottom: rem(30)
   a
      display: inline
