/*
 *  HONDA MOTO OCCASION | COOKIES BANNER STYLES
 */


.portail
   #cookies
      position:relative
   

.retailer-wrap 
   position: relative
   &.fix
      top: -1px

      .main-logo
         height: rem( 55 )
         padding-left: rem( 10 )
         padding-right: @padding-left
         transition-delay: 0s
         width: rem( 65 )

         &:hover
            width: rem( 70 )

         img
            transition-delay: 0s
            width: rem( 40 )

         &:before
            border-right-width: rem( 30 )
            border-top-width: rem( 60 )
            transition-delay: 0s

         a
            width: rem( 44 )

   .main-logo
      z-index: 200 
      &.mobile
         position:fixed        

#cookies
   background: $red1
   color: $light
   left: 0
   position: relative
   
   padding: rem( 16 ) rem( 50 ) rem( 10 ) rem( 10 )
   text-align: left
   top: 0
   width: 100%
   z-index: 60

   &[aria-hidden="true"]
      display: none

   .bt-close
      color: $light
      position: absolute
      right: rem( 10 )
      top: 50%
      transform: translateY( -50% )

   a
      color: inherit
      font-weight: bold

   p
      margin: 0
      line-height: 1.2
   .form.bandeau-cookie-form
      span
         display: inline-block
      .std-field
         display: inline-block
         margin-left: 5px
      


.cookies-content
   margin-bottom: rem( 500 )
   font-size: rem( 16 )
   font-weight: $fw-bold

.cookies-page

   .head
      padding: 0

   .agreement-form
      font-weight: $fw-bold
      .form
         display: flex

         .std-field
            margin: rem( 40 ) 0
            margin-right: 3rem;
            text-transform: uppercase

   .info
      margin: rem( 25 ) 0

.bando-radio input 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

.bando-radio input + label:before, .bando-radio input + label:before
    background: #2c83ee;
    -webkit-box-shadow: 0 0 0 0.625rem #fff inset;
    box-shadow: 0 0 0 0.625rem #fff inset;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000;
    height: 1.25rem;
    margin-right: 0.625rem;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
    transition: -webkit-box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    width: 1.25rem;

