/*
 *  HONDA MOTO OCCASION | EDITO STYLES
 */

.edito
   margin: 0 0 30px
   font-size: 16px
   h1
   h2
   h3
   h4
   h5
   h6
   .title-1
   .title-2
   .title-3

      color: $red1
      margin: 32px 0 25px

   h4
      font-size: em( 21 / $fz )

   h5
      font-size: em( 18 / $fz )

   h6
      font-size: em( 15 / $fz )

   a:not([class])
      color: $red1
      text-decoration: underline

      &:hover
         text-decoration: none

   p
      margin: 25px 0    

   p
   li
      line-height: 1.3
      font-size: em( 15 / $fz )

      li
         font-size: 1em

         &:before
            font-size: rem( 18 )
            line-height: 1.4

         li
            &:before
               content: "-"
               font-size: rem( 15 )
               line-height: 1.7

   ol
      counter-reset: list

      li
         counter-increment: list

         &:before
            content: counter(list)". "
            font-size: 1em

   ul
   ol
      margin-bottom: rem( 14 )

   li
      &:before
         content: "•"
         color: $red1
         display: inline-block
         font-size: rem( 23 )
         line-height: 0.8
         margin-right: rem( 3 )
         vertical-align: baseline

   ul
      ul
         margin-left: rem( 35 )

   blockquote
      margin: 0
      position: relative
      margin: rem( 10 ) 0 0 0
      padding: rem( 14 ) pct( 120 / 1250 ) rem( 22 )

      &:before
      &:after
         display: inline-block
         font-size: rem( 84 )
         line-height: .8
         font-weight: bold
         position: absolute

      &:before
         content: "“"
         left: pct( 50 / 1250 )
         top: 0

      &:after
         bottom: 0
         content: "”"
         right: pct( 50 / 1250 )
