.block-info
   background: $light
   margin: rem( 8 ) auto

   .expandable
      height: 3.5rem;

      .bt-serv
         background-color: $light
         display: flex
         height: 100%
         position: relative
         width: 100%
         margin-right: 5px;

         [class*="ui--"]
            height: 25px
            position: relative
            top: 15px;
            left: 2%
            width: auto
            max-width: none
            max-height: none
            margin: 0 

         .bt-icon
            width:55px
            min-width:55px
            display:block
            text-align: right
            padding-left: 10px

         img[class*="ui--"]
            left: 0
            display: block;
            margin: 0 auto;

         .title
            align-self: center
            color: $red1
            font-size: rem( 16 )
            text-transform: uppercase
            padding: rem( 10 ) rem( 10 ) rem( 10 ) rem( 8 )
            position: relative
            width: pct( 1158 / 1225 )
            margin-top:5px

         .arrow
            @extends .bt-slider
            right: 0
            height: 100%
            min-width: 2.3rem;
            width: pct( 67 / 1225 )

            &:before
               width: rem( 14 )
               height: rem( 14 )
               transform: translate(-50%, -50%) rotate(-45deg)
               transform-origin: 50% 40%
               border-bottom: 2px solid #fff;
               border-left: 2px solid #fff;

         &:hover
            .arrow
               background: $light
               border-color: $red1

               &:before
                  border-bottom-color: $red1
                  border-left-color: $red1

         &[aria-expanded="true"]
            .arrow
               background: $red1
               border-color: $red1

               &:before
                  border-bottom-color: $light
                  border-left-color: $light
                  transform: translate(-50%, -50%) rotate(135deg)
                  transform-origin: 50% 60%

   .content
      margin-top: 0
      padding: rem( 20 )
      .innercontent
         padding: 0
         font-size: rem( 14 )

      &[aria-hidden="true"]
         display: none

      &[aria-hidden="false"]
         display: block

      .tt
         font-size: rem( 25 )
         font-weight: $fw-bold
         margin: rem( 70 ) auto
         text-align: center
         text-transform: uppercase





