/*
 *  HONDA MOTO OCCASION | FORMS STYLES
 */

$formfield
   border: 1px solid $dark
   background-color: $light
   display: block
   height: rem( 50 )
   font-size: em( 14 / $fz )
   padding: rem( 18 ) rem( 20 )
   transition: all .1s linear, background-position 0s
   white-space: nowrap
   width: 100%

   &.condensed
      height: rem( 30 )
      padding: rem( 8 )

   &::placeholder
      color: $dark
      font-style: italic
      opacity: .3

   &[disabled]
      opacity: 0.7
      border-color: lighten($grey5, 50%)

      &::placeholder
         opacity: .5

   &:not([disabled]):hover
      border-color: $blue1

.std-field
   &.disabled
      [class*="custom"]
         label
            background: $grey7
            border-color: $grey6

.label
   display: inline-block
   font-size: em( 14 / $fz )
   font-weight: bold
   line-height: 1
   margin-bottom: rem( 4 )
   text-transform: uppercase

   &.low
      text-transform: none

   .disabled &
      opacity: 0.3

   &.main
      display: block

   abbr
      color: $red1
      margin-left: rem( 4 )

label
   a
      color: $red1
      text-decoration: none

      &:hover
         color: $dark
         text-decoration: underline

.custom-text
   input
   textarea
      @extends $formfield

.custom-select
   display: inline-block
   position: relative

   &:hover select:not([disabled]) + label
   select:focus + label
      border-color: $blue1

      &:before
         background: $blue1

   select
      appearance: none
      height: 100%
      left: 0
      opacity: 0
      position: absolute
      top: 0
      width: 100%
      padding: 0 20px

      &.placeholder + label
         font-style: italic

      &.placeholder:not([disabled]) + label
         color: $grey8

      &[disabled] + label
         color: $grey5

         &:before
            opacity: 0.4

   .condensed + label
      height: rem( 30 )
      padding: rem( 8 )
      padding-right: rem( 40 )

   label
      @extends $formfield
      padding-right: rem( 52 )

      &:before
      &:after
         content: ""
         pointer-events: none

      &:before
         background: $dark
         height: 100%
         position: absolute
         right: 0
         top: 0
         transition: all .17s linear
         width: rem( 32 )

      &:after
         border-bottom: 1px solid $light
         border-left: 1px solid $light
         content: ""
         display inline-block
         height: rem( 8 )
         position: absolute
         right: rem( 13 )
         top: 50%
         transform: rotate( -45deg ) translateY(-50%)
         transform-origin: 25% -25%
         transition: all .17s ease-in-out
         width: rem( 8 )

.custom-checkbox
   input
      hide()

      &[disabled] + label
         opacity: 0.4

      &:focus
      &:hover
         & + label
            &:before
               border-color: $blue1

      &:checked
         & + label
            &:before
               box-shadow: 0 0 0 rem( 4 ) $light inset

      & + label
         &:before
            background: $blue1
            box-shadow: 0 0 0 rem( 10 ) $light inset
            content: ""
            display: inline-block
            vertical-align: middle
            border: 1px solid $dark
            height: rem( 20 )
            margin-right: rem( 10 )
            transition: box-shadow .1s ease-in-out
            width: @height

.custom-radio
   @extends .custom-checkbox

   input
      & + label
         &:before
            border-radius: 50%

.custom-range
   padding-top: rem( 20 )

   &.pips
      padding-bottom: rem( 44 )

form
   .error
      color: $red1
      font-size: em(14/$fz)
      margin: rem( 4 ) 0 0
      width: 100%

.mobile-content
&.occassion
   .std-field
      margin-bottom:15px

      label
        width:90px
        text-transform:none

      .custom-select
         width: calc(100% - 100px);
         
         label
             width:100% 
