/*
 *  HONDA MOTO OCCASION | GRID STYLES
 */

.grid
   margin-bottom: rem( 28 )

   .grid-wrapper
      list-style: none

      .block
         padding-top: rem( 30 )

      .block-retailer
         margin-top: rem( 30 )

      .big-box
         &:first-child
            .block
               padding-top: 0

         [class*="block"]
            &:only-child
               margin-bottom: 0
               width: 100%

            &:only-child
            a
               height: 100%

            a
               display: flex
               flex-direction: column
               justify-content: space-between

            .media
               height: 100%
               overflow: hidden

               img
                  object-fit: cover
                  height: 100%
                  width: 100%

   .buttons
      margin: rem( 60 ) 0 rem( 32 )
      text-align: center

      .bt-01
         font-size: em( 17 / $fz )
         padding: rem( 12 ) rem( 5 ) rem( 10 )
         width: 100%

   .buttons
      margin: rem( 60 ) 0 2em
      text-align: center

      .bt-01
         font-size: em( 17 / $fz )
         padding: rem( 12 ) rem( 5 ) rem( 10 )
         width: 100%
