.hero
   display: flex
   justify-content: center
   position: relative
   z-index: 5
   img
      height: 100%;
      object-fit: cover;
      width: 100%;
   .wp-st
      max-width: rem(570)
      position: absolute
      transform: translate(-50%, -50%)
      left: 50%
      top: 50%
      width: 100%
      .tt
         color: white
         font-size: em(25 / $fz)
         font-weight: $fw-light
         position: relative
         text-align: center
