/*
 *  HONDA MOTO OCCASION | LABEL STYLES
 */

.label-container
   .edito
      .tt
         font-weight: $fw-bold

         &
         & + p
            font-size: em( 17 / $fz )

      p
      li
         font-size: em( 16 / $fz )

         li
            font-size: 1em

      img
         // float: left
         max-width: rem( 600 )
         width: pct( 330 / 1220 )

   .label-main
      & + *
         margin-top: rem( 30 )

      li
         line-height: 1.5

         span
            color: $dark
            display: block
            font-size: rem( 17 )

   .visual
      display: flex
      flex-direction: column

      .label-logo
         display: block
         margin: rem( 20 ) pct( 150 / 640 )
         width: pct( 330 / 640 )
         flex-shrink: 0

   .label-foot
      padding: rem( 20 )
      display: flex
      justify-content: center

      a + a
         margin-left: rem( 20 )
