/*
 *  HONDA MOTO OCCASION | LIST STYLES
 */

.li-01
   line-height: 1.5

   span
      display: block
      font-weight: $fw-bold

      &:before
         color: $red1
         content:"•"
         font-size: rem( 20 )
         margin: 0 rem( 5 )

   .li-02

      span
         font-size: rem( 17 )
         font-weight: $fw-reg
         margin-left: rem( 45 )

         &:before
            font-size: rem( 14 )

      .li-03

         span
            margin-left: rem( 100 )

            &:before
               content: "-"
               margin: 0 rem( 4 )
               font-size: rem( 17 )
