.mts-lgl
   padding: 0 rem(15) rem(15) rem(15)
   .tt-2
      margin-top: rem(20)
      font-size: em( 28 / $fz )
      font-family: $font-sans-serif-condensed
   .tt
      font-weight: $fw-reg
      font-size: em( 19 / $fz )
      margin-top: 1em

   .tt + p
         margin: 0
   p:last-child
      margin-bottom: 0
   p
   li
      font-size: em( 16 / $fz )

   ul
      li
         &:before
            content: "•"
            color: $red1
            display: inline-block
            font-size: rem( 24 )
            line-height: 0.8
            margin-right: rem( 10 )
            vertical-align: baseline

   ul
      li
         margin-bottom: rem(10)
         ul
            margin-left: rem( 35 )
            li
               margin: 0
               font-size: 1em
               &:before
                  font-size: rem( 16 )
   .tt + ul
      margin-top: rem(10)
   ol
      list-style: inside
      list-style-type: decimal
