/*
 *  HONDA MOTO OCCASION | POPIN STYLES
 */

.popin
   align-items: center
   display: flex
   height: 100vh
   justify-content: center
   left: 0
   position: fixed
   top: 0
   width: 100%
   z-index: 600

   .bt-close
      color: $light
      position: absolute
      right: rem( 30 )
      top: rem( 30 )

   &:before
      background: rgba($dark,.5)
      content: ""
      height: 100%
      pointer-events: none
      position: absolute
      top: 0
      left: 0
      width: 100%

   .wp
      margin: 0 auto
      max-height: rem( 800 )
      max-width: rem( 1200 )

   .video-wp
      position: relative
      height: 0
      padding-bottom: 56.25%
      overflow: hidden
      max-width: rem( 1200 )
      width: 90vw

   iframe
      height: 100%
      left: 0
      max-height: rem( 675 )
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 100%
      z-index: 5
