/*
 *  HONDA MOTO OCCASION | PREFOOTER STYLES
 */

.pre-footer
   background: $dark
   color: $light
   padding: rem( 30 ) 0

   .wp-st
      & > *
         & + *
            margin-top: rem( 40 )

   .tt
      display: block
      font-family: $ff-c
      font-weight: bold
      font-size: em( 16 / $fz )
      text-transform: uppercase
      text-align: center

      &:first-child
         margin-bottom: rem( 20 )
         padding: 0

   .wp
      display: flex
      justify-content: center
      margin-bottom: rem( 16 )
      padding: 0 rem( 10 )

   svg
      fill: $light
      height: rem( 40 )
      margin: 0 rem( 14 )
      transition: fill .1s linear
      width: rem( 40 )

      &:hover
         fill: $red1

   .mobile
      .wp
         justify-content: space-around

         a
            display: block
            transition: all .17s linear
            position: relative
            &:hover
               opacity: 0.7

         img
            display: block
            width: rem( 120 )
            border: solid 1px #fff;
            border-radius: 6px;

   .newsletter
      .wp
         justify-content: center
