.product-gallery-nav
   align-items: stretch
   background: $light
   display: flex
   flex-wrap: wrap
   margin-bottom: rem( 14 )
   width: 100%

   .tt
      display: none

   & > a
      flex-shrink: 1

   a
      align-items: center
      background: $dark
      border: 1px solid transparent
      color: $light
      display: flex
      font-weight: bold
      flex-direction: column
      justify-content: center
      padding: rem( 20 ) rem( 12 )
      line-height: 1.3
      transition: all .17s linear
      text-decoration: none
      text-transform: uppercase
      text-align: center
      font-size: em( 14 / $fz )
      width: 100%
      margin-bottom: 8px
      order:1

      &:before
         border-left: 1px solid $light
         border-top: 1px solid $light
         content: ""
         display block
         height: rem( 20 )
         margin: 0 auto rem( 14 )
         transform: rotate( 45deg )
         transition: all .17s ease-in-out
         width: @height

      &:hover
         background: $light
         border-color: $dark
         color: $dark

         &:before
            border-left-color: $dark
            border-top-color: $dark

   .tt 
       order: 3
       text-align: left
       width: 100%
       display:block
       padding:0 10px
       color:#c00
       padding:15px 10px
       text-transform:uppercase


       span
         display:block

   .controls
      display: flex
      flex-shrink: 0
      order: 2
      margin-bottom: 2px
      width: 100%

      a
         width: 50%
         padding: rem( 20 ) rem( 12 )

         &:only-child
            width: 100%

         &:before
            margin-bottom: rem( 18 )

         & + a
            margin-left: 8px

      .prev:before
         transform: rotate( -45deg )

      .next:before
         transform: rotate( 135deg )

.product-gallery
   .view
      position: relative

      .gallery-buttons
         .bt-prev
         .bt-next
            position: absolute
            top: 50%
            margin-top: rem( -7 )
            z-index: 30

         .bt-prev
            left: rem( 20 )

         .bt-next
            right: rem( 20 )

      .media
         overflow: hidden
         position: relative

         &.show
            img:first-of-type
            iframe
               opacity: 0

               & + img[data-viewer]
                  opacity: 1

         img
            display: block
            position: relative
            transition: opacity .2s linear
            width: 100%
            z-index: 1
            height: 300px;
            object-fit: contain;
            background: #000;
            object-position: center center;

            &:first-of-type
               z-index: 2

            & ~ img
               left: 50%
               top: 50%
               position: absolute
               transform: translate( -50%, -50% )

         iframe
            left: 0
            height: 100%
            position: absolute
            top: 0
            transition: opacity .2s linear
            width: 100%
            z-index: 10

      .thumbnails
         display: none

   .flag
      z-index: 10

      &.em
         bottom: rem( 20 )
         font-size: em( 17 / $fz )
         left: 0
         top: auto
         padding-left: rem( 20 )
         padding-right: rem( 60 )

.product-quote
.product-specs
   font-size: em( 17 / $fz )
   padding: rem( 15 )
   position: relative

.product-quote
   background: $red1
   color: $light
   padding-bottom: rem( 30 )

   &:after
      bottom: 0
      border-left: 4rem solid transparent
      border-bottom: 4.7rem solid $grey3
      content: ""
      display: block
      height: 0
      position: absolute
      right: 0
      width: 0

      // .bg-grey &
      //    border-bottom-color: $grey3

      .bg-light &
         border-bottom-color: $grey7

      .bg-dark &
         border-bottom-color: $grey2

   .tt
      font-size: em( 23 / 17 )
      text-transform: uppercase

   blockquote
      margin: 0
      position: relative
      margin: rem( 10 ) 0 0 0
      padding: rem( 14 ) pct( 120 / 1250 ) rem( 22 )

      &:before
      &:after
         display: inline-block
         font-size: rem( 84 )
         line-height: .8
         font-weight: bold
         position: absolute

      &:before
         content: "“"
         left: pct( 50 / 1250 )
         top: 0

      &:after
         bottom: 0
         content: "”"
         right: pct( 50 / 1250 )

   .quote-flags
      span
         position: relative

         &:before
            background: $dark
            border-radius: 50%
            content: ""
            display: inline-block
            height: rem( 30 )
            margin-right: rem( 4 )
            vertical-align: middle
            width: @height

         &:after
            content: ""
            border: 3px solid $light
            border-width: 0 0 4px 4px
            display: block
            left: rem( 6 )
            height: rem( 9 )
            margin-top: rem( 6 )
            position: absolute
            transform: rotate( -45deg )
            top: 0
            width: rem( 18 )

         & + span
            margin-left: rem( 40 )

.product-specs
   background: $light
   padding-bottom: rem( 50 )
   padding-top: @padding-bottom

   .tt
      color: $red1
      font-size: em( 32 / 17 )
      font-weight: normal
      font-family: $ff-c
      text-transform: uppercase

      & + p
         margin-top: rem( 4 )

   li
      align-items: flex-start
      display: flex
      line-height: 1.5

      &:before
         content: "•"
         display: block
         font-size: em( 30 / 17 )
         line-height: .7
         margin-right: rem( 3 )

      sup
        top:0.7em    

   ul + .tt
      margin-top: rem( 28 )

.p-gall
   display: flex
   flex-direction: column

   & > *
      order: 2

   .product-gallery-nav
      order: 3
