/*
 *  HONDA MOTO OCCASION | PRODUCT PAGE STYLES
 */

.product
   .header
      padding-bottom: rem( 40 )

      .txt
         font-size: em( 21 / $fz )
         margin-top: rem( 30 )

      .media
         margin-bottom: rem( 20 )

         img
            display: block
            margin: 0 auto
            width: 100%

      .text
         .wp
            background: $light
            justify-content: space-between
            padding: rem( 22 )
            width: 100%

         .tt-tx
            display: flex
            align-items: center
            justify-content: center
            font-size: 1em
            margin: 0 0 rem( 20 ) 0

            .tooltip
               min-width: 0
               white-space: nowrap

            strong
               color: $red1
               font-size: em( 34 / $fz )
               font-family: $ff-c
               margin-left: rem( 10 )

         .tooltip
            min-width: rem( 240 )

         a
            font-size: em( 21 / $fz )
            font-weight: normal
            margin-top: rem( 20 )
            padding: rem( 18 ) rem( 10 )
            text-align: center
            width: 100%

         p
            font-size: em( 34 / $fz )
            font-family: $ff-c
            margin: 0 0 rem( 6 )

         sup
            font-size: em( 20 / 34 )

.products
   & + .products
      margin-top: rem( 30 )

   [class*="block-"]
      & + [class*="block-"]
         margin-top: rem( 30 )

   .color-icons ul
      display: flex
      justify-content: center

      li
         margin-right:10px
         text-align:center
         width: 65px;
         a
            display: inline-flex
            padding-bottom:5px  
            height:40px;
            &.active
               border-bottom:solid 1px #000
            img
               height:100%
               object-fit: contain
         span
            display:block
            text-align: center
         &.active
            span
               text-decoration: underline
               
   
   .mobile-product-carousel
      [class*="block-"]
         & + [class*="block-"]
            margin-top: 0

   .tt-list
      align-items: center
      color: $red1
      display: flex
      font-size: em( 23 / $fz )
      margin-bottom: rem( 14 )
      position: relative
      text-transform: uppercase

      .tt-l
         font-size: 1.2em
         font-weight: normal
         font-family: "proxima-nova-condensed","proxima-nova",sans-serif

      a
         font-size: em( 12 / 23 )
         padding-bottom: rem( 2 )
         padding-top: rem( 4 )
         margin-left: rem( 20 )

      &:after
         background: $grey6
         content: ""
         height: 1px
         flex-grow: 1
         margin-left: rem( 16 )

   .promo
      color: #c00

   .tt
      margin-right:10px
      margin-top:3px

.product-tech
   .edito
      margin-top: rem( 24 )

   .tt-3
      margin-bottom: rem( 10 )

      & + .txt
         margin-top: 0
         font-weight: bold

   .buttons
      text-align: right

      .bt-01
         font-size: em( 22 / $fz )
         margin-top: rem( 36 )
         padding: rem( 20 ) rem( 18 ) rem( 18 )

   .features
      font-size: 11px
      padding: 0 15px;

      li
         width:200px
         padding: 0px 10px;


.features
   padding-left: rem( 30 )
   padding-right: rem( 30 )

   span:not(.tooltip)
      color: $red1
      display: block
      font-size: em( 20 / $fz )
      margin-top: rem( 6 )
      text-align: center
      text-transform: none
      

   .tooltip
      min-width: rem( 150 )

  


@media(max-width:600px)
   .product 
      .header 
         .text 
            
            .tt-tx strong
               font-size: 28px
            p
               font-size: 24px

            a
               font-size:20px   

         .txt
            font-size: 18px    

   .products              
      .tt-list .tt-l
         font-size:22px
