#slider
   width: rem( 500 )

.noUi-target
   &
   *
      box-sizing: border-box
      touch-action: none
      user-select: none

.noUi-target
   background: $grey7
   border-radius: 4px
   // border: 1px solid #D3D3D3
   direction: ltr
   position: relative

.noUi-base
.noUi-connects
   height: 100%
   position: relative
   width: 100%
   z-index: 1

.noUi-connects
   border-radius: rem( 2 )
   overflow: hidden
   z-index: 0

.noUi-connect
.noUi-origin
   height: 100%
   left: 0
   position: absolute
   top: 0
   transform-origin: 0 0
   width: 100%
   will-change: transform
   z-index: 1

.noUi-connect
   background: $grey8

html:not([dir="rtl"])
   .noUi-horizontal
      .noUi-origin
         left: auto
         right: 0

      .noUi-handle
         right: 0
         left: auto
         transform: translateX(50%)

.noUi-horizontal
   .noUi-origin
      height: 0

.noUi-state-tap
   .noUi-connect
   .noUi-origin
      transition: transform 0.3s

.noUi-state-drag *
  cursor: inherit !important

/* Slider size and handle placement
 */
.noUi-horizontal
   height: rem( 8 )

   .noUi-handle
      height: rem( 22 )
      top: rem( -8 )
      width: @height

/* Handles and cursors
 */
.noUi-handle
   background: $grey8
   border-radius: 50%
   cursor: default
   outline: none
   position: absolute
   transition: all .17s linear

   &.noUi-active
   &:focus
     &:before
        opacity: 1
     &:after
         opacity: 0.66

   &:before
   &:after
      background: inherit
      border-radius: 50%
      content: ""
      height: 100%
      left: 50%
      opacity: 0
      position: absolute
      top: 50%
      transform: translate( -50%, -50% )
      transition: all .17s linear
      width: 100%
      z-index: 2

   &:after
      background: $blue1
      height: 140%
      width: 140%
      z-index: 1


.noUi-active
   background: $dark

/* Disabled state
 */
[disabled]
   .noUi-connect
      background: $grey7

   &.noUi-target
   &.noUi-handle
   .noUi-handle
      cursor: not-allowed

/* Base
 */
.noUi-pips
   position: absolute
   padding: 0 rem( 3 )

/* Values
 */
.noUi-value
   bottom: 0
   position: absolute
   text-align: center
   white-space: nowrap

.noUi-value-sub
   color: $grey6
   font-size: rem( 10 )

/* Markings
 */
.noUi-marker
   background: $grey6
   position: absolute

.noUi-marker-sub
   background: $grey9

.noUi-marker-large
   background: $grey9

/* layout
 */
.noUi-pips-horizontal
   height: rem( 34 )
   left: 0
   margin-top: rem( 6 )
   top: 100%
   width: 100%

.noUi-value-horizontal
   transform: translateX(-50%)

.noUi-rtl .noUi-value-horizontal
   transform: translateX(50%)

.noUi-marker-horizontal.noUi-marker
   height: rem(5)
   margin-left: rem(-1)
   width: rem(1)

// .noUi-marker-horizontal.noUi-marker-sub
//    height: 10px

.noUi-marker-horizontal.noUi-marker-large
   height: rem(13)

.noUi-tooltip
   background: $grey5
   border-radius: rem( 6 )
   color: $light
   display: block
   font-size: rem( 13 )
   opacity: 0
   padding: rem( 6 ) rem( 8 ) rem( 5 )
   position: absolute
   text-align: center
   transition: all .17s linear
   white-space: nowrap

   &:after
      border-left: rem( 3 ) solid transparent
      border-right: rem( 3 ) solid transparent
      border-top: rem( 6 ) solid $grey5
      content: ""
      display: block
      height: 0
      left: 50%
      position: absolute
      transform: translateX(-50%)
      top: 100%
      width: 0

.noUi-active .noUi-tooltip
   opacity: 1

.noUi-horizontal .noUi-tooltip
   bottom: 120%
   margin-bottom: rem( 8 )
   left: 40%
   transform: translate(-50%, 0)
