/*
 *  HONDA MOTO OCCASION | RETAILER INFOS STYLES
 */

.retailer-infos
   color: $light
   text-align: center

   .wp
      background: $dark
      font-size: em( 14 / $fz )
      padding: rem( 8 ) rem( 20 )
      text-align: center

      img
         position: fixed
         top: 0px
         left: 120px
         max-width: pct( 280 / 500 )

      a
         color: #fff   

      p
         line-height: 1.3

      .bt-ui
         border: 1px solid $light
         color: inherit
         text-transform: uppercase
         font-size: em( 14 / 14 )
         padding: rem( 10 ) rem( 20 )
         justify-content: center
         transition: all .17s linear

         &:hover
            background: $light
            border-color: $red1
            color: $red1
            svg
               fill: $red1

         svg
            fill: $light
            width: rem( 24 )

   .address
      align-items: center
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      p
         display: none

         &:last-child
            display: block
            width: 100%

      a
         display: none

   .foot
      display: flex
      margin-top: 1px

      a
         @extends .bt-01
         align-items: center
         border: 0 none
         background: $dark
         color: inherit
         display: flex
         flex-shrink: 0
         font-family: $ff-c
         justify-content: center
         font-size: em( 17 / $fz )
         font-weight: $fw-reg
         padding: rem( 20 ) rem( 8 ) rem( 14 )
         text-decoration: none
         width: 50%

         & + a
            width: calc( 50% - 1px )

         &.bt-ui
            &:before
               content: none

         &:before
            margin-top: -3px

         span
            display: block

         & + a
            margin-left: 1px

         svg
            fill: $light
            margin-top: rem( -3 )
            margin-right: rem( 8 )
            transition: fill .17s linear
            width: rem( 20 )

         &:hover
            svg
               fill: $red1

   img
      display: none


@media(max-width: 1023px)
   .retailer-wrap .retailer-infos .wp img
      position: relative !important
      left:0

   .retailer-wrap
      &.retailer-mob-fix
         padding-top:56px   