/*
 *  HONDA MOTO OCCASION | SERVICES STYLES
 */

.services
   font-size: rem( 17 )

   svg
      max-width: rem( 35 )
      max-height: rem( 35 )
      margin: 0 rem( 10 ) 0 0

   .block-info

      .content

         a:not([class])
            color: $red1
            text-decoration: none

         .content-footer
            display: flex
            flex-direction: column
            justify-content: space-between
            align-content: center

            .bt-01
               display: block
               width: rem( 223 )
               margin-top: rem( 5 )
               text-align: center
               align-self: center
   
   h3.mobile.table-title
      margin-top:3rem

   .content-table
      overflow-x: scroll

      table
         border-collapse: collapse
         border-spacing: 0
         border-bottom: 1px solid $dark
         margin: rem( 50 ) 0 rem( 40 )
         width: 100%!important
         

         caption
            font-size: rem( 25 )
            font-weight: $fw-bold
            text-align: left

         tr
            height: rem( 90 )

         thead
            color: $red1

            th
               border-bottom: 1px solid $dark

         tbody

            tr
               

               &:nth-child(even)
                  background-color: $grey6


            .col-0
               text-align: left

            th
            td
               margin: 0
               padding: rem( 13 )
               text-align: center
               width: rem( 120 )

      @media(max-width:768px)
         padding-left: 109px;
         table
            margin: 1.5rem 0 2.5rem;
            caption
               display: none

            thead tr:first-child th:first-child, tbody tr th
               position:absolute
               left:20px
               width:120px
               border-bottom:0
               border-left: solid 1px #000
               height:91px
               background:#fff
               display:table
               margin-top:-1px
               span, h3
                  display:table-cell
                  vertical-align: middle
                  text-align:center
            
            tr
               border: solid 1px #000;
            
            thead
               tr
                  th:nth-child(2)
                     border-left:0

            tbody
               tr:last-child
                  th
                     border-bottom:solid 1px
               tr:nth-child(even)
                  th
                     background:$grey6
               tr
                  td:first-of-type
                     border-left:0
   

         



   .paragraphe
      p
         font-weight:400
