.site-map
   li
      &:before
         content: ">"
         color: $red1
         display: inline-block
         font-size: rem( 23 )
         line-height: 0.8
         margin-right: rem( 10 )
         vertical-align: middle


   ul
      li
         font-weight: $fw-reg
         line-height: 1.3
         font-size: em( 24 / $fz )
         margin-bottom: rem(50)
         text-transform: uppercase
         font-family: $font-sans-serif-condensed

         a
            text-decoration: none
            color: $red1
         ul
            margin-left: rem( 60 )
            li
               margin: 0
               font-size: em( 10 / $fz )
               font-family: $font-sans-serif
               font-weight: $fw-bold
               &:before
                     content: ">"
                     font-size: rem( 15 )
                     line-height: 1.7
                     color: $dark

               a
                  color: $dark
               ul
                  li
                     font-size: em( 10 / 10 )

.site-map-p
   li
      &:before
         content: ">"
         color: $dark
         display: inline-block
         font-size: rem( 23 )
         line-height: 0.8
         margin-right: rem( 5 )
         vertical-align: middle

   ul
      li
         font-weight: $fw-reg
         line-height: 1.3
         font-size: em( 32 / $fz )
         margin-bottom: rem(50)
         text-transform: uppercase
         font-family: $font-sans-serif-condensed

         a
            text-decoration: none
            color: $dark
