/*
 *  HONDA MOTO OCCASION | SLIDERS STYLES
 */

.swiper-container
   list-style: none
   margin: 0 auto
   overflow: hidden
   padding: 0
   position: relative
   z-index: 1
   &.all-visible
      .controls
         display: none

.unslidered .carousel-container .controls
   display: none

.swiper-wrapper
   align-items: stretch
   box-sizing: content-box
   display: flex
   height: 100%
   position: relative
   transition-property: transform
   width: 100%
   z-index: 1

   @media(max-width:768px)
      li
         p
            text-align: center

   .block
      height: 100%

.swiper-container-android .swiper-slide, .swiper-wrapper
   transform: translate3d(0px, 0, 0)

.swiper-slide
   flex-shrink: 0
   position: relative
   transition-property: transform
   width: 100%

   .media-1
      .buttons
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
      button img
         object-fit: cover !important   
   button
      width:100%
      height:100%        

   &.video
      background-color:#000      


.swiper-slide-active
   z-index: 100            

.swiper-invisible-blank-slide
   visibility: hidden

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide
   height: auto

.swiper-container-autoheight
   .swiper-wrapper
      align-items: flex-start
      transition-property: transform, height

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal
   .swiper-wrapper
      touch-action: pan-y

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical
   .swiper-wrapper
      touch-action: pan-x

.swiper-button-lock
   display: none

.swiper-pagination
   position: absolute
   text-align: center
   transform: translate3d(0, 0, 0)
   transition: 300ms opacity
   z-index: 10

// COMMON STYL
.carousel-container
   .controls
      display: flex
      width: 100%
      margin: auto
      justify-content: space-between
      margin-top: rem(30)
      .bt-slider
         height: rem( 70 )
         width: rem( 36 )
         &:before
            border-bottom-width: 2px
            border-left-width: 2px
            width: rem(16)
            height: rem(16)
            top: calc(50% + 2px)

.swiper-pagination
   position: static
   align-self: center
   display: flex
   justify-content: space-between
   width: 60%

.swiper-pagination-bullet
   align-items: center
   background: none
   border-radius: 50%
   color: $dark
   cursor: pointer
   display: inline-flex
   height: rem(30)
   justify-content: center
   opacity: 1
   width: rem(30)
   font-size: em(20 / $fz)

   &::before
      background-color: $dark
      bottom: 0
      content: ''
      height: 2px
      position: absolute
      width: rem(14)

   .bg-dark &
      color: $light

      &::before
         background-color: $light

.swiper-pagination-bullet-active
   background-color: $red1
   color: $light
   font-weight: $fw-bold

   &::before
      display: none

// SLIDER HERO - 1 SLIDE FULL-WIDTH

.slider-with-thumbs
   display: none
   max-width: 100vw
   position: relative

   .swiper-wrapper

      .swiper-slide
         transition: 300ms
         background-color: #000 
         img
            display: block
            height: 100%
            object-fit: cover
            width: 100%

   .gallery-top
      width: 100%

      .swiper-container
         overflow: hidden
         position: relative

   .gallery-thumbs
      bottom: rem(10)
      display: flex
      justify-content: flex-end
      position: absolute
      right: 0
      width: 100%

      .swiper-wrapper
         display: flex
         justify-content: flex-end

         .swiper-slide
            border: $light 2px solid
            cursor: pointer
            margin-right: rem(10)
            max-height: rem(100)
            max-width: rem(200)
            min-height: rem(50)
            min-width: rem(100)
            opacity: 0.8
            width: 8.5%

         .swiper-slide.active
            border-color: $red1


// SLIDER 5 SLIDES
.carousel-container.cinquo
   display: flex
   position: relative

   .custom-button
      background: $red1
      bottom: 0
      border: 2px solid $light
      cursor: pointer
      position: relative
      transition: all .13s linear
      width: rem(50)
      z-index: 2

      &.hide-arrow
         &:before
            display:none

         &:hover
             background: $red1
             border: 2px solid $light


      &:before
         border-bottom: 1px solid $light
         border-left: 1px solid $light
         content: ""
         display inline-block
         height: rem( 14 )
         position: absolute
         top: 50%
         transition: all .17s ease-in-out
         width: rem( 14 )

      &:hover
         background: $light
         border-color: $red1
         &::before
            border-color: $red1


      &.prev
         left: 0
         &:before
            left: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            transform-origin: 75% 75%

      &.next
         right: 0
         &:before
            left: 50%
            transform: translate(-50%, -50%) rotate(-135deg)
            transform-origin: 40% 50%


   .carousel-cinquo
      margin: 0 auto
      width: 100%

      &.alt
         .swiper-wrapper
            .swiper-slide
               img
                  height: auto
                  max-height: none
                  object-fit: contain

      .swiper-wrapper

         .swiper-slide
            img
               display: block
               height: 100%
               max-height: rem( 520 )
               object-fit: cover
               width: 100%
            figure
               margin: 0
               img
                  display: block
                  // height: auto
                  width: 100%
               figcaption
                  background-color: rgba($dark, 0.8)
                  bottom: 0
                  color: $light
                  font-weight: $fw-bold
                  font-size: em( 13 / $fz )
                  line-height: 0.8
                  padding: rem(15)
                  position: absolute
                  text-transform: uppercase
                  width: 100%
            a
               img
                  transition: transform 0.8s linear
                  &:hover
                     transform: scale(1.03)
            .banner-p
               display: flex
               background-color: $red3
               align-items: center
               img
                  width: pct(720/1120)
                  height: auto
                  flex-grow: 1
               p
                  flex-grow: 1
                  width: pct(400/1120)
                  text-align: center
                  color: $light
                  font-size: em( 48 / $fz )
                  font-weight: $fw-reg
                  text-transform: uppercase
                  align-self: center
                  font-family: $ff-c
                  margin: 0

   &.mobile-product-carousel
      align-items: center;
      .custom-button
         height:85px
         background:#000

         &.hide-arrow
            display:none



      .block-product 
         .media
            padding:0   

         &.active, &:hover, &:focus
            &:before
               border:none   

         .flags
            padding: 0

      .swiper-pagination
         width: auto
         margin: 15px auto 
         align-items: center
         justify-content: center
         
         .swiper-pagination-bullet-active, .swiper-pagination-bullet
            color: #c00    
            background-color: #c00
            margin: 0 10px; 

            &:before
               background:none
         .swiper-pagination-bullet-active
            width: 2.5rem
            height: 2.5rem
                 


.bt-01.mobile:not(.btn-retour)
   &:not(.bt-dispo-vn-list)
      width: 60%;
      margin: 0 auto
      text-align: center
      &:before
         content: ''
         background: url('../media/dyn/icon_essaie.png')
         width:36px
         height:37px
         border:none
         transform: none

.bt-01.mobile.bt-dispo-vn-list
   width: auto
   float:right;
   min-width: auto
   color:#fff




.product-category-wrap
   overflow: hidden
   .swiper-pagination
      display:flex;
      justify-content: center
      align-items: center
      width:100%
      margin-bottom:20px

      .swiper-pagination-bullet
         color: #c00;
         background-color: #c00;
         margin: 0 10px;
         &:before
            background: none

      .swiper-pagination-bullet-active
         width: 2.5rem;
         height: 2.5rem;
   .products
      margin-top: 0