.topSearch
   background: $red1
   display: flex
   max-height: none

   .avisual
      width: 0
      padding: 0
      text-align: center
      display: none

      img
         width: 100%
         height: 100%
         object-fit: cover

   .ablock
      color: $light
      position: relative
      text-align: center
      text-transform: uppercase
      width: 100%

      .tt
      .lists
         position: relative
         z-index: 2

      .tt
         font-size: rem( 25 )
         text-align: center

      .lists
         margin-top: rem( 30 )
         width: 100%
         display: block

         ul
            font-size: rem( 16 )
            font-weight: $fw-bold

            li
               text-decoration: none
               font-weight: $fw-reg
               margin-bottom: rem( 25 )

               &:hover
                  cursor: pointer
                  text-decoration: underline

               &:first-child
                  margin-top: rem( 20 )

               a
                  &:before
                     width: 0
                     height: 0

      &:after
         background-color: $red1
         content: ""
         height: 0
         position: absolute
         right: 0
         top: 0
         transform-origin: 50% 0%
         transform: skew(20deg)
         width: 0


