{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}


{% block form %}
    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">Vous pouvez choisir ici de personnaliser le « header » en haut de votre site Web.</h4>
                <p class="bl-text">
                    Le nombre d’images/vidéos dans le slider est limité à 5. <br/>
                    Par défaut vous aurez l’image/vidéo standard. </br>
                    A noter que des images/vidéos peuvent être imposées pas le central (ne compte pas dans les 5).
                </p>
                <ul class="bl-text">
                    <li>
                        Pour une image :
                        <ul>
                            <li>Le contexte utile de l’image bien au centre (si vous avez par exemple une moto dans l’image, mieux vaut qu’elle soit bien au centre de l’image).</li>
                            <li>Largeur : 1280 pixels</li>
                            <li>Hauteur : 555 pixels</li>
                            <li>Format: jpg, png, gif</li>
                        </ul>
                    </li>
                    <li>
                        Pour une vidéo :
                        <ul>
                            <li>Impérativement postée sur YouTube et appelée en copiant/collant l’URL dans la zone dédiée</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
