<div class="wp-st">
    <div class="affiliates">
        <div class="tt">Nos autres sites :</div>
        <ul>
            {% for menu in left%}
                <li>
                    <a target="{{ menu.external ? '_blank' : '' }}" href="{{ menu.path }}">{{ menu.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="logo">
        <img src="{% path logo.slogan, 'reference'  %}" alt="Honda"/>
    </div>
    <div class="nav">
        {% for menu in right%}
            {% if(menu.name == '-') %}
                <br />
            {% else %}
                <a href="{{ menu.path }}" {{ menu.name == 'Contact' ? 'data-scroll' }}>
                    <span>{{ menu.name }}</span>
                </a>
            {% endif %}
        {% endfor %}
        <span>Copyright © {{ "now"|date("Y") }} Honda</span>
    </div>
</div>
{% if gaCode is defined %}
    <div id="google-analytics" data-code="{{ gaCode }}"></div>
{% endif %}
