<header role="banner" class="fixable">
    <div class="main-logo">
        <a href="/" tabindex="1" aria-label="Honda occasion">
            {{ logo.mainLogo|raw }}
            <span
                class="legend">
                <span>Occasions</span>
            </span>
        </a>
    </div>
    <button class="bt-menu" data-toggle="{&quot;body&quot;:&quot;nav-open&quot;}" aria-controls="nav" aria-expanded="false">
        <span>Menu</span>
    </button>
    <div class="header-menu" id="nav" aria-hidden="true">
        <div class="wp-st">
            <nav role="navigation">
                <ul>
                    {% for item in menu %}
                        <li>
                            <a class="{{ item.mobileOnly ? 'mobile-tablette' }} {{ item.name matches '/occasion/' ? 'occasion-tab' }} {{ item.name matches '/concession/' ? 'concession-tab' }}" target= "{{ item.external ? '_blank' : '' }}" href="{{ item.path }}">{{ item.icon|raw }}{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="mobile-content">
                {{ include('@HondaFront/_pre_footer.html.twig') }}
            </div>
        </div>
    </div>
</header>