{% extends 'HondaCommonBundle::standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block sonata_breadcrumb %}
<div class="hidden-xs">
<ol class="nav navbar-top-links breadcrumb">
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">{% trans %}config.label_dashboard{% endtrans %}</a>
    </li>
    <li class="active"><span>{% trans %}config.label_admin_site{% endtrans %}</span></li>
</ol>
</div>
{% endblock %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="sonata-action-element" href="{{ url('distributor_sites_list') }}"><i class="fa fa-reply" aria-hidden="true"></i> Retour à la liste</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                    {{ form_label(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="required-label">* obligatoire</div>
                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button class="btn btn-success" type="submit" name="btn_create"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;{{ create ? 'Créer':'Modifier' }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {# TODO : A termier ou supprimer
    <script>
        (function($){

            $(function() {
                $('.distributor-select').val(2)
            });

        })(jQuery)
    </script>
    #}
{% endblock %}