{% extends 'HondaCommonBundle::standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
<div class="hidden-xs">
<ol class="nav navbar-top-links breadcrumb">
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">{% trans %}config.label_dashboard{% endtrans %}</a>
    </li>
    <li class="active"><span>{% trans %}config.label_admin_site{% endtrans %}</span></li>
</ol>
</div>
{% endblock %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="sonata-action-element" href="{{ url('distributor_sites_create') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}
    
    <div class="box box-primary">
        <div style="padding: 10px!important;"  class="box-body table-responsive no-padding">
            <table id="example"  class="table table-bordered table-striped sonata-ba-list" width="100%">
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        <th class="sonata-ba-list-field-header-text">#</th>
                        <th class="sonata-ba-list-field-header-text">Site</th>
                        <th class="sonata-ba-list-field-header-text">Nom</th>
                        <th class="sonata-ba-list-field-header-text">Email</th>
                        <th class="sonata-ba-list-field-header-text">Utilisateur</th>
                        <th class="sonata-ba-list-field-header-text">Dernière connexion</th>
                        <th class="sonata-ba-list-field-header-text">Actif</th>
                        <th class="sonata-ba-list-field-header-text">Action</th>
                    </tr>                    
                </thead>
                <tbody>
                    {% for site in sites %}
                    <tr>
                        <td class="sonata-ba-list-field">{{ loop.index }}</td>
                        <td class="sonata-ba-list-field">{{ site.domain }}</td>
                        <td class="sonata-ba-list-field">{{ getDistributorName(site.distributorPortailId) }}</td>
                        <td class="sonata-ba-list-field">{{ site.email }}</td>
                        <td class="sonata-ba-list-field">{{ site.username }}</td>
                        <td class="sonata-ba-list-field">{% if site.lastLogin.date is defined %}{{ site.lastLogin.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                        <td class="sonata-ba-list-field">{% if site.active %}<span class="badge badge-secondary">Oui</span>{% else %}<span class="badge badge-danger">Non</span>{% endif %}</td>
                        <td class="sonata-ba-list-field">
                            <a class="btn btn-sm btn-default view_link" href="//{{ site.domain }}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> Voir le site</a>
                            <a class="btn btn-sm btn-default edit_link" href="{{ url('distributor_sites_editSite', {'id': site.distributorPortailId }) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        div.dataTables_wrapper {
            margin-top: 10px;
        }
        div.dataTables_wrapper div.dataTables_filter label {
            width: 80%;
        }
        div.dataTables_wrapper div.dataTables_filter label input {
            width: 80%;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                //"bLengthChange": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "dom": '<"top"flp<"clear">>rt<"bottom"ip<"clear">>'
            });
        } );
    </script>

{% endblock %}