/*
 *  HONDA MOTO OCCASION | BASE STYLES
 */

body
   padding-top: 0

   &.portail
      padding-top: 0
      
   .nav-open &
      overflow: visible

.wp-st
   max-width: rem( 1280 )
   padding-left: rem( 15 )
   padding-right: @padding-left

.cols
   display: flex

   &.sb
      justify-content: space-between

main
   padding-top: rem(15) // header margin-top - header height




.mobile-content
   display: none

.desktop-content
   display: block
.mobile-tablette
   display:none !important