/*
 *  HONDA MOTO OCCASION | TEXT STYLES
 */
.shead
   margin-bottom: rem( 44 )

   .tt-2
      font-size: em( 30 / $fz )
      max-width: 95%

   .custom-select
      .condensed + label
         max-width: rem( 180 )
