/*
 *  HONDA MOTO OCCASION | UI STYLES
 */

.bt-contact
   bottom: 50%
   height: rem( 78 )
   left: auto
   right: 0
   transform: translateY(50%)

   .i
      margin-left: 0
      margin-left: rem( 12 )
      font-size: rem( 62 )

   .t
      font-size: rem( 15 )

   &:before
   &:after
      left: auto
      right: 0
      transform: skew(-27deg)

.reset-search
      padding: 0.625rem 2.375rem
      position: absolute
      right:0
      top:0
      display: none
      margin:0






