.main-header .logo 
{
    height: 60px !important;
    font-size: 15px !important;
    line-height: 54px !important;
    text-align: left !important;
    width: 232px !important;
}
.main-header .logo img
{
    max-width: 45px !important;
}
.main-header .logo img + span 
{
    width: 150px !important;
    padding-left: 5px;
}
.cylinder-formfield.form-control 
{
   width: auto;
   display: inline-block;
}
.sonata-ba-field .help-block
{
    display: inline-block;
}