{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}



{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}


    {% if object.getVehicleAdGalleries()|length %}
        {% set mainImage = object.getMainImageGallery() %}
        <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">{% thumbnail attribute(mainImage, field_description.name ), 'admin' with {'width': 75, 'height': 60, 'style': 'width: 75px;height:60px;'} %}</a>
    {% endif %}

{% endblock %}
