{% extends  '@HondaMain/Front/layout_preview.html.twig'  %}

{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' with form as parentForm %}

{% import '@SonataAdmin/CRUD/base_edit_form_macro.html.twig' as form_helper %}

{% block content %}

   {# <link rel="stylesheet" href="/public/distributor/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">#}

    <style>
        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-success {
            background-color: #00a65a;
            border-color: #008d4c;
        }

        .btn-danger {
            background-color: #dd4b39;
            border-color: #d73925;
        }

        .sonata-preview-form-container {
            padding: 0 0 50px 0;
        }

        .sonata-preview-form-container .row {
            display: none;
        }

        div.form-actions {
            margin-top: 20px!important;
            text-align: center;
        }
    </style>

    {% set vehicleAd = object %}

    <div class="wp-st print">
        {% include '@HondaMain/Front/VehicleAd/_vehicleAd_fiche.html.twig' with {'vehicleAd': vehicleAd, 'preview': true} %}
    </div>


    <div class="sonata-preview-form-container">
        {{ block('parentForm') }}
    </div>


{% endblock %}


  {% block formactions %}
      <div class="form-actions">
          <button class="btn btn-success" type="submit" name="btn_preview_approve">
              <i class="fa fa-check"></i>
              {{ 'btn_preview_approve'|trans({}, 'SonataAdminBundle') }}
          </button>
          <button class="btn btn-danger" type="submit" name="btn_preview_decline">
              <i class="fa fa-times"></i>
              {{ 'btn_preview_decline'|trans({}, 'SonataAdminBundle') }}
          </button>
          <button class="print-btn bt-01"><span>Imprimer</span></button>
      </div>
  {% endblock %}
