extends /layout/module

block content

  .accessory
    .head-block
      .text
        .tt
          span!= titre || "Catégorie d'accessoires"
        .desc
          span!= lorem(1)
        .buttons
          a(href="#").bt-01 Télécharger le catalogue Lorem Ipsum
          a(href="#").bt-01 Télécharger l'autre catalogue lorem

      .media
        img( src=`${url.img}${image}.png` alt="visuel accessoire" )

    .content-block
      if content
        -
          var categories = [
            "Casques", "Vêtements"
          ]
          var pics = [
            "helmet", "black-jacket"
          ]

        each category, i in categories
          - pic = pics[i]
          include /organisms/sub-accessory
