extends /layout/module

block content
  aside.aside
    div.wp-st
      a(href="#")
        picture
          source( srcset=`${url.dyn}label-aside-1024.jpg` media='(min-width: 64em)' )
          source( srcset=`${url.dyn}label-aside-768.jpg` media='(min-width: 48em)' )
          source( srcset=`${url.dyn}label-aside-320.jpg` media='(min-width: 0em)' )
          img( src=`${url.dyn}label-aside-1024.jpg` alt="" )

      //- In case we need this for later
      //- .avisual
      //-   img( src=`${url.dyn}visuel-label.png` sizes="" alt="")
      //- .ablock
      //-   img( src=`${url.dyn}logo-label.png` sizes="" alt="").logo
      //-   h2.tt Label honda
      //-   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam fuga earum est nostrum rerum quos optio vitae.
      //-   a(href="#") Découvrir le label honda