extends /layout/module

block content
  header.brand-header
    .text
      h2.tt Sportive
      p.txt!= lorem(2)
      a.bt-01.large( href="" download ) Télécharger la brochure de la gamme

    .media
      img( src=`${url.dyn}table-module-head.jpg` alt="" )
