extends /layout/module

block vars
  - var spec = "brand"
  - var brand = true

block content
  - var i = 0
  while i < 4
    section.brand-products
      h2.title
        button.bt-toggle(data-toggle='{"keep":true}' aria-expanded="false" aria-controls="content-" + i id="brand"+i) Sportive

      .content(aria-hidden="true" id="content-" + i)
        include /organisms/brand-header
        - var j = 0
        while j < ( Math.round( ( Math.random() * 5 / 100 ) * 100 ) + 1 )
          include /molecules/blocks/block-product
          - j++

    - i++
