extends /layout/module

block vars
  - var spec = "brand"

block content
  table
    thead
      tr
        th: div Gamme disponible à la vente
        th: div Modèle
        th: div Cylindrée
        th: div Permis
        th: div Couleur
        th: div Prix public conseillé
          sup( data-tooltip tabindex="0" ) (1)
            span.tooltip: span (1) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. tempor incididunt ut labore.
        th
          div Prix promotion conseillé
            sup( data-tooltip tabindex="0" ) (2)
              span.tooltip: span (1) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. tempor incididunt ut labore.
        th: div Disponibilités

    tbody
      - var i = 0
      while i < 4
        - var j = 0
        - var k = 0
        tr
          td
            a( href="" )
              img( src=`${url.dyn}table-row.jpg` alt="Product name" )
              span Réf. : GL1800BJ-ED
          td.f-align
            div.wp
              a( href="" )
                != lorem( 2, 'words' )
              a.bt-01( href="" ) Voir la fiche détaillée
          td
            div Cylindrée
          td
            div A2
          td
            .thumbs
              while j < Math.floor(Math.random() * 6) + 1
                span( data-tooltip tabindex="0" )
                  img( src=`${url.dyn}shade.png` alt="Color label" )
                  span.tooltip: span Color name
                -j++
          td
            div 23.999 €
              sup( data-tooltip tabindex="0" ) (1)
                span.tooltip
                  span (1) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. tempor incididunt ut labore.
          td
            div.promo 23.999 €
              sup( data-tooltip tabindex="0" ) (2)
                span.tooltip: span (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. tempor incididunt ut labore.
          td.f-align
            div.wp.promo
              div
                span.tx-label EN STOCK
                  sup( data-tooltip tabindex="0" ) (3)
                    span.tooltip: span (3) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. tempor incididunt ut labore.
                  br
                  | Couleur(s) :
                span.items
                  while k < j
                    span( data-tooltip tabindex="0" )
                      img( src=`${url.dyn}shade.png` alt="Color label" )
                      span.tooltip: span Color name
                    -k++
              a.bt-01( href="" ) Disponible à l'essai
        -i++
