
extends /layout/module

block content
  .error-page
    p!= error_msg || "ERROR : no message provided, this is displayed by default."
    .media
      img(src=`${url.dyn}${background}-1024.jpg` srcset=`${url.dyn}${background}-1024.jpg 1830w, ${url.dyn}${background}-768.jpg 1220w, ${url.dyn}${background}-320.jpg 915w` sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" )
