extends /layout/module

block content
  div.hero.o-fit
    img( src=`${url.dyn}hero-1024.jpg` srcset=`${url.dyn}hero-320.jpg 640w, ${url.dyn}hero-768.jpg 1280w, ${url.dyn}hero-1024.jpg 1920w` sizes="100vw" alt="" )

    div.wp-st
      h1.tt Bienvenue sur le portail des véhicules d'occasion Honda&nbsp;Moto France
