extends /layout/module

block content
  aside.pre-footer
    .wp-st
      .mobile
        .tt Pour configurer votre moto
        .wp
          a( href="" target="_blank" ): img( src=`${url.img}google-play-badge.png` sizes="" alt="")
          a( href="" target="_blank" ): img( src=`${url.img}app-store.png` sizes="" alt="")
        span.tt Télécharger notre application mobile
      .social
        .tt Restez connecté(e)
        .wp
          a( href="" target="_blank" ): +ui('facebook')
          a( href="" target="_blank" ): +ui('instagram')
          a( href="" target="_blank" ): +ui('twitter')
          a( href="" target="_blank" ): +ui('youtube')
        span.tt Nous suivre sur les réseaux sociaux
      .newsletter
        div
          .tt Suivez notre actualité
          .wp
            a( href="#newsletter-form" data-scroll ): +ui('mail')
          span.tt S'inscrire à la newsletter

  // module formulaire contact
  - header.title = 'Contact'
  section.module.bg-light
    .wp-st
      section#form( itemscope itemtype="http://schema.org/Product" )
        - var itemprop = "name"
        include /molecules/headers/section-header-simple
        - itemprop = null
      include /modules/contact-form

      // module formulaire Newsletter
      - header.title = 'Newsletter'
      section#newsletter-form( itemscope itemtype="http://schema.org/Product" )
        - var itemprop = "name"
        include /molecules/headers/section-header-simple
        - itemprop = null
      include /modules/newsletter-form

  if(portail)
    include /organisms/top_search
