extends /layout/module

block content
  .service.block-info
    .expandable
      - var is_logo = true
      include /organisms/expandable

    .content(aria-hidden="true" id="content-" + i)

      .tt Louer une moto ... Chez nous c'est possible !

      p
        strong Que ce soit pour une balade, un week-end en amoureux, des vacances ou pour retrouver des sensations oubliées, avec Go 2 Rent vous pouvez profiter du meilleur de la moto.

      p Ces motos sont regroupées en 4 catégories.

      p
        strong  Choisissez et bonne route à toutes et à tous.

      -
        var caption = "Tarifs"
        var table_columns = [
          "Journée", "Week-end", "Semaine", "Jour sup.", "Caution", "Km sup."
        ]
        var table_rows = {
          "CITIZEN Scooter 125cc" : [
            "45€", "110€", "280€", "35€", "850€", "0,15€"
          ],
          "FREEDOM Moto 125cc" : [
            "46€", "111€", "281€", "36€", "851€", "1,15€"
          ],
          "PULLMAN Scooter/moto Max 700cc" : [
            "47€", "112€", "282€", "37€", "852€", "2,15€"
          ]
        }

      include /modules/service-table

      .edito
        p Ces motos sont regroupées en 4 catégories.
        include /modules/bullet-list

        p Plus de renseignement #[a(href="https://www.go2rent.fr" target="_blank") sur www.go2rent.fr]

        .content-footer
          a.bt-01( href="" download ) Téléchargez la brochure
          a.bt-01( href="" ) Nous contacter
