extends /layout/module

block vars
  - var spec = 'accessory'

block content
  .block
    .tt
      +ui(pic)
      span!= category || "Catégorie"
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod aliquam veritatis tempora ad labore voluptatem quos asperiores dolore debitis, officia reiciendis porro repellat hic vitae repudiandae ab, necessitatibus quia?
    .pictos
      each img in ["agu","arai","hjc","lazer","shoei"]
        .logo
          img( src=`${url.img}${img}.png` alt="logo marque")
