extends /organisms/aside

block content
  - var image = "visuel-topsearch"
  aside.aside.topSearch
    .ablock
      .tt Top recherches
      .lists
        ul Marques
          li
            a(href="#") FAZER MOTO occasion
          li
            a(href="#") HONDA - CB1000R occasion
          li
            a(href="#") AFRICA TWIN CRF1000L DCT occasion
        ul Modèles
          li
            a(href="#") FAZER moto occasion
          li
            a(href="#") HONDA - CB1000R occasion
          li
            a(href="#") AFRICA TWIN CRF1000L DCT occasion

    .avisual.o-fit
      img( src=`${url.img}visuel-topsearch.png` sizes="" alt="")
