
{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    <{{ element|default('div') }} class="form-group">
    {{- form_label(form) -}}
    {{- form_widget(form) -}}

    {% for attrname, attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="help-block">{{ attrvalue }}</span>
        {% endif %}
    {% endfor %}

    </{{ element|default('div') }}>
{%- endblock form_row %}


{% block vo_checkboxes_widget %}

    {% set infosKeys = null %}

    {% if object is defined %}

        {% if checkboxes_type == 'plusProduits'  %}
            {% set infosKeys = object.plusProduits %}
        {% endif %}
    {% endif %}

    {% for checkbox in checkboxes %}

        {% set checked = false %}
        {% if infosKeys and infosKeys[checkbox.id] is defined  %}
            {% set checked = true %}
        {% endif %}

        <div class="checkbox">
            <label class="label-checkboxes">
                <div class="icheckbox_square-blue">
                    <input type="checkbox" class="{{ checkboxes_type }}" {% if checked %} checked {% endif %} id="checkbox_{{ checkbox.id }}" name="{{ checkboxes_type }}[{{ checkbox.id }}]"  value="{{ checkbox.name }}">
                </div>
                <span class="control-label__text">{{ checkbox.name }}</span>
            </label>
        </div>

    {% endfor %}

{% endblock %}
