{% block sonata_media_type_widget %}
    <div class="row">
        <div class="col-md-6 pull-left">
            {% if sonata_admin_enabled is defined and sonata_admin_enabled and sonata_admin.admin is not same as(false) %}
                <a href="{{ sonata_admin.admin.getConfigurationPool().adminByAdminCode('sonata.media.admin.media').generateObjectUrl('edit', value) }}">
                    <strong>{{ value.name }}</strong>
                </a>
            {% else %}
                <strong>{{ value.name }}</strong>
            {% endif %}
        </div>
        <div class="col-md-6 pull-left"></div>
    </div>
    <div class="row">

        <div class="col-md-6 pull-left">
            {{ block('form_widget') }}
        </div>

        <div class="col-md-6 pull-left preview-image">
            {% if value is not empty and value.providerReference %}
                <div class="pull-left" style="margin-right: 5px">
                    {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                </div>
            {% else %}
                <div class="pull-left" style="margin-right: 5px">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock sonata_media_type_widget %}
