<aside class="aside topSearch">
    <div class="ablock">
        <div class="tt">Top recherches</div>
        <div class="lists">

            {% for key, result in results|batch(4)%}
                <ul>
                    {% for column in result %}
                        <li>
                            <a target="_blank" href="{{column.getLink()}}">{{column.getModel()}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

        </div>
    </div>
    <div class="avisual o-fit">
        <img src="/media/img/visuel-topsearch.png" sizes="" alt="">
    </div>
</aside>
