{%  extends '@HondaMain/Admin/Emails/layout_mail.html.twig'  %}

{% block content %}

    <div>
        <p>
            {% if isReply %}
                Un concessionnaire a repondu au ticket n° {{ ticketObject.ticketId }}. <br><br>
            {% else %}
                Un concessionnaire a ouvert un nouveau ticket. <br><br>
            {% endif %}

            Nom de la concession :  {{ ticketObject.distributor_name }} <br>
            Code SAP :  {{ ticketObject.distributor_code_sap }} <br>
            Adresse e-mail :  {{ ticketObject.distributor_email }} <br><br>

            Sujet: {{ ticketObject.subject }} </br>
            Message : <br>
            {{ ticketObject.first_message }}

            <br><br>

            Merci,

        </p>
    </div>

{% endblock %}
