<html>
    <head>
        <title>Honda occasions</title>
        <meta name='viewport' content='initial-scale=1.0; maximum-scale=1.0;' />
        <meta name='format-detection' content='telephone=no'> <!-- disable auto telephone linking in iOS -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type='text/css'>
            a:link,
            a:visited {
                color: #00a8ff;
                text-decoration: none;
            }
            @media only screen and (max-device-width: 480px) {
                body {
                    padding: 10px !important;
                }
                body > table {
                    width: 100% !important;
                }
                td {
                    word-wrap: break-word;
                }
                a {
                    word-wrap: break-word;
                }
                p {
                    margin: 10px 0;
                }
            }
        </style>
    </head>

<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0' bgcolor='#f1f1ee'>

    <table cellpadding="0" cellspacing="0" width="98%" bgcolor='#f1f1ee'>
        <tr>
            <td width="100%" align="center">
                <table width='700' cellpadding='0' cellspacing='0' bgcolor='#FFFFFF' style='color:#444;font-family:arial;font-size:14px;line-height:150%;text-align:left;margin-top:10px'>
                    <colgroup>
                        <col width='30'>
                        <col width='840'>
                        <col width='30'>
                    </colgroup>

                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <img style="margin:10px; margin-top: 20px;" height=90 src="https://int.portail.honda-occasions.kora.pro/media/img/logo-honda.png" alt="Honda Motos France"> <br/><br/><br/>
                        </td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td style="padding-left: 80px; padding-bottom: 80px;">
                            <h1  style="font-size: 1.3em;" >  Bonjour,</h1> <br/>
                            {% block content %}{% endblock %}
                        </td>
                        <td>&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>
