{% set POST_ORIGIN_CONCESSION = constant('Honda\\MainBundle\\Model\\Front\\AlaUneManager::POST_ORIGIN_CONCESSION') %}
{% set POST_ORIGIN_PORTAIL = constant('Honda\\MainBundle\\Model\\Front\\AlaUneManager::POST_ORIGIN_PORTAIL') %}

<div class="carousel-container">
    <div class="swiper-container carousel-double" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 2, &quot;pagination&quot;: true, &quot;navigation&quot;: true, &quot;spaceBetween&quot; : 25, &quot;breakpoints&quot;: true}">
        <div class="swiper-wrapper">
            {% if aLaUnes.alauneList is defined %}
                {% for item in aLaUnes.alauneList if item.alaune.showInNavigation %}
                    {% set url = item.alaune.link %}
                    {% if item.alaune.hasRedirection %}
                        {% set url = path('redirect_to', {'url': item.alaune.redirectionUrl|url_encode}) %}
                    {% endif %}
                    <div class="swiper-slide">
                        <div class="block media-1">
                            {#% if item.alaune.media.providerName == 'sonata.media.provider.image' %}
                                <a href="{{ url }}">
                            {% endif %#}

                            {% if item.origin == POST_ORIGIN_CONCESSION %}
                                <div class="media o-fit">
                                    {% if item.alaune.media.providerName == 'sonata.media.provider.image' %}
                                        {% media item.alaune.media, 'big' with {'sizes': '(min-width: 48em) 100px, (min-width: 64em) 352px', 'srcset': ['big']} %}
                                    {% elseif item.alaune.media.providerName == 'sonata.media.provider.youtube' %}
                                        <button class="bt-play" data-video="https://www.youtube.com/embed/{{ item.alaune.media.providerReference }}">
                                            {% thumbnail item.alaune.media, 'big' with {'sizes': '(min-width: 48em) 100px, (min-width: 64em) 352px'} %}
                                        </button>
                                    {% endif %}
                                </div>
                            {% elseif item.origin == POST_ORIGIN_PORTAIL %}
                                <div class="media o-fit">
                                    {% if item.alaune.media.providerName == 'sonata.media.provider.image' %}
                                        <img src="{{ item.alaune.media.url }}" srcset="{{ item.alaune.media.url }} 176w, {{ item.alaune.media.url }} 440w, {{ item.alaune.media.url }} 528w" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ item.alaune.title|raw|upper }}">
                                    {% elseif item.alaune.media.providerName == 'sonata.media.provider.youtube' %}
                                        <button class="bt-play" data-video="https://www.youtube.com/embed/{{ item.alaune.media.providerReference }}">
                                            <img src="{{ item.alaune.media.url }}" srcset="{{ item.alaune.media.url }} 176w, {{ item.alaune.media.url }} 440w, {{ item.alaune.media.url }} 528w" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ item.alaune.title|raw|upper }}">
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="text">
                                <div class="inner-text">
                                    <h2 class="tt">{{ item.alaune.title|raw|upper }}</h2>
                                    <span class="sub">{{ item.alaune.subtitle }}</span>
                                    <span class="infos">{{ item.alaune.textMea|raw }}</span>
                                    <span class="price">{{ item.alaune.promoPrice|raw }}</span>
                                </div>
                                {% if item.alaune.link or item.alaune.hasRedirection %}
                                    <div class="buttons">
                                        <span class="bt-01">
                                            <a href="{{ url }}" {{ item.alaune.hasRedirection or item.alaune.linkOpenInNewTab ? 'target="_blank"' }}>{{ item.alaune.linkLabel|default('Voir plus') }}</a>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>

                            {#% if item.alaune.media.providerName == 'sonata.media.provider.image' %}
                                </a>
                            {% endif %#}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div class="controls">
            <div class="bt-slider prev"></div>
            <div class="swiper-pagination"></div>
            <div class="bt-slider next"></div>
        </div>

    </div>
</div>
