<div class="swiper-container carousel-triple" data-sliderConfig="{&quot;loop&quot; : {{ homepageNews.newsList|length <= 3 ? 'false' : 'true' }}, &quot;slidesPerView&quot;: 3, &quot;pagination&quot;: true, &quot;navigation&quot;: true, &quot;spaceBetween&quot; : 30, &quot;breakpoints&quot;: true}">

    {% set POST_ORIGIN_CONCESSION = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_CONCESSION') %}
    {% set POST_ORIGIN_PORTAIL = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_PORTAIL') %}

    {% set currentNews = null %}
    {% if news is defined %}
        {% set currentNews = news.id ~ news.slug %}
    {% endif %}

    <div class="swiper-wrapper {{ homepageNews.newsList|length <= 3 ? 'three-blocks' }}">
        {% if homepageNews.newsList is defined %}
            {% for item in homepageNews.newsList|filter(item => item.hideInNavigation is defined and not item.hideInNavigation) %}
                {% if ( item.news.id ~ item.news.slug ) != currentNews %}
                    <div class="swiper-slide">
                        <div class="block media-3">
                            {% if item.origin == POST_ORIGIN_CONCESSION %}

                                <a href="{{ url('news_show_article', {'slug': item.news.slug}) }}">
                                    <div class="media">
                                        <img src="{% path item.news.image, 'small' %}" srcset="{% path item.news.image, 'small' %}, {% path item.news.image, 'medium' %}, {% path item.news.image, 'big' %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ item.news.title }}">
                                    </div>
                                    <div class="text">
                                        <h2 class="tt">{{ item.news.title }}</h2>
                                        <div class="buttons">
                                            <span class="bt-01">En savoir plus</span>
                                        </div>
                                    </div>
                                </a>

                            {% elseif item.origin == POST_ORIGIN_PORTAIL %}
                                {% set url = url('news_show_portail_article', {'slug': item.news.slug}) %}
                                {% if item.news.hasRedirection %}
                                    {% set url = path('redirect_to', {'url': item.news.redirectionUrl|url_encode}) %}
                                {% endif %}
                                <a href="{{ url }}" {{ item.news.hasRedirection ? 'target="_blank"' }}>
                                    <div class="media">
                                        <img src="{{ item.news.image }}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ item.news.title }}">
                                    </div>
                                    <div class="text">
                                        <h2 class="tt">{{ item.news.title }}</h2>
                                        <div class="buttons">
                                            <span class="bt-01">En savoir plus</span>
                                        </div>
                                    </div>
                                </a>

                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="controls">
        <div class="bt-slider prev"></div>
        <div class="swiper-pagination"></div>
        <div class="bt-slider next"></div>
    </div>
</div>

{% if load_js is defined %}
<script src="{{ asset('assets/front/js/app.js') }}"></script>
{% endif %}
