{% if not collectionCounter %}

    <div class="error-page">
        <p>Pas de véhicule d'occasion en ce moment</p>
        <div class="media">
            <img src="{{ asset('assets/front/media/dyn/c-background-noresult-1024.jpg') }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" title="Pas de véhicule d'occasion en ce moment" alt="Pas de véhicule d'occasion en ce moment">
        </div>
    </div>

{% else %}

    {% if description is defined and description and collectionCounter %}
        <div class="paragraphe">
            {{ description|raw }}
        </div>
    {% endif %}

    <div data-load-content="grid-retailers">
        <div class="grid">
            <div class="grid-wrapper">

                <div class="big-box">
                    {% include '@HondaMain/Front/VehicleAd/_vehicleAd_item.html.twig' with {'vehiclesAd': vehiclesAd, 'context': 'big'} %}
                </div>

                <div class="big-box">
                    {% for vehiclesAd in bigBoxVehiclesAdCollection %}
                        {% include '@HondaMain/Front/VehicleAd/_vehicleAd_item.html.twig' with {'vehiclesAd': vehiclesAd } %}
                    {% endfor %}
                </div>

                {% for vehiclesAd in vehiclesAdCollection %}
                    {% include '@HondaMain/Front/VehicleAd/_vehicleAd_item.html.twig' with {'vehiclesAd': vehiclesAd } %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endif %}



