{% if services|length %}

<!-- module services-->
<section class="module bg-light">
    <div class="wp-st">
        <header class="shead">
            <div class="sh-container"></div>
            <div class="sh-container tt">
                <h2 class="tt-2">
                    <span>Services</span>
                </h2>
            </div>

            <div class="sh-container">
                <div class="sbtn">
                    <a href="{{ url('services') }}"><button class="bt-01" >Voir tous nos services</button></a>
                </div>
            </div>

        </header>
        <div class="carousel-container">
            <div class="swiper-container carousel-triple" data-sliderConfig="{&quot;loop&quot; : {{ services.services|length <= 3 ? 'false' : 'true' }}, &quot;slidesPerView&quot;: 3, &quot;pagination&quot;:true, &quot;navigation&quot;:true, &quot;spaceBetween&quot; : 30, &quot;breakpoints&quot;: true}">

                <div class="swiper-wrapper {{ services.services|length <= 3 ? 'three-blocks' }}">

                   {% for service in services.services if service.showInNavigation %}

                        {% set url = url('services') ~ '#' ~ service.block_uniqid %}
                        {% if service.hasRedirection %}
                            {% set url = path('redirect_to', {'url': service.redirectionUrl|url_encode}) %}
                        {% endif %}

                        <div class="swiper-slide">
                            <div class="block media-3">
                                <a href="{{ url }}" {{ service.hasRedirection ? 'target="_blank"' }}>

                                    <div class="media">
                                        {% if service.image %}
                                            {% if service.from_portail %}
                                                <img src="{{ service.image }}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ service.title }}">
                                            {% else %}
                                                <img src="{% path service.image, 'reference' %}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ service.title }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>

                                    <div class="text">
                                        <h2 class="tt">{{ service.title }}</h2>
                                        <div class="buttons">
                                            <span class="bt-01">En savoir plus</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div class="controls">
                    <div class="bt-slider prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="bt-slider next"></div>
                </div>

            </div>
        </div>
        <div class="mod-buttons">
            <a class="bt-01" href="{{ url('services') }}">Voir tous nos services</a>
        </div>
    </div>
</section>
<!-- /module services-->
{% endif %}
