{% if vehiclesAds|length %}

<!-- module dernières occasions-->
<section class="module bg-light">
    <div class="wp-st">
        <header class="shead">
            <div class="sh-container"></div>
            <div class="sh-container tt">
                <h2 class="tt-2">
                    <span>Dernières occasions</span>
                </h2>
            </div>
            <div class="sh-container">
                <div class="sbtn">
                    <a class="bt-01" href="{{ url('vehicule_occasion') }}" >Voir toutes les annonces</a>
                </div>
            </div>
        </header>
        <div class="carousel-container">
            <div class="swiper-container carousel-quattro" data-sliderConfig="{&quot;loop&quot; : {{ vehiclesAds|length <= 3 ? 'false' : 'true' }}, &quot;slidesPerView&quot;: 4, &quot;pagination&quot; : true, &quot;navigation&quot; : true, &quot;spaceBetween&quot; : 30, &quot;breakpoints&quot;: true}">
                <div class="swiper-wrapper {{ vehiclesAds|length <= 3 ? 'three-blocks' }}">

                    {% for vehiclesAd in vehiclesAds|filter(vehiclesAd => not vehiclesAd.hideInNavigation) %}
                        <div class="swiper-slide">
                            {% include '@HondaMain/Front/VehicleAd/_vehicleAd_item.html.twig' with {'vehiclesAd': vehiclesAd } %}
                        </div>
                    {% endfor %}

                </div>

                <div class="controls">
                    <div class="bt-slider prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="bt-slider next"></div>
                </div>

            </div>
        </div>
        <div class="mod-buttons">
            <a class="bt-01" href="{{ url('vehicule_occasion') }}">Voir toutes les annonces</a>
        </div>
    </div>
</section>
<!-- /module dernières occasions-->

{% endif %}


