{% if homepageNews|length %}

<!-- module actualités et événements-->
<section class="module bg-dark">
    <div class="wp-st">
        <header class="shead">
            <div class="sh-container">
                <form class="sort" action="/ajax/news-events.json" method="get">
                    <div class="std-field">
                        <label class="label main" for="select">Afficher par
                        </label>
                        <span class="custom-select">
                          <select class="condensed" id="select" name="select" data-load='{"target":"slider-news-events","slider":true}'>
                            <option class="disabled" value="" selected>Sélectionner</option>
                            {% for cat in newsCategories %}
                                {# Display disponible category #}
                                {% if cat.id in homepageNews.dispoCats %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endif %}
                            {% endfor %}
                          </select>
                          <label for="select">Sélectionner</label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="sh-container tt">
                <h2 class="tt-2">
                    <span>{{ blockTitle|default('Actualités et événements') }}</span>
                </h2>
            </div>
            <div class="sh-container">
                <div class="sbtn">
                    <a href="{{ url('news') }}" class="bt-01">{{ blockMoreText|default('Voir toutes les actualités') }}</a>
                </div>
            </div>
        </header>
        <div data-load-content="slider-news-events">
            <div class="carousel-container" id="carousel-hp-news">
                {% include "@HondaMain/Front/Block/_block_new_events_swiper.html.twig" with {'homepageNews': homepageNews} %}
            </div>
        </div>
        <div class="mod-buttons">
            <a class="bt-01" href="{{ url('news') }}">{{ blockMoreText|default('Voir toutes les actualités') }}</a>
        </div>
    </div>
</section>
<!-- /module actualités et événements-->
{% endif %}
