{% set POST_ORIGIN_CONCESSION = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_CONCESSION') %}
{% set POST_ORIGIN_PORTAIL = constant('Honda\\MainBundle\\Model\\Front\\NewsManager::POST_ORIGIN_PORTAIL') %}

{% if article is not null  %}
    {% if article.origin == POST_ORIGIN_CONCESSION %}
        {% set articleUrl = url('news_show_article', {'slug': article.news.slug}) %}
    {% elseif article.origin == POST_ORIGIN_PORTAIL %}
        {% set articleUrl = url('news_show_portail_article', {'slug': article.news.slug}) %}
    {% endif %}
    {% if article.news.redirectStatus is defined and article.news.redirectStatus %}
        {% set articleUrl = path('redirect_to', {'url': article.news.redirectUrl|url_encode}) %}
    {% endif %}
    <article class="img-content">
        <div class="media o-fit">
            {% if article.origin == POST_ORIGIN_CONCESSION %}
                <a href="{{ url('news_show_article', {'slug': article.news.slug}) }}">
                    <img src="{% path article.news.image, 'big' %}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="{{ article.news.title }}" title="{{ article.news.title }}">
                </a>
            {% elseif article.origin == POST_ORIGIN_PORTAIL %}
                <a href="{{ url('news_show_portail_article', {'slug': article.news.slug}) }}">
                    <img src="{{ article.news.image }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="{{ article.news.title }}" title="{{ article.news.title }}">
                </a>
            {% endif %}
        </div>

        <div class="paragraph bg-white">
            <p class="date">{{ article.news.startDate|localizeddate('none', 'none', null, null, 'dd MMMM Y') }} </p>
            <h2 class="tt-2">{{ article.news.title }}</h2>
            <div class="edito">
                <p>{{ article.news.description1|truncate(150)|raw }}</p>

                <p>
                    <a style="text-align: center" href="{{ articleUrl }}">
                        <button class="bt-01">En savoir plus</button>
                    </a>
                </p>
            </div>
        </div>
    </article>
{% endif %}

{% if counter %}

    <div class="article-list clearfix bg-light">

        {% for item in newsCollection %}

            <div class="block media-3">

                {% set articleUrl = ''  %}

                {% if item.origin == POST_ORIGIN_CONCESSION %}
                    {% set articleUrl = url('news_show_article', {'slug': item.news.slug})  %}
                {% elseif item.origin == POST_ORIGIN_PORTAIL %}
                    {% set articleUrl = url('news_show_portail_article', {'slug': item.news.slug}) %}
                {% endif %}
                {% if item.news.redirectStatus is defined and article.news.redirectStatus and item.origin == POST_ORIGIN_CONCESSION %}
                    {% set articleUrl = path('redirect_to', {'url': item.news.redirectUrl|url_encode}) %}
                {% endif %}
                {% if item.news.hasRedirection and item.origin == POST_ORIGIN_PORTAIL %}
                    {% set articleUrl = path('redirect_to', {'url': item.news.redirectionUrl|url_encode}) %}
                {% endif %}

                <a href="{{ articleUrl }}">
                    <div class="media">
                        {% if item.origin == POST_ORIGIN_CONCESSION %}
                            <img src="{% path item.news.image, 'medium' %}" srcset="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="{{ item.news.title }}">
                        {% elseif item.origin == POST_ORIGIN_PORTAIL %}
                            <img src="{{ item.news.image }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="{{ item.news.title }}">
                        {% endif %}
                    </div>
                    <div class="text">
                        <h2 class="tt">{{ item.news.title }}</h2>
                        <div class="buttons">
                            <span class="bt-01">En savoir plus</span>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
{% endif %}
