{% if  aLaUnes.counter is defined and aLaUnes.counter %}

<!-- module a la une-->
<section class="module bg-grey" data-tabs>

    <div class="wp-st">

        <header class="shead">

            <div class="sh-container">
                <form class="sort" action="/ajax/top-news.json" method="get">
                    <div class="std-field">
                        <label class="label main" for="select">Trier par
                        </label>
                        <span class="custom-select">

                            {% if aLaUnesCategories is defined and aLaUnesCategories|length > 0 %}

                                <select class="condensed" id="select-alaune" name="select" data-load='{"target":"slider-top-news","slider":true}'>
                                    <option class="disabled" value="" selected>Sélectionner</option>
                                    {% for cat in aLaUnesCategories %}
                                        {# Display disponible category #}
                                        {% if cat.id in aLaUnes.dispoCats %}
                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="select">Sélectionner</label>

                            {% endif %}

                        </span>
                    </div>
                </form>
            </div>

            <div class="sh-container tt">
                <h2 class="tt-2">
                    <span>À la une</span>
                </h2>
            </div>

            <div class="sh-container"></div>

        </header>

        <div data-load-content="slider-top-news">
            {% include "@HondaMain/Front/Block/_block_a_la_une_swiper.html.twig" with {'aLaUnes': aLaUnes} %}
        </div>

    </div>

</section>
<!-- /module a la une-->
{% endif %}
