{% spaceless %}{% trans_default_domain 'EUCookieLaw' %}
    <div id="cookies" class="eu-cookie-law " aria-hidden="false">
        <div class="wp-st">
            {{ cookie.getGlobals().cookieMessage.message|raw }}
        </div>
    </div>
    <style>
        .sonata-bc.skin-black .eu-cookie-law {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            font-size: 0.7em;
            color: white;
            padding: 0.3em;
        }
        .sonata-bc.skin-black .bt-close {
            display:none;
        }
    </style>
{% endspaceless %}
