.error-page
   img
      width: 100%
   p
      font-size: em(18 / $fz)
      color: $dark
      text-align: center
      line-height: 1.2
      margin: rem(15) auto
      font-weight: $fw-bold
      font-family: $ff-c

   .bt-01
      display: block
      margin: rem(20) auto 0 auto
