/*
 *  HONDA MOTO OCCASION | BASE STYLES
 */

html
   box-sizing: border-box

*
*:before
*:after
   box-sizing: inherit

body
   -webkit-font-smoothing: antialiased
   background: $bg-color
   color: $color
   font-family: $ff
   font-size: $font-root
   line-height: 1


   &.portail
      padding-top: 0

   .nav-open &
      overflow: hidden

.wp-st
   background: inherit
   margin-left: auto
   margin-right: auto
   padding-left: rem( 8 )
   padding-right: @padding-left

.bg-dark
   background: $grey2

.bg-grey
   background: $grey3

.bg-light
   background: $grey7

.bg-white
   background: $light

// object-fit polyfill
.object-fit
   background-size: cover
   background-position: 50% 50%
   background-repeat: no-repeat

   img
      pointer-events: none
      visibility: hidden

   &.contain
      object-fit: contain

.loading
   position: relative

   &:before
      background: rgba($light, .5) url($data['$urls'].img+'ajax-loader.gif') no-repeat 50% 50%
      content: ""
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 15

.tab[aria-hidden="true"]
   display: none

.desktop-content
   display: none

.mobile
   display:block !important

.mobile-tablette
   display:block !important

.desktop
   display:none !important

.main-logo.mobile
   display:none !important


.pre-footer 
   .mobile
      display: block !important   

.only-print
   display:none !important

#print-title
   display: none

.print-bg
   display: none !important



@media print
   body
      padding:0 !important
      background: none !important
   
   
   .module
      padding: 0 !important
   .no-print
      display:none !important

   .only-print
      display:block !important   

   .wp-st
      padding: 0 !important

   .print-bg
      width: 100% !important
      height: 100% !important
      position: absolute !important
      left:0
      top:0
      display: block !important
      z-index: 0
   
   .flag
      color: #000 !important
      padding-right: 15px !important

      &:after
         display: none !important
         transform: none

      text
         fill: #000 !important

      .curved-text + span
         position:relative
      
      .curved-text + span:before, .curved-text + span:after
         background: none
         border: solid 1px #000

      .curved-text + span:before, .curved-text + span:before
         background: none
         border: solid 1px #000

   .black-bg
      width: 100% !important
      z-index: 1
      object-fit: unset !important
      

   .main-bg
      width: 100% !important 
      object-fit: unset !important

   .garanti-bg
      object-fit: unset !important
      top: 0;
      left: 0;
      height: 75px;
      width: 100px;

   .form-actions
      display: none !important   
      
   .print
      padding:10px
      font-family: Arial !important

      .p-gall 
         .product-gallery-nav
            order:2 

      header
         display:none

      h1
         display: none   
      
      h2
         span:first-child
            display:none

      #print-title
          display: block   
          font-size: 23px !important
          padding:0 35px 0 0

      .edito p, .product-specs, .product-quote
         font-size: 16px

      .edito p
         margin: 15px 0;

      .product-gallery 
         .main-img
            z-index: 2 !important
            object-fit: unset !important
            width: auto !important
            left:0
            right:0
            margin: auto
         .view
            -webkit-box-align: stretch
            -ms-flex-align: stretch
            align-items: stretch
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            position: relative
            height:280px

            .media
               flex-shrink: 0;
               overflow: hidden;
               width: 100%;

               img
                  height:280px

               .gallery-buttons
                  display:none

            .thumbnails 
               background: #000
               display: block
               width: 33.606557377%
               position:relative
               overflow:hidden
               display: none

               ul
                  align-content: flex-start
                  display: -webkit-box
                  display: -ms-flexbox
                  display: flex
                  -ms-flex-wrap: wrap
                  flex-wrap: wrap
                  height: 100%
                  padding: 0 0.3rem 0.3rem
                  -webkit-box-pack: justify
                  -ms-flex-pack: justify
                  justify-content: space-between

                  li
                     height: calc( 100% / 3 - 0.2rem )
                     margin-top: 0.2rem
                     width: calc( 50% - 0.2rem )

                     button
                        display: block
                        height: 100%
                        outline: none;
                        position: relative
                        -webkit-transition: all 0.12s linear
                        transition: all 0.12s linear
                        width: 100%

                        &:before
                           border:none

                        img
                           display: block
                           height: 100%
                           -o-object-fit: cover
                           object-fit: cover
                           width: 100%

      .object-fit img
         visibility: visible

      .product-quote
         color: #000000
         padding-bottom: 15px;

         blockquote
            padding:15px 6% 30px
            &:before
               left:0
            &:after
               right:0

            p
               margin:0  
   

         &:after
            border-bottom: 4.7rem solid #fff;  
            display: none !important
         
         .tt
            color:#000 !important
            display: block !important
            z-index: 100 !important
            position: relative
            font-size: 23px !important

      .product-quote .quote-flags span:before   
         border: solid 15px #000
         background: none           

      .product-specs
         padding: 1.8rem 1.8rem 0

         .tt
            font-size: 22px
            margin-bottom: 8px
            

         li
            line-height: 1.2   
         .cols
            display: flex
            .col
               padding-right: pct( 52 / 1220 )
               width: 50%

               & + .col
                  border-left: 1px solid $dark
                  padding-left: pct( 52 / 1220 )
                  padding-right: 0

      .product-gallery-nav
         flex-wrap: nowrap;
         .tt
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            color: #c00
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            font-size: 2.2857142857em
            -webkit-box-pack: justify
            -ms-flex-pack: justify
            justify-content: space-between
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            flex-grow: 1
            -webkit-box-ordinal-group: 2
            -ms-flex-order: 1
            order: 1
            padding: 1.25rem
            text-transform: uppercase
            text-align: left
            width: auto
            padding:0
            margin:0

               b
                  font-size:23px  !important

         .controls
            display: none !important  

         a
            display: none !important   

         h2
            margin: 20px 0



      @page 
         size: auto
         margin: 5mm      

.clearfix::after 
  content: ""
  clear: both
  display: table
           

