/*
 *  HONDA MOTO OCCASION | TEXT STYLES
 */

$border
   background: $grey6
   content: ""
   display: block
   height: 2px
   left: 0
   margin: auto
   position: absolute
   top: 50%
   transform: translateY(-50%)
   width: 100%
   z-index: 1

   .bg-dark &
      background: $light

.edito h1, .edito .title-1
   color: $red1
   font-family: $ff-c
   font-size: 30px
   font-weight: $fw-light
   line-height: 1
   text-transform: uppercase

   em
      color: $dark
      font-style: normal

      .portail &
         color: $red1

.tt-2
.edito h2, .edito .title-2
   color: $red1
   font-family: $ff-c
   font-size: 26px
   font-weight: $fw-light
   line-height: 1
   text-transform: uppercase

   em
      color: $dark
      font-style: normal

      .portail &
         color: $red1

   .bg-dark &
      color: $light

   &.tt-alt
      color: $dark

.tt-3
.edito h3, .edito .title-3
   color: $red1
   font-family: $ff-c
   font-size: 23px
   font-weight: normal
   margin-bottom: rem( 40 )
   margin-top: rem( 20 )
   text-transform: uppercase

   &:first-child
      margin-top: 0

.tt-edito
.edito h3, .edito .title-3
.edito h4
   font-size: 20px
   font-weight: bold

.shead
   position: relative
   background: inherit
   display: flex
   align-items: center
   justify-content: space-between
   flex-grow: 0
   flex-shrink: 0
   margin-bottom: rem( 30 )

   .tt-2
      .portail &
         color: $dark

   .sh-container
      background: inherit

      &:first-child
         & > *
            padding-left: 0
      &:last-child
         & > *
            padding-right: 0
            justify-self: flex-end

      &:not(.tt)
         display: none

      &.tt
         flex-grow: 1
         flex-shrink: 1
         max-width: none
         width: 100%

      &:last-child
         text-align: right

   .sort
   .sbtn
      background: $bg-color
      display: inline-block
      position: relative
      padding: 0 rem(18)
      z-index: 2

      [class*="bg-"] &
         background: inherit

      .bg-dark &
         .std-field
            & > label
               color: $light

   .tt-2
      font-size: em( 20 / $fz )
      max-width: 90%
      margin: auto
      text-align: center
      background: inherit

      &:before
         @extends $border

      span
         background: $bg-color
         padding: 0 rem( 16 )
         position: relative
         z-index: 2
         display: inline-block

         [class*="bg-"] &
            background: inherit

   .std-field
      align-items: center
      display: flex

      & > label
         text-transform: lowercase
         font-weight: normal
         padding-right: rem( 10 )
         text-transform: none

         &:first-letter
            text-transform: uppercase

   &:not(.left-elem):not(.right-elem)
      &:after
         @extends $border

.paragraphe
   p
      font-size: rem( 16 )
      font-weight: normal
      margin: rem( 36 ) rem( 0 )
      line-height: 1.3

      &:first-child
         margin-top: 0

p.txt
.edito p
   line-height: 1.3

.actualite
   .shead
      flex-direction: column;
      &:not(.left-elem):not(.right-elem)
         &:after
            top:13%
      .tt-2
         &:before
            top:13%
   .sh-container
      &:not(.tt)
         display: block
         order:2
         width:100%
      &.tt
         margin-bottom: 15px
      form
         width:100% 
         .custom-select
            width:100%
         .std-field
            label
               &.main
                  width:80px  


.garantie-style
    border: solid 1px #c00;
    padding: 10px;
    font-size: 1.9em !important;
    text-align: center;


.portail
   header.shead
      position: relative !important

h1, h2
   margin: 3% 0;

.mention-legal
   .tt-2
      margin: 3% 0;
   .tt
      font-weight:600


