/*
 *  HONDA MOTO OCCASION | THEME STYLES
 */

$themes = {
   "red": $red1,
   "white": $light
}

for $color in $themes
   .theme-{$color}
      header[role="banner"]
         .header-controls
            background-image: linear-gradient(to right, $themes[$color] 0%, rgba($themes[$color], 0.8) 92%, rgba($themes[$color], 0.6) 98%, rgba($themes[$color], 0.1) 102%)

         .submenu
            background-color: $themes[$color]

      .retailer-infos
         .wp
            background-color: rgba( $themes[$color], .8 )

         .foot
            a
               background-color: $themes[$color]

      +media('(max-width: 64em)')
         header[role="banner"]
            &
            .retailer-logo
            .bt-menu
            .header-controls .wp-st
               background-color: $themes[$color]

            .header-controls
               background-image: none
               &:after
                  background-color: rgba($light,.3)

.theme-red
   +media('(max-width: 64em)')
      header[role="banner"]
         .bt-menu
            color: $light

   header[role="banner"]
      nav
         li:hover > a
         a:hover
         a.active
            color: $light

            &:after
               border-bottom-color: $light

      .social
         .ui--facebook
            .f
               fill: $red1

            &:hover
               fill: rgba($light,.3)!important;

.theme-white
   header[role="banner"]
      .header-controls
         color: $dark
      nav
         li:hover > a
         a:hover
         a.active
            color: $red1

            &:after
               border-bottom-color: $red1

         a
         button
            border-top-color: $dark

      .bt-menu
         color: $dark

         &:after
            background-color: $dark

         &:before
            border-top-color: $dark
            border-bottom-color: $dark

      .social
         .ui--facebook
            fill: $dark

            .f
               fill: $light

            &:hover
               fill: $facebook

   .retailer-infos
      .wp
         background-color: rgba( $light, .8 )
         color: $dark

         .bt-ui
            border-color: $dark

            svg
               fill: $dark

         a
            color: $dark     

      .foot
         a
            color: $dark

            &:before
               border-color: $dark

            svg
               fill: $dark
