/*
 *  HONDA MOTO OCCASION | UI STYLES
 */

$bt-arrow
   background: $dark
   border: 2px solid $dark
   height: rem( 35 )
   position: relative
   transition: all .17s ease-in-out
   width: rem( 18 )

   &:before
      border-bottom: 1px solid $light
      border-left: 1px solid $light
      content: " "
      display inline-block
      height: rem( 8 )
      position: absolute
      top: 50%
      transition: all .17s ease-in-out
      left: 50%
      width: rem( 8 )

   &:hover
      background: $light
      border-color: $red1

      &:before
         border-bottom-color: $red1
         border-left-color: $red1

.social
   [class*="ui--"]
      height: rem( 44 )
      transition: fill .1s linear
      width: @height

   .ui--facebook
      .f
         fill: $dark
      &:hover
         fill: $facebook
   .ui--twitter
      &:hover
         fill: $twitter
   .ui--instagram
      &:hover
         fill: $instagram
   .ui--youtube
      &:hover
         fill: $youtube

.bt-close
   &:before
      content: "X"
      font-size: rem( 35 )
      font-weight: 400

   span
      hide()

[class*="bt-"]
   cursor: pointer
   display: inline-block
   text-decoration: none

.bt-menu
   align-items: center
   background: $dark
   display: flex
   font-size: em( 16 / $fz )
   border: 0 solid transparent
   border-width: 0 rem( 5 ) 0 0
   position: relative
   text-transform: uppercase

   &:before
   &:after
      transition: all .17s linear

   &:before
      content: ""
      border: 0 solid $light
      border-width: rem( 3 ) 0
      display: block
      height: rem( 14 )
      order: 1
      margin-left: rem( 6 )
      width: rem( 18 )

   &:after
      background: $light
      content: ""
      display: block
      height: rem( 3 )
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      width: rem( 18 )

   .portail &
      background: none

      &:before
         border-color: $dark

      &:after
         background: $dark

   &[aria-expanded="true"]
      &:before
         border-bottom: 0 none
         height: 0
         transform: rotate(-45deg)

      &:after
         transform: rotate(45deg)
         margin-top: rem( -1 )

.bt-ui
   align-items: center
   display: inline-flex

   svg
      max-height: rem( 30 )

.bt-01
   background: $red1
   border: 2px solid transparent
   color: $light
   font-size: rem( 13 )
   font-family: $ff-c
   font-weight: normal
   padding: rem( 9 ) rem( 12 ) rem( 7 ) rem( 6 )
   text-transform: uppercase
   transition: all .17s ease-in-out

   a
      color:inherit
      display: inline-block !important

   &.disabled
      display: none
      pointer-events: none

   &.large
      padding-bottom: rem( 14 )
      padding-top: @padding-bottom

   &.alt
      background-color: $dark
      color: $light

      &:before
         border-bottom-color: $light
         border-left-color: $light

      &:hover
         background: $light
         border-color: $dark
         color: $dark

         &:before
            border-bottom-color: $dark
            border-left-color: $dark

   &:before
      border-bottom: 2px solid $light
      border-left: 2px solid $light
      content: ""
      display inline-block
      height: rem( 8 )
      margin-right: rem( 10 )
      margin-top: -2px
      transform: rotate(-125deg) skew( 20deg )
      transition: border-color .17s ease-in-out
      vertical-align: middle
      width: rem( 8 )

   &:hover
      background: $light
      border-color: $red1
      color: $red1

      &:before
         border-bottom-color: $red1
         border-left-color: $red1

.bt-02
   align-items: center
   display: inline-flex
   padding: rem( 5 )

   svg
      height: rem( 30 )
      margin-left: rem( 11 )
      width: rem( 40 )


   .bg-dark &
      color: $light

      svg
         fill: $light

.bt-03
   @extends .bt-01
   background: $dark
   width: 100%
   text-align: center
   margin-bottom: rem( 30 )

.bt-slider
   @extends $bt-arrow

   &.prev
      &:before
         transform: translate(-50%, -50%) rotate(45deg)
         transform-origin: 75% 75%

   &.next
      &:before
         transform: translate(-50%, -50%) rotate(-135deg)
         transform-origin: 40% 50%


   .bg-dark &
      background: $dark
      border: 2px solid $dark

      &:before
         border-bottom: 1px solid $light
         border-left: 1px solid $light

      &:hover
         border-color: $red1

         &:before
            border-bottom-color: $red1
            border-left-color: $red1

.bt-dropdown
   @extends .bt-slider

.bt-contact
   bottom: 0
   height: rem( 54 )
   left: 0
   position: fixed
   min-width: rem( 110 )
   z-index: 60

   .i
      color: $light
      content: "i"
      display: block
      font-family: 'Times New Roman', Times, serif
      font-size: rem( 40 )
      font-style: italic
      margin-right: rem( 8 )
      font-weight: 800
      position: relative
      text-align: center
      transition: all .17s linear
      z-index: 3

   .t
      bottom: 0
      color: $light
      display: block
      font-size: rem( 13 )
      position: relative
      text-align: center
      padding: 0 rem( 4 )
      z-index: 3

   &:before
   &:after
      content: ""
      background: $red1
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      transition: all .17s linear
      transform-origin: 0 100%
      transition: all .17s linear
      transform: skew(27deg)
      pointer-events: none
      width: "calc( 100% + %s)"% rem( 6 )
      z-index: 2

   &:after
      background: $red1
      height: calc( 100% + 4px )
      top: -2px
      width: "calc( 100% + %s)"% rem( 9 )
      z-index: 1

   &:hover
      &:before
         background-color: $light

      &:after
         background-color: $red1

      span
         color: $red1

.bt-top
   bottom: 0
   height: rem( 54 )
   position: fixed
   right: 0
   width: rem( 82 )
   z-index: 45

   &:before
   &:after
      content: ""
      transition: all .17s linear
      position: absolute

   &:before
      border-bottom: rem( 50 ) solid $dark
      border-left: rem( 25 ) solid transparent
      display: block
      height: 0
      left: 3px
      top: 2px
      width: rem( 77 )
      z-index: 2

   &:after
      border-bottom: 1px solid $light
      border-left: 1px solid $light
      display inline-block
      height: rem( 10 )
      left: 50%
      top: 50%
      transform-origin: 75% 75%
      transform: translate(-50%, -50%) rotate(135deg)
      width: rem( 10 )
      z-index: 3

   span
      border-bottom: rem( 54 ) solid $dark
      border-left: rem( 27 ) solid transparent
      left: 0
      position: absolute
      top: 0
      width: rem( 82 )
      z-index: 1

   &:hover
      &:before
         border-bottom-color: $light

      &:after
         border-bottom-color: $dark
         border-left-color: $dark

[data-tooltip]
   cursor: pointer
   outline: none
   position: relative

   &:hover
   &:focus
      .tooltip
         opacity: 1
         margin-top: rem( 12 )

      img + .tooltip
         margin-right: 0
         margin-top: 0

.tooltip
   background: $light
   border: 2px solid $dark
   color: $dark
   display: block
   line-height: 1
   left: 50%
   font-size: rem( 16 )
   font-weight: normal
   margin-top: rem( 20 )
   opacity: 0
   padding: rem( 8 ) rem( 16 )
   pointer-events: none
   position: absolute
   top: 100%
   transition: all .1s ease-in-out
   transform: translate( -50%, rem( 5 ) )
   text-transform: none
   z-index: 20

   span
      display: block
      position: relative
      z-index: 1
      font-weight: normal !important

   &:before
      background: $light
      content: ""
      border: 2px solid $dark
      border-width: 2px 2px 0 0
      bottom: 100%
      left: 50%
      display: block
      height: rem( 15 )
      transform: rotate( -48deg ) translate( -50%, 50% ) skew( -7deg )
      transform-origin: -10% 100%
      position: absolute
      width: @height

img + .tooltip
   left: auto
   right: 100%
   top: 50%
   margin-right: rem( 12 )
   margin-top: 0
   transform: translate( rem( 10 ), -50% )
   white-space: nowrap

   &:before
      bottom: 50%
      left: 100%
      transform: rotate( 42deg ) translate( -52%, 32% ) skew( -7deg )
      transform-origin: -10% 100%


.bt-prev
.bt-next
   &:before
      content: ""
      border-style: solid
      border-width: 0 rem( 15 ) rem( 22 ) rem( 15 )
      border-color: transparent transparent $light transparent
      display: block
      height: 0
      width: 0

.bt-prev
   transform: rotate( -90deg )

.bt-next
   transform: rotate( 90deg )

.bt-play
   position: relative

   &:after
      border-left: rem( 36 ) solid $light
      border-bottom: rem( 24 ) solid transparent
      border-top: rem( 24 ) solid transparent
      content: ""
      display: block
      height: 0
      left: 50%
      position: absolute
      transform: translate( -50%, -50% )
      top: 50%
      width: 0

.custom-select
   .locate
      background: url( $data['$urls']['img'] + 'localize.svg' ) no-repeat rem( 15 ) 50%
      background-size: auto rem( 14 )
      padding-left: rem( 38 )


.reset-search
       padding: 0.625rem 2.375rem
       position: relative
       right:0
       display: inline-block
       margin: 10px auto
       &.active
         display: block
         

.btn-retour
   width: 100%
   margin:15px 0 25px
   text-align:center
   position:relative

   &:before
      position:absolute
      left:15px
      top:0
      bottom:0
      margin: auto
      -webkit-transform: rotate(45deg) ;
      transform: rotate(45deg);


@media(max-width:600px)
   .reset-search
      display:block !important
