{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}
    <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"> <img src="{{ object.picto }}" width="35" height="35" alt=""> </a>
{% endblock %}
