extends /layout/module

block vars
  -
    form = form && Object.keys(form).length > 0 ? form : {}
    var formData = {
      "name": form.name || "checkbox",
      "label": form.label || "checkbox",
      "type": form.type || "checkbox",
      "id": form.id || form.name,
      "class": form.class,
      "disabled": form.disabled,
      "required": form.required,
      "terms": form.terms
    }

block content
  div.std-field
    span( class=`custom-${formData.type}` )
      input( type=formData.type id=formData.id name=formData.name required=formData.required disabled=formData.disabled class=formData.class )
      label( for=formData.id )!= formData.label
        if formData.required && !noRequiredMsg
          a( href="" ) obligatoire 
            abbr *
        if formData.terms
          a( href="" ) Vie privée et cookies.
