extends /layout/module

block vars
  -
    form = form && Object.keys(form).length > 0 ? form : {}
    var formData = {
      "name": form.name || "select",
      "label": form.label || "select",
      "type": form.type || "select",
      "options": form.options || {
        start: [ 0, 8000 ],
        range: {
          'min': [ 0 ],
          'max': [ 8000 ],
        }
      },
      "class": form.class,
      "disabled": form.disabled,
      "required": form.required
    }

block content
  div.std-field( class=form.fieldclass )
    if form.label != 'disabled'
      label.label.main( for=formData.name )!= formData.label
    div.custom-range.pips: div( data-range=formData.options id=formData.name )
    input( type="hidden" name=formData.name+"-min" )
    input( type="hidden" name=formData.name+"-max" )
