extends /layout/module

block vars
  -
    form = form && Object.keys(form).length > 0 ? form : {}
    var formData = {
      "name": form.name || "select",
      "label": form.label || "select",
      "attributes": form.attributes,
      "type": form.type || "select",
      "options": form.options || ["option-1", "option-2", "option-3", "option-4"],
      "optionsData": form.optionsData,
      "firstEnabled": form.firstEnabled,
      "firstEmpty": form.firstEmpty,
      "class": form.class,
      "disabled": form.disabled,
      "required": form.required
    }

block content

  div.std-field( class=form.fieldclass )
    if form.label != 'disabled'
      label.label.main( for=formData.name )!= formData.label
        if formData.required
          abbr *
    span.custom-select
      select( id=formData.name name=formData.name required=formData.required disabled=formData.disabled class=form.class )&attributes( formData.attributes )
        each option, i in formData.options
          - var data = formData.optionsData && formData.optionsData[i] ? formData.optionsData[i] : null
          option( value=formData.firstEmpty && i == 0 ?'':option selected=i==0 class=i==0 && !formData.firstEnabled?"disabled":null disabled=i==0 && !formData.firstEnabled )&attributes(data)!= option.charAt(0).toUpperCase() + option.slice(1)
          - iselect++
      label( for=formData.name )!= formData.options[0].charAt(0).toUpperCase() + formData.options[0].slice(1)
