extends /layout/module

block vars
  -
    form = form && Object.keys(form).length > 0 ? form : {}
    var formData = {
      "name": form.name || "text",
      "label": form.label || "text",
      "type": form.type || "text",
      "class": form.class,
      "disabled": form.disabled,
      "required": form.required,
      "attributes": form.attributes,
      "placeholder": form.placeholder || "Saisir"
    }

block content

  div.std-field
    label.label.main( for=formData.name )!= formData.label
      if formData.required
        abbr *
    span.custom-text
      if formData.type == 'textarea'
        - formData.name = form.name || 'textarea'
        - formData.label = form.label || 'textarea'
        textarea( id=formData.name name=formData.name placeholder=formData.placeholder disabled=formData.disabled required=formData.required rows="5" cols="40" class=formData.class )&attributes(formData.attributes)
      else
        input( id=formData.name name=formData.name type=formData.type placeholder=formData.placeholder disabled=formData.disabled required=formData.required class=formData.class )&attributes(formData.attributes)

