{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block sonata_breadcrumb %}
<div class="hidden-xs">
<ol class="nav navbar-top-links breadcrumb">
	<li>
		<a href="{{ path('sonata_admin_dashboard') }}">Tableau de bord</a>
	</li>
</ol>
</div>
{% endblock %}
{% block content %}
<div class="dashboard-content">

    {{ sonata_block_render({ 'type': 'sonata.block.service.subscription_alert' }) }}

	<div class="row">
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.vehicleAd' }) }}
		</div>
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.vehicleN' }) }}
		</div>
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.service' }) }}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.a_la_une' }) }}
		</div>
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.news' }) }}
		</div>
		<div class="col-lg-4 col-md-4 dashboard-block">
			{{ sonata_block_render({ 'type': 'sonata.block.service.ticket' }) }}
		</div>
	</div>

</div>
{% endblock %}
