{{#block "sprites-comment"}}
/*
 *  SWITCH | {{uppercase spritesheet_info.strings.name}} MIXINS
 */
{{/block}}

{{#block "sprites"}}
{{#each sprites}}
${{../options.cssPrefix}}-{{strings.name}} = rem( {{half offset_x}} ) rem( {{half offset_y}} ) rem( {{half width}} ) rem( {{half height}} ) rem( {{half total_width}} ) rem( {{half total_height}} ) '{{../options.spritePath}}' '{{../options.spritePath2x}}' '{{../options.spriteImg}}'
{{/each}}
{{/block}}
