extends /layout/module

block content
  -
    var headerData = {
      button: header.button || "Bouton",
      title: header.title || "Titre du module"
    }

  header.shead
    .sh-container
    .sh-container.tt
      h2.tt-2(class=tt_alt?"tt-alt":null)
        span!= headerData.title
    .sh-container
      .sbtn
        button.bt-01!= headerData.button
