extends /layout/module

block content
  -
    var headerData = {
      options: header.options,
      title: header.title || "Titre du module"
    }

  header.shead
    .sh-container
      form(action=form.action?form.action:"" method="get").sort
        - form.options = headerData.options
        - form.class = 'condensed'
        - form.label = 'Trier par'
        include /atoms/forms/select
        - form.options = null
        - form.label = null
        - form.class = null
    .sh-container.tt
      h2.tt-2(class=tt_alt?"tt-alt":null)
        span!= headerData.title

    .sh-container
