{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}


{% block form %}
    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">C’est ici que vous pouvez gérer ce qui remonte À la Une sur la page d’accueil de votre site Web.</h4>
                <p class="bl-text">
                    A noter que les remontées des véhicules neufs À la Une sont gérées par le central. <br/>
                    Vous pouvez mettre soit des images, soit des vidéos, dans une limitation de 5.
                </p>
                <p class="bl-text">
                    <ul>
                        <li>
                            Pour une image : 
                            <ul>
                                <li>Le contexte utile de l’image bien au centre (si vous avez par exemple une moto dans l’image, mieux vaut qu’elle soit bien au centre de l’image).</li>
                                <li>Largeur : 1280 pixels</li>
                                <li>Hauteur : 555 pixels</li>
                                <li>Format: jpg, png, gif</li>
                            </ul>                    
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Pour une vidéo :
                            <ul>
                                <li>Impérativement postée sur YouTube et appelée en copiant/collant l’URL dans la zone dédiée</li>
                            </ul>
                        </li>
                    </ul>                    
                </p>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
