{{ 'emails.ticket.update.content'|trans({
        '%number%': ticket.id,
        '%date%': ticket.messages|last.createdAt|date('LABEL_DATE_TIME_FORMAT'|trans)
    }) }}

{{ ticket.subject }}
* {{ 'HEADING_STATUS'|trans }} {{ 'emails.ticket.update.status'|trans({
        '%status%': ticket.statusString|trans
    }) }}
* {{ 'HEADING_PRIORITY'|trans }} {{ 'emails.ticket.update.priority'|trans({
        '%priority%': ticket.priorityString|trans
    }) }}

{{ ticket.messages|last.message|nl2br }}
{% if ticket.messages|last.attachmentName %}
{{ 'LABEL_ATTACHMENT'|trans }}
{{ ticket.messages|last.attachmentName }}
{% endif %}

{{ 'emails.ticket.update.plainlink'|trans({
        '%link%': url('hackzilla_ticket_show', { 'ticketId': ticket.id })
    }) }}