{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}


{% block sonata_admin_content %}
    
    <a class="sonata-action-element" href="{{ admin.generateUrl('export') }}"> Exporter les annonces</a>
{% endblock %}