{% import '@HondaMain/Admin/Macros/macros.html.twig' as macros %}
{% if message.attachmentName %}
<br>
<div class="ticket_attachment">
    <span class="glyphicon glyphicon-paperclip"></span>
    <a href="{{ path('api_message_attachment', {messageId: message.message_id, fileName: message.attachmentName}) }}">{{ message.attachmentName }}</a>
    {% if message.attachmentSize is not null %}{{ macros.bytesToSize(message.attachmentSize) }}{% endif %}
</div>
{% endif %}
