{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


 {% block sonata_breadcrumb %}
     <div class="hidden-xs">
         <ol class="nav navbar-top-links breadcrumb">
             <li>
                 <a href="{{ path('sonata_admin_dashboard') }}">
                     <i class="fa fa-home"></i>
                 </a>
             </li>
             <li class="active"><span>Liens réseaux sociaux</span></li>
         </ol>
     </div>
 {% endblock sonata_breadcrumb %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <p class="bl-text mbn">C'est ici que vous pouvez gérer les liens vers vos réseaux sociaux.</p>
                <p>A noter que si les champs sont vides, par défaut cela renverra vers les réseaux sociaux de Honda Moto France.</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}
                    {{ form_widget(form) }}

                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Enregistrer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
