<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8" />
</head>
<body>

<style>
    body { padding: 0; margin: 0;}
</style>

<table style="width: 100%">
    <tr>
        <td>
            <table style="border-bottom: 1px solid #DBDBDB; width: 100%">
                <tr>
                    <td class="section"></td>
                    <td style="text-align:right">
                        <!-- Page <span class="page"></span> of <span class="topage"></span>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            {#<img src="https://distributor.concession.honda/public/distributor/assets/front/media/img/logo.png" alt="" title="">#}
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="width: 100%;">
                        http://honda.com <br/>
                        contact@honda.com
                    </td>
                    <td style="width: 100%;">
                        <h2>Facture</h2>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td style="width: 100%;">
                        Date: <strong>{{ "now"|date("d/m/Y") }}</strong>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; ">
                        N° Facture: <strong>#000000{{ subscription.id }}</strong>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <br/>
            <table>
                {% set customer = subscription.distributor.getInfos() %}
                <tr>
                    <td style="width: 270mm;"></td>
                    <td style="width: 150mm; min-heigth:100mm; border: 1px solid #DBDBDB; text-align:left; padding: 10px;">
                        {{'Client'|trans}}: <br/>
                        {% if customer|length %}
                            <strong>{{ customer.name }}</strong> <br/>
                            <strong>{{ customer.address }}</strong> <br/>
                            <strong>{{ customer.other_address }}</strong> <br/>
                            {{ customer.town }}, France
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <br/><br/><br/>

            <table style="border: 1px solid #DBDBDB; width: 100%" cellpadding="4">
                <tr bgcolor="#DCDCDC">
                    <td style="width:330px">{{'Description'|trans}}</td>
                    <td style="width:120px">{{'Quantité'|trans}}</td>
                    <td style="width:120px">{{'Montant'|trans}}</td>
                </tr>
                <tr>
                    <td>Abonnement annuel pour la periode <strong>{{ subscription.startDate|date('d M Y') }}</strong> au <strong>{{ subscription.endDate|date('d M Y') }}</strong> </td>
                    <td>1</td>
                    <td bgcolor="#DCDCDC" style="border: 1px solid #DBDBDB">{{ subscription.price|number_format }} € </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Taxes</td>
                    <td style="border: 1px solid #DBDBDB"> 0 € </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>TOTAL</b></td>
                    <td bgcolor="#DCDCDC" style="border: 1px solid #DBDBDB"><b> {{ subscription.price|number_format }} €</b></td>
                </tr>
            </table>

            <p><strong>{{'Merci'|trans}}</strong></p>
        </td>
    </tr>

</table>
</body>
</html>
