{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">
                    C’est ici que vous pouvez gérer les informations utiles concernant votre concession sur votre site Web
                </h4>
                <p class="bl-text">
                    Contactez le support pour toutes modifications
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">

                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                {{ form_row(form.id) }}
                                {{ form_row(form.name, { 'value': distributorInfos.name ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.address, { 'value': distributorInfos.address ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.other_address, { 'value': distributorInfos.other_address ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.cp, { 'value': distributorInfos.cp ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.town, { 'value': distributorInfos.town ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.region, { 'value': distributorInfos.region ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.department, { 'value': distributorInfos.department ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.descriptionHome, { 'value': distributorInfos.descriptionHome ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.insertPicture) }}

                                {% if distributor.insertPicture %}
                                    {% thumbnail distributor.insertPicture, 'reference' with {'class': 'img-responsive'} %}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                {{ form_row(form.lat, { 'value': distributorInfos.lat ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.lng, { 'value': distributorInfos.lng ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.url, { 'value': distributorInfos.url ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.mail, { 'value': distributorInfos.mail ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.phone, { 'value': distributorInfos.phone ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.fax, { 'value': distributorInfos.fax ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.timetable, { 'value': distributorInfos.timetable ?? null  }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.gaCode, { 'value': distributorInfos.gaCode ?? null  }) }}
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="sonata-ba-form-actions well well-small form-actions stuck">
                                <button class="btn btn-success" type="submit" name="btn_update"><i class="fa fa-save" aria-hidden="true"></i> Mettre à jour</button>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
