{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block sonata_admin_content %}


    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">

                    <div class="box-header"><h4 class="box-title">Accessoires : ( {{ accessory.title }} )</h4></div>

                    <div class="box-body">

                        {{ form_start(form) }}

                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-md-12">
                                {% for item in form.accessoryItems %}
                                    <div>
                                        <span>{{ form_label(item.published) }}</span>
                                        <span>{{ form_widget(item.published) }}</span>
                                    </div>
                                    <div>{{ form_row(item.description) }}</div>
                                    <div class="form-group">
                                        <label for="">Logos accessoires {{ item.vars.data.title }}</label>
                                    </div>
                                    {% for category in categories|filter(c => c.title == item.vars.data.title)  %}
                                        {% for logo in category.logos %}
                                            {% set checked = false %}
                                            {% for item in accessory.accessoryItems|filter(i => i.title == category.title) %}
                                                {% for itemLogo in item.logos %}
                                                    {% if logo.id == itemLogo %}
                                                        {% set checked = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <label class="logo" for="{{ logo.id }}">
                                                <img src="{{ logo.url }}" alt="{{ logo.id }}">
                                                <input type="checkbox" name="{{ category.title }}Logo[]" value="{{ logo.id }}" {% if checked %} checked {% endif %} >
                                            </label>
                                        {% endfor %}
                                    {% endfor %}
                                    <hr />
                                {% endfor %}
                            </div>
                        </div>

                        <div class="sonata-ba-form-actions well well-small form-actions stuck">
                            <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Enregistrer</button>
                        </div>

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
