{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}



{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Page
                        </h4>
                    </div>
                    <div class="box-body">
                        
                        {{ form_start(form) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form) }}


                        <div class="sonata-ba-form-actions well well-small form-actions stuck">
                            <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Enregistrer</button>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
