{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}
{% import '@HondaMain/Admin/Macros/macros.html.twig' as macros %}

{% block sonata_admin_content %}
    <h1>{{ 'HEADING_TICKET_LIST'|trans }}</h1>
    
    <div class="row">
        <div class="col-xs-4">
{#            <div class="btn-group">
              <a href="{{ path('support_list', {'state': 'STATUS_OPEN'|trans}) }}"
                   class="btn btn-default {{ ticketState != 'STATUS_CLOSED'|trans ? 'active' : '' }}">{{ 'STATUS_OPEN'|trans|upper }}</a>
                <a href="{{ path('support_list', {'state': 'STATUS_CLOSED'|trans}) }}"
                   class="btn btn-default {{ ticketState == 'STATUS_CLOSED'|trans ? 'active' : '' }}">{{ 'STATUS_CLOSED'|trans|upper }}</a>
            </div>#}
        </div>

        <div class="col-xs-4 text-center">
{#            <div class="btn-group">
                <a href="{{ path('support_list') }}"
                   class="btn btn-default {{ ticketPriority is null ? 'active' : '' }}"><span
                            class="glyphicon glyphicon-remove"></span></a>
                <a href="{{ path('support_list', {'priority': 'PRIORITY_HIGH'|trans}) }}"
                   class="btn btn-danger {{ ticketPriority == 'PRIORITY_HIGH'|trans ? 'active' : '' }}">{{ 'PRIORITY_HIGH'|trans|upper }}</a>
                <a href="{{ path('support_list', {'priority': 'PRIORITY_MEDIUM'|trans}) }}"
                   class="btn btn-warning {{ ticketPriority == 'PRIORITY_MEDIUM'|trans ? 'active' : '' }}">{{ 'PRIORITY_MEDIUM'|trans|upper }}</a>
                <a href="{{ path('support_list', {'priority': 'PRIORITY_LOW'|trans}) }}"
                   class="btn btn-info {{ ticketPriority == 'PRIORITY_LOW'|trans ? 'active' : '' }}">{{ 'PRIORITY_LOW'|trans|upper }}</a>
            </div>#}
        </div>

        <div class="col-xs-4 text-right">
            <div class="btn-group">
                <a href="{{ path('support_create') }}" class="btn btn-primary"><span
                            class="glyphicon glyphicon-plus"></span> {{ 'BUTTON_NEW'|trans }}</a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
       <tr>
            <th class="col-xs-1">{{ 'HEADING_SUBJECT'|trans }}</th>
            <th>{{ 'HEADING_STATUS'|trans }}</th>
            <th>{{ 'HEADING_PRIORITY'|trans }}</th>
            <th>{{ 'HEADING_MODIFIED'|trans }}</th>
            <th>{{ 'HEADING_CREATED'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in tickets %}
            <tr>
                <td><a href="{{ path('support_edit', {'id': entity.ticket}) }}">{{ entity.subject }}</a></td>
                <td>{{ macros.status_btn(entity.status, entity.statusString|trans, true) }}</td>
                <td>{{ macros.priority_btn(entity.priority, entity.priorityString|trans, true) }}</td>
                <td>{% if entity.updated %}{{ entity.updated.date|date('d/m/y H:i:s') }}{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created.date|date('d/m/y H:i:s') }}{% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'MESSAGE_NO_TICKETS'|trans }}.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
{#        {{ knp_pagination_render(tickets, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}#}
    </div>

{% endblock %}
