{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">
                    Vous pouvez choisir ici  la couleur dominante de votre site Web.
                </h4>
                <p class="bl-text">
                    La couleur noire est celle sélectionnée par défaut. <br/>
                    Les choix de couleur sont limités compte tenu du respect de la charte Honda.
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                    {{ form_errors(form) }}
                    {{ form_widget(form) }}


                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Enregistrer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
