{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">
                    Ordre des blocs
                </h4>
                <p class="bl-text">
                    C’est ici que vous pouvez gérer l’ordre des blocs qui sont sur votre page d’accueil. <br/>

                    A noter qu’un bloc sans contenu n’apparaîtra pas sur votre page d’accueil. Par exemple,
                    si vous n’avez pas de véhicules d’occasion actifs, le bloc « Dernières occasions » n’apparaitra pas. <br/>

                    Pour changer l’ordre, il suffit de cliquer sur une des croix et de la déplacer vers le haut ou vers le bas.
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <ul id="section-sortable" class="ui-sortable" data-sort-url="{{ url('section_ajaxOrder') }}">
                        {% for sectionOrder in sectionOrders %}
                            <li id="section-item-{{ sectionOrder.id }}" class="ui-state-default ui-sortable-handle sortable-item"  data-id="{{ sectionOrder.id }}">
                                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>  {{ sectionOrder.section.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
