{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block page_title %}
    Contactez-nous, nous vous répondrons dans les plus brefs délais :
{% endblock page_title %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ block('page_title') }}
                    </h4>
                </div>
                <div class="box-body">

                    {{ form_start(form, {'method': 'POST', 'action': path('api_ticket_create')}) }}
                    
                    <div class="form-group row">
                        {{ form_label(form.subject, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            {{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'placeholder': 'LABEL_ENTER_SUBJECT' } }) }}
                            {{ form_errors(form.subject) }}
                        </div>
                    </div>
                    {% include '@HondaMain/Admin/prototype.html.twig' with {'form': form} %}

                    {{ form_rest(form) }}

                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Envoyer</button>

                        <a href="{{ path('support_list') }}" class="btn btn-default">
                            {{ 'BUTTON_BACK_TO_LIST'|trans }}
                        </a>
                    </div>
                    {{ form_end(form) }}

                    <p>Vous pouvez également nous contacter au <strong>01 60 37 31 77</strong></p>


                </div>
            </div>

        </div>
    </div>

{% endblock %}
