{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block sonata_admin_content %}


    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">

                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                           {{ 'config.content'|trans }}
                        </h4>
                    </div>
                    <div class="box-body">
                        {{ form_start(form) }}

                            {{ form_errors(form) }}
                            {{ form_widget(form) }}

                            <div class="container-fluid">
                                <div class="form-group row search-bar">
                                    <div class="col-sm-11"></div>
                                    <button type="submit" class="btn btn-primary mb-2">{{ 'config.label_submit'|trans }}</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
