
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <input type="checkbox" class="inventory-checkbox" name="inStock[]" data-url="{{ url('inventory_ajaxToggleInStock', {'id': object.id }) }}"  value="{{ object.inStock }}" {% if object.inStock %} checked {% endif %} />
{% endblock %}
