{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@templates/Admin/CRUD/base_list.html.twig' %}

{% block list_filters_actions %}
    {% if app.request.attributes.get('_route') == 'admin_honda_main_vehiclead_list' %}
        <div class="col-md-6">
            <p>Vous avez un quota de {{ winteamQuota() }} annonces simultanées sur LeBonCoin.</p>
            <p>Vous avez publié {{ winteamPublication() }} annonces sur LeBonCoin.</p>
        </div>
    {% endif %}
    {{ parent() }}
    {% set batchactions = admin.batchactions %}
    {% if admin.hasRoute('batch') and batchactions|length %}
        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
        <div class="col-md-6">
            <label class="checkbox col-md-4" for="{{ admin.uniqid }}_all_elements">
                <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements" class="top-batch-all-elements">
                {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                ({{ admin.datagrid.pager.nbresults }})
            </label>

            <select name="action" style="width: auto; height: auto" class="form-control" id="top-batch-action">
                {% for action, options in batchactions %}
                    <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-small btn-primary top-batch-submit">{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}</button>
        </div>
        <script>
            {% block batch_javascript %}
                {{ parent() }}
                jQuery(document).ready(function ($) {
                    $('button.top-batch-submit').click(function(e){
                        var form = $('form[method="POST"]');
                        var action = form.find('select[name="action"]').val($('#top-batch-action :selected').val());
                        var allElements = form.find('input[name="all_elements"]').val($('.top-batch-all-elements:first').val());
                        form.submit();
                        e.preventDefault();
                    });
                });
            {% endblock %}
        </script>
    {% endif %}
{% endblock %}
