
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <input type="checkbox" class="onTest-checkbox" name="onTest[]" data-url="{{ url('submodel-test_ajaxToggleOnTest', {'id': object.id }) }}"  value="{{ object.onTest }}" {% if object.onTest %} checked {% endif %} />
{% endblock %}
