{% extends '@HondaCommon/standard_layout.html.twig' %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            page
                        </h4>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
