{% extends 'HondaCommonBundle::standard_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block sonata_breadcrumb %}
<div class="hidden-xs">
<ol class="nav navbar-top-links breadcrumb">
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">{% trans %}config.label_dashboard{% endtrans %}</a>
    </li>
    <li class="active"><span>{% trans %}Emails notification{% endtrans %}</span></li>
</ol>
</div>
{% endblock %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">

        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">
                    Vous pouvez gérer ici les adresses e-mail de ceux qui reçoivent les notifications envoyées au central.
                </h4>
                <p>Vous pouvez ajouter plusieurs e-mails en les séparant par une virgule.Par exemple : jean@exemple.com, pierre@exemple.com</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">

                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    
                    {{ form_label(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}

                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button class="btn btn-success" type="submit" name="btn_create"><i class="fa fa-save" aria-hidden="true"></i> Créer</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}