{% extends 'HondaCommonBundle::standard_layout.html.twig' %}

{#
{% form_theme form 'bootstrap_4_layout.html.twig' %}
#}

{% block sonata_breadcrumb %}
<div class="hidden-xs">
<ol class="nav navbar-top-links breadcrumb">
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">{% trans %}config.label_dashboard{% endtrans %}</a>
    </li>
    <li class="active"><span>{% trans %}Elasticsearch{% endtrans %}</span></li>
</ol>
</div>
{% endblock %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">

        <div class="col-md-12">
            <div class="bl-description">
                <h4 class="bl-title">
                    Vous permet de mettre à zero le serveur de recherche
                </h4>
                <p>Cet attention, cet action va <strong> supprimer les données du serveur de recherche </strong> et ceci peut prendre du temps</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                     <a class="btn btn-primary es-delete" href="{{ url('elasticsearch_config_list', {'action': 'concession'}) }}">Ré-actualiser le serveur de recherche des concessionnaires</a> &nbsp;&nbsp;&nbsp;
                     <a class="btn btn-primary es-delete" href="{{ url('elasticsearch_config_list', {'action': 'portail'}) }}">Ré-actualiser le serveur de recherche du portail</a>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        $('.es-delete').on('click', function (e) {

            if (confirm('Voulez-vous continuer l\'action ?')) {
                return true;
            }

            e.preventDefault();
        });
    </script>

{% endblock %}