{% extends '@HondaCommon/standard_layout.html.twig' %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Accès stats</h4>
                    </div>
                    <div class="box-body">
                        <p>Pour accéder aux statistiques de votre site, cliquez sur le lien ci-dessous, puis identifiez-vous avec votre compte Google.</p>
                        <a href="https://analytics.google.com" target="_blank">Google Analytics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
