{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} class="no-js" lang="fr" data-locale="FR-fr">
    {% endblock %}
        {% block sonata_page_head %}
            <head {{ sonata_seo_head_attributes() }}>

                <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
                {{ sonata_seo_title() }}
                {{ sonata_seo_metadatas() }}

                {% if 'sitemap' == app.request.get('_route')  %}
                    <meta name="robots" content="noindex, follow">
                {% endif %}

                {% if 'cookies' == app.request.get('_route') or (page is defined and page.slug and page.slug == 'mentions-legales') %}
                    <meta name="robots" content="noindex, nofollow">
                {% endif %}

                {% if app.request.attributes.get('_route') %}
                    {% set currentPath = app.request.schemeAndHttpHost ~ app.request.requestUri  %}
                    <link rel="canonical" href="{{ currentPath }}" />
                {% endif %}

                <link rel="icon" href="{{ asset('/favicon.ico') }}" />
                <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
                <meta name="format-detection" content="telephone=no">
                <meta name="twitter:card" content="summary_large_image">
                <meta name="twitter:site" content="">
                <meta name="twitter:creator" content="">
                <meta name="twitter:title" content="">
                <meta name="twitter:description" content="">
                <meta name="twitter:image:src" content="">
                <meta name="og:title" content="">
                <meta name="og:description" content="desc">
                <meta name="og:site_name" content="">
                <meta name="og:image" content="">
                <meta name="og:local" content="fr">
                <meta name="og:url" content="">

                {% block sonata_page_stylesheets %}
                    {% block page_stylesheets %} {# Deprecated block #}
                        {% for stylesheet in sonata_page.assets.stylesheets %}
                            <link rel="stylesheet" href="{{ asset(stylesheet) }}" media="all">
                        {% endfor %}
                        <link rel="stylesheet" href="https://use.typekit.net/hcn6znr.css">
                    {% endblock %}
                {% endblock %}
            </head>
        {% endblock %}

        {% block sonata_page_body_tag %}
            <body class="sonata-bc portail">
            {% endblock %}

            {% block sonata_page_top_bar %}
                {% block page_top_bar %} {# Deprecated block #}
                {% endblock %}
            {% endblock %}

            {% block sonata_page_container %}
            {% block page_container %}{% endblock %} {# Deprecated block #}
        {% endblock %}

        {% block sonata_page_asset_footer %}
            {% block page_asset_footer %} {# Deprecated block #}
                {% if page is defined %}
                    {% if page.javascript is not empty %}
                        <script>
                            {{ page.javascript|raw }}
                        </script>
                    {% endif %}
                    {% if page.stylesheet is not empty %}
                        <style>
                            {{ page.stylesheet|raw }}
                        </style>
                    {% endif %}
                {% endif %}
                {#
                    These includes can be done only at this point as all blocks are loaded,
                    Limition : this does not work if a global page is loaded from an ESI tag inside a container block
                #}
                {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
                {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
            {% endblock %}
        {% endblock %}
        <!-- monitoring:3e9fda56df2cdd3b039f189693ab7844fbb2d4f6 -->
        <a class="bt-contact" href="#form" data-scroll="" aria-label="Etre contacté(e)">
            <span class="i">i</span>
            <span class="t">Être contacté(e)</span>
        </a>
        <a class="bt-top" href="#" aria-label="Remonter en haut de la page" data-scroll="{&quot;top&quot;: 0}">
            <span></span>
        </a>



        {% block sonata_page_javascripts %}
            {% block page_javascripts %} {# Deprecated block #}
                <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
                <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}"></script>
                {% endfor %}
            {% endblock %}

        {% endblock %}

            {{ encore_entry_script_tags('form') }}


            </body>
</html>
