{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@ApplicationSonataPage/base_layout.html.twig' %}

{% block sonata_page_container %}
    <div class="container">
        <div class="content">
            {{ render(controller('HondaMenuBundle:Default:menu')) }}
            <!-- Hero module-->
            {{ render(controller('HondaSliderBundle:Default:banner')) }}
            <!-- /Hero module-->
            <div class="row page-header">
                {{ sonata_page_render_container('header', 'global') }}
            </div>
            <main>

                {% if app.request.requestUri != '/' and not preg_match('^\\/occasion\\/(.+)', app.request.requestUri) and not preg_match('^\\/concessionnaire$', app.request.requestUri) %}
                    {% block sonata_page_breadcrumb %}
                        <div class="row">
                            {{ sonata_block_render_event('breadcrumb', { 'context': 'page', 'current_uri': app.request.requestUri }) }}
                        </div>
                    {% endblock %}
                {% endif %}

                {% block page_content %}
                    {% if app.request.requestUri != '/' and not preg_match('^\\/occasion\\/(.+)', app.request.requestUri) and not preg_match('^\\/concessionnaire$', app.request.requestUri)%}
                        <section class="{% if not app.request.requestUri == '/plan-du-site' %} label-container {% endif %} module" {% if app.request.requestUri == '/vie-privee-et-cookies' %}id="cookies-page"{% endif %}>
                            <div class="wp-st">
                                {% if page is defined %}
                                    <header class="shead">
                                        <div class="tt-2">
                                            <span>{{ page.name }}</span>
                                        </div>
                                    </header>
                                {% endif %}
                                {% if not app.request.requestUri == '/plan-du-site' %}
                                    <div class="edito label-main">
                                {% endif %}

                                {% endif %}
                                {% if content is defined %}
                                    {{ content|raw }}
                                {% else %}
                                    {% set content = block('content') is defined ? block('content') : '' %}
                                    {% if content|length > 0 %}
                                        {{ content|raw }}
                                    {% elseif page is defined %}
                                        {{ sonata_page_render_container('content', page) }}
                                    {% endif %}
                                {% endif %}
                                {% if(app.request.requestUri != '/') %}
                                {% if not app.request.requestUri == '/plan-du-site' %}
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    {% endif %}
                {% endblock %}

                {{ include('@HondaFront/_pre_footer.html.twig') }}

                <!-- module formulaire contact-->
                <section class="module">
                    <div class="wp-st">
                        <section id="form" itemscope="" itemtype="http://schema.org/Product">
                            <header class="shead">
                                <div class="tt-2" itemprop="name"><span>Contact</span></div>
                            </header>
                        </section>

                        <div class="contact-form">
                            <div id="app-form">
                                <h-moto-form
                                    provenance="PORTAIL"
                                    site-key="{{ sitekey }}"
                                    env="{{ form_endpoint }}"
                                    cookie-url="/cookies"
                                    bloom-key="{{ bloom_key }}"></h-moto-form>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        {{ render(controller('HondaSearchBundle:Search:topSearch')) }}

        <!-- /content-->
        <footer role="contentinfo">
            {{ render(controller('HondaMenuBundle:Default:footer')) }}
        </footer>
    </div>

    <main class="bg-white">

    </main>
{% endblock %}
