{% extends '@ApplicationSonataPage/layout.html.twig' %}

{% block page_content %}
    <section class="module">
        <div class="wp-st">
            <section itemscope itemtype="http://schema.org/Product">
                <header class="shead">
                    <div class="tt-2" itemprop="name">
                        <span>Mentions légales</span>
                    </div>
                </header>
            </section>
            <div class="mts-lgl">
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}