{% block list %}
    <ol class="bcrumb wp-st" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% for item in item.getChildren() %}
            <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                {% if(item.uri != app.request.requestUri)%}
                    <a itemprop="item" href="{{ item.uri }}" title="{{ item.name|e }}">
                        <span>{{ item.name|e }}</span>
                        <meta itemprop="position" content="{{ loop.index0 }}">
                    </a>
                {% else %}
                    <span>{{ item.name|e }}</span>
                    <meta itemprop="position" content="{{ loop.index0 }}">
                {% endif %}
            </li>
        {% endfor %}
        {% spaceless %}
        {% endspaceless %}
    </ol>
{% endblock %}