extends /layout/module

block content
  div#search-tabs.tabs( data-tabs )
    button.active( data-toggle='{"tabs": true}' aria-controls="search-tab-1" aria-expanded="true" ) Trouver un véhicule d'occasion
    button( data-toggle='{"tabs": true}' aria-controls="search-tab-2" aria-expanded="false" ) Trouver votre concessionnaire
