<div class="head-block">
    <div class="text">
        <div class="tt">
            <span>{{ accessory.title|upper }}</span>
        </div>
        <div class="desc">
            {{  accessory.description|raw }}
        </div>
        <div class="buttons">
            {% if accessory.link %}
                <a class="bt-01" href="{{ accessory.link }}" target="_blank">{{ accessory.linkLabel|default('Télécharger le catalogue') }}</a>
            {% endif %}

            {% if accessory.pdf %}
                <a class="bt-01" href="{% path accessory.pdf, 'reference' %}" target="_blank">{{ accessory.pdfLabel|default('Télécharger l\'autre catalogue') }} </a>
            {% endif %}
        </div>
    </div>

    <div class="media">
        {% if accessory.image %}
            <img src="{% path accessory.image, 'reference' %}" alt="{{ accessory.title }}">
        {% endif %}
    </div>

</div>
