{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
    Accessoires moto - {{ getDistributorInfo(distributor, 'name' ) }} - {{ distributor.town }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="A la recherche d’un équipement de moto ? Retrouvez notre sélection d’accessoires des plus grandes marques d’accessoires moto à notre concession {{ getDistributorInfo(distributor, 'name' ) }} - {{ distributor.town }} !" />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="accessoire moto {{ distributor.town }} accessoire moto {{ getDistributorInfo(distributor, 'name' ) }} " />
{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('accessoiries') }}" />
{% endblock %}


{% block content %}

    <section class="module accessories bg-grey">
        <div class="wp-st">
            <header class="shead">
                <h2 class="tt-2">
                    <span>{{ title|default('Accessoires') }}</span>
                </h2>
            </header>
            {% if description is not null %}
            <div class="paragraphe">
                {{ description|raw }}
            </div>
            {% endif %}

            {% if motoAccessory %}
                <div class="accessory">
                    {% include '@HondaMain/Front/Accessory/_head_block.html.twig' with {'accessory': motoAccessory}  %}
                    <div class="content-block"></div>
                </div>
            {% endif %}

            {% if clothingAccessory %}
                <div class="accessory">
                    {% include '@HondaMain/Front/Accessory/_head_block.html.twig' with {'accessory': clothingAccessory}  %}
                    <div class="content-block"></div>
                </div>
            {% endif %}

                <div class="accessory">
                    {% if equipmentAccessory %}
                        {% include '@HondaMain/Front/Accessory/_head_block.html.twig' with {'accessory': equipmentAccessory}  %}
                    {% endif %}
                </div>
                <div class="accessory">
                    {% if logoAccessory and equipmentAccessory %}
                        <div class="content-block">
                            {% for item in logoAccessory.accessoryItems|filter(i => i.published) %}
                                <div class="block">
                                    <div class="tt">
                                        <img src="{{ item.icon }}" alt="" />
                                        <span>{{ item.title }}</span>
                                    </div>
                                    <p>{{ item.description|raw|capitalize }}</p>
                                    <div class="pictos">
                                        {% for key,value in item.logos %}
                                            {% for logoLink in item.logoLinks|filter(l => l.id == value) %}
                                                <div class="logo">
                                                    <img src="{{ logoLink.url }}" alt="" />
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        </div>
    </section>

    <div class="wp-st">
        <section>
            {% if distributor.seoContent.descriptionPageAccessoires  %}
                <div class="edito">
                    {{ distributor.seoContent.descriptionPageAccessoires | replace({
                        '[Nom du concessionnaire]': distributor.infos.name,
                        '[Ville]': distributor.infos.town,
                        '[Département]': distributor.infos.department
                    }) | raw }}
                </div>
            {% endif %}
        </section>
    </div>


{% endblock %}
