{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@templates/Admin/CRUD/list.html.twig' %}

{% block list_table %}

    <div class="col-md-12">
        <div class="bl-description">
            <p class="bl-text">
                Cette liste recense toutes la actualités sur votre site Web. <br/>
                Certaines actualités sont publiées par le central et vous ne pourrez pas les modifier. <br/>
                Le nombre d’actualités n’est pas limité. <br/>
                Pensez à bien gérer les dates de début et de fin d’activation (visible sur votre site). <br/>
            </p>
        </div>
    </div>

    {{ parent() }}

{% endblock %}


