extends /layout/module

block content
  .carousel-container.cinquo
    .custom-button.prev
    .swiper-container.carousel-cinquo(data-sliderConfig='{"loop" : true, "slidesPerView": 1, "navigation-full-height" : true}')
      .swiper-wrapper
        - var s = 4
        - var i = 0
        while i < s
          .swiper-slide.o-fit
            if caption
              figure
                img( src=`${url.dyn}media-10-1024.jpg` srcset=`${url.dyn}media-10-1024.jpg 1829w, ${url.dyn}media-10-768.jpg 1220w, ${url.dyn}media-10-320.jpg 915w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
                figcaption #{i+1}/#{s} - Légende de la photo / Crédit Honda
            else
              img( src=`${url.dyn}media-10-1024.jpg` srcset=`${url.dyn}media-10-1024.jpg 1829w, ${url.dyn}media-10-768.jpg 1220w, ${url.dyn}media-10-320.jpg 915w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
          -i++
    .custom-button.next
