extends /layout/module

block content
  .carousel-container
    .swiper-container.carousel-double(data-sliderConfig='{"loop" : true, "slidesPerView": 2, "pagination": true, "navigation": true, "spaceBetween" : 25, "breakpoints": true}')
      .swiper-wrapper
        - var i = 1
        while i < 4
          if i == 2
            - var popinvideo = true
          else
            - popinvideo = false
          .swiper-slide
            include /molecules/blocks/block-media-1
            -i++
      .controls
        .bt-slider.prev
        .swiper-pagination
        .bt-slider.next
