extends /layout/module

block content
  .carousel-container
    .swiper-container.carousel-quattro(data-sliderConfig='{"loop" : true, "slidesPerView": 4, "pagination" : true, "navigation" : true, "spaceBetween" : 30, "breakpoints": true}')
      .swiper-wrapper
        - var i = 0
        while i < 4
          .swiper-slide
            include /molecules/blocks/block-media-2
            -i++
      .controls
        .bt-slider.prev
        .swiper-pagination
        .bt-slider.next
