extends /layout/module

block content
  .carousel-container
    .swiper-container.carousel-triple(data-sliderConfig='{"loop" : false, "slidesPerView": 3, "pagination": true, "navigation": true, "spaceBetween" : 30, "breakpoints": true}')
      .swiper-wrapper
        - var i = 1
        while i < 4
          .swiper-slide
            include /molecules/blocks/block-media-3
            -i++
      .controls
        .bt-slider.prev
        .swiper-pagination
        .bt-slider.next
