extends /layout/module

block content
  .carousel-container.cinquo
    .custom-button.prev
    .swiper-container.carousel-cinquo.alt(data-sliderConfig='{"loop" : true, "slidesPerView": 1, "navigation-full-height" : true}' style="background-color: #f70013;")
      .swiper-wrapper
        - var s = 4
        - var i = 0
        while i < s
          .swiper-slide.o-fit.contain
            a(href='#')
              if caption
                figure
                  picture
                    source( srcset=`${url.dyn}banner-rate-1024.jpg` media='(min-width: 64em)' )
                    source( srcset=`${url.dyn}banner-rate-768.jpg` media='(min-width: 48em)' )
                    source( srcset=`${url.dyn}banner-rate-320.jpg` media='(min-width: 0em)' )
                    img( src=`${url.dyn}banner-rate-1024.jpg` alt="" )
                  figcaption #{i+1}/#{s} - Légende de la photo / Crédit Honda
              else
                picture
                  source( srcset=`${url.dyn}banner-rate-1024.jpg` media='(min-width: 64em)' )
                  source( srcset=`${url.dyn}banner-rate-768.jpg` media='(min-width: 48em)' )
                  source( srcset=`${url.dyn}banner-rate-320.jpg` media='(min-width: 0em)' )
                  img( src=`${url.dyn}banner-rate-1024.jpg` alt="" )
          -i++
    .custom-button.next
