extends /layout/module

block content
  .slider-with-thumbs(data-sliderContainer)
    .swiper-container.gallery-top(data-sliderConfig='{"loop" : true, "external-nav" : true, "autoplay" : true, "effect": "fade", "slidesPerView":1}')
   
      .swiper-wrapper
        - var i = 0
        while i < 3
    
          .swiper-slide.o-fit(data-swiper-autoplay="4000")
            a(href='#')
              img( src=`${url.dyn}hero-0${i+1}-1024.jpg` srcset=`${url.dyn}hero-0${i+1}-1024.jpg 1931w, ${url.dyn}hero-0${i+1}-768.jpg 965w, ${url.dyn}hero-0${i+1}-320.jpg 644w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
          - i++

    .gallery-thumbs(data-slider-controls)
      .swiper-wrapper
        - var i = 0
        while i < 3
          .swiper-slide(data-slideTo=i+1 class=i == 0 ? "active" : null)
            img( src=`${url.dyn}hero-0${i+1}-320.jpg` alt="" )
          - i++
