/*
 *  HONDA MOTO OCCASION | FOOTER STYLES
 */

footer[role="contentinfo"]
   background: $light
   border-top: 5px solid $dark
   font-size: em( 16 / $fz )
   padding: rem(40) rem(14) rem( 60 )

   .wp-st
      display: flex
      height: 100%
      flex-direction: column
      justify-content: space-between

   .logo
      text-align: center
      order: 1

   .nav
      text-align: center
      order: 3
      line-height: 1.6
      a
         span
            display: inline
         &:nth-of-type(odd)
            &:after
               content: ' - '
               text-decoration: none


      span
         display: block

   .affiliates
      order: 2
      text-align: center
      .tt
         margin-bottom: rem(20)
         font-weight: 600
      li
         margin-bottom: rem(20)
         a:hover
            text-decoration: underline
   a
      color: $dark
      text-decoration: none
      span
         &:hover
            text-decoration: underline
            &::after
               text-decoration-line: none
