/*
 *  HONDA MOTO OCCASION | HEADER STYLES
 */

.header-mobile
   display: none !important

.header-desktop
   display:flex !important  

.main-logo.desktop
   display: block !important

header[role="banner"]
   background: $dark
   backface-visibility: hidden
   align-items: center
   color: $light
   display: flex
   justify-content: space-between
   height: rem( 56 )
   position: fixed
   text-align: center
   transition: all $transition
   top: 0
   width: 100%
   z-index: 70

   .portail &
      .nav-open &
         background: $dark
         height: rem( 76 )

         .bt-menu
            color: $light

            &:before
               border-color: $light

            &:after
               background: $light 
         .header-menu
            padding-top: 25px  

            nav li
               padding:0

            .mobile-tablette
               p
                  display: none


   .retailer-logo
      background: $dark
      align-items: center
      display: flex
      flex-grow: 1
      justify-content: center
      position: relative
      padding: 0 rem( 20 ) 0 rem( 40 )
      z-index: 54
      width: 100%

      img
         display: block
         height: auto
         max-height: rem( 35 )
         max-width: 100%


   .header-controls
   .header-menu
      position: absolute
      height: auto
      overflow: hidden
      opacity: 1
      top: 100%
      transform: none
      transition: all .3s ease-in-out
      width: 100%
      z-index: 50
   
      position:fixed
      height:100%
      overflow-y: scroll 
      top:55px 

      &:after
         // background: rgba( $dark, .7 )
         background: $dark
         content: ""
         height: 100vh
         left: 0
         position: absolute
         pointer-events: none
         top: 0
         transition: all .3s ease-in-out
         width: 100%

      .wp-st
         background: $dark
         position: relative
         padding-left: 0
         padding-right: 0
         z-index: 1

      &[aria-hidden="true"]
         opacity: 0
         padding: 0
         height: 0
         transform: translateY(rem(-50))

      .mobile-content
         padding-bottom: 60px;   

   .bt-menu
      position: relative
      z-index: 56

   .submenu
      display: none

   a
   button
      color: inherit
      line-height: .8

   nav
      border-bottom: 1px solid $light
      font-size: em( 19 / $fz )
      text-align: center
      width: 100%

      a
      button
         border-top: 1px solid $light
         display: block
         text-decoration: none
         padding: rem( 16 ) 0
         position: relative
         text-transform: uppercase

         &:after
            border-bottom: 0 solid #fff
            bottom: 0
            content: ""
            display: block
            position: absolute
            transition: all .17s linear
            width: 100%

         &[aria-expanded="true"]
         &:hover
            color: #fff

            &:after
               border-bottom-width: 2px

         &.active
            color: #fff

   .social
      display:none
      svg
      img
         fill: $light !important
         height: 100%
         max-width: rem( 40 )

   svg:not(.ui--mail)      
   img
      height: rem( 40 )
      max-width: rem( 40 )

      &.ui--motorcycle
         height: rem( 18 )

      .portail &
         fill: $red1

   .portail &
      background: $light
      color: $dark
      margin: 0
      position: fixed
      top: 0

      nav
         font-size: em( 20 / $fz )

      li
         & + li
            margin-left: rem( 30 )

      a
         align-items: baseline
         display: flex
         text-transform: none

      svg
      img
         margin-right: rem( 6 )

   .header-menu
      color: $light

      a
         justify-content: center

      li + li
         margin-left: 0

   .pre-footer
      .wp
         justify-content: space-around
      .wp-st
         display:block
         > *
            margin-top: auto
         > * + *
            margin-top: 2.5rem   
      .social
         display:block
         .wp
            justify-content: center;
      .newsletter
         display:block   
      img
         max-width:none       

.main-logo
   $transition = .12s linear
   align-items: center
   align-self: flex-start
   background: $light
   display: flex
   flex-shrink: 0
   left: 0
   height: rem( 56 )
   padding: 0 rem( 12 ) 0 rem( 18 )
   position: relative
   top: 0
   transition: all $transition
   width: rem( 70 )
   z-index: 55

   &:hover
      &:before
         right: rem( -5 )
         width: rem( 115 )

      .portail &
         .legend
            padding-right: rem( 27 )
            width: rem( 131 )

   img
   svg
      position: relative
      transition: all $transition
      z-index: 2

   a
      align-items: center
      display: flex
      outline: none
      height: 100%
      transition: all .17s linear
      width: 100%

      &:focus
         svg
            opacity: 0.7

      svg.ui--logo-simple
         fill: $red1
         height: 100%
         max-width: none
         width: 100%

         .portail &
            fill: $light

   .portail &
      background: $red1

   &:before
      background: inherit
      content: ""
      height: 100%
      transform: skew($degree*-1deg)
      position: absolute
      right: 0
      top: 0
      transform-origin: 0% 100%
      transition: all $transition
      width: 100%

   .legend
      color: $light
      font-size: em( 13 / $fz )
      font-family: $ff-c
      font-weight: bold
      left: 0
      padding: rem( 8 ) rem( 22 ) rem( 6 ) rem( 4 )
      position: absolute
      overflow: hidden
      top: 100%
      text-align: center
      text-transform: uppercase
      transition: all $transition
      width: rem( 126 )

      .portail &
         font-size: em( 10 / $fz )
         width: rem( 86 )
         margin-top: 2px

      span
         position: relative
         z-index: 2

      &:before
         content: ""
         background: $red1
         height: rem( 80 )
         left: -2.25rem;
         position: absolute
         transform: skew($degree*-1deg)
         top: 0
         width: 100%

@media(max-width:1260px)
   header[role="banner"] nav
      font-size: 1.1em

@media(max-width:1160px)
   header[role="banner"] nav
      font-size: 1em
      li
         padding: 0.3rem;

@media(max-width:1080px)
     header[role="banner"] nav
      font-size: 0.9em       

@media(max-width:1023px)
   header[role="banner"] 
      position:relative

      &.mob-fixed
         position: fixed !important


   .header-mobile
      display: flex !important

   .header-desktop
      display:none !important    

   .main-logo.desktop
      display: none !important        