extends /layout/module

block content
  article.img-content
    div.media.o-fit
      img( data-src=`${url.dyn}media-03-1024.jpg` srcset=`${url.dyn}media-03-320.jpg 195w, ${url.dyn}media-03-768.jpg 488w, ${url.dyn}media-03-1024.jpg 585w` sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" )
    div.paragraph.bg-white
      p.date 16 JUIN 2019
      h2.tt-2 LOREM IPSUM DOLOR SIT AMET (H2)
      div.edito
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum mauris nisl, eu tincidunt orci consectetur ut. Praesent iaculis est in lectus eleifend mollis. Nulla et sem dolor... Praesent tempor, mauris ut auctor consectetur, risus nisi semper sem, ut pulvinar erat neque ac lacus. Maecenas faucibus vehicula molestie. Maecenas dictum pretium enim, accumsan elementum felis blandit venenatis. Aenean in nunc mauris. Integer viverra nec lacus a auctor. Ut quis ultricies eros. Cras eleifend, lectus facilisis lacinia euismod, massa ex suscipit ex, in porta magna sem ac nisl.
          button.bt-01 En savoir plus

  div.article-list.bg-light.clearfix
    include /molecules/blocks/block-media-3
    include /molecules/blocks/block-media-3
    include /molecules/blocks/block-media-3
    include /molecules/blocks/block-media-3
    include /molecules/blocks/block-media-3
