extends /layout/module

block content
  article.img-content
    div.media.o-fit
      img( data-src=`${url.dyn}media-03-1024.jpg` srcset=`${url.dyn}media-03-320.jpg 195w, ${url.dyn}media-03-768.jpg 488w, ${url.dyn}media-03-1024.jpg 585w` sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" )
    .paragraph
      p.date 16 JUIN 2019
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum mauris nisl, eu tincidunt orci consectetur ut. Praesent iaculis est in lectus eleifend mollis. Nulla et sem dolor...<br>Praesent tempor, mauris ut auctor consectetur, risus nisi semper sem, ut pulvinar erat neque ac lacus. Maecenas faucibus vehicula molestie. Maecenas dictum pretium enim, accumsan elementum felis blandit venenatis. Aenean in nunc mauris. Integer viverra nec lacus a auctor. Ut quis ultricies eros. Cras eleifend, lectus facilisis lacinia euismod, massa ex suscipit ex, in porta magna sem ac nisl. Praesent a ipsum nunc. Suspendisse mi ligula, fermentum vel sem vitae, pretium volutpat augue. Suspendisse suscipit ex ornare tortor convallis gravida. Nullam lorem augue, ornare facilisis mi sed, vehicula fringilla orci. Nulla condimentum, massa quis vehicula.

  article.content
    h2.tt-2 Titre de deuxième niveau (H2)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum mauris nisl, eu tincidunt orci consectetur ut.<br>Praesent iaculis est in lectus eleifend mollis. Nulla et sem dolor. Praesent tempor, mauris ut auctor consectetur, risus nisi semper sem, ut pulvinar erat neque ac lacus. Maecenas faucibus vehicula molestie.<br>Maecenas dictum pretium enim, accumsan elementum felis blandit venenatis. Aenean in nunc mauris. Integer viverra nec lacus a auctor. Ut quis ultricies eros.<br>Cras eleifend, lectus facilisis lacinia euismod, massa ex suscipit ex, in porta magna sem ac nisl. Praesent a ipsum nunc. Suspendisse mi
    button.bt-01 Tout savoir sur la nouvelle Honda Africa Twin Adventure

  - var caption = true
  include /organisms/sliders/slider-4
  - caption = null

  article.content-list.edito
    h2 Titre de deuxième niveau (H2)
    include /modules/bullet-list


  div.cat-tools
    a.bt-ui( href="mailto:" ) Envoyer à un ami
      +ui('paper-plane')

    a( href="" ) Contacter
      +ui('contact')

    div.social
      span Partager
      div.social
        a( href="http://www.facebook.com" )
          +ui('facebook')
        a( href="http://www.twitter.com" )
          +ui('twitter')
