extends /layout/module

block content
  -
    var path = breadcrumb || ['Accueil', 'Page précédente', 'Page actuelle']

  ol.bcrumb.wp-st(itemscope itemtype="http://schema.org/BreadcrumbList")
    each element, i in path
      li(itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        if i < path.length-1
          a(itemprop="item" href="#")
            span!= element
            meta(itemprop="position" content=i)

        else
          span!= element
          meta(itemprop="position" content=i)
