extends /layout/module

block vars
  - var spec = "edito"

block content
  ul
    li Conditions requises catégorie 125 CITIZEN et 125 FREEDOM :
      ul
        li Âge minimum 22 ans
          ul
            li 3 ans de permis B
            li Justificatif de la formation 125cc ou relevé d’informations de votre assureur de la pratique antérieure d’un 125cc pendant au moins 6 mois
        li Présentation du permis de conduire original et d'une pièce d'identitée
        li Enregistrement de votre caution par préautorisation de votre carte bancaire
