extends /layout/module

block vars
  - noRequiredMsg = true

block content
  div.contact-form
    p Lorem ipsum dolor sit amet
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsam alias ex eveniet rem repudiandae perferendis iusto quis, quibusdam accusantium explicabo soluta corporis. Rerum in dolores fugit. Debitis, ducimus sapiente?
    p
      span * Champs obligatoires

    form( action="" method="" )#contact-form.form-contents
      div.cols.cols-3
        fieldset.col
          div.std-field
            label.label( for="madame" ) Civilité<abbr>*</abbr>
            div.cols-radios
              div.col
                  -
                    form.type = "radio"
                    form.name = "gender"
                    form.id = "madame"
                    form.label = "Madame"
                  include /atoms/forms/checkbox

              div.col
                  -
                    form.type = "radio"
                    form.name = "gender"
                    form.id = "monsieur"
                    form.label = "Monsieur"
                  include /atoms/forms/checkbox
            //- p.error Veuillez renseigner ce champ

        div.col
          -
            form.name = "name"
            form.label = "Nom"
            form.type = "text"
            form.required = "true"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ

        div.col
          -
            form.name = "surname"
            form.label = "Prénom"
            form.type = "text"
            form.required = "true"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ

      div.cols.sb.steps
        div.col
          - form.attributes = { 'data-enable': 'step-form-2' }
          - form.optionsData = null
          - form.firstEmpty = true
          - form.label = "Département"
          - form.name = "departement"
          - form.options = ['Sélectionner', '01 - Ain', '02 - Aisne']
          include /atoms/forms/select
          //- p.error Veuillez renseigner ce champ
        div.col#step-form-2
          - form.options = ['Sélectionner', 'Concessionaire 1', 'Concessionaire 2', 'Concessionaire 3']
          - form.label = "Concessionaire"
          - form.name = "retailer"
          - form.fieldclass = "disabled"
          - form.disabled = true
          - form.attributes = null
          include /atoms/forms/select
          - form.fieldclass = null
          - form.disabled = null
          //- p.error Veuillez renseigner ce champ

      div.medium.form-row
        - form.optionsData = null
        - form.firstEmpty = true
        - form.label = "Objet du message"
        - form.name = "object"
        - form.options = ['Sélectionner l\'objet de votre demande', '> Demander des informations', '> Réserver un essai de véhicule neuf', '> Prendre un rendez-vous en atelier', '> Acheter des pièces détachées', '> Demander un devis', '> Demander un financement', '> Demander des informations Assurance/Garantie', '> Rechercher des accessoires']
        include /atoms/forms/select
        //- p.error Veuillez renseigner ce champ

      div.std-field.form-row
        label.label.main(for='mail') Veuillez choisir votre moyen de contact favori :<abbr>*</abbr>
        div.cols-radios.sb
          div.col
            -
              form.type = "checkbox"
              form.name = "mail"
              form.id = "email"
              form.label = "E-mail"
              form.required = null
            include /atoms/forms/checkbox
          div.col
            -
              form.type = "checkbox"
              form.name = "post"
              form.id = "courrier"
              form.label = "Courrier"
            include /atoms/forms/checkbox
          div.col
            -
              form.type = "checkbox"
              form.name = "phone"
              form.id = "tel"
              form.label = "Téléphone"
            include /atoms/forms/checkbox
          div.col
            -
              form.type = "checkbox"
              form.name = "sms"
              form.id = "messages"
              form.label = "SMS"
            include /atoms/forms/checkbox
        //- p.error Veuillez renseigner ce champ
      div.cols.cols-3.form-row
        div.col
          -
            form.name = "adress"
            form.label = "Adresse :"
            form.type = "text"
            form.placeholder = "Saisir"
            form.required = "true"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ
        div.col
          -
            form.name = "postcode"
            form.label = "Code postal :"
            form.type = "text"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ
        div.col
          -
            form.name = "city"
            form.label = "Ville :"
            form.type = "text"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ
      div.form-row
        -
          form.name = "tel"
          form.label = "Indiquez votre numéro de téléphone"
          form.type = "phone"
          form.required = "true"
          form.placeholder = "Saisir"
        include /atoms/forms/text
        //- p.error Veuillez renseigner ce champ
      div.form-row
        -
          form.name = "mail"
          form.label = "Indiquez votre e-mail"
          form.type = "mail"
          form.placeholder = "Saisir"
        include /atoms/forms/text
        //- p.error Veuillez renseigner ce champ
      div.form-row
        -
          form.name = "tel"
          form.label = "Indiquez votre numéro de téléphone"
          form.type = "phone"
          form.placeholder = "Saisir"
        include /atoms/forms/text
        //- p.error Veuillez renseigner ce champ
        - form.required = false
      div.form-row
        -
          form.type = "checkbox"
          form.name = "terms"
          form.id = "terms"
          form.terms = "true"
          form.label = "J'accepte les conditions. Voir notre politique&nbsp;"
        include /atoms/forms/checkbox
        - form.terms = false
        //- p.error Veuillez renseigner ce champ

      div.form-row.std-field
        div.g-recaptcha(data-sitekey="6LcVLEwUAAAAAFD2Pn_m-M0cHtVDSZCqVSuZrT_j")
        //- p.error Veuillez renseigner ce champ

      .buttons
        button( type="submit" ) Envoyer
