extends /layout/module

block vars
  - var spec = "grid"

block content
  .grid
    .grid-wrapper( data-load-content=portail?"vehicles-more":null id=portail?"vehicles-grid":null )
      .big-box
        include /molecules/blocks/block-media-2
      .big-box
        - var n = 0;
        while n < 4
          include /molecules/blocks/block-media-2
          - n++
      if(portail)
        .big-box
          - var x = 0;
          while x < 4
            include /molecules/blocks/block-media-2
            - x++
        .big-box
          include /molecules/blocks/block-media-2
      else
        - var y = 0;
        while y < 8
          include /molecules/blocks/block-media-2
          - y++

    if portail
      div.buttons
        a.bt-01.alt( href="/ajax/more-results-v.json" data-load-more='{"target": "vehicles-more"}' data-params='{"parametre": "back"}' ) Voir plus de véhicules
