extends /layout/module

block vars
  - var spec = "grid"

block content
  .grid
    .grid-wrapper
      include /molecules/blocks/block-retailer
      include /molecules/blocks/block-retailer
      include /molecules/blocks/block-retailer

    if portail
      div.buttons
        a.bt-01.alt( href="/ajax/search-results-v-more.json" data-load-more='{"target": "vehicles"}' ) Voir plus de véhicules
