.mts-lgl

  .tt-2 1. INFORMATIONS GÉNÉRALES

  p En ayant accès au Site, l'internaute naviguant sur le Site (ci-après désigné l' " Utilisateur ") s'engage à respecter et à se conformer aux conditions d'utilisation telles que définies ci-après :

  h2.tt-2 2. PROPRIÉTÉ INTELLECTUELLE

  p Honda Motor Europe Ltd (France) avise les utilisateurs de ce site que les éléments présentés (photos, dessins, logos, noms de produits ou de marque, etc…) sont protégés par la législation en vigueur sur le droit d'auteur, sur les dessins et modèles ainsi que par la législation sur les marques. Par conséquent, tout matériel sur le site ainsi protégé est la propriété intellectuelle de Honda Motor Europe Ltd (France) ou de tiers ayant autorisé Honda Motor Europe Ltd (France) à les utiliser. Toute reproduction, utilisation, adaptation, traduction, commercialisation, partielle ou intégrale est interdite, sauf accord préalable écrit de la part de Honda Motor Europe Ltd (France). Vous pouvez néanmoins imprimer des pages entières sur un support papier pour votre usage personnel.

  p Nonobstant le caractère général de ce qui précède, Honda Motor Europe Ltd (France) peut exceptionnellement vous accorder le droit de télécharger à partir de son site : fonds d'écran, économiseurs d'écran et autres fichiers. Ces téléchargements sont sujets aux termes et conditions de téléchargement de Honda Motor Europe Ltd (France).

  p Honda Motor Europe Ltd (France) avise les utilisateurs de ce site que ce site respecte les droits d'auteur. Tous les droits d'auteur des oeuvres protégées, reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des oeuvres autre que la reproduction et la consultation individuelles et privées sont interdites.

  h2.tt-2 3. LIENS VERS LE SITE

  p Si vous voulez lier un autre site au site de Honda Motor Europe Ltd (France), vous devez le lier à la page d'accueil du site de Honda Motor Europe Ltd (France).

  p Au préalable, toute demande devra être notifiée par écrit en courrier recommandé AR afin d'obtenir l'accord de Honda Motor Europe Ltd (France).

  p Honda Motor Europe Ltd (France).
    <br/> Service Marketing Regional
    <br/> Z.A de Pariest, Allée du 1er Mai
    <br/> Croissy Beaubourg
    <br/> 77312 MARNE LA VALLEE CEDEX 02

  h2.tt-2 4. EXACTITUDE DE L’INFORMATION

  p Honda Motor Europe Ltd (France) a ouvert ce site pour l'information personnelle de ses utilisateurs et en aucun cas, une exploitation des éléments présents sur ce site (photos, dessins, logos, textes, etc.) ne pourra être faite sans accord préalable de Honda Motor Europe Ltd (France) par écrit.

  p Soucieux d'améliorer sans cesse la qualité de ses matériels, le groupe Honda se réserve le droit d'en modifier les caractéristiques à tout moment et sans préavis, sans que cela ne puisse engager la responsabilité de Honda Motor Europe Ltd (France), des membres de son réseau, ou de ses employés. Documents et photos non contractuels.

  p L'offre présentée comporte des variantes quant aux équipements de série, options ou accessoires installés sur nos véhicules, aux modalités particulières des services propres à tels modèles, motorisations, niveaux d'équipements, aussi nous vous remercions de consulter votre concessionnaire, afin qu'il vous apporte les informations les plus à jour concernant nos offres. Rappelez-vous que les couleurs des photos des véhicules (notamment la carrosserie et les revêtements intérieurs) présentés dans ce site pourraient paraître altérées sur votre écran.

  p Les concessionnaires peuvent présenter à leur clientèle tout ou partie de l'offre présentée sur ces écrans. Chaque concessionnaire étant une entreprise juridiquement indépendante, reste responsable de sa politique tarifaire. Les prix mentionnés sont issus du tarif public et sont des prix publics TTC (la TVA est calculée au taux de 19,6 %) maximum en vigueur à la date de publication du site internet. Les prix indiqués sur la partie automobile sont "TTC clés en main" ce qui signifie pour le client : transport inclus, frais de préparation et livraison inclus, fourniture et pose des plaques d'immatriculation standard inclus et ne comprend pas le plein d'essence.<br/> En ce qui concerne les véhicules d'occasion présentés sur ce site, l'inscription de vos coordonnées ne constitue en aucun cas une vente ou une réservation du ou des véhicules sélectionnés. Seule la signature d'un bon de commande ou de réservation auprès de l'établissement vendeur peut permettre de telles opérations. Ces&nbsp;véhicules ne peuvent être achetés que dans les établissements qui les présentent.

  p Les frais d'immatriculation et les coûts liés à l'établissement de la carte grise des véhicules neufs ou d'occasion ne sont pas inclus dans les prix indiqués.

  h2.tt-2 5. DONNÉES À CARACTÈRE PERSONNEL

  p Honda Motor Europe Ltd (France) respecte la liberté de tout individu visitant le site. Ainsi, Honda Motor Europe Ltd (France) a déclaré la collecte et le traitement de vos données personnelles auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) qui a délivré un récépissé sous le numéro 1061751.<br/>Le présent texte a été élaboré pour vous informer de la politique générale à laquelle s'astreint Honda Motor Europe Ltd (France) pour respecter vos données personnelles dans le cadre de l'utilisation de son site. Par ailleurs, nous nous engageons à faire évoluer ce texte pour nous conformer à l'évolution de vos droits.

  p La présente clause 5 décrit les renseignements que Honda Motor Europe Ltd (France) est susceptible de collecter ainsi que l'usage qu'il en sera fait.

  h3.tt Renseignements personnels
  p Honda Motor Europe Ltd (France) pourra être amenée à collecter des données personnelles concernant l'Utilisateur (noms, adresse, numéro de téléphone ou adresse e-mail, renseignements personnels). Ceux-ci seront stockés dans une base de données pour répondre à vos demandes d'informations, prise de rendez-vous, etc., et pour vous envoyer la Newsletter Honda (lettre d'information électronique). Elles sont exclusivement destinées à Honda, à ses filiales ou aux membres de son réseau commercial à des fins d'enquêtes, d'analyses, de communications institutionnelles ou de propositions commerciales. Ces informations sont confidentielles et conservées par Honda, ses filiales et les membres de son réseau commercial.

  h3.tt Protection des données
  p Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978, modifiée par la loi du 6 août 2004, relative à l'informatique, aux fichiers et aux libertés, l'Utilisateur est informé qu'il dispose d'un droit d'accès, de rectification et de suppression des données personnelles le concernant. Pour exercer ce droit, l'Utilisateur doit adresser une lettre&nbsp;à&nbsp;:

  p Honda Motor Europe Ltd (France)
    <br/>Service Marketing Regional
    <br/>Benoit BEAUFOUR - Responsable Marketing et Communication
    <br/>Z.A de Pariest, Allée du 1er Mai
    <br/>Croissy Beaubourg
    <br/>77312 MARNE LA VALLEE CEDEX 02

  h2.tt-2 6. COOKIES

  p Nous souhaitons vous informer que, lors de vos visites sur le site, un cookie peut s'installer automatiquement sur votre logiciel de navigation. Un cookie ne nous permet pas de vous identifier. De manière générale, il enregistre des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et l'heure de la consultation, etc.) que nous pourrons lire lors de vos visites ultérieures. En l'espèce, il contient les informations que vous venez de nous fournir. Ainsi, vous n'aurez pas besoin, lors de votre prochaine visite, de remplir à nouveau le formulaire que nous vous avons proposé. Ces informations sont conservées dans votre ordinateur jusqu'à ce que vous fermiez votre navigateur.

  p Nous vous informons que vous pouvez vous opposer à l'enregistrement de "cookies" en configurant votre navigateur de la manière suivante :

  p Pour Microsoft Internet Explorer 6.0
  ol
    li Choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options")
    li Cliquez sur l'onglet "Confidentialité" (ou "Confidentiality")
    li Sélectionnez le niveau souhaité à l'aide du curseur

  p Pour Microsoft Internet Explorer 5.0
  ol
    li Choisissez le menu "Outils"(ou "Tools"), puis "Options Internet"(ou "Internet Options")
    li Cliquez sur l'onglet "Sécurité" (ou "Security")
    li Sélectionnez "Internet" puis "Personnaliser le niveau" (ou "CustomLevel")
    li Repérer la rubrique "cookies" et choisissez l'option qui vous convient

  p Pour Netscape 6.X et 7.X
  ol
    li Choisissez le menu "Edition">"Préférences"
    li Confidentialité et Sécurité
    li Cookies

  p Pour Netscape Communicator 4.X
  ol
    li Choisissez le menu "Modifier">"Préférences"
    li Cliquez sur l'option "Avancé"
    li Rubrique "Cookies"

  p Opéra 6.0 et au delà
  ol
    li Choisissez le menu "Fichier">"Préférences"

  h2.tt-2 7. ‘PHISHING  SCAMS’ E-MAILS UTILISANT LE NOM HONDA

  p Honda a été informé d'une hausse importante des e-mails de type « phishing scams », c'est-à-dire des e-mails dans lesquels un tiers utilise le nom d'une entreprise renommée pour obtenir des informations privées sur les consommateurs, comme des données personnelles ou financières (par exemple les numéros de cartes de crédit et codes secrets).

  p Ces "scams e-mails" sont une nouvelle forme de fraude sur internet.

  p Dans la pratique, un e-mail factice est généralement envoyé directement à la victime, qui est alors dirigée vers un site Internet sur lequel des informations personnelles lui sont demandées.

  p Nous avons observé depuis quelque temps que certains de ces emails trompeurs utilisent le nom de Honda dans leurs adresses pour attirer les destinataires vers ce genre de sites frauduleux.

  h3.tt Quelques cas spécifiques :
  ul
    li Invitation provenant d'un directeur de Honda
    li Dans un de ceux-ci, un e-mail de la prétendue société « Honda Handel AG » propose au destinataire de devenir Directeur Financier de « Honda Handel AG » et tente de collecter des informations personnelles.
    li Honda affirme n'avoir aucun lien ni relation avec « Honda Handel AG ».

  h3.tt Notification de récompense
  ul
    li Nous avons repéré d'autres cas dans lesquels la victime était informée d'être sortie vainqueur d'un jeu-concours organisé par Honda. La personne était invitée à donner des informations personnelles de manière à recevoir le prix, qui ncluait une voiture dans certains cas.
      ul
        li Quelques exemples font état du versement d'une somme d'argent en échange d'une voiture.
        li Quelques exemples font état de l'envoi d'un questionnaire par avance aux victimes. En retour, les victimes reçoivent la notification d'une récompense.
        li D'autres exemples font état de l'utilisation frauduleuse dans ces e-mails d'images, de signatures, d'empreintes digitales de responsables ou d'associés de l'entreprise Honda, sensées authentifiées la provenance de ces emails.

  p Nous vous prions d'accueillir avec la plus grande précaution toute information vous notifiant d'un gain à un jeu-concours auquel vous n'avez pas participé.

  p Dans le cas où vous recevriez un e-mail suspect de la part d'une société prétendument affiliée à Honda et vous demandant des informations personnelles, Honda vous invite à contacter le siège national de Honda :

  p Honda Motor Europe Ltd (France).
    <br/> Service Relation Clientèle
    <br/> Parc d'activités de Pariest
    <br/> Allée du 1er mai
    <br/> B.P. 46 - Croissy-Beaubourg
    <br/> 77312 Marne la Vallée Cedex 2
    <br/> Téléphone : 01 60 37 31 37
    <br/> Maintenant que vous avez pris connaissance de l'ensemble de ces informations légales, Honda Motor Europe Ltd (France). vous remercie de vous être connecté(e) et vous souhaite une bonne visite sur son site.
