extends /layout/module

block vars
  - noRequiredMsg = true

block content
  div.contact-form
    p Lorem ipsum dolor sit amet
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsam alias ex eveniet rem repudiandae perferendis iusto quis, quibusdam accusantium explicabo soluta corporis. Rerum in dolores fugit. Debitis, ducimus sapiente?
    p
      span * Champs obligatoires

    form.form-contents
      div.form-row
          -
            form.type = "checkbox"
            form.name = "honda"
            form.id = "honda-news"
            form.label = "Je m'inscris à la newsletter de Honda Moto France"
          include /atoms/forms/checkbox
          //- p.error Veuillez renseigner ce champ
          -
            form.type = "checkbox"
            form.name = "retailer"
            form.id = "retailer-news"
            form.label = "Je m'inscris à la newsletter du Concessionnaire "
          include /atoms/forms/checkbox
          //- p.error Veuillez renseigner ce champ
      div.cols-2.form-row
        div.col
          -
            form.name = "name-2"
            form.label = "Nom"
            form.type = "text"
            form.required = "true"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ

        div.col
          -
            form.name = "surname-2"
            form.label = "Prénom"
            form.type = "text"
            form.required = "true"
            form.placeholder = "Saisir"
          include /atoms/forms/text
          //- p.error Veuillez renseigner ce champ

      div.medium.form-row
        -
          form.name = "mail-2"
          form.label = "Email"
          form.type = "mail"
          form.required = "true"
          form.placeholder = "Saisir"
        include /atoms/forms/text
        //- p.error Veuillez renseigner ce champ


      div.cols.sb.steps.form-row
        div.col
          - form.attributes = { 'data-enable': 'step-form-3' }
          - form.optionsData = null
          - form.firstEmpty = true
          - form.label = "Département"
          - form.name = "departement-2"
          - form.options = ['Sélectionner', '01 - Ain', '02 - Aisne']
          include /atoms/forms/select
          //- p.error Veuillez renseigner ce champ
        div.col#step-form-3
          - form.options = ['Sélectionner', 'Concessionaire 1', 'Concessionaire 2', 'Concessionaire 3']
          - form.label = "Concessionaire"
          - form.name = "retailer"
          - form.fieldclass = "disabled"
          - form.disabled = true
          - form.attributes = null
          include /atoms/forms/select
          - form.fieldclass = null
          - form.disabled = null
          //- p.error Veuillez renseigner ce champ

      div.std-field.form-row
        label.label.main.low(for='mail-2') Si vous acceptez de recevoir des informations commerciales sur les produits et services Honda Moto et que vos données soient ainsi utilisées à des fins de protection commerciale :<abbr>*</abbr>
        -
          form.type = "checkbox"
          form.name = "mail-2"
          form.id = "email-2"
          form.label = "Par Honda&nbsp;"
          form.required = true
        include /atoms/forms/checkbox
        //- p.error Veuillez renseigner ce champ
        -
          form.type = "checkbox"
          form.name = "post-2"
          form.id = "courrier-2"
          form.required = true
          form.label = "Par les concessionnaires Honda&nbsp;"
        include /atoms/forms/checkbox
        - form.required = false
        //- p.error Veuillez renseigner ce champ
        -
          form.type = "checkbox"
          form.name = "terms-2"
          form.id = "terms-2"
          form.terms = "true"
          form.label = "J'accepte les conditions. Voir notre politique&nbsp;"
        include /atoms/forms/checkbox
        //- p.error Veuillez renseigner ce champ

      div.form-row.std-field
        div.g-recaptcha(data-sitekey="6LcVLEwUAAAAAFD2Pn_m-M0cHtVDSZCqVSuZrT_j")
        //- p.error Veuillez renseigner ce champ

      .buttons
        button( type="submit" ) Valider
