extends /layout/module

block vars
  - var spec = "content-table"

block content
  -
    var caption = caption || "Tarifs"
    var table_columns = table_columns || [
      "Journée", "Week-end", "Semaine", "Jour sup.", "Caution", "Km sup."
    ]
    var table_rows = table_rows || {
      "CITIZEN Scooter 125cc" : [
        "45€", "110€", "280€", "35€", "850€", "0,15€"
      ],
      "FREEDOM Moto 125cc" : [
        "45€", "110€", "280€", "35€", "850€", "0,15€"
      ],
      "PULLMAN Scooter/moto Max 700cc" : [
        "45€", "110€", "280€", "35€", "850€", "0,15€"
      ]
    }

  h3.mobile.table-title
  .content-table
    table( border="1")
      caption
        span!= caption || "Lorem Ipsum"
      thead
        tr
          th.col-0  Catégories
          each column, i in table_columns
            th
              span!= column || "Lorem Ipsum"
      tbody
        each row, key in table_rows
          tr
            th.col-0!= key || "Lorem Ipsum"
              //- span!= key || "Lorem Ipsum"
            each cell, i in row
              td
                span!= cell || "Lorem Ipsum"

