extends /layout/module

block content
  div.site-map-p
    ul
      li
        a(href="#") Motos et scooters d’occasion
      li
        a(href="#") concessionnaires
      li
        a(href="#") Label Honda
      li
        a(href="#") Honda Moto France
      li
        a(href="#") Vie privée et cookies
      li
        a(href="#") Mentions légales
      li
        a(href="#") Contact
