extends /layout/module

block content
  div.site-map
    ul
      li
        a(href="#") Accueil
      li
        a(href="#") Gamme et tarifs
        ul
          li
            a(href="#") Sportive
            ul
              li
                a(href="#") RC213V-S
              li
                a(href="#") CBR1000RR FIREBLADE
              li
                a(href="#") CBR1000RR FIREBLADE SP
              li
                a(href="#") CBR500R
              li
                a(href="#") CBR650F
          li
            a(href="#") Routière / Sport GT
            ul
              li
                a(href="#") VFR800F 2017
              li
                a(href="#") GL1800 GOLD WING 2018
          li
            a(href="#") Trail
          li
            a(href="#") Roadster
          li
            a(href="#") custom
          li
            a(href="#") moto 125 cm3
          li
            a(href="#") motocross / loisir
          li
            a(href="#") gamme A2
          li
            a(href="#") Scooter
      li
        a(href="#") Occasions
        ul
            li
              a(href="#") Label Honda
      li
        a(href="#") Services
        ul
          li
            a(href="#") Atelier
          li
            a(href="#") pièces détachées
          li
            a(href="#") financement
          li
            a(href="#") honda assurance
          li
            a(href="#") extension de garantie
      li
        a(href="#") Accessoires
        ul
          li
            a(href="#") équipement du motard
          li
            a(href="#") Accessoires moto
      li
        a(href="#") Accessoires
      li
        a(href="#") Actualités
      li
        a(href="#") Vie privée et cookies
      li
        a(href="#") Mentions légales
      li
        a(href="#") Contact

