{% if(data|length > 0) %}
    {% if (page < limit)%}
        <header class="shead">
            <div class="sh-container tt">
                <div class="tt-2">
                    <span>Liste des {{count}} concessionnaires</span>
                </div>
            </div>
        </header>
    {% endif %}

    <div class="grid" data-load-content="retailers-more">
        <div class="grid-wrapper" >

            {% for distributor in data %}

                {% set scheme = 'http://' %}
                {% if distributor.getWebsiteUrl() matches '/(.kora.pro|honda-motos.com)/' %}
                    {% set scheme = 'https://' %}
                {% endif %}

                <div class="block-retailer {{ distributor.getCadreRouge() ? 'frame' : ''}}">

                    <div class="logo">
                        {% if (distributor.getCadreRouge())%}
                            <img src="media/img/logo-retailer.png" alt="{{distributor.getName()}}">
                        {% endif %}
                    </div>

                    <div class="block-head">
                        <div class="infos">
                            <div class="tt-3">{{distributor.getName()}}</div>
                            <div class="phone">
                                <img src="media/img/phone.png" alt="phone"><a href="tel:{{distributor.getTelephone()}}">{{distributor.getTelephone()}}</a>
                            </div>
                        </div>
                        <div class="address-container">
                            <a target="_blank" href="{{ distributor.getGoogleMapLink() }}">
                                <div class="address">
                                    <p>{{ distributor.getAddress1() }}<br>
                                    {%- if distributor.getAddress2() -%}
                                        {{- distributor.getAddress2() -}}
                                        <br />
                                    {%- endif -%}
                                    {{- distributor.getCodePostal() -}}&nbsp;{{- distributor.getCity() -}}</p>
                                </div>
                                <button class="bt-01">Localiser</button>
                            </a>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="schedule">
                            {{ distributor.getDescription()|raw }}
                        </div>
                        {% if distributor.getWebsiteUrl() %}
                            <div class="retailer-container">
                                <a target="_blank" href="{{ scheme ~ distributor.getWebsiteUrl() }}">

                                    {% if distributor.getInsertPicture() %}
                                        <img src="{{ distributor.getInsertPicture() }}" alt="{{distributor.getName()}}">
                                    {% else %}
                                        <img src="{{ asset('media/img/image-defaut.png') }}" alt="{{distributor.getName()}}">
                                    {% endif %}
                                    <button class="bt-01">Voir le site du concessionnaire</button>
                                </a>
                            </div>
                        {% else %}
                            <div class="retailer-container">
                                {% if distributor.getInsertPicture() %}
                                    <img src="{{ distributor.getInsertPicture() }}" alt="{{distributor.getName()}}">
                                {% else %}
                                    <img src="{{ asset('media/img/image-defaut.png') }}" alt="{{distributor.getName()}}">
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if(end) != true %}
            <div class="buttons">
                <a class="bt-01 alt" href="/search/distributors-search/{{ page + size }}/{{ limit }}" data-load-more="{&quot;target&quot;: &quot;retailers-more&quot;}" data-params="{ {{request}} }">Voir plus de concessionaires</a>
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="error-page">
        <p>Pas de concessionnaire correspondant à vos critères de recherche</p>
        <div class="media">
            <img src="/media/dyn/p-background-noresult-1024.jpg" srcset="/media/dyn/p-background-noresult-1024.jpg 1830w, /media/dyn/p-background-noresult-768.jpg 1220w, /media/dyn/p-background-noresult-320.jpg 915w" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px"
                 alt="">
        </div>
    </div>
{% endif %}