{% if(data|length > 0) %}
    {% if (page < limit)%}
        <header class='shead'>
            <div class='tt-2'>
                <span><em data-text-update='results'>{{count}}</em> Véhicules d'occasion disponibles</span>
            </div>
        </header>
    {% endif %}
    <div class='grid' data-load-content="vehicles-more">
        <div class="grid-wrapper" >
            {% set count = 1 %}
            {% for key, vehicle in data %}

                {% if((key+1) % 10 == 1 or (key+1) % 10 == 0) %}
                    <div class="big-box">
                        <div class="block media-2">
                            <a target="_blank" href="{{"//" ~ vehicle['distributor']['domain']  ~ "/occasion/" ~  vehicle['slug'] }}"> 
                                <div class="media o-fit">

                                    {% set seo_img %}{{ vehicle.title }} {% if vehicle['distributor']['infos']['name'] is defined %}{{ vehicle['distributor']['infos']['name'] }}{% endif %}  {{ vehicle['distributor']['town'] }} {% endset %}

                                    <img class="desktop" src="{{"https://" ~ vehicle['distributor']['domain'] ~ vehicle['vehicleAdGalleries'][0]['mediaUrl']}}"  sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }}">
                                    <img class="mobile" data-src="{{"https://" ~ vehicle['distributor']['domain'] ~ vehicle['vehicleAdGalleries'][0]['mediaUrl']}}"  sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }}">
                                    {% if vehicle.infosComplementaires is defined and vehicle.infosComplementaires %}
                                        <span class="tag">
                                            <span>{{ vehicle.infosComplementaires }}</span>
                                        </span>
                                    {% endif %}
                                    {% if vehicle['warrant'] matches '/^\\d+$/' %}
                                        {% if vehicle['warrant'] %}
                                            <span class="flag">
                                                <svg class="curved-text" viewBox="0 0 107.9 23.5">
                                                <path id="curve" d="M3.8,26.5c1.1-0.9,18.6-14.3,50.7-14.1c31.6,0.2,48.5,13.3,49.7,14.3"></path>
                                                <text>
                                                <textPath xlink:href="#curve" startOffset="50%" text-anchor="middle" alignment-baseline="baseline">Garantie</textPath>
                                                </text>
                                                </svg>
                                                {% if vehicle['warrant']  % 12 == 0 %}
                                                    <span>{{ vehicle['warrant']/12 }} <span>{{ (vehicle['warrant']/12 == 1) ? 'an' : 'ans' }}</span></span>
                                                {% else %}
                                                    <span>{{ vehicle['warrant'] }} <span>mois</span></span>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="text">
                                    <span class="click-me">
                                    </span>
                                    <div class="tt">{{ vehicle['title'] }}</div>
                                    <span class="sub ui-locate">{{ vehicle['distributor']['town'] }}</span>
                                    <span class="infos-line">
                                        <span class="year">{{ vehicle['modelYear'] }}</span>
                                        <span class="km">&nbsp;/ {{ vehicle['km']|localizednumber }} Km /&nbsp;</span>
                                        <span class="price">{{ vehicle['price']|localizednumber }} €</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if(count % 4 == 1 or count == 1)  %}
                        <div class="big-box">
                        {% endif %}
                        <div class="block media-2">
                            <a target="_blank" href="{{"//" ~ vehicle['distributor']['domain'] ~ "/occasion/" ~ vehicle['slug'] }}"> 
                                <div class="media o-fit">
                                    <img class="desktop" src="{{"https://" ~ vehicle['distributor']['domain'] ~ vehicle['vehicleAdGalleries'][0]['mediaUrl']}}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }}">
                                    <img class="mobile" data-src="{{"https://" ~ vehicle['distributor']['domain'] ~ vehicle['vehicleAdGalleries'][0]['mediaUrl']}}" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" title="{{ seo_img }}" alt="{{ seo_img }}">
                                    {% if vehicle.infosComplementaires is defined and vehicle.infosComplementaires %}
                                        <span class="tag">
                                            <span>{{ vehicle.infosComplementaires }}</span>
                                        </span>
                                    {% endif %}
                                    {% if vehicle['warrant'] matches '/^\\d+$/' %}
                                        {% if vehicle['warrant'] %}
                                            <span class="flag">
                                                <svg class="curved-text" viewBox="0 0 107.9 23.5">
                                                <path id="curve" d="M3.8,26.5c1.1-0.9,18.6-14.3,50.7-14.1c31.6,0.2,48.5,13.3,49.7,14.3"></path>
                                                <text>
                                                <textPath xlink:href="#curve" startOffset="50%" text-anchor="middle" alignment-baseline="baseline">Garantie</textPath>
                                                </text>
                                                </svg>
                                                {% if vehicle['warrant']  % 12 == 0 %}
                                                    <span>{{ vehicle['warrant']/12 }} <span>{{ (vehicle['warrant']/12 == 1) ? 'an' : 'ans' }}</span></span>
                                                {% else %}
                                                    <span>{{ vehicle['warrant'] }} <span>mois</span></span>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="text">
                                    <span class="click-me">
                                    </span>
                                    <div class="tt">{{ vehicle['title'] }}</div>
                                    <span class="sub ui-locate">{{ vehicle['distributor']['town'] }}</span>
                                    <span class="infos-line">
                                        <span class="year">{{ vehicle['modelYear'] }}</span>
                                        <span class="km">&nbsp;/ {{ vehicle['km']|localizednumber }} Km /&nbsp;</span>
                                        <span class="price">{{ vehicle['price']|localizednumber }} €</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                        {% if(count % 4 == 0 or count == vehicle|length)  %}
                        </div>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
        </div>
        {% if(end) != true %}
            <div class="buttons">
                <a class="bt-01 alt" href="/search/search-vehicles/{{ page + size }}/{{ limit }}" data-load-more="{&quot;target&quot;: &quot;vehicles-more&quot;}" data-params="{ {{request}} }">Voir plus d'annonces</a>
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="error-page">
        <p>Pas de véhicule d'occasion correspondant à vos critères de recherche</p>
        <div class="media">
            <img src="/media/dyn/p-background-noresult-1024.jpg" srcset="/media/dyn/p-background-noresult-1024.jpg 1830w, /media/dyn/p-background-noresult-768.jpg 1220w, /media/dyn/p-background-noresult-320.jpg 915w" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px"
                 alt="">
        </div>
    </div>
{% endif %}
