{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $subModel = $("#{{ admin.uniqId }}_subModel");

            $subModel.change(function () {

                var $form = $(this).closest('form');
                var data = {};
                data[$subModel.attr('name')] = $subModel.val();

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        console.log(data);
                        $("#{{ admin.uniqId }}_price").replaceWith(
                                $(html).find("#{{ admin.uniqId }}_price")
                        );
                        $("#{{ admin.uniqId }}_promoPrice").replaceWith(
                                $(html).find("#{{ admin.uniqId }}_promoPrice")
                        );
                        $("#{{ admin.uniqId }}_promoPrice").replaceWith(
                                $(html).find("#{{ admin.uniqId }}_license")
                        );
                    }
                });
            });
        });
    </script>
{% endblock %}