<!DOCTYPE html>
<html class="no-js" lang="fr">

    <head>
        <meta charset="utf-8">
        <title>Honda moto occasion {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="{{ asset('/favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/front/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/custom.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/hcn6znr.css">
    </head>

    <body>
        <section class="module bg-light">
            <div class="wp-st">
                <section itemscope itemtype="http://schema.org/Product">
                    <header class="shead">
                        <h2 class="tt-2" itemprop="name">
                            <span>Erreur 404</span>
                        </h2>
                    </header>
                </section>
                <div class="error-page">
                    <p>Il semble que vous vous soyez trompé(e) d’itinéraire ou que la page que vous souhaitiez consulter&nbsp;n’existe plus</p>
                    <div class="media">
                        <img src="{{ asset('/assets/front/media/dyn/404-1024.jpg') }}" srcset="" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="">
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>