extends /layout/module

block content
  .block.media-1
    if !popinvideo
      //- <a href="">
    .media.o-fit
      if popinvideo
        <button class="bt-play" data-video="https://www.youtube.com/embed/TgbGGwwUk6c">
      //- img( src=`${url.dyn}media-01-1024.jpg` srcset=`${url.dyn}media-01-320.jpg 176w, ${url.dyn}media-01-768.jpg 440w, ${url.dyn}media-01-1024.jpg 528w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
      if popinvideo
        </button>
    .text
      h2.tt CB1000R<br/>NEO SPORTS CAFÉ
      span.sub 998 cm2
      span.infos 2018 / Véhicule neuf
      span.price Prix promo 13 199 €
      if !popinvideo
        span.bt-01 
          a(href="") Voir la fiche détaillée
      else
        a.bt-01( href="" ) Voir la fiche détaillée
    if !popinvideo
      //- </a>
