extends /layout/module

block content

      
          li.block-product.swiper-slide.o-fit.shade( itemprop="itemListElement" itemscope itemtype="http://schema.org/Product" )
            h4.tt.mobile( itemprop="name" ) Africa Twin 
            a.bt-01.bt-dispo-vn-list.mobile( href="" ) Disponible à l'essai
            div.text
              div
                if !brand
                  //- span.dektop( data-tooltip tabindex="0" )
                  //-   img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                  //-   span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus
                  
               

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !brand 
              <a class="desktop" href="/ajax/product.json" data-load='{"target":"product", "scroll": true}' >
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau
            div.text
              div
                h4.tt( itemprop="name" ) Africa Twin 
                  strong DCT

                if !brand
                  span( data-tooltip tabindex="0" )
                    img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                    span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !portail
              </a>

              <a class="mobile">
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau

            if !portail
              </a>



          li.block-product.swiper-slide.o-fit.black( itemprop="itemListElement" itemscope itemtype="http://schema.org/Product" )
            h4.tt.mobile( itemprop="name" ) Africa Twin 
            if !brand 
              <a class="desktop" href="/ajax/product.json" data-load='{"target":"product", "scroll": true}' >
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau
            div.text
              div
                h4.tt( itemprop="name" ) Africa Twin 
                  strong DCT

                if !brand
                  span( data-tooltip tabindex="0" )
                    img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                    span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !portail
              </a>

              <a class="mobile">
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau
            div.text
              div
                if !brand
                  //- span.dektop( data-tooltip tabindex="0" )
                  //-   img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                  //-   span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !portail
              </a>



          li.block-product.swiper-slide.o-fit.red( itemprop="itemListElement" itemscope itemtype="http://schema.org/Product" )
            h4.tt.mobile( itemprop="name" ) Africa Twin 
            if !brand 
              <a class="desktop" href="/ajax/product.json" data-load='{"target":"product", "scroll": true}' >
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau
            div.text
              div
                h4.tt( itemprop="name" ) Africa Twin 
                  strong DCT

                if !brand
                  span( data-tooltip tabindex="0" )
                    img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                    span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !portail
              </a>

              <a class="mobile">
            .media
              img( src=brand?`${url.dyn}product-brand-01.jpg`:`${url.dyn}product-01.jpg` alt="Product name" itemprop="image" )

              if !brand
                .flags
                  span.stock En Stock
                  span Nouveau
            div.text
              div
                if !brand
                  //- span.dektop( data-tooltip tabindex="0" )
                  //-   img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                  //-   span.tooltip Color name
                else
                  a.bt-01( href="" ) En savoir plus

              p À partir de
                sup( data-tooltip tabindex="0" ) (1)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" ) 13 849
                span( itemprop="priceCurrency" content="EUR" ) €
              p.promo Promotion
                sup( data-tooltip tabindex="0" ) (2)
                  span.tooltip!= lorem(1)
                | : 
                span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" ) 12 549
                span( itemprop="priceCurrency" content="EUR" ) €
            if !portail
              </a>
