extends /layout/module

block content
  if frame
    div.block-retailer.frame
      div.logo
        img( src=`${url.img}logo-retailer.png` alt="Nom du retailer" )
      div.block-head
        div.infos
          h2.tt-3 STARBIKE LOREM IPSUM LOREM
          div.phone
            img( src=`${url.img}phone.png` alt="phone" )
            a(href="tel:0562884545") 05 62 88 45 45
        div.address-container
          a(href="#")
            div.address
              p 2 rue Max Planck  Lorem Ipsum Lorem ipsum dolor sit amet, consectetur<br>B.P. 98331<br>31683 LABEGE CADEX LOREM IPSUM
            button.bt-01 Localiser
      div.block-content
        div.schedule
          p Du <b>mardi</b> au <b>vendredi</b> de 9h à 12h et de 14h à 19h <br> Le <b>samedi</b> de 9h à 12h et de 14h à 18h
          p Le <b>lundi</b> ou pendant les <b>heures de fermeture</b>, nous pouvons sur RDV, vous recevoir à l'heure et le jour qui vous convient  sur simple appel.
        div.retailer-container
          a(href="#").o-fit
            img( src=`${url.dyn}showroom-1024.jpg` srcset=`${url.dyn}showroom-320.jpg 195w, ${url.dyn}showroom-768.jpg 488w, ${url.dyn}showroom-1024.jpg 585w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
            button.bt-01 Voir le site du concessionnaire
  else
    div.block-retailer
      div.logo
      div.block-head
        div.infos
          h2.tt-3 STARBIKE LOREM IPSUM LOREM
          div.phone
            img( src=`${url.img}phone.png` alt="phone" )
            a(href="tel:0562884545") 05 62 88 45 45
        div.address-container
          a(href="#")
            div.address
              p 2 rue Max Planck  Lorem Ipsum Lorem ipsum dolor sit amet, consectetur<br>B.P. 98331<br>31683 LABEGE CADEX LOREM IPSUM
            span.bt-01 Localiser
      div.block-content
        div.schedule
          p Du <b>mardi</b> au <b>vendredi</b> de 9h à 12h et de 14h à 19h <br> Le <b>samedi</b> de 9h à 12h et de 14h à 18h
          p Le <b>lundi</b> ou pendant les <b>heures de fermeture</b>, nous pouvons sur RDV, vous recevoir à l'heure et le jour qui vous convient  sur simple appel.
        div.retailer-container
          a(href="#").o-fit
            img( src=`${url.dyn}showroom-1024.jpg` srcset=`${url.dyn}showroom-320.jpg 195w, ${url.dyn}showroom-768.jpg 488w, ${url.dyn}showroom-1024.jpg 585w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
            span.bt-01 Voir le site du concessionnaire
