extends /layout/module

block content
  .retailer-infos
    .wp
      img( src=`${url.dyn}star-bike.png` alt="Star Bike" )
      div.address
        p
          | Centre de la Montagne Noire,
          br
          | 3 rue Pasteur,
          br
          | 59 800 LILLE
        a.bt-ui( href="https://www.google.com/maps/dir/?api=1&destination=3+rue+Pasteur+Lille+59800" target="_blank" )
          +ui('localize')
          | Localiser
        p.time Du mardi au vendredi de 9h à 12h et de 14h à 19h
          br
          | Le samedi de 9h à 12h et de 14h à 18h
    .foot
      a.bt-ui( href="tel:0533553355")
        +ui('phone')
        span 05 33 55 33 55
      a( href="#form" data-scroll ) Être contacté
