extends /layout/module

block content
  .block.media-2
    a( href="" )
      .media
        img( src=`${url.dyn}media-02-1024.jpg` srcset=`${url.dyn}media-02-320.jpg 144w, ${url.dyn}media-02-768.jpg 360w, ${url.dyn}media-02-1024.jpg 432w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
        span.tag: span Confort +
        span.flag
          +curvedText('Garantie')
          span 1
            span an

      .text
        span.click-me
        h2.tt Nom du véhicule lorem ipsum dolor met
        span.sub.ui-locate Saint-Etienne
        span.infos-line
          span.year 2016
          span.km  / 43 200 Km / 
          span.price 9 000 €
