extends /layout/module

block content
  .block.media-3
    a( href="" )
      .media
        img( src=`${url.dyn}media-03-1024.jpg` srcset=`${url.dyn}media-03-320.jpg 195w, ${url.dyn}media-03-768.jpg 488w, ${url.dyn}media-03-1024.jpg 585w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
      .text
        h2.tt Nouvelle Honda Africa Twin Adventure à l'essai
        .buttons: span.bt-01 En savoir plus
