extends /layout/module

block content
  .block.media-3b
    .media
      img( src=`${url.dyn}media-03-1024.jpg` srcset=`${url.dyn}media-03-320.jpg 195w, ${url.dyn}media-03-768.jpg 488w, ${url.dyn}media-03-1024.jpg 585w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
    .text
      h2.tt Atelier
      .buttons: a.bt-01( href="" ) En savoir plus
