extends /layout/module

block content
  .block.media-2
    a( href="" )
      .media.o-fit
        img( src=`${url.dyn}media-02-1024.jpg` srcset=`${url.dyn}media-02-320.jpg 144w, ${url.dyn}media-02-768.jpg 360w, ${url.dyn}media-02-1024.jpg 432w` sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" alt="" )
        span.tag: span Confort +
        span.flag: span Permis
          strong A2

      .text
        span.click-me
        .tt!= lorem(Math.floor(Math.random() * 6) + 1, 'words')
        span.sub.ui-locate Saint-Etienne
        span.infos-line
          span.year 2016
          span.km  / 43 200 Km / 
          span.price 9 000 €
