{% extends sonata_block.templates.block_base %}

{% block block %}

    {% for contentBlock in contentBlocks %}

        <div class="block-info">
            <div class="expandable">
                <div class="bt-serv" data-toggle="" aria-expanded="false" aria-controls="content-{{ contentBlock.id }}"><span class="title">{{ contentBlock.title }}</span>
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="content" aria-hidden="true" id="content-{{ contentBlock.id }}">
                <span class="innercontent">
                    {{ contentBlock.content }}
                </span>
            </div>
        </div>
    {% endfor %}

{% endblock %}

