<section class="module cookies-page">
    <div class="agreement-form">
        <p>{{ cookies.message }}</p>
        <div class="form">
            <div class="std-field">
                <span class="custom-radio">
                    <input type="radio" id="agreed" name="agreement">
                    <label for="agreed">Accepter
                    </label>
                </span>
            </div>
            <div class="std-field">
                <span class="custom-radio">
                    <input type="radio" id="refused" name="agreement">
                    <label for="refused">Interdire
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="info" id="vie-prive">
        <div class="tt-2">Vie privée</div>
        {{ cookies.ViePriveeIntro|raw}}
        {% set cookiesV = cookies.getViePriveeQuestions() %}
        {% for cookie in cookiesV %}
            <div class="block-info">
                <div class="expandable">
                    <div class="bt-serv" data-toggle aria-expanded="false" aria-controls="content-{{ count}}">
                        <span class="title">{{ cookie.getQuestion() }}</span>
                        <div class="arrow"></div>
                    </div>
                </div>
                <div class="content" aria-hidden="true" id="content-{{ count}}">
                    <span class="innercontent">{{  cookie.getAnswer() }}</span>
                </div>
            </div>
            {% set count = count +1 %}
        {% endfor %}

    </div>
    <div class="info">
        <div class="tt-2">Cookies</div>
        {{ cookies.cookiesIntro|raw}}
        {% set cookiesQ = cookies.getCookiesQuestions() %}
        {% set count = cookiesQ|length %}
        {% for cookie in cookiesQ %}
            <div class="block-info">
                <div class="expandable">
                    <div class="bt-serv" data-toggle aria-expanded="false" aria-controls="content-{{ loop.index0}}">
                        <span class="title">{{ cookie.getQuestion() }}</span>
                        <div class="arrow"></div>
                    </div>
                </div>
                <div class="content" aria-hidden="true" id="content-{{ loop.index0}}">
                    <span class="innercontent">{{  cookie.getAnswer() }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
