<section class="label-container module">
    <div class="wp-st">
        <header class="shead">
            <div class="tt-2"><span>Label honda</span></div>
        </header>

        <div class="edito label-main">
            <div class="tt">pariatur ad do occaecat proident nisi ut nostrud</div>

            <p>Exercitation officia aliquip officia velit consectetur reprehenderit nisi veniam ullamco. Occaecat id cillum occaecat incididunt veniam ea eiusmod ut in minim voluptate exercitation elit incididunt. Laboris qui pariatur occaecat dolore laboris duis laborum excepteur enim qui qui cillum ex nulla. Cupidatat id ea dolor eiusmod consequat eu reprehenderit aute eiusmod aliqua cupidatat. Aliqua elit aliquip minim nisi quis dolor mollit deserunt.</p>

            <div class="visual"><img alt="" class="label-logo" sizes="" src="/media/img/logo-simple.svg" />
                <div class="label-sideblock">
                    <p>Eu excepteur velit in exercitation. Do sint fugiat aliqua aliquip veniam laboris officia. Nulla exercitation proident mollit id minim aliquip labore ex et velit fugiat. Et proident sint proident nisi culpa in. Aute cupidatat veniam voluptate voluptate nostrud. Labore et id est Lorem aliquip ipsum dolore exercitation cupidatat et.</p>

                    <p>officia proident aliqua duis ullamco sunt</p>

                    <ul>
                        <li>Conditions requises cat&eacute;gorie 125 CITIZEN et 125 FREEDOM :
                            <ul>
                                <li>&Acirc;ge minimum 22 ans
                                    <ul>
                                        <li>3 ans de permis B</li>
                                        <li>Justificatif de la formation 125cc ou relev&eacute; d&rsquo;informations de votre assureur de la pratique ant&eacute;rieure d&rsquo;un 125cc pendant au moins 6 mois</li>
                                    </ul>
                                </li>
                                <li>Pr&eacute;sentation du permis de conduire original et d&#39;une pi&egrave;ce d&#39;identit&eacute;e</li>
                                <li>Enregistrement de votre caution par pr&eacute;autorisation de votre carte bancaire</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <p>Amet exercitation proident ex Lorem laboris nulla commodo commodo voluptate ipsum labore duis aliquip. Nisi consectetur deserunt et ea irure occaecat. Voluptate labore duis labore occaecat laboris laboris commodo. Irure fugiat est esse pariatur consequat proident irure officia consectetur dolor. Consequat consequat cillum dolor enim et officia aute fugiat exercitation mollit tempor ex.</p>

            <ul>
                <li>Conditions requises cat&eacute;gorie 125 CITIZEN et 125 FREEDOM :
                    <ul>
                        <li>&Acirc;ge minimum 22 ans
                            <ul>
                                <li>3 ans de permis B</li>
                                <li>Justificatif de la formation 125cc ou relev&eacute; d&rsquo;informations de votre assureur de la pratique ant&eacute;rieure d&rsquo;un 125cc pendant au moins 6 mois</li>
                            </ul>
                        </li>
                        <li>Pr&eacute;sentation du permis de conduire original et d&#39;une pi&egrave;ce d&#39;identit&eacute;e</li>
                        <li>Enregistrement de votre caution par pr&eacute;autorisation de votre carte bancaire</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="carousel-container cinquo">
            <div class="custom-button prev">&nbsp;</div>

            <div class="swiper-container carousel-cinquo" data-sliderconfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}">
                <div class="swiper-wrapper">
                    <div class="swiper-slide o-fit"><img alt="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" src="/media/dyn/media-10-1024.jpg" srcset="/media/dyn/media-10-1024.jpg 1829w, /media/dyn/media-10-768.jpg 1220w, /media/dyn/media-10-320.jpg 915w" /></div>

                    <div class="swiper-slide o-fit"><img alt="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" src="/media/dyn/media-10-1024.jpg" srcset="/media/dyn/media-10-1024.jpg 1829w, /media/dyn/media-10-768.jpg 1220w, /media/dyn/media-10-320.jpg 915w" /></div>

                    <div class="swiper-slide o-fit"><img alt="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" src="/media/dyn/media-10-1024.jpg" srcset="/media/dyn/media-10-1024.jpg 1829w, /media/dyn/media-10-768.jpg 1220w, /media/dyn/media-10-320.jpg 915w" /></div>

                    <div class="swiper-slide o-fit"><img alt="" sizes="(min-width: 48em) 100px, (min-width: 64em) 352px" src="/media/dyn/media-10-1024.jpg" srcset="/media/dyn/media-10-1024.jpg 1829w, /media/dyn/media-10-768.jpg 1220w, /media/dyn/media-10-320.jpg 915w" /></div>
                </div>
            </div>

            <div class="custom-button next">&nbsp;</div>
        </div>

        <div class="edito label-foot"><a class="bt-01">Plus de contenu</a></div>
    </div>
</section>
