{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}


{% block title %}
    Les services de notre concession {{ getDistributorInfo(distributor, 'name' ) }} à {{ distributor.town }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Besoin de renseignement sur notre concession {{ getDistributorInfo(distributor, 'name' ) }} ou nos modèles ? Découvrez nos différents services proposés : Location, Atelier, Demande de financement… " />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="location {{ getDistributorInfo(distributor, 'name' ) }} atelier {{ getDistributorInfo(distributor, 'name' ) }} sav {{ getDistributorInfo(distributor, 'name' ) }}..." />
{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('services') }}" />
{% endblock %}


{% block content %}

    <section class="module services bg-grey">
        <div class="wp-st">

            <header class="shead">
                <h2 class="tt-2">
                    <span>{{ title|default('Services') }}</span>
                </h2>
            </header>

            {% if description is not null %}
                <div class="paragraphe">
                    {{ description|raw }}
                </div>
            {% endif %}

            {% set image = null %}
            {% set block = render_block_html('banniere-page-service.html.twig') %}

            {% if block %}
                {% set image = block.image %}
            {% endif %}

            {% if image %}
                <div class="aside">
                    <div class="wp-st">
                        <picture>
                            <img src="{% path image, 'reference' %}" alt="Services">
                        </picture>
                    </div>
                </div>
            {% elseif services.banner %}
                <div class="aside">
                    <div class="wp-st">
                        <picture>
                            <img src="{{services.banner}}" alt="Services">
                        </picture>
                    </div>
                </div>
            {% endif %}

            {% for service in services.services %}

                <div class="service block-info" id="{{ service.block_uniqid }}">
                    <div class="expandable">
                        <btn class="bt-serv" data-toggle='{"keep":true}' aria-expanded="false" aria-controls="content-{{ loop.index }}">
                            {% if service.from_portail is defined and service.from_portail %}
                                {% if service.icon.value is defined and service.icon.value != ''  %}
                                    <span class="bt-icon">
                                        <img class="service-icon ui--default" src="{{ service.icon.value }}" alt="">
                                    </span>
                                {% endif %}
                            {% else %}
                                {% if service.icon.value is defined %}
                                    <span class="bt-icon">
                                        <img class="service-icon ui--default" src="{{ service.icon.value }}" alt="">
                                    </span>
                                {% endif %}
                            {% endif %}

                            <span class="title">{{ service.title|capitalize }}</span>
                            <div class="arrow"></div>
                        </btn>
                    </div>
                    <div class="content" aria-hidden="true" id="content-{{ loop.index }}">
                        <div>{{ (service.contentWithoutPriceListTable is defined and service.contentWithoutPriceListTable ? service.contentWithoutPriceListTable : service.content)|raw }}</div>
                        <h3 class="mobile table-title"></h3>
                        {% if  service.priceListTable is defined %}
                        <div class="content-table edito">{{ service.priceListTable|raw }}</div>
                        {% endif %}
                        <div class="content-footer">
                            {% if service.from_portail %}
                                {% if service.pdf %}
                                    <a class="bt-01" href="{{ service.pdf }}" target="_blank">{{ service.label|default('Téléchargez la brochure')|capitalize }}</a>
                                {% endif %}
                            {% else %}
                                {% if service.pdf %}
                                    <a class="bt-01" href="{%  path service.pdf, 'reference' %}" target="_blank">{{ service.label|default('Téléchargez la brochure')|capitalize }}</a>
                                {% endif %}
                            {% endif %}
                            {% if service.link != '' %}
                                <a class="bt-01" href="{{ service.link }}">Nous contacter</a>
                            {% endif %}
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>


    </section>

    <div class="wp-st">
        <section>
            {% if distributor.seoContent.descriptionPageServices  %}
                <div class="edito">
                    {{ distributor.seoContent.descriptionPageServices | replace({
                        '[Nom du concessionnaire]': distributor.infos.name,
                        '[Ville]': distributor.infos.town,
                        '[Département]': distributor.infos.department
                    }) | raw }}
                </div>
            {% endif %}
        </section>
    </div>

{% endblock %}
