
{% set distributorInfos = distributor.getInfos() %}
{% set dcmsid = null %}

{% if distributorInfos.dcmsid is defined and distributorInfos.dcmsid %}
    {% set dcmsid = distributorInfos.dcmsid %}
{% endif %}

<!-- module formulaire contact-->
{% if dcmsid %}
    <section id="section-contact" class="module bg-light">
        <div class="wp-st">
            <section id="form" itemscope itemtype="http://schema.org/Product">
                <header class="shead">
                    <h2 class="tt-2" itemprop="name">
                        <span>Contact</span>
                    </h2>
                </header>
            </section>
            <div class="contact-form">

                <div id="app-form">
                    <h-moto-form
                        :provenance="provenance"
                        default-dealer="{{ dcmsid }}"
                        site-key="{{ sitekey }}"
                        env="{{ form_endpoint }}"
                        cookie-url="{{ app.request.get('COOKIES_URL') }}"
                        bloom-key="{{ bloom_key }}"></h-moto-form>
                </div>

            </div>
        </div>
    </section>
{% endif %}
