<div id="cookies" aria-hidden="{% if app.request.cookies.has('cookies_policy') == 1 %}true{% else %}false{% endif %}">
    <div class="wp-st">

        {% if getCookieMessage() %}
            {{ getCookieMessage()|raw }}
        {% else %}
            <p>Notre site Internet utilise des cookies. Si vous consultez notre site, cela signifie que vous acceptez cette utilisation. Nous espérons que cela vous convient.
                <a href="/vie-privee-et-cookies" tabindex="1">Consultez notre politique relative à l'utilisation des cookies.</a>
            </p>
        {% endif %}
    </div>
</div>
