
{% if distributor.infos is defined and distributor.infos.gaCode is defined and distributor.infos.gaCode %}

    {% set gaCode = distributor.infos.gaCode %}

    <div id="google-analytics" data-code="{{ gaCode }}"></div>

{% endif %}
