<div id="kora" data-origin="{{ provenance|default(default) }}" data-koraIdxForTest='{{ koraIdxForTest|json_encode|raw }}' data-koraIdxForSetDispoStock='{{ koraIdxForSetDispoStock|json_encode|raw }}'></div>
