{% spaceless %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">

{% if distributor.infos.name is defined %}
<meta name="og:title" content="{{ distributor.infos.name }}">
{% endif %}

{% if distributor.infos.name is defined and distributor.infos.address is defined %}
<meta name="og:description" content="{{ distributor.infos.name }} {{ distributor.infos.address }}">
{% endif %}

<meta name="og:site_name" content="">
<meta name="og:type" content="website">
<meta name="og:image" content="">
<meta name="og:local" content="fr">
<meta name="og:url" content="{{ distributor.domain }}">
{% endspaceless %}
