<!-- module pre-footer-->
<aside class="pre-footer">
    <div class="wp-st">
        {% set APPLICATIONS_LINKS = app.request.get('APPLICATIONS_LINKS') %}
        {% if APPLICATIONS_LINKS is defined and (APPLICATIONS_LINKS.android is defined or APPLICATIONS_LINKS.ios is defined)  %}
            <div class="mobile">
                <h3 class="tt">Configurez votre moto sur mobile</h3>
                <div class="wp">
                    {% if APPLICATIONS_LINKS.android is defined  %}
                        <a href="{{ APPLICATIONS_LINKS.android }}" target="_blank" title="Google play">
                            <img src="{{ asset('assets/front/media/img/google-play-badge.png') }}" alt="Google play">
                        </a>
                    {% endif %}
                    {% if APPLICATIONS_LINKS.ios is defined  %}
                        <a href="{{ APPLICATIONS_LINKS.ios }}" target="_blank" title="App Store">
                            <img src="{{ asset('assets/front/media/img/app-store.png') }}" alt="App Store">
                        </a>
                    {% endif %}
                </div>
                <span class="tt">Télécharger notre application mobile</span>
            </div>
        {% endif %}

        {% set socialNetworkLinks = app.request.attributes.get('socialNetworkLinks') %}
        {% set PORTAIL_SOCIAL_LINKS = app.request.attributes.get('PORTAIL_SOCIAL_LINKS') %}

        <div class="social">
            <h3 class="tt">Restez connecté(e)</h3>
            <div class="wp">

                {% if socialNetworkLinks.facebook is defined and socialNetworkLinks.facebook %}
                    {% set facebookLink = socialNetworkLinks.facebook %}
                {% else %}
                    {% set facebookLink = PORTAIL_SOCIAL_LINKS.facebook %}
                {% endif %}

                {% if facebookLink %}
                <a href="{{ facebookLink }}" target="_blank">
                    <svg viewBox="0 0 128 128" aria-hidden="true" class="ui ui--facebook">
                        <title>Facebook</title>
                        <path d="M128 112c0 8.8-7.2 16-16 16H16c-8.8 0-16-7.2-16-16V16C0 7.2 7.2 0 16 0h96c8.8 0 16 7.2 16 16v96z" />
                        <path class="f" d="M68.877 128V78.188h-17.78V60.425h17.784V44.029c0-16.537 9.764-26.279 24.514-26.279 7.068 0 12.834.756 14.605.991v18.573l-11.874-.005c-8.022 0-9.523 3.979-9.523 9.572v13.544h20.556l-2.904 17.763H86.603V128H68.877z" />
                    </svg>
                </a>
                {% endif %}

                {% if socialNetworkLinks.instagram is defined and socialNetworkLinks.instagram %}
                    {% set instagramLink = socialNetworkLinks.instagram %}
                {% else %}
                    {% set instagramLink = PORTAIL_SOCIAL_LINKS.instagram %}
                {% endif %}

                {% if instagramLink %}
                <a href="{{ instagramLink }}" target="_blank">
                    <svg data-name="Social Icons" viewBox="0 0 128 128" aria-hidden="true" class="ui ui--instagram">
                        <defs/>
                        <title>Instagram</title><g data-name="7 stroke"><g><path data-name="Instagram" class="cls-1" d="M105.84 29.84a7.68 7.68 0 1 1-7.68-7.68 7.68 7.68 0 0 1 7.68 7.68zM64 85.33A21.33 21.33 0 1 1 85.33 64 21.33 21.33 0 0 1 64 85.33zm0-54.2A32.87 32.87 0 1 0 96.87 64 32.86 32.86 0 0 0 64 31.13zm0-19.6c17.09 0 19.11.06 25.86.37a35.4 35.4 0 0 1 11.88 2.2 19.83 19.83 0 0 1 7.36 4.79 19.82 19.82 0 0 1 4.79 7.36 35.43 35.43 0 0 1 2.2 11.88c.31 6.75.37 8.77.37 25.86s-.07 19.11-.37 25.86a35.4 35.4 0 0 1-2.2 11.88 21.2 21.2 0 0 1-12.15 12.15 35.43 35.43 0 0 1-11.88 2.2c-6.75.31-8.77.37-25.86.37s-19.11-.07-25.86-.37a35.4 35.4 0 0 1-11.88-2.2 19.83 19.83 0 0 1-7.36-4.79 19.83 19.83 0 0 1-4.79-7.36 35.43 35.43 0 0 1-2.2-11.88c-.31-6.75-.37-8.77-.37-25.86s.06-19.11.37-25.86a35.4 35.4 0 0 1 2.2-11.88 19.83 19.83 0 0 1 4.79-7.35 19.82 19.82 0 0 1 7.36-4.79 35.43 35.43 0 0 1 11.88-2.2c6.75-.31 8.77-.38 25.86-.38zM64 0C46.62 0 44.44.07 37.61.38a47 47 0 0 0-15.53 3 31.36 31.36 0 0 0-11.34 7.38 31.36 31.36 0 0 0-7.38 11.32 47 47 0 0 0-3 15.53C.07 44.44 0 46.62 0 64s.07 19.56.38 26.39a47 47 0 0 0 3 15.53 31.36 31.36 0 0 0 7.38 11.34 31.37 31.37 0 0 0 11.34 7.38 47 47 0 0 0 15.53 3c6.83.31 9 .39 26.39.39s19.56-.07 26.39-.39a47 47 0 0 0 15.53-3 32.73 32.73 0 0 0 18.72-18.72 47 47 0 0 0 3-15.54c.31-6.83.39-9 .39-26.39s-.07-19.56-.39-26.39a47 47 0 0 0-3-15.53 31.37 31.37 0 0 0-7.38-11.34 31.37 31.37 0 0 0-11.34-7.38 47 47 0 0 0-15.54-3C83.56.07 81.38 0 64 0z"/></g></g>
                    </svg>
                </a>
                {% endif %}

                {% if socialNetworkLinks.twitter is defined and socialNetworkLinks.twitter %}
                    {% set twitterLink = socialNetworkLinks.twitter %}
                {% else %}
                    {% set twitterLink = PORTAIL_SOCIAL_LINKS.twitter %}
                {% endif %}

                {% if twitterLink %}
                <a href="{{ twitterLink }}" target="_blank">
                    <svg data-name="Layer 1" viewBox="0 0 95.77 77.83" aria-hidden="true" class="ui ui--twitter">
                        <title>Twitter</title>
                        <path d="M95.77 9.21a39.23 39.23 0 0 1-11.29 3.09 19.69 19.69 0 0 0 8.65-10.91 39.27 39.27 0 0 1-12.47 4.77 19.67 19.67 0 0 0-33.49 17.92A55.76 55.76 0 0 1 6.67 3.55a19.68 19.68 0 0 0 6.08 26.23 19.53 19.53 0 0 1-8.9-2.46v.25a19.66 19.66 0 0 0 15.76 19.27 19.52 19.52 0 0 1-8.87.34 19.67 19.67 0 0 0 18.35 13.65 39.42 39.42 0 0 1-24.4 8.41 40.32 40.32 0 0 1-4.68-.28 55.66 55.66 0 0 0 30.12 8.82c36.14 0 55.9-29.94 55.9-55.9 0-.85 0-1.7-.05-2.54a40 40 0 0 0 9.79-10.13z"
                        />
                    </svg>
                </a>
                {% endif %}

                {% if socialNetworkLinks.youtube is defined and socialNetworkLinks.youtube %}
                    {% set youtubeLink = socialNetworkLinks.youtube %}
                {% else %}
                    {% set youtubeLink = PORTAIL_SOCIAL_LINKS.youtube %}
                {% endif %}

                {% if youtubeLink %}
                <a href="{{ youtubeLink }}" target="_blank">
                    <svg data-name="Calque 1" viewBox="0 0 91 53" aria-hidden="true" class="ui ui--youtube">
                        <title>YouTube</title>
                        <path d="M82.5 52.97h-74a8.53 8.53 0 0 1-8.5-8.5v-36a8.53 8.53 0 0 1 8.5-8.5h74a8.53 8.53 0 0 1 8.5 8.5v36a8.53 8.53 0 0 1-8.5 8.5zM31.34 11.89v29.33l27.33-15.33z" />
                    </svg>
                </a>
                {% endif %}

                {% if socialNetworkLinks.snapchat is defined and socialNetworkLinks.snapchat %}
                    {% set snapchatLink = socialNetworkLinks.snapchat %}
                {% else %}
                    {% set snapchatLink = PORTAIL_SOCIAL_LINKS.snapchat %}
                {% endif %}

                {% if snapchatLink %}
                      <a href="{{ snapchatLink }}" target="_blank">
                          <svg data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24">
                              <title>Snapchat</title>
                              <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3.086 8.267c-.3.672-.181 1.876-.133 2.718-.324.179-.74-.136-.975-.136-.245 0-.538.161-.583.401-.033.173.044.425.6.645.215.085.727.185.845.464.166.392-.855 2.202-2.459 2.466-.126.02-.216.132-.209.259.028.488 1.121.678 1.605.754.05.067.09.35.153.566.028.097.102.212.291.212.246 0 .656-.19 1.369-.072.699.117 1.356 1.107 2.617 1.107 1.173 0 1.872-.996 2.545-1.107.389-.065.724-.044 1.098.029.257.05.488.079.562-.174.064-.219.104-.496.152-.561.48-.075 1.578-.265 1.606-.753.007-.127-.083-.239-.208-.259-1.577-.26-2.629-2.064-2.459-2.466.118-.278.626-.378.845-.464.407-.161.611-.358.606-.586-.006-.292-.357-.467-.616-.467-.264 0-.642.312-.949.143.048-.849.166-2.048-.133-2.719-.567-1.272-1.83-1.916-3.092-1.916-1.252-.001-2.506.633-3.078 1.916z"/>
                          </svg>
                      </a>
                {% endif %}

            </div>
            <span class="tt">Nous suivre sur les réseaux sociaux</span>
        </div>

        <div class="newsletter">
            <div>
                <h3 class="tt">Suivez notre actualité</h3>
                <div class="wp">
                    <a href="https://services-moto.honda.fr/abonnements/newsletter-abo?_ga=2.126262542.2078833727.1547548142-2061360360.1547548142" target="_blank" title="Newsletter">
                        <svg viewBox="0 0 483.3 483.3" aria-hidden="true" class="ui ui--mail">
                            <desc>Newsletter</desc>
                            <path d="M424.3 57.75H59.1c-32.6 0-59.1 26.5-59.1 59.1v249.6c0 32.6 26.5 59.1 59.1 59.1h365.1c32.6 0 59.1-26.5 59.1-59.1v-249.5c.1-32.6-26.4-59.2-59-59.2zm32.1 308.7c0 17.7-14.4 32.1-32.1 32.1H59.1c-17.7 0-32.1-14.4-32.1-32.1v-249.5c0-17.7 14.4-32.1 32.1-32.1h365.1c17.7 0 32.1 14.4 32.1 32.1v249.5h.1z"
                            />
                            <path d="M304.8 238.55l118.2-106c5.5-5 6-13.5 1-19.1-5-5.5-13.5-6-19.1-1l-163 146.3-31.8-28.4c-.1-.1-.2-.2-.2-.3-.7-.7-1.4-1.3-2.2-1.9L78.3 112.35c-5.6-5-14.1-4.5-19.1 1.1-5 5.6-4.5 14.1 1.1 19.1l119.6 106.9-119.1 111.5c-5.4 5.1-5.7 13.6-.6 19.1 2.7 2.8 6.3 4.3 9.9 4.3 3.3 0 6.6-1.2 9.2-3.6l120.9-113.1 32.8 29.3c2.6 2.3 5.8 3.4 9 3.4s6.5-1.2 9-3.5l33.7-30.2 120.2 114.2c2.6 2.5 6 3.7 9.3 3.7 3.6 0 7.1-1.4 9.8-4.2 5.1-5.4 4.9-14-.5-19.1l-118.7-112.7z"
                            />
                        </svg>
                    </a>
                </div>
                <span class="tt">S'inscrire à la newsletter</span>
            </div>
        </div>
    </div>
</aside>
