{% block breadcrumbs %}

{% if breadcrumbs is defined and breadcrumbs|length %}

<ol class="bcrumb wp-st" itemscope itemtype="http://schema.org/BreadcrumbList">

    <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ url('homepage') }}">
            <span>Accueil</span>
            <meta itemprop="position" content="0">
        </a>
    </li>

    {% for breadcrumb in breadcrumbs %}
        {% set index = loop.index  %}

        <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            {% if breadcrumb.last is defined %}
                <span>{{ breadcrumb.name }}</span>
                <meta itemprop="position" content="{{ index }}">
            {% else %}
                <a itemprop="item" href="{{ breadcrumb.url }}">
                    <span>{{ breadcrumb.name }}</span>
                    <meta itemprop="position" content="{{ index }}">
                </a>
            {% endif %}

        </li>
    {% endfor %}
</ol>

{% endif %}
{% endblock breadcrumbs %}
