{% include '@HondaMain/Front/_pre_footer.html.twig' %}
{% include '@HondaMain/Front/_contact_form.html.twig' %}

<footer role="contentinfo">
    <div class="wp-st">
        <div class="affiliates">
            <h4 class="tt">Nos autres sites :</h4>
            <ul>
                <li>
                    <a href="https://moto.honda.fr" target="_blank">moto.honda.fr</a>
                </li>
                <li>
                    <a href="https://hondanews.eu/fr" target="_blank">hondanews.eu/fr</a>
                </li>
                <li>
                    <a href="https://honda-motos.com" target="_blank">honda-motos.com</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <img src="{{ asset('assets/front/media/img/logo.png') }}" alt="Honda">
        </div>
        <div class="nav">
            <a href="#section-contact" data-scroll="" aria-label="Contact">
                <span> Contact</span>
            </a>
            <a href="{{ url('page_show', {'path': 'plan-du-site'}) }}">
                <span> Plan du site</span>
            </a>
            <br>
            <a href="{{ url('page_show', {'path': 'vie-privee-et-cookies'}) }}">
                <span> Vie privée et cookies</span>
            </a>
            <a href="{{ url('page_show', {'path': 'mentions-legales'}) }}">
                <span> Mentions légales</span>
            </a>
            <span>Copyright © {{ "now"|date("Y") }} Honda</span>
        </div>
    </div>
</footer>
<a class="bt-contact" href="#section-contact" data-scroll aria-label="Etre contacté(e)">
    <span class="i">i</span>
    <span class="t">Être contacté(e)</span>
</a>
<a class="bt-top" href="#" aria-label="Remonter en haut de la page" data-scroll="{&quot;top&quot;: 0}">
    <span></span>
</a>



<script src="{{ asset('/assets/front/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/front/js/lazyload.min.js') }}"></script>
<script src="{{ asset('/assets/front/js/swiper.min.js') }}"></script>
<script src="{{ asset('/assets/front/js/nouislider.min.js') }}"></script>
<script src="{{ asset('/assets/front/config/config.js') }}"></script>
<script src="{{ asset('/assets/front/js/app.js') }}"></script>
{{ encore_entry_script_tags('form') }}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="{{ asset('/assets/front/js/custom.js') }}"></script>
<script src="{{ asset('/assets/front/js/kora.js') }}"></script>
