<!DOCTYPE html>
<html class="no-js" lang="fr" moznomarginboxes mozdisallowselectionprint>

    <head>
        <meta charset="utf-8">
        <title>Honda moto occasion {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" href="{{ asset('assets/front/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/custom.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/hcn6znr.css">
        <script src="{{ asset('assets/front/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/bootstrap-datetimepicker.min.js') }}"></script>
    </head>

    <body>

        <main>
            {% block content %}{% endblock %}
        </main>

        <script src="{{ asset('assets/front/js/lazyload.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/swiper.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/nouislider.min.js') }}"></script>
        <script src="{{ asset('assets/front/config/config.js') }}"></script>
        <script src="{{ asset('assets/front/js/app.js') }}"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{{ asset('assets/front/js/custom.js') }}"></script>

    </body>


</html>
