{% set distributor = app.request.attributes.get('distributor') %}

<!DOCTYPE html>
<html class="no-js" lang="fr">

    <head>
        {{ gtmScript()|raw }}
        <meta charset="utf-8">
        <title>{% spaceless %}{% block title %}Concessionnaire Honda Occasions{% endblock %}{% endspaceless %}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="{{ asset('/favicon.ico') }}" />

        {% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}
        {% spaceless %}{% block meta_keywords %}{% endblock %}{% endspaceless %}
        {% spaceless %}{% block links %}{% endblock %}{% endspaceless %}

        <meta name="copyright" content="Copyright (C) {{ "now"|date("Y") }} Honda" />
        <meta name="language" content="fr" />

        {% block meta_robots %}
            <meta name="robots" content="index, follow" />
        {% endblock %}

        {% block metas %}
            {{ include('@HondaMain/Front/_meta_tag_social_network.html.twig') }}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('assets/front/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/custom.css') }}">

        <link rel="stylesheet" href="https://use.typekit.net/hcn6znr.css">
    </head>

    <body {{ app.request.attributes.get('distributor')|themeBgColor }} >
        {{ gtmNoScript()|raw }}
        {{ include('@HondaMain/Front/_cookies.html.twig') }}

        {{ include('@HondaMain/Front/header.html.twig') }}

        <main {% if mainClassBgColor is defined %}class="{{ mainClassBgColor }}"{% endif %} >
            {% use "@HondaMain/Front/breadcrumb.html.twig" %}
            {{ block('breadcrumbs') }}
            {% block content %}{% endblock %}
        </main>
        {{- koraScript((model is defined and model is iterable) ? model : null)|raw -}}
        {{ include('@HondaMain/Front/footer.html.twig') }}
        {{ include('@HondaMain/Front/_google_analytic.html.twig') }}
    </body>


</html>
