{% extends '@HondaCommon/standard_layout.html.twig' %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Extrait
                        </h4>
                    </div>
                    <div class="box-body">
                        <a href="{{ admin.generateUrl('generate') }}">Generer les annonces</a><br />
                        <a href="{{ admin.generateUrl('download') }}">Telecharger le fichier CSV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
