{% extends 'HondaCommonBundle::standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}">{% trans %}config.label_dashboard{% endtrans %}</a>
            </li>
            <li class="active"><span>{% trans %}config.label_admin_site{% endtrans %}</span></li>
        </ol>
    </div>
{% endblock %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="box box-primary">
        <div style="padding: 10px!important;"  class="box-body table-responsive no-padding">
            <table id="example"  class="table table-bordered table-striped sonata-ba-list" width="100%">
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        <th class="sonata-ba-list-field-header-text">Id</th>
                        <th class="sonata-ba-list-field-header-text">Image principale</th>
                        <th class="sonata-ba-list-field-header-text">Concesionnaire</th>
                        <th class="sonata-ba-list-field-header-text">Titre</th>
                        <th class="sonata-ba-list-field-header-text">Publier?</th>
                        <th class="sonata-ba-list-field-header-text">prix</th>
                        <th class="sonata-ba-list-field-header-text">kilométrage</th>
                        <th class="sonata-ba-list-field-header-text">Année du modèle</th>
                        <th class="sonata-ba-list-field-header-text">Date de mise en circulation</th>
                        <th class="sonata-ba-list-field-header-text">Garantie (mois)</th>
                        <th class="sonata-ba-list-field-header-text">Modèles</th>
                        <th class="sonata-ba-list-field-header-text">Catégories</th>
                        <th class="sonata-ba-list-field-header-text">Marques</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicleAd in vehicleAds %}
                    <tr>
                        <td class="sonata-ba-list-field">#{{ vehicleAd.id }}</td>
                        <td class="sonata-ba-list-field">{% if vehicleAd.image is defined %} <img src="{{ vehicleAd.image }}" alt=""/> {% endif %}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.distributor_name }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.title }}</td>
                        <td class="sonata-ba-list-field">{% if vehicleAd.is_published %} <span class="badge badge-success">Oui</span> {% endif %}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.price }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.km }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.model_year }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.release_date }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.warrant }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.model_portail }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.category_portail }}</td>
                        <td class="sonata-ba-list-field">{{ vehicleAd.mark_portail }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        div.dataTables_wrapper {
            margin-top: 10px;
        }
        div.dataTables_wrapper div.dataTables_filter label {
            width: 80%;
        }
        div.dataTables_wrapper div.dataTables_filter label input {
            width: 80%;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                //"bLengthChange": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "order": false,
                "dom": '<"top"flp<"clear">>rt<"bottom"ip<"clear">>'
            });
        } );
    </script>

{% endblock %}