/*
.services img {
  max-width: 2.1875rem;
  max-height: 2.1875rem;
  margin: 0 0.625rem 0 0;
}
*/
header[role="banner"] nav li.active a,
header[role="banner"] nav li.active button {
  color: #c00;
}
@media (min-width: 64em) {
  header[role="banner"] nav li.active > a:after,
  header[role="banner"] nav li.active > button:after {
    border-bottom-width: 2px;
  }
}
header[role="banner"] nav span {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  position: relative;
  text-transform: uppercase;
}
.product .header .promo {
  color: #c00;
}
/*# sourceMappingURL=custom.css.map */