extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main.bg-light
    - var breadcrumb = ['Accueil', 'Erreur 404']
    include /modules/breadcrumb

    // module fiche
    - header.title = 'Erreur 404'
    section.module.bg-light
      .wp-st
        section( itemscope itemtype="http://schema.org/Product" )
          - var itemprop = "name"
          include /molecules/headers/section-header-simple
          - itemprop = null

        div.error-page
          p Il semble que vous vous soyez trompé(e) d’itinéraire ou que la page que vous souhaitiez consulter&nbsp;n’existe plus
          div.media
            img( src=`${url.dyn}404-1024.jpg` srcset=`${url.dyn}404-1024.jpg 1832w, ${url.dyn}404-768.jpg 1221w, ${url.dyn}404-320.jpg 916w` sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" )
          button.bt-01 Retourner à l'accueil

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
