extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Actualités', 'Nouvelle Honda Africa Twin Adventure à l\'essai']
    include /modules/breadcrumb

    - header.title = 'Nouvelle honda Africa TWIN Adenture'
    section.module.bg-grey
      .wp-st.bg-white
        section( itemscope itemtype="http://schema.org/Product" )
          - var itemprop = "name"
          include /molecules/headers/section-header-simple
          - itemprop = null
        div.product.bg-white
          include /modules/article

    // module actualités et événements
    - form.attributes = { 'data-load': {"target": "read-more-news", "slider": true} }
    - form.action = "/ajax/top-news.json"
    - header.options = ["Sélectionner", "Nouveautés", "Articles", "D'autres catégories du site"]
    - header.title = 'À lire également'
    - header.button = 'Voir toutes les actualités'
    section.module.bg-dark
      div.wp-st
        div.head.wp-st
          include /molecules/headers/section-header-double

        div( data-load-content="read-more-news" )
          include /organisms/sliders/slider-2
    // /module actualités et événements

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
