extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main.bg-light
    - var breadcrumb = ['Accueil', 'Actualités']
    include /modules/breadcrumb

    section.module.bg-light
      .wp-st
        - var itemprop = "name"
        - form.attributes = { 'data-load': {"target": "article"} }
        - form.action = "/ajax/article.json"
        - form.firstEnabled = true
        - header.options = ['Article 1', 'Article 2']
        - header.title = 'ACTUALITÉS'
        include /molecules/headers/section-header-select
        - itemprop = null
        div.actu-subhead
          p Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum.

        div.product( data-load-content="article" )
          include /modules/articles-list

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
