extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Accessoires']
    include /modules/breadcrumb

    - header.title = 'Accessoires'
    section.module.accessories.bg-grey
      div.wp-st
        include /molecules/headers/section-header-simple

        -
          var content = false,
          titre = "Accessoires moto",
          image = "visuel-acc-moto"
        include /organisms/accessory

        -
          content = true,
          titre = "équipement du motard",
          image = "visuel-acc-motard"
        include /organisms/accessory

    include /organisms/pre-footer
