extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Vie privée et cookies']
    include /modules/breadcrumb

    - header.title = 'Vie privée et cookies'
        section.module.cookies-page
          div.wp-st
            div.head.wp-st.tt_alt
              include /molecules/headers/section-header-simple

            .agreement-form
              p Si vous autorisez, vous pourrez à tout moment revenir sur votre consentement en cliquant sur le lien en bas de page « Vie privée et cookies ».

              .form 
                -
                  form.type = "radio" 
                  form.name = "agreement"
                  form.id = "agreed"
                  form.label = "Accepter"
                include /atoms/forms/checkbox
                -
                  form.type = "radio"
                  form.name = "agreement"
                  form.id = "refused"
                  form.label = "Interdire"
                include /atoms/forms/checkbox

            - var x = 0

            .info(id="vie-prive")
              .tt-2 Vie privée
              p Lorsque vous utilisez nos services, vous acceptez que notre société collecte certaines de vos informations personnelles.
              p Cette page a pour but de vous indiquer quelles informations nous collectons, pour quelle raison et comment nous les utilisons.

              -
                var is_logo = false
                var subjects = [
                  "Quels types de données collectons-nous ?",
                  "Comment utilisons-nous les données collectées ?",
                  "Qui sont les destinataires des données personnelles collectées ?",
                  "Comment puis-je gérer ou supprimer mes données personnelles collectées ?",
                  "Comment assurons-nous la sécurité des données ?",
                  "Responsable de traitement, déclaration, contact"
                ]
              each subject, i in subjects
                - var Titre = subject, x = x + 1
                .block-info
                  .expandable
                    include /organisms/expandable
                  .content(aria-hidden="true" id="content-" + i)
                    span.innercontent!= lorem(5)

            .info
              .tt-2 Cookies
              p HME-FR souhaite vous informer de manière claire et transparente sur l'usage des cookies lors de votre navigation sur son site web, et via ses applications iPhone, iPad et Android.

              -
                var is_logo = false
                var subjects_2 = [
                  "Qu’est-ce qu’un cookie ?",
                  "Quels sont les cookies présents sur notre site et nos applications ?",
                  "Quels sont vos choix par rapport aux cookies ?",
                  "Autres ressources utiles"
                ]
              each subject, j in subjects_2
                - var Titre = subject, i = j + subjects.length
                .block-info
                  .expandable
                    include /organisms/expandable
                  .content(aria-hidden="true" id="content-" + i)
                    span.innercontent!= lorem(5)

          include /organisms/pre-footer
