extends /layout/default

block vars
  - var pageType = "theme-red"

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    // module a la une
    - header.options = ["Sélectionner", "Actualités", "Articles", "D'autres catégories du site"]
    - header.title = 'À la une'
    section.module.bg-grey( data-tabs )
      div.wp-st
        //- if no ajax
        //- - form.attributes = { 'data-toggler': {"tabs": true, "slider": true} }
        - form.attributes = { 'data-load': {"target": "slider-top-news", "slider": true} }
        - form.action = "/ajax/top-news.json"
        - form.firstEnabled = true
        - header.options = ['Slider 1', 'Slider 2', 'Slider 3']
        include /molecules/headers/section-header-select
        - form.attributes = null
        - form.firstEnabled = null
        - header.options = null
        div( data-load-content="slider-top-news" )
          include /organisms/sliders/slider-1

        //- if no ajax
        //- div#slider-1.tab(aria-hidden="false")
        //-   include /organisms/sliders/slider-1
        //- div#slider-2.tab(aria-hidden="true")
        //-   include /organisms/sliders/slider-2
        //- div#slider-3.tab(aria-hidden="true")
        //-   include /organisms/sliders/slider-3

        .mod-buttons: a.bt-01( href="" )!= header.button
    // /module a la une

    // module dernières occasions
    - header.title = 'Dernières occasions'
    - header.button = 'Voir toutes les annonces'
    section.module.bg-light
      div.wp-st
        include /molecules/headers/section-header-button
        include /organisms/sliders/slider-3
        .mod-buttons: a.bt-01( href="" )!= header.button
    // /module dernières occasions

    // module actualités et événements
    - header.options = ["Sélectionner", "Nouveautés", "Articles", "D'autres catégories du site"]
    - header.title = 'Actualités et événements'
    - header.button = 'Voir toutes les actualités'
    - form.attributes = { 'data-load': {"target": "slider-news-events", "slider": true} }
    - form.action = "/ajax/news-events.json"
    - form.firstEnabled = true
    - header.options = ['Slider 1', 'Slider 2', 'Slider 3']
    section.module.bg-dark
      div.wp-st
        include /molecules/headers/section-header-double
        div( data-load-content='slider-news-events' )
          include /organisms/sliders/slider-2
        .mod-buttons: a.bt-01( href="" )!= header.button
    // /module actualités et événements

    // module services
    - header.title = 'Services'
    - header.button = 'Voir tous nos services'
    section.module.bg-light
      div.wp-st
        include /molecules/headers/section-header-button
        include /organisms/sliders/slider-2
        .mod-buttons: a.bt-01( href="" )!= header.button
    // /module services

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer

    // formulaire
    // /formulaire
