extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content

  main.bg-white
    - var breadcrumb = ['Accueil', 'Label Honda']
    include /modules/breadcrumb

    section.label-container.module
      div.wp-st
        - header.title = 'Label honda'
        include /molecules/headers/section-header-simple

        .edito.label-main
          .tt!= lorem(8, "words")
          p!= lorem(1)

          div.visual
            img.label-logo( src=`${url.img}logo-simple.svg` sizes="" alt="")
            div.label-sideblock
              p!= lorem(1)
              p!= lorem(6, "words")

              include /modules/bullet-list

          p!= lorem(1)

          include /modules/bullet-list

        include /organisms/sliders/slider-4

        .edito.label-foot
          a.bt-01 Plus de contenu

    include /organisms/pre-footer
