extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main.bg-light
    - var breadcrumb = ['Accueil', 'Mentions légales']
    include /modules/breadcrumb

    // module fiche
    - header.title = 'Mentions légales'
    section.module.bg-light
      .wp-st
        section( itemscope itemtype="http://schema.org/Product" )
          - var itemprop = "name"
          include /molecules/headers/section-header-simple
          - itemprop = null

        include /modules/mentions-legales

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
