extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content

  main
    - var breadcrumb = ['Accueil', 'Services']
    include /modules/breadcrumb

    - header.title = 'Services'
    section.module.services
      div.wp-st
        div.head.wp-st
          include /molecules/headers/section-header-simple

        -
          var services = [
            "Atelier", "Pièces détachées", "Financement", "Honda Assurances", "Extension de garantie"
          ]

        each service, i in services
          - var Titre = service
          case Titre
            when "Atelier"
              - var picto = "spanner"
            when "Pièces détachées"
              - var picto = "motorbike-01"
            when "Financement"
              - var picto = "euro-symbol"
            when "Honda Assurances"
              - var picto = "text-file"
            when "Extension de garantie"
              - var picto = "motorbike-02"

          include /organisms/service-content
    include /organisms/pre-footer
