extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main.bg-grey
    - var breadcrumb = ['Accueil', 'Plan du site']
    include /modules/breadcrumb

    - header.title = 'Plan du site'
    section.module
      .wp-st
        section( itemscope itemtype="http://schema.org/Product" )
          - var itemprop = "name"
          include /molecules/headers/section-header-simple
          - itemprop = null

        block module
          include /modules/site-map-list-c

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
