extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Gamme et tarifs', 'C-vn-liste']
    include /modules/breadcrumb

    // module gamme
    - header.title = 'Gamme de motos et scooters'
    section.module
      div.wp-st
        div.head.wp-st
          include /molecules/headers/section-header-simple
          p.txt!= lorem('2')

          div.module-options.tablet-content
            - form.label = 'Catégorie'
            - form.firstEnabled = true
            - form.options = ['cat-1', 'cat-2', 'cat-3', 'cat-4']
            - form.attributes = {'data-link': ''}
            - form.optionsData = [{'data-link': '/'}, {'data-link': '/'}, {'data-link': '/'}, {'data-link': '/'}]
            include /atoms/forms/select

            a.bt-01.large( href="" download ) Télécharger les tarifs officiels

        div.mobile-content
          include /organisms/brand-table-mobile

        div.desktop-content
          - var a = 1
          while a < 5
            // table
            div(id="brand-"+i)
              include /modules/brand-table
            // /table

            div.head
              a.bt-01.large( href="" download ) Télécharger les tarifs officiels

            -a++
    // /module gamme

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
