extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Gamme et tarifs', 'Africa Twin CRF100L']
    include /modules/breadcrumb

    div.wp-st
      include /organisms/sliders/slider-4
    

    // module fiche
    - header.title = 'Africa Twin'
    section.module.bg-light

      .wp-st
        div.buttons
          a.bt-01.btn-retour( href="" ) retour catégories      
        section.desktop( itemscope itemtype="http://schema.org/Product" )
          - var itemprop = "name"
          include /molecules/headers/section-header-simple
          - itemprop = null

          div.product
            include /organisms/product/product-head


        .product-category-wrap
          .swiper-pagination 
          .swiper-wrapper
            section.products.swiper-slide( itemscope itemtype="http://schema.org/ItemList" )
              header.tt-list
                h3.tt-l Lorem ipsum dolor

              .desktop
                ul.cols
                    - var i = 0
                    while i < 4
                      include /molecules/blocks/block-product
                      - i++
              .mobile
                ul.cols
                  .mobile-product-carousel.carousel-container.cinquo
                    //- .custom-button.custom-button_1.prev
                    .swiper-container.carousel-cinquo.mobile-carousel(data-sliderConfig='{"loop" : false, "slidesPerView": 1, "navigation-mob" : true, "pagination": false,"pagination-mob": true, "id": 1}')
      
                      .swiper-wrapper
                          - var i = 0
                          //- while i < 4
                          //-   include /molecules/blocks/block-product
                          //-   - i++ 
                          include /molecules/blocks/block-product
                      .color-icons
                        ul(data-slide_id = '1')
                          li
                            a(href="#" data-product_slide="shade")
                              img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                            span shade
                          li
                            a(href="#" data-product_slide="black")
                              img( src=`${url.dyn}icon_noire.png` alt="Color name" itemprop="color" )
                            span black
                          li
                            a(href="#" data-product_slide="red")
                              img( src=`${url.dyn}icon_rouge.png` alt="Color name" itemprop="color" )
                            span red
                          li
                            a(href="#" data-product_slide="grey")
                              img( src=`${url.dyn}icon_gris.png` alt="Color name" itemprop="color" )
                            span grey


            section.products.swiper-slide( itemscope itemtype="http://schema.org/ItemList" )
              header.tt-list
                h3.tt-l Lorem ipsum dolor

              .desktop
                ul.cols
                    - var i = 0
                    while i < 4
                      include /molecules/blocks/block-product
                      - i++
              .mobile
                ul.cols
                  .mobile-product-carousel.carousel-container.cinquo
                    //- .custom-button.custom-button_1.prev
                    .swiper-container.carousel-cinquo.mobile-carousel(data-sliderConfig='{"loop" : false, "slidesPerView": 1, "navigation-mob" : true, "pagination": false,"pagination-mob": true, "id": 2}')
           
                      .swiper-wrapper
                          - var i = 0
                          //- while i < 4
                          //-   include /molecules/blocks/block-product
                          //-   - i++ 
                          include /molecules/blocks/block-product
                      .color-icons
                        ul(data-slide_id = '2')
                          li
                            a(href="#" data-product_slide="shade")
                              img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
                            span shade
                          li
                            a(href="#" data-product_slide="black")
                              img( src=`${url.dyn}icon_noire.png` alt="Color name" itemprop="color" )
                            span black
                          li
                            a(href="#" data-product_slide="red")
                              img( src=`${url.dyn}icon_rouge.png` alt="Color name" itemprop="color" )
                            span red
                          li
                            a(href="#" data-product_slide="grey")
                              img( src=`${url.dyn}icon_gris.png` alt="Color name" itemprop="color" )
                            span grey



                       
                //- .custom-button.custom-button_1.next     
                          
                                                    

    section.module.bg-light.product-tech.desktop-content
      div.wp-st
        h2.tt-3 Présentation
        include /organisms/product/product-table

    section.module.bg-light.product-tech.desktop-content
      div.wp-st
        h2.tt-3 Technologie
        include /organisms/sliders/slider-4
        ul.features.cols.sb
          each item in ['abs', 'bpf', 'hecs', 'hesd', 'pdsfi', 'pfi']
            li
              span( data-tooltip tabindex="0" )
                span.tooltip!= lorem(10,"words")
                img( src=`${url.img}${item}.png` alt=item )
              span!= item

        div.edito
          h2.tt-3 Mode manuel standard
          p.txt!= lorem(1)
          ul
            li!= lorem(1)

        div.buttons
          a.bt-01( href="" ) Voir la fiche détaillée sur notre site moto.honda.fr

    // /module fiche

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
