extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content
  main
    - var breadcrumb = ['Accueil', 'Occasions', 'Occasion - Honda SH300i']
    include /modules/breadcrumb

    //- include /modules/slider-4

    - header.title = 'Occasion - Honda SH300i'
    section.module
      .wp-st
        section( itemscope itemtype="http://schema.org/Product" )
          include /molecules/headers/section-header-simple

          // module gallery
          div.p-gall
            include /organisms/product/product-gallery-nav
            include /organisms/product/product-gallery
            include /organisms/product/product-quote
            include /organisms/product/product-specs
          // /module gallery

          include /organisms/aside

    // module pre-footer
    include /organisms/pre-footer
    // /module pre-footer
