extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content

  main
    - var breadcrumb = ['Accueil', 'Nos véhicules d\'occasion']
    include /modules/breadcrumb

    div.wp-st
      include /organisms/aside

    section.module
      - header.title = 'Véhicules d\'occasion'
      - form.attributes = { 'data-load': {"target": "grid-retailers"} }
      - form.action = "/ajax/retailers.json"
      div.wp-st
        include /molecules/headers/section-header-double-select

        .paragraphe
          p!= lorem(1)

        div( data-load-content="grid-retailers" )
          include /modules/grid

    include /organisms/pre-footer
