extends /layout/default

block hero
  // Hero module
  include /organisms/sliders/slider-hero
  include /molecules/blocks/block-infos-retailer
  // /Hero module

block content

  main
    include /modules/breadcrumb

    if !portail
      div.wp-st
        include /organisms/aside

    section.module
      - header.title = 'Véhicules d\'occasion'
      div.wp-st
        include /molecules/headers/section-header-select

        block module
          -
            var error_msg = "Pas de véhicule d'occasion en ce moment",
            background = "c-background-noresult"
          include /organisms/empty-list

    include /organisms/pre-footer
