extends /layout/default

block vars
  - var children = []
  - var subchildren = []

mixin list( folder, child )
  - var folders = {};
  - var pages = {};

  for item, key in folder
    if typeof item === "object"

      if key !== 'pages'
        - folders[ key ] = item

    else
      if item !== 'pages/treeview.pug'
        - pages[ key ] = item

  if JSON.stringify( folders ) != '{}'
    for item, key in folders
      li.folder
        span!= key
        ul
          +list( item, true )

  if JSON.stringify( pages ) != '{}'
    for item, key in pages
      if !child
        //- && Object.keys(pages)[0] == key
        - children.push([item, key])
        //-   h1.tt Pages
      else
        li.document
          a( href=item.replace( '.pug', '.html' ).replace( /^pages\//gi, '' ))
            != key.replace( '.pug', '' )

  if folder[ 'pages' ]
    +list( folder[ 'pages' ])

mixin escape
  - var oldBuf = pug_html
  - pug_html = ''
  block
  - pug_html = oldBuf + pug.escape(pug_html)


mixin code
  block
  //- pre.pug
    block
  pre.html
    +escape
      block

block hero

  -
    var sections = [
      "titles", "edito", "buttons", "icons", "blocs", "section-header", "breadcrumb", "forms", "pre-footer", "sliders"
    ]

    var svgs = [
      "facebook", "twitter", "instagram", "youtube", "mail", "phone", "paper-plane", "euro-symbol", "text-file", "spanner", "motorbike-01", "motorbike-02", "localize", "app-store", "google-play"
    ]

  div.wp-st
    h1.main  Styleguide

    #tree.anchors
      if tree && JSON.stringify( tree ) != '{}'
        //- != JSON.stringify( tree )
        ul
          +list( tree )

          li.children.folder
            h1 Pages
            ul
              each child in children
                li.document
                  a( href=child[0].replace( '.pug', '.html' ).replace( /^pages\//gi, '' ))
                    != child[1].replace( '.pug', '' )


block content
  link( rel="stylesheet" href=url.css+"styleguide.css" )

  main
    .wp-st
      #titles
        h1 Titles
        div.item
          +code
            h2.tt-2 Titre nv2

        div.item.bg-dark
          +code
            h2.tt-2 Titre nv2 avec fond sombre

      #edito
        h1 WYSIWYG Styles
        div.edito
          h1 H1 Title
          h2 H2 Title
          h3 H3 Title
          h4 H4 Title
          h5 H5 Title
          h6 H6 Title
          p!= lorem(1)
          ul
            li Unordered list element
            li Unordered list element
            li Unordered list element
          ol
            li Ordered list element
            li Ordered list element
            li Ordered list element

          blockquote
            p!= lorem(2)


      #buttons
        h1 Buttons
        .item
          +code
            button.bt-01 Bouton rouge (.bt-01)

        .item.bg-dark
          +code
            button.bt-01 Bouton rouge (.bt-01) avec fond sombre

        .item
          +code
            button.bt-02
              span Bouton avec picto
              +ui("paper-plane")

        .item.bg-dark
          +code
            button.bt-02
              span Btn sombre w/ picto
              +ui("paper-plane")

        .item.bg-dark
          +code
            button.bt-02
              span Btn double picto
              +ui("facebook")
              +ui("twitter")

        .item
          +code
            button.bt-slider.prev

        .item.bg-dark
          +code
            button.bt-slider.prev

        .item
          +code
            button.bt-slider.next

        .item.bg-dark
          +code
            button.bt-slider.next

        .item
          +code
            a.bt-top( href="#" aria-label="Remonter en haut de la page" ): span

        .item
          +code
            button.bt-01( data-video="https://www.youtube.com/embed/TgbGGwwUk6c" ) Bouton ouvrant une popin vidéo

      #icons
        h1 Icons
        .icons
          each svg in svgs
            +ui(svg)

      #blocs
        h1 Blocs

        div( style="max-width: 600px")
          include /molecules/blocks/block-media-1

        div( style="max-width: 320px")
          include /molecules/blocks/block-media-2

        div( style="max-width: 320px")
          include /molecules/blocks/block-media-2b

        div( style="max-width: 320px")
          include /molecules/blocks/block-media-3

        div( style="max-width: 320px")
          include /molecules/blocks/block-media-3b

        div.bg-light( style="max-width: 320px")
          include /molecules/blocks/block-product

        div( style="max-width: 600px")
          include /molecules/blocks/block-retailer

      #section-header
        h1 Section's header

        .item
          h2 Simple
          section
            +code
              include /molecules/headers/section-header-simple

        .item
          h2 Simple (alt)
          section
            - var tt_alt = true
            +code
              include /molecules/headers/section-header-simple
            - tt_alt = null

        .item
          h2 Simple w/ grey background
          section.bg-grey
            +code
              include /molecules/headers/section-header-simple

        .item
          h2 Simple w/ dark background
          section.bg-dark
            +code
              include /molecules/headers/section-header-simple

        .item
          h2 With a select
          section
            +code
              include /molecules/headers/section-header-select

        .item
          h2 With a button
          section
            +code
              include /molecules/headers/section-header-button

        .item
          h2 With two selects
          section
            +code
              include /molecules/headers/section-header-double-select

        .item
          h2 And with different stuff
          section
            +code
              include /molecules/headers/section-header-double

      #forms
        h1 Forms

        div.item
          - form.label = 'Condensed'
          - form.class = 'condensed'
          - form.name = 'condensed'
          include /atoms/forms/select
          - form.class = null
          - form.name = null
          - form.label = null
        div.item
          include /atoms/forms/select
        div.item
          - form.required = true
          include /atoms/forms/text
          - form.required = null
        div.item.disabled
          - form.disabled = true
          include /atoms/forms/text
          - form.disabled = null
        div.item
          - form.type = "textarea"
          - form.name = "textarea"
          - form.label = "textarea"
          include /atoms/forms/text
          - form.type =  null
          - form.label =  null
          - form.name = null
        div.item
          label.label Checkbox
          - form.required = true
          - form.type = "checkbox"
          include /atoms/forms/checkbox
          - form.type = null
          - form.required = null
        div.item
          label.label Radios
          - form.type = "radio"
          - form.name = "radio"
          include /atoms/forms/checkbox

      #pre-footer
        h1 Pre footer
        - var portail = true
        include /organisms/pre-footer
        - portail = null

      #sliders
        h1 Sliders
        .item
          h2 slider-hero full width
          include /organisms/sliders/slider-hero

        .item
          h2 Slider- 2 slides
          include /organisms/sliders/slider-1

        .item
          h2 Slider- 3 slides
          include /organisms/sliders/slider-2

        .item
          h2 Slider- 4 slides
          include /organisms/sliders/slider-3

        .item
          h2 Slider- 1 slide
          include /organisms/sliders/slider-4

      #breadcrumb
        h1 Fil d'arianne
        include /modules/breadcrumb
