extends /layout/default

block vars
  - var portail = true

block hero
  // Hero module
  include /organisms/portail-hero
  // /Hero module

block content
  main
    section.macro-search
      include /organisms/portail/search-tabs

      - var noresults = true
      include /modules/portail/search-contents

    div.wp-st
      include /organisms/sliders/slider-4-p

      section.macro-search-results
        div( data-load-content=portail?"vehicles":null )
          - header.title = "Consulter <em data-text-update='results'>XXX</em> véhicule(s) d'occasion"
          include /molecules/headers/section-header-simple

          include /modules/grid

        .edito
          h3!= lorem(5, 'words')
          p!= lorem(2)

  include /organisms/pre-footer
