extends /layout/default

block vars
  - var portail = true

block hero
  
  div#cookies( aria-hidden="false" )
    div.wp-st
      p Notre site Internet utilise des cookies. Si vous consultez notre site, cela signifie que vous acceptez cette utilisation. Nous espérons que cela vous convient. 
        a( href="/cookies" tabindex="1" ) Consultez notre politique relative à l'utilisation des cookies.
      button.bt-close( tabindex="1" data-toggle aria-controls="cookies" aria-expanded="true" data-storage="legalAccepted=true" )
        span Fermer
  include /includes/header-portail
  // Hero module

  include /organisms/portail-hero
  // /Hero module

block content
  main
    section.macro-search
      include /organisms/portail/search-tabs
      include /modules/portail/search-contents

    div.wp-st
      include /organisms/sliders/slider-4-p

      section.macro-search-results
        div( data-load-content=portail?"vehicles":null id=portail?"vehicles-grid":null )
          - header.title = "Consulter <em data-text-update='results-v'>XXX</em> véhicule(s) d'occasion"
          include /molecules/headers/section-header-simple

          include /modules/grid

        .edito
          .title-1!= lorem(10, 'words')
          .title-2!= lorem(4, 'words')
          .title-3!= lorem(5, 'words')
          p!= lorem(2)

  include /organisms/pre-footer
