extends /pages/c-vo-list-no-result

block vars
  - var portail = true

block hero
  include /organisms/portail-hero

block module
  -
    var error_msg = "Pas de concessionnaire correspondant à vos critères de recherche",
    background = "p-background-noresult"
  include /organisms/empty-list

