extends /pages/c-vo-list

block vars
  - var portail = true

block hero
  include /organisms/portail-hero

block content
  section.module
    - header.title = 'Consultez XXX véhicules d\'occasions'
    div.wp-st
      include /molecules/headers/section-header-select

    .wp-st
      include /modules/grid

      strong!= lorem(9, "words")
      p!= lorem(1)

    include /organisms/pre-footer
