<!-- module pre-footer-->
<aside class="pre-footer">
    <div class="wp-st">
        <div class="mobile">
            <div class="tt">Configurez votre moto sur mobile</div>
            {{ render(controller('HondaDistributorBundle:Default:applicationLink')) }}
            <div class="social">
                <div class="tt">Restez connect&eacute;(e)</div>

                <div class="wp">
                    {{ sonata_block_render({ 'type': 'sonata.block.service.social_network_link' }) }}
                </div>
                <span class="tt">Nous suivre sur les r&eacute;seaux sociaux</span>
            </div>

            <div class="newsletter">
                <div>
                    <div class="tt">Suivez notre actualit&eacute;</div>

                    <div class="wp">
                        <a href="https://services-moto.honda.fr/abonnements/newsletter-abo?_ga=2.126262542.2078833727.1547548142-2061360360.1547548142" target="_blank" title="Newsletter">
                            <svg aria-hidden="true" class="ui ui--mail" viewbox="0 0 483.3 483.3">
                                <desc>Newsletter</desc>
                                <path d="M424.3 57.75H59.1c-32.6 0-59.1 26.5-59.1 59.1v249.6c0 32.6 26.5 59.1 59.1 59.1h365.1c32.6 0 59.1-26.5 59.1-59.1v-249.5c.1-32.6-26.4-59.2-59-59.2zm32.1 308.7c0 17.7-14.4 32.1-32.1 32.1H59.1c-17.7 0-32.1-14.4-32.1-32.1v-249.5c0-17.7 14.4-32.1 32.1-32.1h365.1c17.7 0 32.1 14.4 32.1 32.1v249.5h.1z"></path>
                                <path d="M304.8 238.55l118.2-106c5.5-5 6-13.5 1-19.1-5-5.5-13.5-6-19.1-1l-163 146.3-31.8-28.4c-.1-.1-.2-.2-.2-.3-.7-.7-1.4-1.3-2.2-1.9L78.3 112.35c-5.6-5-14.1-4.5-19.1 1.1-5 5.6-4.5 14.1 1.1 19.1l119.6 106.9-119.1 111.5c-5.4 5.1-5.7 13.6-.6 19.1 2.7 2.8 6.3 4.3 9.9 4.3 3.3 0 6.6-1.2 9.2-3.6l120.9-113.1 32.8 29.3c2.6 2.3 5.8 3.4 9 3.4s6.5-1.2 9-3.5l33.7-30.2 120.2 114.2c2.6 2.5 6 3.7 9.3 3.7 3.6 0 7.1-1.4 9.8-4.2 5.1-5.4 4.9-14-.5-19.1l-118.7-112.7z"></path>
                            </svg>
                        </a>
                    </div>
                    <span class="tt">S&#39;inscrire &agrave; la newsletter</span>
                </div>
            </div>
        </div>
    </div>
</aside>
