{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig', '@templates/Admin/Form/admin_custom_fields.html.twig'] %}


 {% block sonata_breadcrumb %}
     <div class="hidden-xs">
         <ol class="nav navbar-top-links breadcrumb">
             <li>
                 <a href="{{ path('sonata_admin_dashboard') }}">
                     <i class="fa fa-home"></i>
                 </a>
             </li>
             <li>
                 <a href="{{ path(admin.baseRouteName ~ '_list') }}">
                     Gestion de contenu
                 </a>
             </li>
             <li class="active"><span>{{ pageBlock.title|capitalize }}</span></li>
         </ol>
     </div>
 {% endblock sonata_breadcrumb %}

{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4 id="bl-text-desc" data-page-temp="{{ admin.subject.template }}" >Image de présentation de votre page « Services »</h4>
                <p>Vous pouvez remplacer l’image par défaut de votre page Services, en mettant une image de votre concession.</p>
                <p>Pour un affichage optimal, cette image doit être au format jpg et avoir la taille de 1227 × 319 pixels.</p>
            </div>
        </div>
    </div>

    {{ form_start(form, { 'attr': {'class': 'form-honda-table'} }) }}
        <div class="row">

            <div class="col-md-12">

                {% if pageBlock.type == constant('Honda\\PageBundle\\Entity\\PageBlock::TYPE_BLOCK')  %}

                    {% set template = pageBlock.template %}

                    <div class="box box-primary">
                        <div class="box-body">

                            {% set hasImageFieldTemplates = ['banniere-page-label-honda.html.twig', 'banniere-page-service.html.twig'] %}
                            {% set hasTitleFieldTemplates = [] %}
                            {% set hasDescriptionFieldTemplates = [] %}

                            {% if pageBlock.template in hasTitleFieldTemplates %}
                                 {{ form_row(form.title) }}
                            {% endif %}

                            {% if pageBlock.template in hasDescriptionFieldTemplates %}
                                 {{ form_row(form.content) }}
                            {% endif %}

                            {% if pageBlock.template in hasImageFieldTemplates %}
                                {% if page.image %}
                                    <img src="{% path page.image , 'big' %}" width="1024" alt="">
                                {% endif %}
                                {{ form_row(form.image) }}
                                {{ form_row(form.ficheBanniereLink) }}
                                {{ form_row(form.ficheBanniereExternalLink) }}
                            {% endif %}
                            
                        </div>
                    </div>


                {% else %}
                    
                    {% set hasSecondTab = form.hondaLabelSlides is defined or form.pageCookiesBlocks is defined %}

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Contenu principal de la page</a></li>
                            {% if hasSecondTab %}
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Autres contenus de la page</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-body">

                                                {{ form_errors(form) }}

                                                {{ form_row(form.title) }}
                                                <div class="form-group">
                                                    <label for="honda_pagebundle_page_path" class="required">Url</label>
                                                    <input type="text" id="honda_pagebundle_page_path" name="honda_pagebundle_page_path" class="form-control" value="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ pageBlock.path }}" readonly disabled>
                                                </div>
                                                {{ form_row(form.metaDescription) }}
                                                {{ form_row(form.metaKeywords) }}
                                                {{ form_row(form.content) }}

                                                {#  Field button for page label-honda  #}
                                                {% if pageBlock.template == 'honda-label.html.twig' %}
                                                    {{ form_row(form.btnLabel) }}
                                                    {{ form_row(form.btnLink) }}
                                                {% endif %}

                                                {#  Field description for page cookies  #}
                                                {% if pageBlock.template == 'privacy-and-cookies.html.twig' %}
                                                    {{ form_row(form.description1) }}
                                                    {{ form_row(form.description2) }}
                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% if hasSecondTab %}
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="box box-primary">
                                            <div class="box-body">

                                                {# Gestion du carousel pour la page label Honda#}
                                                <div class="collection-honda-label-slide">
                                                    {% if form.hondaLabelSlides is defined %}
                                                        <h4>Les images du slide de la page (/honda-label)</h4>
                                                        <ul class="honda-label-slide-images slide" data-prototype="{{ form_widget(form.hondaLabelSlides.vars.prototype)|e('html_attr') }}">
                                                            {% for hondaLabelSlide in form.hondaLabelSlides %}
                                                                <li>{{ form_row(hondaLabelSlide.image) }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>


                                                {# Gestion block page cookies #}
                                                <div class="collection-page-cookies-block">
                                                    {% if form.pageCookiesBlocks is defined %}
                                                        <h4>Contenu de vies privées et cookies</h4>
                                                        <ul class="honda-label-slide-images slide" data-prototype="{{ form_widget(form.pageCookiesBlocks.vars.prototype)|e('html_attr') }}">
                                                            {% for pageCookiesBlock in form.pageCookiesBlocks %}
                                                                <li>
                                                                    <div class="page-cookies-block">
                                                                        {{ form_row(pageCookiesBlock.blockType) }}
                                                                        {{ form_row(pageCookiesBlock.title) }}
                                                                        {{ form_row(pageCookiesBlock.content) }}
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>


                                                {{ form_rest(form) }}

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                            {% endif %}


                        </div>
                        <!-- /.tab-content -->
                    </div>

                {% endif %}


            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="sonata-ba-form-actions well well-small form-actions stuck">
                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Enregistrer</button>
                   {# <a href="{{ path(admin.baseRouteName ~ '_list') }}"><button class="btn btn-success" type="button" name="btn_create_and_edit"><i class="fa fa-list" aria-hidden="true"></i> Retour à la liste</button></a>#}
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    {{ form_end(form) }}


    <script>
        {# Mise à jour des titre depuis le js #}
        (function ($) {
            $(function() {
                console.log($);
                var titleElt = $('#bl-text-desc'),
                    tpl = titleElt.attr('data-page-temp');

                console.log(tpl);

                if ('banniere-page-label-honda.html.twig' === tpl) {
                    titleElt.html('Gestion de l’image apparaissant sur les fiches de vos véhicules d’occasion');
                }
            });
        })(jQuery);
    </script>

{% endblock %}
