{% extends '@templates/Admin/Layout/standard_layout.html.twig' %}

 {% block sonata_breadcrumb %}
     <div class="hidden-xs">
         <ol class="nav navbar-top-links breadcrumb">
             <li>
                 <a href="/admin/dashboard">
                     <i class="fa fa-home"></i>
                 </a>
             </li>
             <li class="active"><span>Gestion de contenu</span></li>
         </ol>
     </div>
 {% endblock sonata_breadcrumb %}


{% block sonata_admin_content %}

    {{ include('@SonataCore/FlashMessage/render.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="bl-description">
                <h4>Gestion de contenu</h4>
                <p class="bl-text">
                    {% block bl_text %} Ici, Vous pouvez modifier une page ou un block de contenu. {% endblock %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-primary" style="margin-bottom: 100px;">
                <div class="box-body table-responsive no-padding">

                    <table class="table table-bordered table-striped table-hover sonata-ba-list">
                        <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                    #
                                </th>
                                <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                    {% if contentType == 'PAGE' %}
                                        Page
                                    {% elseif contentType == 'BLOCK' %}
                                        Bloc
                                    {% else %}
                                        Page / Bloc
                                    {% endif %}
                                </th>
                                <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                    Description
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                        {% for pageBlock in pageBlocks %}
                            <tr class="{{ pageBlock.type }}">
                                <td>{{ loop.index }}</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                    <a class="sonata-link-identifier" href="{{ path(admin.baseRouteName ~ '_edit', {'id': pageBlock.id}) }}"> {{ pageBlock.title|capitalize }} </a>
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                    <span> {{ pageBlock.helpText }}</span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
