doctype
html
  head
    style.
      html, body {
        min-height: 100vh;
        font-size: 100%;
      }
      body {
        display: flex;
      }
      div {
        margin: auto;
        width: 40rem;
      }
      h1, p {
        margin: 0;
      }
      h1 {
        text-transform: uppercase;
      }
      p {
        line-height: 1.6;
        margin-left: -1em;
      }
      p code:before {
        content: '> '
      }
  body
    div
      if 'toJSON' in err
        h1
          code= err.code
        pre
          code= `${err.filename} ${err.line}:${err.column}`
        pre
          code= err.msg
      else
        h1
          code= `node: ${err.code}`
        pre
          code!= err.message
