mixin ie( condition )
  | <!--[!{condition}]>
  block
  | <![endif]-->


mixin not-ie()
  | <!--[if (gte IE 9)|!IE]><!-->
  block
  | <!--<![endif]-->

mixin curvedText(text)
  svg.curved-text( viewBox="0 0 107.9 23.5" )
    path( id="curve" d="M3.8,26.5c1.1-0.9,18.6-14.3,50.7-14.1c31.6,0.2,48.5,13.3,49.7,14.3" )
    text
      textPath( xlink:href="#curve" startOffset="50%" text-anchor="middle" alignment-baseline="baseline" )!= text

include ./ui
