/*
 *  HONDA MOTO OCCASION | MIXINS
 */
loopVars( $obj, $parentval = '' )
   for $key, $value in $obj
      if $value is a 'object'
         if $parentval && $parentval is a 'string'
            loop($value, $parentval +'-'+ $key)
         else
            loop($value, $key)
      else
         $value = $value is a 'string' ? unquote($value) : $value
         if $parentval && $parentval is a 'string'
            define($parentval+'-'+$key, $value, true)
         else
            define($key, $value, true)

keys( $class, $property, $collection )
   for $key, $value in $collection
      if $value is a 'object'
         for $subkey, $subvalue in $value
            .{ $class }-{ $key }-{ $subkey }
               { $property }: $subvalue
      else
         .{ $class }-{ $key }
            { $property }: $value

// mediaqueries one-shot need
$media_cache = {}
media($condition)
  helper($condition)
    unless $media_cache[$condition]
      $media_cache[$condition] = ()
    push($media_cache[$condition], block)

  +helper($condition)
    {selector()}
      {block}
apply_media_cache()
  for $media, $blocks in $media_cache
    @media $media
      for $block in $blocks
        {$block}
