/*
 *  HONDA MOTO OCCASION | FOOTER STYLES
 */

footer[role="contentinfo"]
   padding: rem( 22 ) rem( 14 )
   background: $light
   border-top: 5px solid $dark
   font-size: em( 16 / $fz )
   padding: rem( 14 ) rem( 14 ) rem( 60 )
   height: auto

   .wp-st
      display: flex
      flex-direction: row
      justify-content: space-between

      & > *
         flex-basis: 33%

   .logo
      flex-shrink: 0
      text-align: center
      order: 2

   .nav
      text-align: right
      order: 3
      line-height: 1.4
      a
         & + a
            &:before
               content: "–"
               margin: 0 rem( 4 )
         &:nth-of-type(odd)
            &:after
               content: ''

      span
         display: block

   .affiliates
      order: 1
      text-align: left
      .tt
      li
         margin: 0
   a
      color: $dark
      text-decoration: none
