extends /layout/module

block vars
  - var spec = "macro-search"

block content
  div.search-contents
    form#search-tab-1.tab( aria-hidden="false" action="/ajax/search-results-v.json" method="" data-submit=noresults?'{"url": "/ajax/search-count-v-empty.json", "updateText": "results-v"}':'{"url": "/ajax/search-count-v.json", "updateText": "results-v"}' data-load='{"target":"vehicles", "scroll": true}' )
      div.cols.sb( data-tabs )
        div.col
          - form.options = ['Sélectionner', 'Autour de moi', 'Dans une région', 'Dans un département']
          - form.attributes = { 'data-toggler': {"tabs": true}, 'data-value':'', 'option-value':'' }
          - form.optionsData = [{'aria-controls': 'reset'},{'data-nosubmit': true,'data-position': true, 'data-locate': true, 'data-class':"locate", 'aria-controls': 'select-accuracy', 'aria-expanded': "false"}, { 'aria-controls': 'select-region', 'aria-expanded': "false"}, { 'aria-controls': 'select-departement', 'aria-expanded': "false"}]
          - form.label = "Localisation"
          - form.name = "location-vehicle"
          - form.firstEnabled = true
          - form.firstEmpty = true
          include /atoms/forms/select
          - form.firstEmpty = null
          - form.toggles = false
        div.col
          div( id="select-accuracy" aria-hidden="true" )
            - form.attributes = { 'data-inactive': true }
            - form.optionsData = null
            - form.options = ['2km', '5km', '20km']
            - form.label = "Dans un rayon de"
            - form.disabled = true
            - form.name = "select-accuracy-vehicle"
            include /atoms/forms/select
          div( id="select-region" aria-hidden="true" )
            - form.options = regions
            - form.label = "Dans une région"
            - form.name = "select-region-vehicle"
            include /atoms/forms/select
          div( id="select-departement" aria-hidden="true" )
            - form.name = "select-departement-vehicle"
            - form.label = "Dans un département"
            - form.placeholder = "01, 67, 75"
            //- - form.options = []
            //- each department in departments
            //-   - form.options.push(department.name)
            include /atoms/forms/text
            - form.attributes = null
            - form.disabled = null
            - form.options = null

      div.cols
        div.col
          - form.firstEmpty = true
          - form.options = ['Sélectionner', 'Type 1', 'Type 2', 'Type 3']
          - form.label = "Type"
          - form.name = "type"
          include /atoms/forms/select
          - form.firstEmpty = null

      div.cols.sb.steps
        div.col
          - form.attributes = { 'data-enable': 'step-2', 'data-value':'', 'option-value':'', 'data-populate': '/ajax/models.json' }
          - form.optionsData = null
          //- - form.firstEnabled = null
          - form.firstEmpty = true
          - form.label = "Marque"
          - form.name = "brand"
          - form.options = ['Sélectionner', 'Marque 1', 'Marque 2', 'Marque 3']

          include /atoms/forms/select
          //- - form.label = "Les annonces spéciales permis A2"
          //- - form.name = "announces"
          //- include /atoms/forms/checkbox
        div.col#step-2
          - form.label = "Modèle"
          - form.name = "model"
          - form.options = ['Sélectionner']
          - form.disabled = true
          - form.fieldclass = "disabled"
          - form.attributes = null
          include /atoms/forms/select
          - form.fieldclass = null
          - form.disabled = null

      div.cols.ct
        - form.label = "Annonces permis A2"
        - form.name = "annonces-v"
        include /atoms/forms/checkbox
        - form.label = "Véhicules de direction"
        - form.name = "special-v"
        include /atoms/forms/checkbox

      div.cols.sb
        div.col
          - form.label = "Cylindrée"
          - form.name = "engine"
          -
            form.options = {
              "start": [ 70, 2300 ],
              "step": 100,
              "range": {
                "min": [ 70, 10 ],
                "50%": [ 500, 100 ],
                "max": [ 2300 ]
              },
              "suffix": " cc",
              "pipsDensity": 6
            }
          include /atoms/forms/range

        div.col
          - form.label = "Prix"
          - form.name = "price"
          -
            form.options = {
              "start": [ 0, 20000 ],
              "step": 100,
              "range": {
                "min": [ 0, 100 ],
                "33.3%": [ 5000, 100 ],
                "66.6%": [ 10000, 100 ],
                "max": [ 20000 ]
              },
              "suffix": " €",
              "pipsDensity": 6
            }
          include /atoms/forms/range

      .buttons
        //- input( type="hidden" name="position-v" id="position-v" data-position )
        button( type="submit" data-no-result="Aucun résultat" )
          span Voir le(s) 
            span( data-text-update="results-v" ) XXXX
            |  véhicules(s)

        button.bt-01.reset-search
          span RÉINITIALISER LA RECHERCHE    

    form#search-tab-2.tab( aria-hidden="true" action="/ajax/search-results-c.json" method="" data-submit='{"url": "/ajax/search-count-c.json", "updateText": "results-c"}' data-load='{"target":"vehicles", "scroll": true}' )
      div.cols.sb( data-tabs )
        div.col
          - form.label = "Localisation"
          - form.class = "bt-locate"
          - form.name = "location-retailer"
          - form.options = ['Sélectionner', 'Autour de moi', 'Dans une région', 'Dans un département']
          - form.attributes = { 'data-toggler': {"tabs": true} }
          - form.optionsData = [{'aria-controls': 'reset'},{'data-nosubmit': true, 'data-position': true, 'data-locate': true, 'data-class':"locate", 'aria-controls': 'select-accuracy-retailer', 'aria-expanded': "false"}, { 'aria-controls': 'select-region-retailer', 'aria-expanded': "false"}, { 'aria-controls': 'select-departement-retailer', 'aria-expanded': "false"}]
          - form.firstEnabled = true
          include /atoms/forms/select
          - form.toggles = false

        div.col
          div( id="select-accuracy-retailer" aria-hidden="true" )
            - form.options = ['2km', '5km', '20km']
            - form.label = "Dans un rayon de"
            - form.name = "select-accuracy-retailer"
            include /atoms/forms/select
          div( id="select-region-retailer" aria-hidden="true" )
            - form.options = regions
            - form.label = "Dans une région"
            - form.name = "select-region-retailer"
            include /atoms/forms/select
          div( id="select-departement-retailer" aria-hidden="true" )
            - form.name = "select-departement-retailer"
            - form.label = "Dans un département"
            - form.placeholder = "01, 67, 75"
            include /atoms/forms/text
            - form.attributes = null
            - form.options = null

      div.cols.ct
        - form.label = "Agent officiel"
        - form.name = "official-c"
        include /atoms/forms/checkbox
        - form.label = "Spécialiste cross"
        - form.name = "specialist-c"
        include /atoms/forms/checkbox
        - form.label = "Concessionnaire moto"
        - form.name = "bike-retailer-c"
        include /atoms/forms/checkbox

      .buttons
        //- input( type="hidden" name="position-c" id="position-c" data-position )
        button( type="submit" data-no-result="Aucun résultat" )
          span Voir le(s) 
            span( data-text-update="results-c" ) XXXX
            |  concession(s)

        button.bt-01.reset-search
          span RÉINITIALISER LA RECHERCHE

