{%  extends 'HondaTicketBundle:Emails:layout_mail.html.twig'  %}

{% block content %}

    <div>
        <p>
            Cet e-mail est automatique, vous ne pourrez pas y répondre. <br/>

            Vous message a bien été envoyé au central. Quand il aura été traité, vous recevrez une alerte vous invitant à consulter la réponse dans votre back office concessionnaire. <br/>

            Pour mémoire, rappel de votre message : <br/><br/>
            <strong> {{ ticket.subject }} </strong> <br/><br/>

            Nous vous répondrons dans les meilleurs délais. <br>

            Cordialement, <br>

            L’équipe Honda Motos.
        </p>
    </div>

{% endblock %}
