{%  extends 'HondaTicketBundle:Emails:layout_mail.html.twig'  %}

{% block content %}

    <div>
        <p>
            Cet e-mail est automatique, vous ne pourrez pas y répondre. <br/>

            {% if getDistributorDomainById(ticket.distributor) %}

                {% set domain = getDistributorDomainById(ticket.distributor) ~ '/admin/support/' ~ ticket.id ~ '/edit' %}

                Une réponse a été apportée à votre ticket. Pour la consulter nous vous invitions à cliquer sur le lien ci-dessous : <br/>
                <a href="{{ domain }}">{{ domain }}</a> <br/>

            {% endif %}

            Pour mémoire, rappel de votre message : <br/><br/>
            <quote>
                <strong> {{ ticket.subject }} </strong> <br/>
                {% if ticket.messages and ticket.messages|length %}
                {{ ticket.messages[0].message }}
                    <br><br/>
                {% endif %}
            </quote>

            Cordialement,  <br/><br/>

            L’équipe Honda Motos.
        </p>
    </div>

{% endblock %}
