Bonjour,

Cet e-mail est automatique, vous ne pourrez pas y répondre.

Vous message a bien été envoyé au central. Quand il aura été traité, vous recevrez une alerte vous invitant à consulter la réponse dans votre back office concessionnaire.

Pour mémoire, rappel de votre message :
{{ ticket.subject }}

{% if ticket.messages and ticket.messages|length %}
    {{ ticket.messages[0].message }}
{% endif %}

Nous vous répondrons dans les meilleurs délais.

Cordialement,

L’équipe Honda Motos.
