{%  extends 'HondaTicketBundle:Emails:layout_mail.html.twig'  %}

{% block content %}

    <div>
        <p>
            Cet e-mail est automatique, vous ne pourrez pas y répondre. <br/> <br/>

            Vous message a bien été envoyé au central. Quand il aura été traité, vous recevrez une alerte vous invitant à consulter la réponse dans votre back office concessionnaire. <br/> <br/>

            Pour mémoire, rappel de votre message : <br/><br/>
            <quote>
                <strong> {{ ticket.subject }} </strong> <br/>
                {% if ticket.messages and ticket.messages|length %}
                {{ ticket.messages[0].message }}
                    <br><br/>
                {% endif %}
            </quote>

            Nous vous répondrons dans les meilleurs délais. <br>

            Cordialement, <br><br>

            L’équipe Honda Motos.
        </p>
    </div>

{% endblock %}
