Bonjour,


Cet e-mail est automatique, vous ne pourrez pas y répondre. <br/>

{% if getDistributorDomainById(ticket.distributor) %}

    {% set domain = getDistributorDomainById(ticket.distributor) ~ '/admin/support/' ~ ticket.id ~ '/edit' %}

    Une réponse a été apportée à votre ticket. Pour la consulter nous vous invitions à cliquer sur le lien ci-dessous : <br/>
    {{ domain }}

{% endif %}

Pour mémoire, rappel de votre message :
{% if ticket.messages and ticket.messages|length %}
{{ ticket.messages[0].message }}
{% endif %}

Cordialement,

L’équipe Honda Motos.
