<div class="visual">
  <img class="label-logo" src="{{ asset('/assets/front/media/img/logo-simple.svg') }}" sizes="" alt="">
  <div class="label-sideblock">
    <p>Excepteur reprehenderit Lorem sit occaecat. Tempor laboris ad culpa ea ipsum fugiat. Aliquip reprehenderit dolore eiusmod est ullamco eu esse veniam laboris deserunt commodo proident. Eu laborum adipisicing pariatur in quis culpa dolor voluptate.
      Enim ut ad in reprehenderit quis voluptate sint officia ipsum elit sunt. Duis ipsum adipisicing quis consectetur adipisicing minim eu qui laboris mollit ad.</p>
  </div>
</div>