{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_table %}

    <div class="col-md-12">
        <div class="bl-description">
            <p class="bl-text">
                Indiquer les véhicules neufs disponibles à l’essai
            </p>
        </div>
    </div>

    {{ parent() }}

{% endblock %}


