{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.invoice %}
        <a target="_blank" href="{% path object.invoice, 'reference' %}">{{ object.billingId }}</a>
    {% else %}
        {{ object.billingId }}
    {% endif %}
{% endblock %}
