footer( role="contentinfo" )
  div.wp-st
    div.affiliates
      .tt Nos autres sites :
      ul
        li: a( href="" ) moto.honda.fr
        li: a( href="" ) hondanews.fr
        li: a( href="" ) honda-motos.com

    div.logo: img( src=`${url.img}logo.png` alt="Honda" )

    div.nav
      a( href="#form" data-scroll )
        span  Contact
      a( href="" )
        span  Plan du site
      br
      a( href="" )
        span  Vie privée et cookies
      a( href="" )
        span  Mentions légales
      span Copyright © 2018 Honda
