header.fixable( role="banner" )
  div.main-logo
    a( href="/" tabindex="1" aria-label="Honda occasion" )
      +ui('logo-simple')
      span.legend: span Occasion
  button.bt-menu( data-toggle='{"body":"nav-open"}' aria-controls="nav" aria-expanded="false" ): span Menu
  div#nav.header-menu( aria-hidden="true" )
    div.wp-st
      nav( role="navigation" )
        ul
          li
            a( href="brand" tabindex="1" )
              +ui('logo-simple')
              | Label Honda
          li
            a( href="brand" tabindex="1" )
              +ui('motorcycle')
              | Honda Moto France

          li
            a( href="#" tabindex="1" class="occasion-tab" )
              +ui('motorcycle')
              | Occasion
          li
            a( href="#" tabindex="1" class="concession-tab" )
              +ui('motorcycle')
              | concessionaire        
