div#cookies( aria-hidden="false" )
  div.wp-st
    p Notre site Internet utilise des cookies. Si vous consultez notre site, cela signifie que vous acceptez cette utilisation. Nous espérons que cela vous convient. 
      a( href="/cookies" tabindex="1" ) Consultez notre politique relative à l'utilisation des cookies.
    //- button.bt-close( tabindex="1" data-toggle aria-controls="cookies" aria-expanded="true" data-storage="legalAccepted=true" )
    //-   span Fermer

header.fixable.header-desktop( role="banner" )
  div.main-logo
    a( href="/" tabindex="1" aria-label="Honda occasion" )
      +ui('logo-simple')

  div.retailer-logo: img( src=url.dyn+"star-bike.png" alt="" )
  button.bt-menu( data-toggle='{"body":"nav-open"}' aria-controls="nav" aria-expanded="false" ): span Menu
  div#nav.header-controls( aria-hidden="true" )
    div.wp-st
      nav( role="navigation" )
        ul
          if sections
            each section in sections
              li
                a( href="#"+section data-scroll )!= section
          else
            li
              a( href="/c-vn-list.html" tabindex="1" ) Gamme et tarifs
              div#brand.submenu
                .wp-st
                  each item, i in ['Sportives', 'Routière/Sport GT', 'Trail', 'Custom', 'Moto 125cm3', 'Motocross/Loisir', 'Gamme A2', 'Scooter', 'Lorem ipsum', 'Lorem ipsum', 'Dolor Sit', 'Lorem']
                    a( href=encodeURIComponent(item).toLowerCase() tabindex="1" )!= item
            li: a( href="/c-vo-list.html" tabindex="1" ) Occasions
            li: a.active( href="/c-services.html" tabindex="1" ) Services
            li: a( href="/c-accessories.html" tabindex="1" ) Accessoires
            li: a( href="/c-actualites-article.html" tabindex="1" ) Actualités  

      div.social
        a( href="http://www.facebook.com" tabindex="1" )
          +ui('facebook')


header.fixable.header-mobile( role="banner" )
  div.main-logo
    a( href="/" tabindex="1" aria-label="Honda occasion" )
      +ui('logo-simple')

  div.retailer-logo: img( src=url.dyn+"star-bike.png" alt="" )
  button.bt-menu( data-toggle='{"body":"nav-open"}' aria-controls="nav-mobile" aria-expanded="false" ): span Menu
  div#nav-mobile.header-controls( aria-hidden="true" )
    div.wp-st
      nav( role="navigation" )
        ul
          if sections
            each section in sections
              li
                a( href="#"+section data-scroll )!= section
          else
            li
              a( href="/c-vn-list.html" tabindex="1" ) Gamme et tarifs
              div#brand.submenu
                .wp-st
                  each item, i in ['Sportives', 'Routière/Sport GT', 'Trail', 'Custom', 'Moto 125cm3', 'Motocross/Loisir', 'Gamme A2', 'Scooter', 'Lorem ipsum', 'Lorem ipsum', 'Dolor Sit', 'Lorem']
                    a( href=encodeURIComponent(item).toLowerCase() tabindex="1" )!= item
            li: a( href="/c-vo-list.html" tabindex="1" ) Occasions
            li: a.active( href="/c-services.html" tabindex="1" ) Services
            li: a( href="/c-accessories.html" tabindex="1" ) Accessoires
            li: a( href="/c-actualites-article.html" tabindex="1" ) Actualités

    

      div.social
        a( href="http://www.facebook.com" tabindex="1" )
          +ui('facebook')

