script( src=url.js+"swiper.min.js" )
script( src=url.js+"lazyload.min.js" )
script( src=url.js+"jquery-3.3.1.min.js" )
script( src=url.js+"nouislider.min.js" )
script( src=url.config+"config.js" )
script( src=url.js+"app.js" )
script( src=url.js+"custom.js" )
script( src="https://www.google.com/recaptcha/api.js" )
