/*
 *  HONDA MOTO OCCASION | HEADER STYLES
 */

header[role="banner"]
   background: none
   color: $light
   height: auto
   max-width: none
   position: relative
   position: sticky
   margin-top: rem( -70 )
   top: 0

   .portail &
      height: rem( 91 )


   .header-menu
      width: 100%

      nav
         ul
            align-items: flex-end
            display: flex
            justify-content: flex-end

   .bt-menu
   .retailer-logo
      display: none

   .header-controls
   .header-menu
      height: rem( 60 )
      overflow: visible
      top: 0
      position: relative
      width: 100%

      .wp-st
         background: none
         position: static

      &:after
         content: none

      &[aria-hidden="true"]
         display: block
         opacity: 1
         max-height: none
         height: 55px
         transform: none

   .header-controls
      background-image: linear-gradient(to right, $dark 0%, rgba($dark, 0.8) 92%, rgba($dark, 0.6) 98%, rgba($dark, 0.1) 102%)

      &
      &[aria-hidden="true"]
         padding: 0 rem( 88 )

   .header-menu
      color: $dark

   &.fixed
      .header-controls
         left: 0
         position: fixed
         top: 0
         transform: translateZ(0)
         width: 100%

   &.fix
      top: -1px

      .main-logo
         height: rem( 55 )
         padding-left: rem( 10 )
         padding-right: @padding-left
         transition-delay: 0s
         width: rem( 65 )

         &:hover
            width: rem( 70 )

         img
            transition-delay: 0s
            width: rem( 40 )

         &:before
            border-right-width: rem( 30 )
            border-top-width: rem( 60 )
            transition-delay: 0s

         a
            width: rem( 44 )

   .wp-st
      align-items: center
      display: flex
      justify-content: space-between
      height: 100%
      padding-left: rem( 62 )
      padding-right: @padding-left
      max-width:none

      .portail &
         padding-left: rem( 14 )
         padding-right: @padding-left

   nav
      border: 0 none
      height: 100%

      ul
         display: flex
         height: 100%
         flex-grow: 1
         justify-content: center

         // &:after
         //    content: ""
         //    flex-basis: auto
         //    flex-grow: 1

         .portail &
            align-items: flex-end
            justify-content: flex-end

      li
         align-items: center
         display: flex
         justify-content: center
         padding: rem( 10 )

         & > a
         & > button
            border: 0 none
            margin: 0 rem( 8 )
            padding-bottom: rem( 10 )
            padding-top: @padding-bottom

            &.active
               &:after
                  border-bottom-width: 2px

         &:hover
            & > a
            & > button
               color: #fff

               &:after
                  border-bottom-width: 2px

            .submenu
               display: flex
               pointer-events: auto
               transform: none
               transition: transform .17s ease-in-out, opacity .23s linear
               opacity: 1

         & > a:focus
            color: #fff

            & + .submenu
               @extends header[role="banner"] nav li:hover .submenu

         .submenu:focus-within
            .submenu
               display: flex
               pointer-events: auto
               transform: none
               transition: transform .17s ease-in-out, opacity .23s linear
               opacity: 1

         .submenu:hover
            @extends header[role="banner"] nav li:hover .submenu

   .submenu
      background: $dark
      display: block
      font-size: em( 17 / 19 )
      left: 0
      position: absolute
      padding: rem( 12 ) 0
      pointer-events: none
      opacity: 0
      top: 100%
      transform: translateY(-15%)
      transition: transform .23s ease-in-out, opacity .15s linear
      width: 100%

      .wp-st
         flex-wrap: wrap
         justify-content: flex-start

      a
      button
         border: 0 none
         margin: rem( 3 ) rem( 12 )
         padding-bottom: rem( 8 )
         padding-top: @padding-bottom

   .social
      display: block
      flex-grow: 0
      margin-left: rem( 20 )

   .portail &
      a
         display: block


.main-logo
   height: rem( 92 )
   position: absolute
   width: rem( 110 )

   .legend
      .portail &
         font-size: em( 13 / $fz )
         width: rem( 126 )
   
