{% extends '@ApplicationSonataPage/layout.html.twig' %}
{% block sonata_page_breadcrumb %}
    <ol class="bcrumb wp-st" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span>Accueil</span>
                <meta itemprop="position" content="0">
            </a>
        </li>
        <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <span>Erreur 404</span>
            <meta itemprop="position" content="1">
        </li>
    </ol>
{% endblock %}
{% block page_content %}
    <section class="module">
        <div class="wp-st">
            <section itemscope itemtype="http://schema.org/Product">
                <header class="shead">
                    <h2 class="tt-2" itemprop="name">
                        <span>Erreur 404</span>
                    </h2>
                </header>
            </section>
            <div class="error-page">
                <p>Il semble que vous vous soyez trompé(e) d’itinéraire ou que la page que vous souhaitiez consulter&nbsp;n’existe plus</p>
                <div class="media">
                    <img src="/media/dyn/404-1024.jpg" srcset="/media/dyn/404-1024.jpg 1832w, /media/dyn/404-768.jpg 1221w, /media/dyn/404-320.jpg 916w" sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="">
                </div>
                <button onclick="window.location.href = '/'" class="bt-01">Retourner à l'accueil</button>
            </div>
        </div>
    </section>
{% endblock %}
