{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}

    {% if not hasNewSubscription or (hasNewSubscription and not hasNewSubscription.isStatusAccepted())  %}
        <div class="bs-example" data-example-id="alerts-with-links">
            <div class="alert alert-warning" role="alert"> <strong>Attention!</strong> Vous devez renouveller votre abonnement annuel
                <a href="{{ path('subscription_list') }}" class="alert-link">Cliquer ici</a>.
            </div>
        </div>
    {% endif %}

{% endblock %}
