{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}
<div class="panel panel-red">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3"><i class="fa fa-motorcycle fa-4x"></i></div>
            <div class="col-xs-9 text-right">
                <h4>Véhicules d'occasion</h4>
                <p class="dashboard-block-num">{{ data.num }}</p>
            </div>
        </div>
    </div>
    <a href="{{ url('admin_honda_main_vehiclead_list') }}">
        <div class="panel-footer">
            <span class="pull-left">Voir plus</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
</div>
{% endblock %}
