<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3"><i class="fa fa-question-circle fa-4x"></i></div>
            <div class="col-xs-9 text-right">
                <h4>Contact support</h4>
                <p class="dashboard-block-num">{{ count }}</p>
            </div>
        </div>
    </div>

    <a href="{{ url('support_list') }}">
        <div class="panel-footer">
            <span class="pull-left"></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
</div>