{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}
<div class="panel panel-lr">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3"><i class="fa fa-motorcycle fa-4x"></i></div>
            <div class="col-xs-9 text-right">
                <h4>Véhicules neufs</h4>
                <p>
                    En stock : {{ nbInStock.num }}
                    <br>
                    Dispo à l'essai : {{ nbOnTest.num }}
                </p>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a href="{{ url('inventory_list') }}"><span class="pull-left">Gestion de stock</span></a>
        <a href="{{ url('submodel-test_list') }}"><span class="pull-right">Gestion d'essai</span></a>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
