.login-logo div {
  margin-bottom: 20px;
}


.logo img + span {
  width: 120px!important;
  font-size: 10px;
  text-align: left;
  margin-left: 5px;
}

.logo img {
  max-width: 40px!important;
}

#section-sortable {
  list-style: none;
  padding-left: 0;
  .sortable-item {
    font-size: 1.2em;
    cursor: pointer;
    padding: 6px;
    margin: 5px;
    max-width: 50%;
    .ui-icon {
      display: inline-block!important;
    }
  }
}

/******* Dashbord ********/

.dashboard-content{
  background: #fff;
  padding: 20px;
}

.dashboard-block-num{
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
}

.dashboard-block-text{
    font-size: 16px;
}

.dashboard-block .panel-heading{
    height: 100px;
}

.panel-green{
    border-color: #28b779;
}

.panel-green > .panel-heading{
    border-color: #28b779;
    color: #fff;
    background-color: #28b779;
}

.panel-green > a{
    color: #28b779;
}

.panel-red{
    border-color: #da542e;
}

.panel-red > .panel-heading{
    border-color: #da542e;
    color: #fff;
    background-color: #da542e;
}

.panel-red > a{
    color: #da542e;
}

.panel-yellow{
    border-color: #ffb848;
}

.panel-yellow > .panel-heading{
    border-color: #ffb848;
    color: #fff;
    background-color: #ffb848;
}

.panel-yellow > a{
    color: #ffb848;
}

.panel-lb{
    border-color: #27a9e3;
}

.panel-lb > .panel-heading{
    border-color: #27a9e3;
    color: #fff;
    background-color: #27a9e3;
}

.panel-lb > a{
    color: #27a9e3;
}

.panel-lr{
    border-color: #f74d4d;
}

.panel-lr > .panel-heading{
    border-color: #f74d4d;
    color: #fff;
    background-color: #f74d4d;
}

.panel-lr > a{
    color: #f74d4d;
}

.panel-gray{
    border-color: #666666;
}

.panel-gray > .panel-heading{
    border-color: #666666;
    color: #fff;
    background-color: #666666;
}

.panel-gray > a{
    color: #666666;
}

.block-title{
    font-size: 16px;
    font-weight: bold;
}

.bl-description {
    padding: 20px;
    margin: 20px 0;
    border-left: 3px solid #3c8dbc;
    border-radius: 3px;
    background: #fff;
}

.bl-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.bl-text {
    margin-bottom: 0;
}

label{
    margin-bottom: 8px !important;

    &.logo {
        margin-right: 25px;
        margin-bottom: 15px !important;
    }
}

#honda_mainbundle_admin_servicepage,
#honda_mainbundle_admin_logo {
    fieldset {
        legend {
            padding-bottom: 10px;
        }
    }
}

.image-field {
    >div {
        >label {
            cursor: pointer;
            font-size: 0;
            font-weight: bold;

            &:after {
                content: 'Sélectionner un fichier';
                background: #3c8dbc;
                font-size: 14px;
                color: #fff;
                padding: 5px 10px;
                display: inline-block;
                margin-top: 5px;
            }
        }

        >input[type="file"] {
            display: none;
        }
    }
}

.box-title {
  line-height: 1.2em !important;
}

.mbn {
  margin-bottom: 0;
}


.honda-label-slide-images {
    list-style-type: none;

    li {
      .image-field {
        div:nth-child(2) {
          display: none!important;
        }
      }

      .preview-image {
        img {
          width: 100px!important;
        }
      }

      .remove_link {
        text-align: right;
      }

      legend.col-form-label {
        display: none!important;
      }
    }
}

#tab_2 > div > div.col-md-8 > div > div > fieldset > legend {
  display: none!important;
}

.collection-page-cookies-block, .collection-honda-label-slide {
  li {
    padding: 5px;
    > div {
      width: 96%;
      margin: 0 auto;
    }
  }
  li:nth-child(odd) {
    background-color: #f7f8f9;

  }
}

.remove-link-p {
  text-align: right!important;
  margin-right: 10px;
}


.sonata-preview-form-container .row {
  display: none;
};


.disabledPayment {
  opacity: 0.3;
  filter: alpha(opacity=30);
}


.services-picto {
  vertical-align: top;
  li {
    display: inline-block;
    border: 1px solid #d2d6de;
    width: 100px;
    height: 100px;
    margin-right: 3px;
    margin-bottom: 3px;
    vertical-align: top;
  }
}

.box-footer {
  .pull-left {
    display: none !important;
  }
}