#honda_distributorbundle_admin_site .form-error-icon {
    display: none;
}

#honda_distributorbundle_admin_site  .form-error-message {
    float: right;
    margin-left: 10px;
    font-weight: normal;
    color: #b0413e;
}

.cylinder-field-suffix {
    position: relative;
    float: right;
    top: -33px;
    right: 5px;
}

.cylinder-field {
    padding-right: 30px;
}

input.hidebtn + span.input-group-addon {
    display: none;
}

.services-picto {
    vertical-align: top;
}

.services-picto  li {
    display: inline-block;
    border: 1px solid #d2d6de;
    width: 100px;
    height: 100px;
    margin-right: 3px;
    margin-bottom: 3px;
    vertical-align: top;
}

.sonata-ba-form .box {
    margin-bottom: 60px;
}

.box-footer .pull-left {
    display: none !important;
}

.required-label {
    font-style: oblique;
    margin-bottom: 10px;
}