.visual {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.visual .label-logo {
    display: block;
    margin: 0;
    padding: 1.25rem 3.75rem;
    width: 40%;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    max-width: 37.5rem;
}

.visual .label-sideblock {
    max-width: 50%;
}