/*
 *  HONDA MOTO OCCASION | GLOBAL STYLES
 */

json('config.json')

body
   counter-reset section

// header[role="banner"]
//    .header-controls
//       top: 0

.shead
   margin-bottom: 0
   padding: 12px 0

.item
   margin-bottom: 28px

   .bt-top
      bottom 0!important
      position relative!important
div[id]
   & + div[id]:before
      background #999
      content ""
      display block
      height 1px
      margin 50px auto
      width 80%
   & > h1
      margin-bottom 20px
      margin-top 20px
      counter-increment section
      &:before
         content counter(section) " - "
header[role="banner"]
   margin-top 0
   nav
      ul
         flex-wrap wrap

h1
   &.main
      margin-left 200px
      margin-top 50px
.anchors
   counter-reset sect
   margin-bottom 30px
   padding 20px
   a
      counter-increment sect
      display block
      color #777
      padding 2px 10px
      text-decoration none
      // &:before
      //    content counter(sect) " - "
.html:before,
.pug:before
   background inherit
   border 1px dotted #999
   border-bottom 0 none
   content "html"
   position absolute
   padding 2px 4px
   right -1px
   top 0
   transform translateY(-100%)
.pug
   &:before
      content "pug"
h1, h2, h3, h4, h5, h6, .tt
   display block
   text-transform uppercase
pre
   border 1px dotted #999
   background #ccc
   margin 0
   max-width 100vw
   padding 8px
   position relative
   overflow auto
   white-space nowrap
   & + pre
      margin-top 24px
[id]
   .item
      & + h1
         margin-top 60px
.items
   display flex
   flex-wrap wrap
svg[class*="ui"]
   max-height 50px
   max-width 50px
.ui--app-store, .ui--google-play
   align-self center
   max-width 200px
svg
   & + svg
      margin-left 20px

.tt
   display block
   font-size 20px

.folder,
.tt
   text-transform uppercase

.folder
   margin: rem( 20 )

   & > span
      font-size: rem( 18 )

   .folder
      margin: rem( 10 ) rem( 8 )
   a
      text-transform none

#tree
   padding 20px 0 40px

   & >ul
      align-items: flex-start
      list-style none
      display: flex
      flex-wrap: wrap
      padding 0
      margin 0 0 10px 10px

      & > *
         order: 1

   h1
   & > ul > li > span
      font-size: rem(30)
      display: block
      font-weight: bold
      font-family: $ff-c
      line-height: 1

   .children
      order: 0

.document
   a:before
      font-family 'tree'
      font-style normal
      font-variant normal
      font-weight normal
      line-height 1
      speak none
      text-transform none
      -webkit-font-smoothing antialiased
      content "•"
      font-size 0.875em
      line-height 1
      padding-left 4px
      padding-right 6px


apply_media_cache()
