{% extends  '@HondaMain/Front/layout_slider.html.twig'  %}

{% set mainClassBgColor = 'home' %}

{% block title %}
    {% set distributorInfos = distributor.infos %}
    Concessionnaire Honda {{ distributor.town }} {% if distributorInfos.name is defined %}- {{ distributorInfos.name }}{% endif %}- {{ distributor.department }}
{% endblock %}

{% block meta_description %}
    {% set distributorInfos = distributor.infos %}
    <meta name="description" content="Retrouvez votre concessionnaire Honda {% if distributorInfos.name is defined %}{{ distributorInfos.name }}{% endif %} à {{ distributor.town }} - {{ distributor.department }}.Découvrez nos offres de motos neuves et d’occasion ainsi que nos services. Venez nous rencontrer en prenant rendez-vous en ligne !" />
{% endblock %}

{% block meta_keywords %}
    {% set distributorInfos = distributor.infos %}
    <meta name="keywords" content="{% if distributorInfos.name is defined %}{{ distributorInfos.name }}{% endif %}
 concessionnaire honda {{ distributor.town }}  concessionnaire honda {{ distributor.department }}" />
{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('homepage') }}" />
{% endblock %}


{% block metas %}
{{ parent() }}
{% endblock %}

{% block content %}

    {% spaceless %}
        {% for sectionOrder in sectionOrders %}
            {{ include('@HondaMain/Front/Block/' ~ sectionOrder.section.templateName ) }}
        {% endfor %}
    {% endspaceless %}

    {% if distributor.seoContent.descriptionHome  %}
    <div class="wp-st">
        <section class="macro-search-results">
            <div class="edito">
                {{ distributor.seoContent.descriptionHome | replace({
                    '[Nom du concessionnaire]': distributor.infos.name,
                    '[Ville]': distributor.infos.town,
                    '[Département]': distributor.infos.department
                }) | raw }}
            </div>
        </section>
    </div>
    {% endif %}

{% endblock %}
