extends /layout/module

block content
  nav.product-gallery-nav
    a( href="/c-vn-liste" ): span Liste des véhicules d'occasion du concessionnaire
    h2.tt
      span Honda sportive SH300I
      b 1456 €
    div.controls
      a.prev( href="" ) Précédente
      a.next( href="" ) Suivante
