extends /layout/module

block vars
  - var spec = "product-tech"

block content
  table
    thead
      tr
        th
        th Lorem Ipsum Dolor
        th Lorem Ipsum Dolor 
          strong DCT
        th Lorem Ipsum Dolor
    tbody
      - var i = 0
      while i < 12
        tr
          - var random = Math.floor(Math.random() * 3) + 1
          th!= lorem(random, 'words')
          td xxx cm3
          td xxx cm3
          td xxx cm3
        - i++
