extends /layout/module

block content
  .header#product( data-load-content="product" )
    div.wp
      div.media: img( src=`${url.dyn}product-01.jpg` alt="Product image" itemprop="image" )
      div.text
        div.wp
          p.tt-tx
            span( data-tooltip )
              img( src=`${url.dyn}shade.png` alt="Color name" itemprop="color" )
              span.tooltip Color name
            strong En Stock
          link( itemprop="availability" href="http://schema.org/InStock" )
          // other possible values: https://schema.org/ItemAvailability
            Discontinued
            InStock
            InStoreOnly
            LimitedAvailability
            OnlineOnly
            OutOfStock
            PreOrder
            PreSale
            SoldOut
          p À partir de
            sup( data-tooltip tabindex="0" ) (1)
              span.tooltip!= lorem(1)
            | :
            span( itemprop="price" content="EUR" )  13 849
            span( itemprop="priceCurrency" content="EUR" ) €
          p.promo Promotion
            sup( data-tooltip tabindex="0" ) (2)
              span.tooltip!= lorem(1)
            | :
            span( itemprop="price" content="EUR" validFrom="Date début offre" validThrough="Date fin offre" )  12 549
            span( itemprop="priceCurrency" content="EUR" ) €

        a.bt-01( href="" download ) Télécharger lorem ipsum
        a.bt-01( href="" download ) Télécharger la fiche technique

    p.txt( itemprop="description" )!= lorem( 2 )
