extends /layout/module

block content
  section.product-gallery( data-gallery )
    header.cat-tools
      a.bt-ui( href="mailto:" ) Envoyer à un ami
        +ui('paper-plane')

      a( href="#newsletter-form" data-scroll ) Contacter
        +ui('contact')

      div.social
        span Partager
        div.social
          a( href="http://www.facebook.com" )
            +ui('facebook')
          a( href="http://www.twitter.com" )
            +ui('twitter')
    
    div.view
      
      div.media.o-fit-exception
        div
          //- img(class='print-bg black-bg' src = `${url.dyn}black_bg.png`)
        div.gallery-buttons
          button.bt-prev( data-controls="prev" )
          button.bt-next( data-controls="next" )
        
        img( class="main-img" data-viewer src=`${url.dyn}gallery-1-1024.jpg` srcset=`${url.dyn}gallery-1-320.jpg 607w, ${url.dyn}gallery-1-768.jpg 809w, ${url.dyn}gallery-1-1024.jpg 1214w` sizes="(min-width: 48em) 486px, (min-width: 64em) 648px" alt="" )
        span.flag
          img(class='print-bg garanti-bg' src = `${url.dyn}white_bg.png`)
          +curvedText('Garantie')
          span 1
            span an
        span.flag.em 
          //- img(class='print-bg main-bg' src = `${url.dyn}red_bg.png`)
          span Première main
          
      div.thumbnails
        ul
          - var i = 1
          while i < 7
            - var video = null
            if i == 4
              - video = "https://www.youtube.com/embed/TgbGGwwUk6c"
            else if i == 6
              - video = "https://www.youtube.com/embed/nV04zyfLyN4"
            li
              button.o-fit( class=i==1?"active":null data-thumb data-video=video class=video?"bt-play":null )
                img( src=`${url.dyn}gallery-${i}-1024.jpg` srcset=`${url.dyn}gallery-${i}-320.jpg 607w, ${url.dyn}gallery-${i}-768.jpg 809w, ${url.dyn}gallery-${i}-1024.jpg 1214w` sizes="(min-width: 48em) 116px, (min-width: 64em) 156px" )
            - i++
