extends /layout/module

block content
  section.product-quote
    img(class='print-bg quote-bg' src = `${url.dyn}red_bg.png`)
    h3.tt Le mot du concessionnaire
    blockquote.edito
      p!= lorem(2)
    div.quote-flags
      span Permis A2
      span Garantie
