extends /layout/module

block content
  section.product-specs
    div.cols
      div.col
        h3.tt Caractéristiques
        ul
          li
            strong Cylindrée :
            | 300cm3
          li
            strong Kilométrage :
            | 3 200 km
          li
            strong Année :
            | 2017
          li
            strong Mise en circulation :
            | 12/04/2017

        h3.tt Équipements
        p
          strong Options :
          | Tablier, top case givi

      div.col
        h3.tt Descriptif
        ul
          li Honda SH 300 I ABS
          li Possibilité de financement de 12 à 72 mois avec ou sans apport Document à fournir pour un financement : pièce identité, justificatif de domicile de -1 mois (facture téléphone fixe ou portable, internet, eau, edf…), RIB, 3 dernières fiches de paye.
          li Possibilité d'assurance sur place a prix compétitif
          li Extension de garantie 12 mois : 199€
          li Couleur
          li Permis A2
