<div class="wp">
    <a href="{{ applicationLink ? applicationLink.lienAndroid : '#' }}" target="_blank" title="Google play">
        <img alt="Google play" sizes="" src="/media/img/google-play-badge.png" />
    </a>
    <a href="{{ applicationLink ? applicationLink.lienIos : '#'}}" target="_blank" title="App Store">
        <img alt="App Store" sizes="" src="/media/img/app-store.png" />
    </a>
</div>
<span class="tt">T&eacute;l&eacute;charger notre application mobile</span></div>