{% extends sonata_block.templates.block_base %}

{% macro regionSelect(id, name, regions, regionSelected) %}

    <select class="bt-locate placeholder" id="{{ id }}" name="{{ name }}" disabled data-inactive>

        {% for key, region in regions %}

            {% set selected = false %}

            {% if loop.first %}
                {% set selected = true %}
            {% elseif regionSelected == key %}
                {% set selected = true %}
            {% endif %}

            <option value="{{ key }}" {% if selected %} selected {% endif %} >{{ region }}</option>

        {% endfor %}

    </select>

{% endmacro %}

{% import _self as forms %}

{% block block %}
    <section class="macro-search">
        <div class="tabs" id="search-tabs" data-tabs>
            <button class="active" data-toggle="{&quot;tabs&quot;: true}" aria-controls="search-tab-1" aria-expanded="true">Cherchez un véhicule d'occasion</button>
            <button data-toggle="{&quot;tabs&quot;: true}" aria-controls="search-tab-2" aria-expanded="false">Identifiez votre concessionnaire Honda</button>
        </div>

        <div class="search-contents {% if preg_match('^\\/concessionnaire$', app.request.requestUri) %}concession{% endif %}">
            <form class="tab" id="search-tab-1" aria-hidden="false" action="/search/search-vehicles" method="" data-submit="{&quot;url&quot;: &quot;/search/vehicles/results&quot;, &quot;updateText&quot;: &quot;results-v&quot;}" data-load="{&quot;target&quot;:&quot;vehicles&quot;, &quot;scroll&quot;: true}">
                <div class="cols sb" data-tabs>
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="location-vehicle">Localisation
                            </label>

                            {% set options_region = null %}
                            {% if app.request.get('region') %}
                                {% set options_region %}
                                    data-value="region" option-value="{{ app.request.get('region') }}"
                                {% endset %}
                            {% endif %}

                            <span class="custom-select">
                              <select id="location-vehicle" name="location-vehicle" data-toggler='{"tabs":true}' {{ options_region }}>
                                <option value="-none-" selected aria-controls="reset">Sélectionner</option>
                                <option value="location" data-nosubmit data-position data-locate data-class="locate" aria-controls="select-accuracy" aria-expanded="false">Autour de moi</option>
                                <option value="region" aria-controls="select-region" aria-expanded="false">Dans une région</option>
                                <option value="department" aria-controls="select-departement" aria-expanded="false">Dans un département</option>
                              </select>
                              <label for="location-vehicle">Sélectionner</label>
                            </span>

                        </div>
                    </div>
                    <div class="col">
                        <div id="select-accuracy" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-accuracy-vehicle">Dans un rayon de
                                </label>
                                <span class="custom-select">
                                    <select class="bt-locate placeholder" id="select-accuracy-vehicle" name="select-accuracy-vehicle" disabled data-inactive>
                                        <option value="2km" selected>2 km</option>
                                        <option value="20km">20 km</option>
                                        <option value="200km">200 km</option>
                                    </select>
                                    <label for="select-accuracy-vehicle">2 km</label>
                                </span>
                            </div>
                        </div>

                        <div id="select-region" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-region-vehicle">Dans une région
                                </label>
                                <span class="custom-select">
                                    {{ forms.regionSelect('select-region-vehicle', 'select-region-vehicle', regions, app.request.get('region')) }}
                                    <label for="select-region-vehicle">{{ regions|first|capitalize }}</label>
                                </span>
                            </div>
                        </div>

                        <div id="select-departement" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-departement-vehicle">Dans un département
                                </label>
                                <span class="custom-text">
                                    <input id="select-departement-vehicle" name="select-departement-vehicle" type="text" placeholder="01, 67, 75" disabled data-inactive>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cols">
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="type">Type
                            </label>
                            <span class="custom-select">
                                <select id="type" name="type">

                                    {% if types|length %}

                                        <option value="" selected>Sélectionner</option>
                                        {% for type in types %}
                                            <option value="{{ type }}">{{ type|capitalize }}</option>
                                        {% endfor %}

                                    {% else %}
                                        {{ render(controller('HondaSearchBundle:Search:typeListOptions')) }}
                                    {% endif %}

                                </select>
                                <label for="type">Sélectionner</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cols sb steps">
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="brand">Marque
                            </label>
                            <span class="custom-select">

                                <select id="brand" name="brand" data-enable="step-2" data-populate="{{ url('models_options') }}">

                                    {% if (marks.tops is defined and marks.tops) or (marks.others is defined and marks.others)  %}

                                        <option value="" selected>Sélectionner</option>

                                        {% for key, mark in marks %}

                                            {% if key == 'tops' and marks.tops|length %}
                                                <optgroup label="--------------------------">
                                                {% for topMark in marks.tops if topMark == 'Honda' %}

                                                    {% set selected = app.request.attributes.get('brand') == topMark %}

                                                    <option value="{{ topMark }}" {% if selected %}selected{% endif %} >{{ topMark|capitalize }}</option>
                                                {% endfor %}
                                                {% for topMark in marks.tops if topMark != 'Honda' %}

                                                    {% set selected = app.request.attributes.get('brand') == topMark %}

                                                    <option value="{{ topMark }}" {% if selected %}selected{% endif %} >{{ topMark|capitalize }}</option>
                                                {% endfor %}
                                                </optgroup>
                                            {% endif %}

                                            {% if key == 'tops' and marks.others|length %}
                                                <optgroup label="--------------------------">
                                                    {% for otherMark in marks.others %}

                                                        {% set selected = app.request.attributes.get('brand') == otherMark %}

                                                        <option value="{{ otherMark }}" {% if selected %}selected{% endif %} >{{ otherMark|capitalize }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            {% endif %}

                                        {% endfor %}

                                    {% else %}
                                        {{ render(controller('HondaSearchBundle:Search:brandListOptions')) }}
                                    {% endif %}

                                </select>

                                {% if app.request.attributes.get('brand') %}
                                    <label for="brand">{{ app.request.attributes.get('brand')|capitalize }}</label>
                                {% else %}
                                    <label for="brand">Sélectionner</label>
                                {% endif %}

                            </span>
                        </div>
                    </div>
                    <div class="col" id="step-2">
                        <div class="std-field disabled">
                            <label class="label main" for="model">Modèle
                            </label>
                            <span class="custom-select">
                                <select id="model" name="model" disabled>
                                    <option value="" selected>Sélectionner</option>
                                </select>
                                <label for="model">Sélectionner</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cols ct">
                    <div class="std-field">
                        <span class="custom-checkbox">
                            <input type="checkbox" id="annonces-v" name="annonces-v">
                            <label for="annonces-v">Annonces permis A2
                            </label>
                        </span>
                    </div>
                    <div class="std-field">
                        <span class="custom-checkbox">
                            <input type="checkbox" id="special-v" name="special-v">
                            <label for="special-v">Véhicules de démonstration
                            </label>
                        </span>
                    </div>
                </div>
                <div class="cols sb">
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="engine">Cylindrée</label>
                            <div class="custom-range pips">
                                <div data-range="{&quot;start&quot;:[70,2300],&quot;step&quot;:100,&quot;range&quot;:{&quot;min&quot;:[70,10],&quot;50%&quot;:[500,100],&quot;max&quot;:[2300]},&quot;suffix&quot;:&quot; cc&quot;,&quot;pipsDensity&quot;:6}" id="engine"></div>
                            </div>
                            <input type="hidden" name="engine-min">
                            <input type="hidden" name="engine-max">
                        </div>
                    </div>
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="price">Prix</label>
                            <div class="custom-range pips">
                                <div data-range="{&quot;start&quot;:[0,20000],&quot;step&quot;:100,&quot;range&quot;:{&quot;min&quot;:[0,100],&quot;33.3%&quot;:[5000,100],&quot;66.6%&quot;:[10000,100],&quot;max&quot;:[20000]},&quot;suffix&quot;:&quot; €&quot;,&quot;pipsDensity&quot;:6}"
                                     id="price"></div>
                            </div>
                            <input type="hidden" name="price-min">
                            <input type="hidden" name="price-max">
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    {% set counter = render(controller('HondaSearchBundle:Search:countSearchvehiclesResult',{'page': 1, 'size': 10, 'brand': app.request.get('brand'), 'region': app.request.get('region'), 'model': app.request.get('model')})) %}
                    <button type="submit" data-no-result="Aucun résultat">
                        {% if counter > 0 %}
                            <span>Voir le(s)
                                <span data-text-update="results-v">{{ counter }}</span> véhicules(s)</span>
                        {% else %}
                            <span>Aucun résultat</span>
                        {% endif %}
                    </button>
                    <button class="bt-01 reset-search" style="display: inline-block;"><span>RÉINITIALISER LA RECHERCHE </span></button>
                </div>
            </form>
            <form class="tab" id="search-tab-2" aria-hidden="true" action="/search/distributors-search" method="" data-submit="{&quot;url&quot;: &quot;/search/distributors/results&quot;, &quot;updateText&quot;: &quot;results-c&quot;}" data-load="{&quot;target&quot;:&quot;vehicles&quot;, &quot;scroll&quot;: true}">
                <div class="cols sb" data-tabs>
                    <div class="col">
                        <div class="std-field">
                            <label class="label main" for="location-retailer">Localisation
                            </label>
                            <span class="custom-select">
                                <select class="bt-locate" id="location-retailer" name="location-retailer" data-toggler='{"tabs":true}'>
                                    <option value="-none-" selected aria-controls="reset">Sélectionner</option>
                                    <option value="location" data-nosubmit data-position data-locate data-class="locate" aria-controls="select-accuracy-retailer" aria-expanded="false">Autour de moi</option>
                                    <option value="region" aria-controls="select-region-retailer" aria-expanded="false" >Dans une région</option>
                                    <option value="department" aria-controls="select-departement-retailer" aria-expanded="false">Dans un département</option>
                                </select>
                                <label for="location-retailer">Sélectionner</label>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div id="select-accuracy-retailer" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-accuracy-retailer">Dans un rayon de
                                </label>
                                <span class="custom-select">
                                    <select class="bt-locate placeholder" id="select-accuracy-retailer" name="select-accuracy-retailer" data-toggler='{"tabs":true}'>
                                        <option value="2km" selected>2km</option>
                                        <option value="5km">5km</option>
                                        <option value="200km">200km</option>
                                    </select>
                                    <label for="select-accuracy-retailer">2km</label>
                                </span>
                            </div>
                        </div>
                        <div id="select-region-retailer" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-region-retailer">Dans une région
                                </label>
                                <span class="custom-select">
                                    {{ forms.regionSelect('select-region-retailer', 'select-region-retailer', regions) }}
                                    <label for="select-region-retailer">{{ regions|first|capitalize }}</label>
                                </span>
                            </div>
                        </div>
                        <div id="select-departement-retailer" aria-hidden="true">
                            <div class="std-field">
                                <label class="label main" for="select-departement-retailer">Dans un département
                                </label>
                                <span class="custom-text">
                                    <input class="bt-locate" id="select-departement-retailer" name="select-departement-retailer" type="text" placeholder="01, 67, 75" data-toggler='{"tabs":true}'>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cols ct">

                    <div class="std-field">
                        <span class="custom-checkbox">
                            <input class="bt-locate" type="checkbox" id="bike-retailer-c" name="bike-retailer-c">
                            <label for="bike-retailer-c">Concessionnaire motos et scooters
                            </label>
                        </span>
                    </div>

                    <div class="std-field">
                        <span class="custom-checkbox">
                            <input class="bt-locate" type="checkbox" id="official-c" name="official-c">
                            <label for="official-c">Agent officiel (cylindrées 125 uniquement)
                            </label>
                        </span>
                    </div>
                    <div class="std-field">
                        <span class="custom-checkbox">
                            <input class="bt-locate" type="checkbox" id="specialist-c" name="specialist-c">
                            <label for="specialist-c">Cadre rouge (spécialiste cross)
                            </label>
                        </span>
                    </div>


                </div>
                <div class="buttons">
                    <button type="submit" data-no-result="Aucun résultat">
                        <span>Voir le(s)
                            <span data-text-update="results-c">{{ render(controller('HondaSearchBundle:Search:countSearchDistributorsResult',{'page': 1, 'size': 10})) }}</span> concession(s)</span>
                    </button>
                    <button class="bt-01 reset-search" style="display: inline-block;"><span>RÉINITIALISER LA RECHERCHE </span></button>
                    <div class="std-field" >
                        <span class="custom-checkbox">
                            <input class="bt-locate" type="checkbox" id="sort-retailer-c" name="sort-retailer-c">
                            <label for="sort-retailer-c">
                                <span class="txt-cocher">Cocher ici pour un affichage par ordre alphabétique</span>
                            </label>
                        </span>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <div class="wp-st">

        {% if slidersVo|length %}
        <div class="carousel-container cinquo">
            <div class="custom-button prev"></div>
            <div class="swiper-container carousel-cinquo alt" data-sliderConfig="{&quot;loop&quot; : true, &quot;slidesPerView&quot;: 1, &quot;navigation-full-height&quot; : true}" style="background-color: #f70013;">
                <div class="swiper-wrapper">

                    {% for slider in slidersVo %}

                        <div class="swiper-slide o-fit contain">
                            {% set picture %}
                                <picture>
                                    <img src="{% path slider.media, 'reference' %}" alt="Carrousel véhicules d'ocassions">
                                </picture>
                            {% endset %}

                            {% if slider.link %}
                                <a href="{{ slider.link }}" {% if slider.linkExternal %}target="_blank" {% endif %}>
                                    {{ picture }}
                                </a>
                            {% else %}
                                {{ picture }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="custom-button next"></div>
        </div>
        {% endif %}

        <section class="macro-search-results">
            <div data-load-content="vehicles" id="vehicles-grid">
                {{ render(controller('HondaSearchBundle:Search:searchVehicles',{'page': 1, 'size': 10, 'brand': app.request.get('brand'), 'region': app.request.get('region'), 'model': app.request.get('model')})) }}
            </div>
            {{ render(controller('HondaFrontBundle:Default:homDescription', {'brand': app.request.get('brand'), 'region': app.request.get('region')})) }}
        </section>

    </div>



{% endblock %}

