{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="site-map-p">
        <ul>
            {% for item in sitemap %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a>
                    {% if item.sitemap_children|length %}
                        <ul>
                            {% for child in item.sitemap_children %}
                                <li>
                                    <a href="{{ child.url }}" >{{ child.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

