{% extends sonata_block.templates.block_base %}

{% block block %}

    {% if socialNetwork %}

        {% if socialNetwork.lienFb %}
            <a href="{{ socialNetwork.lienFb }}" target="_blank" title="Facebook">
                <svg aria-hidden="true" class="ui ui--facebook" viewbox="0 0 128 128">
                    <title>Facebook</title>
                    <path d="M128 112c0 8.8-7.2 16-16 16H16c-8.8 0-16-7.2-16-16V16C0 7.2 7.2 0 16 0h96c8.8 0 16 7.2 16 16v96z"></path>
                    <path class="f" d="M68.877 128V78.188h-17.78V60.425h17.784V44.029c0-16.537 9.764-26.279 24.514-26.279 7.068 0 12.834.756 14.605.991v18.573l-11.874-.005c-8.022 0-9.523 3.979-9.523 9.572v13.544h20.556l-2.904 17.763H86.603V128H68.877z"></path>
                </svg>
            </a>
        {% endif %}

        {% if socialNetwork.lienInsta %}
            <a href="{{ socialNetwork.lienInsta }}" target="_blank" title="Instagram">
                <svg aria-hidden="true" class="ui ui--instagram" data-name="Social Icons" viewbox="0 0 128 128"><defs></defs>
                    <title>Instagram</title>
                    <g data-name="7 stroke">
                        <g>
                            <path class="cls-1" d="M105.84 29.84a7.68 7.68 0 1 1-7.68-7.68 7.68 7.68 0 0 1 7.68 7.68zM64 85.33A21.33 21.33 0 1 1 85.33 64 21.33 21.33 0 0 1 64 85.33zm0-54.2A32.87 32.87 0 1 0 96.87 64 32.86 32.86 0 0 0 64 31.13zm0-19.6c17.09 0 19.11.06 25.86.37a35.4 35.4 0 0 1 11.88 2.2 19.83 19.83 0 0 1 7.36 4.79 19.82 19.82 0 0 1 4.79 7.36 35.43 35.43 0 0 1 2.2 11.88c.31 6.75.37 8.77.37 25.86s-.07 19.11-.37 25.86a35.4 35.4 0 0 1-2.2 11.88 21.2 21.2 0 0 1-12.15 12.15 35.43 35.43 0 0 1-11.88 2.2c-6.75.31-8.77.37-25.86.37s-19.11-.07-25.86-.37a35.4 35.4 0 0 1-11.88-2.2 19.83 19.83 0 0 1-7.36-4.79 19.83 19.83 0 0 1-4.79-7.36 35.43 35.43 0 0 1-2.2-11.88c-.31-6.75-.37-8.77-.37-25.86s.06-19.11.37-25.86a35.4 35.4 0 0 1 2.2-11.88 19.83 19.83 0 0 1 4.79-7.35 19.82 19.82 0 0 1 7.36-4.79 35.43 35.43 0 0 1 11.88-2.2c6.75-.31 8.77-.38 25.86-.38zM64 0C46.62 0 44.44.07 37.61.38a47 47 0 0 0-15.53 3 31.36 31.36 0 0 0-11.34 7.38 31.36 31.36 0 0 0-7.38 11.32 47 47 0 0 0-3 15.53C.07 44.44 0 46.62 0 64s.07 19.56.38 26.39a47 47 0 0 0 3 15.53 31.36 31.36 0 0 0 7.38 11.34 31.37 31.37 0 0 0 11.34 7.38 47 47 0 0 0 15.53 3c6.83.31 9 .39 26.39.39s19.56-.07 26.39-.39a47 47 0 0 0 15.53-3 32.73 32.73 0 0 0 18.72-18.72 47 47 0 0 0 3-15.54c.31-6.83.39-9 .39-26.39s-.07-19.56-.39-26.39a47 47 0 0 0-3-15.53 31.37 31.37 0 0 0-7.38-11.34 31.37 31.37 0 0 0-11.34-7.38 47 47 0 0 0-15.54-3C83.56.07 81.38 0 64 0z" data-name="Instagram"></path>
                        </g>
                    </g>
                </svg>
            </a>
        {% endif %}

        {% if socialNetwork.lienTwitter %}
            <a href="{{ socialNetwork.lienTwitter }}" target="_blank" title="Twitter">
                <svg aria-hidden="true" class="ui ui--twitter" data-name="Layer 1" viewbox="0 0 95.77 77.83">
                    <title>Twitter</title>
                    <path d="M95.77 9.21a39.23 39.23 0 0 1-11.29 3.09 19.69 19.69 0 0 0 8.65-10.91 39.27 39.27 0 0 1-12.47 4.77 19.67 19.67 0 0 0-33.49 17.92A55.76 55.76 0 0 1 6.67 3.55a19.68 19.68 0 0 0 6.08 26.23 19.53 19.53 0 0 1-8.9-2.46v.25a19.66 19.66 0 0 0 15.76 19.27 19.52 19.52 0 0 1-8.87.34 19.67 19.67 0 0 0 18.35 13.65 39.42 39.42 0 0 1-24.4 8.41 40.32 40.32 0 0 1-4.68-.28 55.66 55.66 0 0 0 30.12 8.82c36.14 0 55.9-29.94 55.9-55.9 0-.85 0-1.7-.05-2.54a40 40 0 0 0 9.79-10.13z"></path>
                </svg>
            </a>
        {% endif %}

        {% if socialNetwork.lienYoutube %}
            <a href="{{ socialNetwork.lienYoutube }}" target="_blank" title="YouTube">
                <svg aria-hidden="true" class="ui ui--youtube" data-name="Calque 1" viewbox="0 0 91 53">
                    <title>YouTube</title>
                    <path d="M82.5 52.97h-74a8.53 8.53 0 0 1-8.5-8.5v-36a8.53 8.53 0 0 1 8.5-8.5h74a8.53 8.53 0 0 1 8.5 8.5v36a8.53 8.53 0 0 1-8.5 8.5zM31.34 11.89v29.33l27.33-15.33z"></path>
                </svg>
            </a>
        {% endif %}

        {% if socialNetwork.lienSnapchat %}
            <a href="{{ socialNetwork.lienSnapchat }}" target="_blank" title="Snapchat">
                <svg data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24">
                    <title>Snapchat</title>
                    <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3.086 8.267c-.3.672-.181 1.876-.133 2.718-.324.179-.74-.136-.975-.136-.245 0-.538.161-.583.401-.033.173.044.425.6.645.215.085.727.185.845.464.166.392-.855 2.202-2.459 2.466-.126.02-.216.132-.209.259.028.488 1.121.678 1.605.754.05.067.09.35.153.566.028.097.102.212.291.212.246 0 .656-.19 1.369-.072.699.117 1.356 1.107 2.617 1.107 1.173 0 1.872-.996 2.545-1.107.389-.065.724-.044 1.098.029.257.05.488.079.562-.174.064-.219.104-.496.152-.561.48-.075 1.578-.265 1.606-.753.007-.127-.083-.239-.208-.259-1.577-.26-2.629-2.064-2.459-2.466.118-.278.626-.378.845-.464.407-.161.611-.358.606-.586-.006-.292-.357-.467-.616-.467-.264 0-.642.312-.949.143.048-.849.166-2.048-.133-2.719-.567-1.272-1.83-1.916-3.092-1.916-1.252-.001-2.506.633-3.078 1.916z"/>
                </svg>
            </a>
        {% endif %}
    {% endif %}

{% endblock %}
