<div class="edito">
    {% if seoContent %}
        {% if seoContent.vo is defined and seoContent.vo and seoContent.vo.content.title is defined %}
            <div class="seo-vo" data-title="{{ seoContent.vo.content.title }}" data-alt-title="{{ seoContent.vo.altContent.title }}">{{ seoContent.vo.content.description|raw }}</div>
        {% endif %}
        {% if seoContent.concession is defined and seoContent.concession %}
            <div class="seo-concession" data-title="{{ seoContent.concession.content.title }}" data-alt-title="{{ seoContent.concession.altContent.title }}">{{ seoContent.concession.content.description|raw }}</div>
        {% endif %}
        {% if seoContent.landing is defined %}
            {{ seoContent.landing.description| replace({
                '[Région]': region,
                '[marque]': brand,
                '[R&eacute;gion]': region
            }) |raw }}
        {% endif %}
    {% endif %}
</div>
