$formMacroSearch
   .cols
      display: flex
      justify-content: space-between

      & + .cols:not(.ct)
         margin-top: rem( 30 )

   .col
      flex-grow: 1
      max-width: pct( 410 / 1024 )
      width: 100%

   .ct
      justify-content: flex-start

      .std-field
         padding-top: rem( 10 )

         &:first-child
            padding-top: rem( 10 )

      .std-field + .std-field
         margin-left: rem( 20 )

   .std-field
      padding-top: rem( 10 )

      .main + [class*="custom"]
         margin-top: 0

      [class*="custom"]
         margin-top: rem( 18 )

main > .macro-search
   transform: translateY( rem( -40 ) )
   margin-top: rem( -25 )
   margin-bottom: rem( 40 )

.macro-search
   @extends $formMacroSearch
   max-width: rem( 1024 )

   .buttons
      margin-top: rem( 30 )
      transform: translateY(50%);
      text-align: center

   [type="submit"]
      @extends .bt-01
      padding: rem( 10 ) rem( 38 )

   #search-tab-2
      .buttons
          transform: translateY(70%);

.search-contents
   padding: rem( 26 ) pct( 42 / 1024 ) 0
   transition: all .17s linear

   [aria-hidden="true"]
      display: none

   #search-tab-1 .steps
      .col
         // max-width: "calc( 50% - %s )"% rem( 50 )
         position: relative
         width: 100%

         & + .col
            padding-top: 0

            &:before
               bottom: rem( 16 )
               height: rem( 24 )
               left: 0
               margin-left: "calc( -25% - %s )"% rem( 12 )
               transform: rotate(45deg)
               top: 50%
               width: @height

.tabs
   button
      font-size: em( 18 / $fz )
      padding: rem( 12 ) rem( 6 )

.macro-search-results
   margin-top: rem( 70 )
