/*
 *  HONDA MOTO OCCASION | ACCESSORY STYLES
 */

.accessory

   .tt
      font-size: rem( 18 )

   .head-block
      flex-direction: row

      .text
         padding: rem( 25 )
         width: 60%
         font-size: rem( 16 )

         .buttons
            flex-direction: column

            .bt-01
               width: 75%
               font-size: rem( 14 )
               text-align: center

      .media
         width: 40%

   .block
      padding: rem( 40 )

      .tt
         text-align: center
         display: flex
         flex-direction: row
         align-items: center
         justify-content: center

         svg
            margin-right: rem( 20 )

         span
            font-size: rem( 36 )

      p
         margin: rem( 45 ) auto

      .pictos

         .logo
         
            height: rem( 40 )
            margin-right: rem( 100 )

            img
               height: 100%
