article.img-content
   display: block
   .tt-2
      padding-left: rem(20)
   .media
      flex: none
      margin: 0
      width: 50%
      height: 100%
      float: left
      margin-right: rem(20)
   .paragraph
      display: block
      p
         &.date
            padding: rem(30) rem(30) rem(15) rem(20)
         &:nth-of-type(2)
            padding: rem(15) rem(20)
            line-height: 1.4
      .edito
         p
            padding: 0 rem(50) rem(1) rem(20)
            .bt-01
               width: auto
               margin: rem(40) auto

article.content
   padding: rem(15) rem(30) rem(50) rem(30)
   p
      padding-bottom: rem(30)
   .bt-01
      width: auto
      font-size: em(15 / $fz)
      font-weight: $fw-bold
      font-family: $ff-c

article.content-list
   padding: rem(30)

.actu-subhead
   p
      margin: 0
      font-size: em(16 / $fz)
      font-weight: $fw-bold

.article-list
   display: block
   padding-top: 0
   flex-wrap: wrap
   justify-content: space-between
   margin-top: 0

   &:after
      content: ''
      flex-basis: "calc(%s - %s)"% ( pct(33/100) rem( 20 ) )

   .block
      flex-basis: "calc(%s - %s)"% ( pct(33/100) rem( 20 ) )
      margin-bottom: 0
      margin-top: rem( 20 )
      width:calc(33.333% - 14px)
      float:left
      margin-right: 21px

      &:nth-child(3n+3)
         margin-right:0
  
