.block-retailer
   .infos
      padding: rem(10) rem(10) rem(10) rem(20)
   .block-head
      .address-container
         a
            .address
               padding: rem(10) rem(120) rem(30) rem(20)

   .block-content
      .schedule
         padding: rem(40) rem(50) rem(30) rem(10)
