/*
 *  HONDA MOTO OCCASION | BLOCKS STYLES
 */

+media('(min-width: 48em) and (max-width: 64em)')
   .tag
      width: "calc( 100% - %s)"% rem( 52 )

   .click-me
      width: rem( 34 )

      &:before
         font-size: rem( 28 )
         height: rem( 38 )

.block
   &.media-1
      .media
         height:330px

   .tt
      font-size: em( 30 / $fz )      
