/*
 *  HONDA MOTO OCCASION | BRAND MODULE STYLES
 */

.brand-products
   .bt-toggle[aria-expanded="true"]
      color: $dark

.brand-header
   background: $dark
   color: $light
   display: flex

   .text
      padding: rem( 26 ) rem( 32 )
      width: 50%

      .tt
         font-size: em( 60 / $fz )
         font-family: $ff-c
         font-weight: normal
         letter-spacing: -2px
         margin-bottom: rem( 24 )
         padding-bottom: rem( 22 )
         position: relative
         text-align: center
         text-transform: uppercase

         &:after
            background: $red1
            bottom: 0
            content: ""
            height: rem( 8 )
            left: 50%
            position: absolute
            transform: translateX( -50% )
            width: rem( 88 )

      p
         font-weight: bold

      .bt-01
         font-size: rem( 18 )
   .media
      width: 50%      

      img
         display: block
         max-width: 100%
         width:100%
