/*
 *  HONDA MOTO OCCASION | COMMON MODULES STYLES
 */

.module
   padding: rem( 64 ) 0 rem( 25 )

.bcrumb
   padding-bottom: rem( 30 )

.mod-buttons
   display: none

.cat-tools
   align-items: center
   display: flex
   padding: rem( 12 ) rem( 26 )

   a
   span
      align-items: center
      flex-direction: row
      transition: all .17s linear

   a
      &:hover
         color: $red1
         svg
            fill: $red1

   svg
      margin-left: rem( 14 )
      order: 1
      margin-bottom: 0
      transition: all .17s linear

   & > .social
      flex-direction: row

      .social
         margin-left: rem( 14 )

      svg
         margin-bottom: 0
         margin-left: 0

      span
         order: -1
         // width: 10
