.contact-form
   @extends $formMacroSearch
   .cols-radios
      justify-content: center
      flex-wrap: nowrap

.form-contents
   padding: 0
   @extends .search-contents

   .steps
      .col
         max-width: "calc( 50% - %s )"% rem( 20 )

   .medium
      width: 60%

   .cols-3
      margin: 0
      .col
         max-width: "calc( 33% - %s )"% rem( 20 )
         position: relative
         width: 100%
      .cols-radios
         line-height: 2
         .col
            max-width: 100%
   .form-row
         margin-top: rem(30)
   .g-recaptcha
      transform: none
   .cols-2
      display: flex
      justify-content: space-between
   .col
      max-width: "calc( 50% - %s )"% rem( 20 )
