/*
 *  HONDA MOTO OCCASION | GRID STYLES
 */

.grid
   .grid-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      margin-left: rem( -15 )
      margin-right: @margin-left

      & > .big-box
      & > .block
         padding-left: rem( 15 )
         padding-right: @padding-left


      .big-box
         display: flex
         flex-wrap: wrap
         justify-content: space-between

         &:first-child
            [class*="block"] .media img
               height: 100%


         &:first-child + .big-box
            .block
               &:first-child
                  &
                  & + .block
                     padding-top: 0
                     width: "calc( 50% - %s )"% rem( 15 )
                     height: calc( 50% );

      .block
         width: "calc( 25% - %s )"% rem( 22 )

         .media
            .tag
            .flag
               font-size: em( 12 / $fz )
         .text
            .tt
            .sub
            .infos-line
               font-size: em( 14 / $fz )

      .block-retailer
         width: "calc( 50% - %s )"% rem( 15 )

         &:nth-child(even)
            margin-left: rem( 29 )

      .big-box
         width: 50%
         height:635px

         .block
            width: "calc( 50% - %s )"% rem( 15 )
            height: calc( 50% );

      .block
         width: 25%

         .media
            .tag
            .flag
               font-size: rem( 10 )
         .text
            .tt
            .sub
            .infos-line
               font-size: rem( 13 )
