/*
 *  HONDA MOTO OCCASION | PREFOOTER STYLES
 */

.pre-footer
   padding: rem( 10 ) 0
   text-align: center

   .wp-st
      display: flex
      justify-content: space-between

      & > *
         flex-basis: 30%
         margin-top: 0

   .newsletter
      display: flex
      justify-content: flex-end

   .tt
      &:first-child
         margin-bottom: rem( 12 )

   .wp
      justify-content: center
      padding: 0

