.p-gall
   display: block

.gallery-buttons
   display: none

.product-gallery-nav
   flex-wrap: nowrap

   .tt
      align-items: center
      color: $red1
      display: flex
      font-size: em( 32 / $fz )
      justify-content: space-between
      flex-grow: 1
      order: 1
      padding: rem( 20 )
      text-transform: uppercase
      text-align: left
      width: auto
      margin-bottom: none

      b
         font-size: em( 37 / 32 )

   .controls
   a
      flex-grow: 1
      width: auto

   .controls
      margin-bottom: 0

      a
         max-width: none
         padding: rem( 20 ) rem( 12 )
         margin: 0

         & + a
            margin-left: 2px

         &:before
            margin-bottom: rem( 30 )   

   a
      align-items: stretch
      order: 1
      max-width: rem( 260 )
      margin: 0

.product-quote
   .tt
       font-size: em( 30 / 17 )
.product-specs
   padding: rem( 32 ) rem( 40 )

.product-specs
   .tt
      margin-bottom: rem( 16 )

   .cols
      display: flex

   .col
      padding-right: pct( 52 / 1220 )
      width: 50%

      & + .col
         border-left: 1px solid $dark
         padding-left: pct( 52 / 1220 )
         padding-right: 0

.product-gallery
   .view
      align-items: stretch
      display: flex
      position: relative

      .media
         flex-shrink: 0
         overflow: hidden
         width: pct( 810 / 1220 )

         img
            height:550px

         &.object-fit
            background-size: contain


      .thumbnails
         background: $dark
         display: block
         width: pct( 410 / 1220 )

         ul
            align-content: flex-start
            display: flex
            flex-wrap: wrap
            height: 100%
            padding: 0 rem( 8 ) rem( 8 )
            justify-content: space-between

         li
            height: "calc( 100% / 3 - %s )"% rem( 8 )
            margin-top: rem( 8 )
            width: "calc( 50% - %s )"% rem( 5 )

         button
            display: block
            height: 100%
            outline: none
            position: relative
            transition: all .12s linear
            width: 100%

            &:before
               border: 0 solid $red1
               bottom: rem( -8 )
               content: ""
               left: rem( -8 )
               pointer-events: none
               position: absolute
               right: rem( -8 )
               top: rem( -8 )
               transition: all .12s linear

            &:hover
            &:focus
               &:not(.active)
                  opacity: 0.7

            &.active
               &:before
                  border-width: 8px

         img
            display: block
            height: 100%
            object-fit: contain
            width: 100%
