/*
 *  HONDA MOTO OCCASION | PRODUCT PAGE STYLES
 */

.product
   .header
      & > .wp
         align-items: stretch
         display: flex
         flex-wrap: wrap
         justify-content: space-between

      .media
         margin-bottom: 0
         width: pct( 670 / 1150 )

      .text
         align-content: space-between
         display: flex
         flex-wrap: wrap
         width: pct( 380 / 1150 )

.products
   [class*="block-"]
      & + [class*="block-"]
         margin-top: 0

   .cols
      display: flex
      // justify-content: space-between
      flex-wrap: wrap

      .block-product
         width: 49%

.product-tech
   table
      border-collapse: collapse
      border-bottom: 1px solid $grey4
      table-layout: fixed
      margin: 0 auto
      text-transform: uppercase
      width: pct( 1024 / 1140 )

   thead
      font-size: em( 23 / $fz )
      font-family: $ff-c
      border-bottom: solid 2px #c3c3c3;

      th
         color: $red1
         font-weight: normal
         padding: rem( 20 ) rem( 10 )

   tbody
      font-size: em( 17 / $fz )

      th
      td
         padding: rem( 40 ) rem( 16 )

      th
         text-align: left

      td
         text-align: center
         text-transform: none

      tr
         &:nth-child(even)
            background: $grey3

   .carousel-container
      margin-bottom: rem( 40 )
