/*
 *  HONDA MOTO OCCASION | RETAILER INFOS STYLES
 */

.retailer-infos
   min-width: rem( 360 )
   max-width: rem( 442 )
   position: absolute
   width: pct( 442 / 1150 )
   top: 0
   z-index: 5

   .wp
      background: rgba( $dark, .8 )
      backface-visibility: hidden
      padding: rem( 100 ) rem( 20 ) rem( 28 )
      position: relative

   .address
      p
         display: block
         margin: 0
         width: 50%

         &:last-child
            margin-top: rem( 20 )

      a
         display: inline-flex
         max-width: 50%

         svg
            margin-right: rem( 8 )

   img
      display: block
      margin: 15px auto 20px;
      position:absolute 
  
