/*
 *  HONDA MOTO OCCASION | SERVICES STYLES
 */
.services
   .block-info
      .content
         .content-footer
            display: flex
            flex-direction: row
            justify-content: space-between

            .bt-01
               margin-top: 0
               text-align: center
