.slider-with-thumbs
   height: 600px
   min-height: rem( 472 )
   max-height: rem( 600 )

.hero
   height: "calc( 66vh - %s)"% rem(92)
   min-height: "calc( %s - %s)"% ( rem( 450 ) rem(92) )
   max-height: "calc( %s - %s)"% ( rem( 600 ) rem(92) )

.gallery-top
   height: 100%

   .swiper-wrapper .swiper-slide img
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)

.swiper-slide
   .carousel-double &
      width: "calc( 50% - %s)"% rem( 20 )

   .carousel-triple &
      width: "calc( 100% / 3 - %s)"% rem( 20 )

   .carousel-quattro &
      width: "calc( 25% - %s)"% rem( 20 )

   .unslidered &
      & + .swiper-slide
         margin-left: rem( 30 )

.carousel-container
   .controls
      display: flex
      width: 100%
      margin: auto
      justify-content: center
      margin-top: rem(60)
      .bt-slider
         height: rem( 35 )
         width: rem( 18 )
         &:before
            border-bottom-width: 1px
            border-left-width: 1px
            width: rem(8)
            height: rem(8)

.swiper-pagination
   position: static
   align-self: center
   margin: 0 rem(10)
   display: flex
   justify-content: space-around
   width: 40%

.swiper-pagination-bullet
   align-items: center
   background: none
   border-radius: 50%
   color: $dark
   cursor: pointer
   display: inline-flex
   height: rem(25)
   justify-content: center
   opacity: 1
   width: rem(25)
   font-size: em(18 / $fz)

   &::before
      width: rem(10)

.swiper-pagination-bullet-active
   background-color: $red1
   color: $light
   font-weight: $fw-reg

.slider-with-thumbs
   display: block

.carousel-container.cinquo
   figcaption
      font-size: em( 14 / 16 )
      padding: rem( 18 ) rem(30)
      font-weight: bold

