.topSearch
   background: $red1
   display: flex
   max-height: none

   .avisual
      width: 0
      padding: 0
      text-align: center
      display: none

      img
         width: 100%
         height: 100%
         object-fit: cover

   .ablock
      color: $light
      position: relative
      text-align: center
      text-transform: uppercase
      width: 100%

      .tt
      .lists
         position: relative
         z-index: 2

      .tt
         text-align: center

