/*
 *  PURESSENTIEL | ICON FONT
 */

<% _.each(glyphs, function(glyph) { %>$<%= prefix %><%= glyph.name %> = "\<%= glyph.codepoint.toString(16).toLowerCase() %>"
<% }); %>
iconFont()
   -moz-osx-font-smoothing: grayscale
   -webkit-font-smoothing: antialiased
   font-style: normal unless @font-style
   font-variant: normal unless @font-variant
   font-weight: normal unless @font-weight
   line-height: 1 unless @line-height
   speak: none unless @speak
   text-transform: none unless @text-transform

icon( $char )
   content: $char
   font-family: "<%= fontName %>"
   iconFont()

// $font-types = eot woff
font-face( "<%= fontName %>", $url-font + "<%= fontName %>/<%= fontName %>" )
